{% load socialaccount i18n cosinnus_tags static %}

{% get_providers as socialaccount_providers %}
<div class="ultra-space">
	<div class="cosinnus-form">
		<div class="content-box">
			{% if socialaccount_providers|length == 1 %}
				{% if type == 'signup'%}
					{% if socialaccount_providers.0.id == 'wechange' %}
					<h2>{% trans 'Sign up with' %} <img src="{% static 'images/sso-logo.png'%}" class="sso-icon"></h2>
					{% else %}
					<h2>{% blocktrans with provider=socialaccount_providers.0.id %}Sign up with {{ provider}} Account{% endblocktrans %}</h2>
					{% endif %}
				{% elif type == 'login' %}
					{% if socialaccount_providers.0.id == 'wechange' %}
					<h2>{% trans 'Log in with' %} <img src="{% static 'images/sso-logo.png'%}" class="sso-icon"></h2>
					{% else %}
					<h2>{% blocktrans with provider=socialaccount_providers.0.id %}Log in with {{ provider}} Account{% endblocktrans %}</h2>
					{% endif %}
				{% endif %}
			{% else %}
				{% if type == 'signup'%}
				<h2>{% trans 'Register with Social Account' %}</h2>
				{% elif type == 'login' %}
				<h2>{% trans 'Login with Social Account' %}</h2>
				{% endif %}
			{% endif %}

			<div class="cosinnus-field">
				<div class="field-description">
				{% if socialaccount_providers|length == 1 %}
				{% blocktrans with portal_name=SETTINGS.COSINNUS_PORTAL_NAME provider=socialaccount_providers.0.id|upper %} {{ portal_name }} is part of the {{provider }} community. You can use your {{provider}} account to login on {{ portal_name }}.{% endblocktrans %}

				{% else %}
				{% blocktrans with portal_name=SETTINGS.COSINNUS_PORTAL_NAME %} {{ portal_name }} is part of the following communities. If you have an account on one of these communities you can use it to login on {{ portal_name }}. {% endblocktrans %}
				{% endif %}
				</div>
			</div>
		</div>
		{% for provider in socialaccount_providers %}
		<button title="{{provider.name}}" class="btn btn-emphasized btn btn-emphasized btn-autosize" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
			<ul class="media-list">
				<li class="media">
					<span class="pull-left">
						<i class="fa fa-hand-o-right"></i>
					</span>
					{% if type == 'signup'%}
					<div class="media-body">{% blocktrans with provider_id=provider.id|upper %}Sign up with {{ provider_id }}{% endblocktrans %}</div>
					{% elif type == 'login' %}
					<div class="media-body">{% blocktrans with provider_id=provider.id|upper %}Login with {{ provider_id }}{% endblocktrans %}</div>
					{% endif %}
				</li>
			</ul>
		</button>
		{% endfor %}
	</div>
</div>
