{% load i18n thumbnail cosinnus_tags static %}
{% load el_pagination_tags %}

{% lazy_paginate 20 object_list %}


{% for profile in object_list %}
    <div class="regular-space">
        <div class="expert-profile-list-item fadedown large-space">

            <div class="row">
                <div class="dashboard-header">
                    <div class="dashboard-header-image">
                        {% include "cosinnus/user/user_avatar_image.html" with user=profile.user image_size="large" %}
                    </div>
                    <div class="dashboard-header-text expert-profile-list-item-header-text">
                        {% block user_details %}
                            <div class="row">
                                <div class="col-md-6 expert-profile-list-item-title">
                                    <h2>{{ profile.user|full_name }}</h2>
                                </div>
                                {% if profile.media_tag.location %}
                                    <div class="col-md-6 expert-profile-list-item-location">
                                        Ort: <b><i class="fa fa-fw fa-map-marker"></i>{{ profile.media_tag.location }}</b>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="expert-profile-list-item-topics">
                                {% for filter in filters %}
                                    {% for key, value in profile.dynamic_fields.items %}
                                        {% with type=SETTINGS.COSINNUS_USERPROFILE_EXTRA_FIELDS|get_item:key|get_attr:'type' multiple=SETTINGS.COSINNUS_USERPROFILE_EXTRA_FIELDS|get_item:key|get_attr:'multiple'%}
                                            {% if type == 'predefined_choice_text' and key == filter.name %}
                                                {% if multiple %}
                                                    {% for choice_value in value %}
                                                        <span class="badge">{{ choice_value|get_dynamic_field_value:key }} </span>
                                                    {% endfor %}
                                                {% else %}
                                                    <span class="badge">{{ value|get_dynamic_field_value:key }} </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endblock %}
                        <a class="fadedown-clickarea" href="#">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if profile.user.username %}
                <a href="{% url 'cosinnus:profile-detail' profile.user.username %}" target="_blank" type="button" class="btn btn-emphasized btn-small btn-autosize regular-space">
                    <ul class="media-list">
                        <li class="media">
                            <span class="pull-left">
                                <i class="fa fa-external-link"></i>
                            </span>
                            <div class="media-body">
                                {% trans "Go to Profile" %}
                            </div>
                        </li>
                    </ul>
                </a>
                <a href="{% if SETTINGS.COSINNUS_ROCKET_ENABLED %}{% url 'cosinnus:message-write' username=profile.user.username %}{% else %}{% url 'postman:write' recipients=profile.user.username %}?next={% url 'postman:sent' %}{% endif %}" type="button" class="btn btn-emphasized btn-small btn-autosize regular-space margin-right">
                    <ul class="media-list">
                        <li class="media">
                            <span class="pull-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <div class="media-body">
                                {% trans "Send Message" %}
                            </div>
                        </li>
                    </ul>
                </a>
                {% endif %}
                <div class="content-box">
                    {% include 'cosinnus/user/user_profile_dynamic_fields.html' with profile_values=profile.dynamic_fields profile=profile extra_textfield=profile.description labels=SETTINGS.COSINNUS_USERPROFILE_EXTRA_FIELDS %}
                </div>
            </div>

        </div>
    </div>
{% endfor %}

{% show_more %}
