{% load i18n %}

<h4>{% trans "The WE-Cloud is here!" %}</h4>
<div class="v-offset-s">
	<p>
	    {% trans "With the Cloud, we offer your team a new file repository with extensive office functions to work together on documents, tables and presentations. It is based on Nextcloud and OnlyOffice. So you have two apps at your disposal with which you can use the cloud on the road and synchronize files with your desktop! As administrator you can activate the cloud for your project/group and transfer data from files and pads." %}
	</p>
	<p>
	    <a href="/cms/cloud-infos">{% trans "Learn more" %}</a>
	</p>
</div>