{% extends "cosinnus/cms_base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags cosinnus_tags %}

{% block csshead %}
{{ block.super }}
<link href="{% static 'css/cosinnus-landing.css' %}" rel="stylesheet">
{% endblock %}

{% block main_page %}
	{{ block.super }}
	
	<div class="cms-content">
	
        <div class="container ultra-space big-headers">
            <div class="row ultra-space"> {# class="vertical-align" #}
            	<div class="col-md-4" {% if page.header_image %}style="margin-top: 30px"{% endif %}>
			        {% if page.header_image %}
			        	{% image page.header_image original class="image" %}
			        {% endif %}
			    </div>
			    <div class="col-md-8">
			    	<div>
				        {{ page.header_title|richtext_or_stream }}
			    	</div>
			    </div>
            </div>
            
            {% if page.header_text|richtext_or_stream %}
	            <div class="row ultra-space">
				    <div class="col-md-12">
				    	<div>
					        {{ page.header_text|richtext_or_stream }}
				    	</div>
				    </div>
	            </div>
            {% endif %}
            
            {% if page.header_content|richtext_or_stream %}
	            <div class="row ultra-space">
				    <div class="col-md-12">
				    	<div>
					        {{ page.header_content|richtext_or_stream }}
				    	</div>
				    </div>
	            </div>
            {% endif %}
            
            {% if page.show_register_button and not request.user.is_authenticated %}
	            <div class="row ultra-space">
	                <div class="col-md-offset-4 col-md-4">
	                    <form action="/signup/">
	                        <button class="btn btn-emphasized btn-emphasized-strong" type="submit">
	                            <ul class="media-list">
	                                <li class="media">
	                                    <a class="pull-left" href="#">
	                                        <i class="fa fa-lightbulb-o"></i>
	                                    </a>
	                                    <div class="media-body">
	                                        {% trans "Jetzt anmelden und mitgestalten" %}
	                                    </div>
	                                </li>
	                            </ul>
	                        </button>
	                    </form>
	                </div>
	            </div><!-- row -->
            {% endif %}
            
            {% if page.site_widgets %}
            	<div class="row ultra-space">
				    <div class="col-md-12">
				    	<div>
					        {{ page.site_widgets|richtext_or_stream }}
				    	</div>
				    </div>
	            </div>
            {% endif %}
            
        </div><!-- container -->
        
        {% if page.bottom_content %}
	        <div class="overlay-box overlay-box-white">
	            <div class="container">
	            	<div>
	                	{{ page.bottom_content|richtext_or_stream }}
	                </div>
	            	{% block second_row %}{% endblock %}
	            </div><!-- container -->
	        </div><!-- box -->
        {% endif %}
        
    </div><!-- cms-content -->
{% endblock main_page %}
