@font-face {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: normal;
    src: url('./../css/fonts/brandon/brandongrotesque.otf');
}
@font-face {
    font-family: 'Brandon Text';
    font-style: normal;
    font-weight: normal;
    src: url('./../css/fonts/brandon/brandon-text-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Brandon Text';
    font-style: italic;
    font-weight: normal;
    src: url('./../css/fonts/brandon/brandon-text-italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Brandon Text';
    font-style: normal;
    font-weight: bold;
    src: url('./../css/fonts/brandon/brandon-text-bold.ttf') format('truetype');
}

body {
    font-family: 'Brandon Text', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;;
}

#contactsmenu,
.settings-menu.menu li[data-id="firstrunwizard-about"] {
    display: none;
}
@media (max-width:767px) {
    .header-right .notifications {
        display: none !important;
    }
}

.info-nav-button img path {
    fill: #FFFFFF;
}

#firstrunwizard .modal-container {
    max-width: 1000px !important;
    max-height: 800px !important;
}

/* use logos from theme */
#header .logo,
#firstrunwizard .logo {
	background-image: url('../img/logo.png');
}
#header .logo-exit-icon {
    background-image: url('../img/logo-exit-icon.svg') !important;
    margin: 14px 0;
    width: 40px;
    height: 20px;
    left: 4px;
}
#header .logo-exit-icon path {
    fill: #ffffff;
}
#header .logo-navbar {
    background-image: url('../img/logo-navbar.png') !important; 
    width: 90px;
}

#firstrunwizard .page .content {
    padding: 40px !important;
}
#firstrunwizard .page .wizard-warning {
    border: 2px solid #01649a;
    padding: 40px 80px;
    text-align: center;
}
#firstrunwizard .page .wizard-warning h2 {
    margin-bottom: 20px !important;
}
#firstrunwizard .modal-footer {
    display: none;
}


#nextcloud {
    padding-left: 110px;
}
#nextcloud-navbar {
    /* From #nextcloud */
    padding: 7px 0;
    padding-left: 86px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    opacity: 1;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}


/* --- Wechange overwrites --- */


#nextcloud-navbar {
    /* our overwrites */
    padding-left:50px;
    border-right: solid 1px #DBDBDB;
}



#header .logo-navbar:hover {
    opacity: 0.8;
}
#header .logo-navbar {
    background-image: url('../img/logo-navbar.png') !important; 
    width: 90px;
}
#header .logo-navbar path {
    fill: #ffffff;
}


#nextcloud-navbar {
    /* our overwrites */
    background-color: #34b4b5;
}
#nextcloud-navbar:hover {
    background-color: #68c9ca; 
}
#body-user #header,
#body-settings #header,
#body-public #header {
    background-image:linear-gradient(to right, #34b4b5 0%, #7bd1d2 50%);
}

.searchbox input[type='search'] {
    opacity:0.8;
}

#header .header-right > div > .menutoggle,
#header .header-right > form > .menutoggle {
    opacity:0.8;
}

div.select2-drop .select2-search input:not(:disabled):not(.primary),
select:not(:disabled):not(.primary),
button:not(:disabled):not(.primary),
.button:not(:disabled):not(.primary),
input:not([type='range']):not(:disabled):not(.primary),
textarea:not(:disabled):not(.primary),
div[contenteditable=true]:not(:disabled):not(.primary),
.pager li a:not(:disabled):not(.primary) {
}
div.select2-drop .select2-search input:not(:disabled):not(.primary):hover,
select:not(:disabled):not(.primary):hover,
button:not(:disabled):not(.primary):hover,
.button:not(:disabled):not(.primary):hover,
input:not([type='range']):not(:disabled):not(.primary):hover,
textarea:not(:disabled):not(.primary):hover,
div[contenteditable=true]:not(:disabled):not(.primary):hover,
.pager li a:not(:disabled):not(.primary):hover,
div.select2-drop .select2-search input:not(:disabled):not(.primary):focus,
select:not(:disabled):not(.primary):focus,
button:not(:disabled):not(.primary):focus,
.button:not(:disabled):not(.primary):focus,
input:not([type='range']):not(:disabled):not(.primary):focus,
textarea:not(:disabled):not(.primary):focus,
div[contenteditable=true]:not(:disabled):not(.primary):focus,
.pager li a:not(:disabled):not(.primary):focus,
div.select2-drop .select2-search input:not(:disabled):not(.primary).active,
select:not(:disabled):not(.primary).active,
button:not(:disabled):not(.primary).active,
.button:not(:disabled):not(.primary).active,
input:not([type='range']):not(:disabled):not(.primary).active,
textarea:not(:disabled):not(.primary).active,
div[contenteditable=true]:not(:disabled):not(.primary).active,
.pager li a:not(:disabled):not(.primary).active {
    border-color:#4a4a4a;
    outline:none
}