{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags cosinnus_map_tags static thumbnail %}

{% block page_title %}{{ export_title }} {% trans "Export" %} {{ block.super }}{% endblock page_title %}

{% block leftnav %}
    {% include 'cosinnus/administration/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
    <li><a href="{% url 'cosinnus:administration' %}">{% trans "Administration" %}</a></li>
    <li class="active">{% blocktrans %}{{ export_title }} Export{% endblocktrans %}</li>
{% endblock %}

{% block content %}

    <div class="content-box">

        {% if export_state == 'ready' %}

            <h2>{% blocktrans %}Start {{ export_title }} export{% endblocktrans %}</h2>
            <p class="textfield transparent">
                {% blocktrans %}You can start a {{ export_title }} export. As soon as the export is finished it will be available here.{% endblocktrans %}
            </p>

        {% elif export_state == 'running' %}

            <h2>{% trans "The export is currently running..." %}</h2>
            <p class="textfield transparent">
                {% blocktrans %}A {{ export_title }} export is in progress. As soon as the export is finished it will be available here.{% endblocktrans %}
            </p>
            {% comment %} Refresh every 10 seconds {% endcomment %}
            <script type="text/javascript">
                setTimeout(function () { location.reload(); }, 10000);
            </script>

        {% elif export_state == 'finished' %}

            <h2>{% blocktrans %}{{ export_title }} export finished{% endblocktrans %}</h2>
            <p class="textfield transparent">
                {% blocktrans %}You can download the latest {{ export_title }} export data.{% endblocktrans %}
            </p>
            <div class="white-content">
                <p class="textfield transparent">
                    {% blocktrans %}Download {{ export_title }} exports from{% endblocktrans %} <strong>{{ export_timestamp }}</strong>:
                </p>
                <ul class="item-list">
                    {% captureas download_as_label %}{% blocktrans %}Download {{ export_title }} export as{% endblocktrans %}{% endcaptureas %}
                    <li>
                        <a class="transparent" href="{% url 'cosinnus:administration-model-export-csv-download' slug=slug %}">
                            {{ download_as_label }} CSV
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cosinnus:administration-model-export-xlsx-download' slug=slug %}">
                            {{ download_as_label }} XLSX
                        </a>
                    </li>
                </ul>
            </div>
            <p class="textfield transparent">
            </p>
            <p class="textfield transparent">
                <i>{% trans "Please note that for security reasons the export data will be only available temporarily and will be automatically deleted after some time." %}</i>
            </p>

        {% elif export_state == 'error' %}

            <h2>{% trans "An error has occurred" %}</h2>
            <p class="textfield transparent">
                {% blocktrans %}Sorry, an error occurred during the {{ export_title }} export. Please try again later.{% endblocktrans %}
            </p>

        {% endif %}
    </div>

    {% if export_state == 'ready' or export_state == 'finished' or export_state == 'error' %}
        <form action=".{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" name="action" value="start"/>

            <button type="submit" class="btn btn-emphasized btn-autosize">
                <ul class="media-list">
                    <li class="media">
                            <span class="pull-left">
                                {% if export_state == 'ready' %}
                                    <i class="fa fa-table"></i>
                                {% else %}
                                    <i class="fa fa-refresh"></i>
                                {% endif %}
                            </span>
                        <div class="media-body">
                            {% if export_state == 'ready' %}
                                {% blocktrans %}Start {{ export_title }} export{% endblocktrans %}
                            {% elif export_state == 'finished' %}
                                {% blocktrans %}Delete export data and start new {{ export_title }} export{% endblocktrans %}
                            {% else %}
                                {% blocktrans %}Retry {{ export_title }} export{% endblocktrans %}
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </button>
        </form>
    {% endif %}

    {% if export_state == 'finished' %}
        <form action=".{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" name="action" value="delete"/>

            <button type="submit" class="btn btn-emphasized btn-autosize">
                <ul class="media-list">
                    <li class="media">
                            <span class="pull-left">
                                <i class="fa fa-remove"></i>
                            </span>
                        <div class="media-body">
                            {% trans "Delete exported data" %}
                        </div>
                    </li>
                </ul>
            </button>
        </form>
    {% endif %}

{% endblock content %}

