{% extends "cosinnus/user_2fa/user_2fa_settings.html" %}
{% load i18n cosinnus_tags widget_tweaks %}

{% block breadcrumb %}
        <li class="active"><a href="{% url 'cosinnus:profile-detail' %}">{% trans "Your Profile" %}</a></li>
        <li class="active"><a href="{% url 'cosinnus:two-factor-auth-settings' %}">{% trans "Two-Factor Authentication Settings" %}</a></li>
        <li class="active"><a href="{% url 'cosinnus:two-factor-auth-setup' %}">{% trans "Two-Factor Authentication Setup" %}</a></li>
        <li class="active">{% trans "Two-Factor Authentication Setup Complete" %}</li>
{% endblock %}

{% block content %}

    <div class="content-box">
        <h4>{% block title %}{% trans "Two-Factor Authentication Setup Complete" %}{% endblock %}</h4>
        <p class="textfield transparent">{% blocktrans trimmed %}Congratulations, you've successfully enabled Two-Factor Authentication.{% endblocktrans %}</p>
        <p class="textfield transparent">{% blocktrans trimmed %}We strongly recommend to set up backup tokens in case you lose access to your authentication device!{% endblocktrans %}</p>
    </div>

        <button type="submit" href="{% url 'cosinnus:two-factor-auth-backup-tokens' %}" class="btn btn-emphasized btn-autosize">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left" tabindex="-1">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <div class="media-body">
                        {% trans "Set up backup tokens" %}
                    </div>
                </li>
            </ul>
        </button>

{% endblock %}
