{% extends "cosinnus/user_2fa/user_2fa_settings.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block breadcrumb %}
        <li class="active"><a href="{% url 'cosinnus:profile-detail' %}">{% trans "Your Profile" %}</a></li>
        <li class="active"><a href="{% url 'cosinnus:two-factor-auth-settings' %}">{% trans "Two-Factor Authentication Settings" %}</a></li>
        <li class="active">{% trans "Disable Two-Factor Authentication" %}</li>
{% endblock %}

{% block content %}

    <form action="{% url 'cosinnus:two-factor-auth-disable' %}" method="post" class="cosinnus-form">
        {% csrf_token %}
        
	    <div class="content-box">
	        <h3>{% block title %}{% trans "Disable Two-Factor Authentication" %}{% endblock %}</h3>
	        <p class="textfield transparent">{% blocktrans trimmed %}You are about to disable two-factor authentication. This
	        weakens your account security, are you sure?{% endblocktrans %}</p>
	        
	        {# Newsletter opt-in checkbox #}
	        {% trans "Yes, I am sure." as understand_label %}
	        {% include 'cosinnus/fields/checkbox_field.html' with field=form.understand label=understand_label legend=understand_legend checkbox_label=understand_label %}
	            
            {# Regular Field #}
	        {% trans "Enter your password" as password_label %}
	        {% trans "We need to make sure it's really you" as password_legend %}
	        {% trans "Your password" as password_placeholder %}
	        {% include 'cosinnus/fields/default_field.html' with field=form.password legend=password_legend label=password_label placeholder=password_placeholder first=True %}
	        
		    
	    </div>
        <button type="submit" class="btn btn-emphasized btn-autosize">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left" tabindex="-1">
                        <i class="fa fa-hand-o-right"></i>
                    </span>
                    <div class="media-body">
                        {% trans "Disable" %}
                    </div>
                </li>
            </ul>
        </button>
    </form>

{% endblock %}
