{% load i18n cosinnus_tags %}
<div id="cosinnus_list_element_{{ poll.id }}" class="fadedown {% if not forloop.last %}regular-space{% endif %}">
    <div class="item_checkbox_element btn btn-emphasized w100" href="{{ poll.get_absolute_url }}">
        <ul class="media-list">
            <li class="media">
                {% if user|has_write_access:poll %}
                    {% captureas input_name %}{{ poll.id }}{% endcaptureas %}
                    {% include 'cosinnus/common/checkbox/checkbox_overlay_box.html' with input_name=input_name %}
                {% endif %}
                
                <span class="pull-left square-date-icon">
                      {% if poll.state == 1 %} {# voting open #}
                        <i class="fa fa-question-circle"></i>
                      {% elif poll.state == 2 %} {# voting closed #}
                          <i class="fa fa-bar-chart"></i>
                      {% else %} {# archived #}
                          <i class="fa fa-bar-chart"></i>
                      {% endif %}
                </span>
                <a class="pull-right fadedown-clickarea">
                    <i class="fa fa-chevron-down"></i>
                </a>
                <div class="media-body">
                    {% with creator=poll.creator %}
                        <span class="annotation mobile-hidden">{% trans "by" %} 
                            <a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a>
                            {% if poll.created %}
                                &nbsp;&nbsp;
                                <span title="{% trans "Created" %}">
                                    <i class="fa fa-pencil"></i>
                                    <span class="moment-data-date" data-date="{{ poll.created|date:'c' }}"></span>
                                </span>
                            {% endif %}
                        </span>
                    {% endwith %}
                    <a href="{{ poll.get_absolute_url }}">
                        {% include 'cosinnus/common/likefollowstar/following_title_indicator.html' with object=poll %}
                        {{ poll.title }}
                    </a>
                </div>
            </li>
        </ul>
    </div>

    {% if poll.description and poll.description|length > 0 %}
        <div class="btn btn-white w100">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="media-body">
                        <div class="textfield">
                            {{ poll.description|textfield }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    {% endif %}

    {% include 'cosinnus/media_tags_readonly.html' with object=poll %}
    
    {% if user|has_write_access:poll %}
        {% captureas delete_modal_id %}deleteModal_{{poll.slug}}{% endcaptureas %}
        <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{delete_modal_id}}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-eraser"></i>
                    </span>
                    <div class="media-body">
                        {% trans "Delete" %}
                    </div>
                </li>
            </ul>
        </button>
        {% if poll.state != 3 %}
            <button type="button" class="btn btn-emphasized" href="{% group_url "cosinnus:poll:edit" group=group slug=poll.slug %}">
                <ul class="media-list">
                    <li class="media">
                        <span class="pull-left">
                            <i class="fa fa-pencil"></i>
                        </span>
                        <div class="media-body">
                            {% trans "Edit" %}
                        </div>
                    </li>
                </ul>
            </button> 
        {% endif %}
        {% if poll.state == 2 %}
            {% captureas reopen_modal_id %}reopenModal_{{poll.slug}}{% endcaptureas %}
            <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{reopen_modal_id}}">
                <ul class="media-list">
                    <li class="media">
                        <span class="pull-left">
                            <i class="fa fa-eraser"></i>
                        </span>
                        <div class="media-body">
                            {% trans "Re-open" %}
                        </div>
                    </li>
                </ul>
            </button> 
            {% captureas archive_modal_id %}archiveModal_{{poll.slug}}{% endcaptureas %}
            <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{archive_modal_id}}">
                <ul class="media-list">
                    <li class="media">
                        <span class="pull-left">
                            <i class="fa fa-eraser"></i>
                        </span>
                        <div class="media-body">
                            {% trans "Archive" %}
                        </div>
                    </li>
                </ul>
            </button>
        {% endif %}
    {% endif %}
    
    {% include 'cosinnus/feedback/report_button_btn.html' with object=poll %}
    
</div><!-- fadedown -->

{% if user|has_write_access:poll %}    
    {% captureas label %}{% blocktrans with title=poll.title %}Do you really want to delete poll „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
    {% captureas title %}{% trans "Delete poll" %}{% endcaptureas %}
    {% captureas action %}{% group_url 'cosinnus:poll:delete' group=group slug=poll.slug %}{% endcaptureas %}
    {% include "cosinnus/modal_box.html" with id=delete_modal_id label=label title=title form_action=action %}
    
    {% if poll.state == 2 %}
        {% captureas label %}{% blocktrans with title=poll.title %}Do you really want to re-open poll „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
        {% captureas title %}{% trans "Re-open poll" %}{% endcaptureas %}
        {% captureas action %}{% group_url 'cosinnus:poll:reopen' group=group slug=poll.slug %}{% endcaptureas %}
        {% include "cosinnus/modal_box.html" with id=reopen_modal_id label=label title=title form_action=action %}
        
        {% captureas label %}{% blocktrans with title=poll.title %}Do you really want to archive poll „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
        {% captureas title %}{% trans "Archive poll" %}{% endcaptureas %}
        {% captureas action %}{% group_url 'cosinnus:poll:archive' group=group slug=poll.slug %}{% endcaptureas %}
        {% include "cosinnus/modal_box.html" with id=archive_modal_id label=label title=title form_action=action %}
    {% endif %}
    
{% endif %}
