.calendar-date-time-chooser {
	line-height: 30px;

	input {
		border-radius: 0;
		border: 1px solid @app-neutral-color-light;
	}

	input.calendar-date-time-chooser-date {
		width: 10em;
	}

	input.calendar-date-time-chooser-time {
		width: 5em;
	}
	.small-calendar {
		padding: 5px;
		border-top-width: 0;
	}
}


// small date time chooser in left column
.input-area.input-area-left-column {

	.calendar-date-time-chooser {
		input.calendar-date-time-chooser-date {
			// width: 7em;
		}
		input.calendar-date-time-chooser-time {
			// width: 4em;
		}
		.small-calendar {
			background-color: @app-neutral-color-white;
		}
	}

}

