.priority-form {

    ul {
        list-style: none;
        padding: 0;
    }
}

.applications-form {
    .application-row {
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 2px solid #f2f2f2;

        .application-information {
            min-height: 100px;
        }
    }

    .status-row{
        background-color: #fff !important;
        padding-bottom: 6px;
        padding-top: 6px;
    }
}
