#map-fullscreen-surface {
    position: fixed;
    top: 55px;
    left: 0;
    height: 100%;
    width: 100%;

    .popup {
        width: 180px;

        img {
            float: left;
            width: 50px;
        }

        .details {
            margin-left: 60px;
            width: 120px;
            min-height: 50px;
        }
    }
}

#map-controls {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgba(255,255,255,0.95);
    padding: 15px;

    form {
        margin-bottom: 20px;

        .q {
            width: 100%;
            padding: 5px;
        }

        i {
            position: absolute;
            font-size: 15px;
            top: 7px;
            right: 7px;
        }
    }

    .line {
        margin-bottom: 3px;

        &.link,
        &.button {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        &.text-field {
            position: relative;
            margin-bottom: 10px;

            .icon-loading {
                display: none;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        .layer-button {
            float: none;
            margin-left: 0;
            display: inline-block;
            background-color: @app-main-color-light;
            padding: 5px;
            color: black;

            &.active {
                background-color: @app-main-color;
                color: white;
            }
        }

        .reset-filters {
            color: #999;
        }

        a {
            color: black;
        }

        label {
            font-size: 12px;
        }
    }
}
