// Only this file and maybe the logo image should be needed to customize for different installations.


.neww-standard-scheme() {
	// The colors are from Tobi's 01b_NEWW_Color-Scheme.pdf
	// Farbklima Netzwerk Wachstumswende
	// no other colors should be used in the whole project
    
	// main color
	@app-main-color: #16778D;
	@app-main-color-dark: #104A59;
	@app-main-color-light: #CBE7ED;

	@app-main-color-yes: #779B48;
	@app-main-color-maybe: #EFA02D;
	@app-main-color-no: #E55C55;

    // Note
    @app-note-color: #16778D;
    @app-note-color-dark: #104A59;
    @app-note-color-light: #CBE7ED;

    // Calendar
    @app-calendar-color: #779B48;
    @app-calendar-color-dark: #4C622F;
    @app-calendar-color-light: #E1EDD2;
    
    // Cloud
    @app-cloud-color: #0082c9;
    @app-cloud-color-dark: darken(@app-cloud-color, 10%);
    @app-cloud-color-light: lighten(@app-cloud-color, 10%);

	// Files
	@app-files-color: #14A085;
	@app-files-color-dark: #0A5D4E;
	@app-files-color-light: #B0E0D7;

	// Documents
	@app-documents-color: #009EE3;
	@app-documents-color-dark: #007999;
	@app-documents-color-light: #D5F3FF;
	
	// Poll
	@app-poll-color: #009EE3;
	@app-poll-color-dark: #007999;
	@app-poll-color-light: #D5F3FF;
	
	// Marketplace
	@app-marketplace-color: #9fa430;
	@app-marketplace-color-dark: #748027;
	@app-marketplace-color-light: #c7d37c;
	
	// Message (group widget only)
    @app-message-color: @app-main-color;
    @app-message-color-dark: @app-main-color-dark;
    @app-message-color-light: @app-main-color-light;
	
	// Todos
	@app-todos-color: #EFA02D;
	@app-todos-color-dark: #AD7E2C;
	@app-todos-color-light: #FAEBCD;

	// Etherpad
	@app-etherpad-color: #E55C55;
	@app-etherpad-color-dark: #933D39;
	@app-etherpad-color-light: #EDE2E1;

	// Neutral
	@app-neutral-color: #949494;
	@app-neutral-color-medium: #5A5A5A;
	@app-neutral-color-dark: #333333;
	@app-neutral-color-light: #DBDBDB;
	@app-neutral-color-white: #FFFFFF;
    
	// Misc
	@warning-color: #EFA02D;
	@comment-background-color: #EBF5F7;

	body {
		font-family: @font-regular, Verdana, Geneva, sans-serif;


		background: #43757e; /* Old browsers */
		background: -moz-linear-gradient(top, #43757e 0%, #a6bab7 100%) fixed; /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43757e), color-stop(100%,#a6bab7)) fixed; /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #43757e 0%,#a6bab7 100%) fixed; /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #43757e 0%,#a6bab7 100%) fixed; /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #43757e 0%,#a6bab7 100%) fixed; /* IE10+ */
		background: linear-gradient(to bottom, #43757e 0%,#a6bab7 100%) fixed; /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43757e', endColorstr='#a6bab7',GradientType=0 ) fixed; /* IE6-9 */

//		background-image: url("../images/background.jpg");
	}

}

.neww-standard-scheme();

/** Map Variables */

@map-tile-background-color: #FFF;

@map-scroll-color: #DDDDDD;
@map-text-color: #333;
@map-pale-color: #737373;
@map-strong-color: #000;
@map-frame-color: #ebebeb;
@map-success-color: #92ae76;
@map-error-color: #d00800;
@map-liked-color: #d00800;
@map-followed-color: #00d000;

@map-button-color: #FFF;
@map-action-button-color: #268282;

@map-topic-color: #000;

@map-people-color: #da3458;
@map-events-color: #717a33;
@map-projects-color: #b95b1d;
@map-groups-color: #647d4a;
@map-conferences-color: #418161;
@map-ideas-color: #626ada;
@map-organizations-color: #418161;
@map-cloud-color: #0082c9;
@map-externalresources-color: #418161;


@map-clickable-icon-color: #aaa;
@map-clickable-icon-hover-color: #333;

@map-placeholder-gradient-top-color: #e5e5e5;
@placemark-url: '/static/images/map-markers/';

