{% extends "cosinnus_todo/base.html" %}
{% load i18n cosinnus_tags bootstrap3 %}


{% block page_title %}
    {% trans "Todo lists" %} {{ block.super }}
{% endblock page_title %}


{% block content_title %}
{{ group.name }}: {% trans "Todo lists" %}
{% endblock content_title %}


{% block subnav_add_right %}{% endblock %}

{% block content %}
    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        
        {% bootstrap_form form layout='horizontal' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                <a href="{% group_url 'cosinnus:todo:list' group=group %}" class="btn">{% trans "Cancel" %}</a>
            </div>
        </div>
    </form>
{% endblock %}
