{% load i18n %}
<div class="map-controls">
	 <div class="map-controls-search">
	     <div class="search-box">
            <input type="text" class="q" name="q" 
placeholder="{# Translators: __INCLUDE_JS_PO__ #}
{% trans "Search for Names, People and Places..." %}"
                 value="{{ q }}" autocomplete="off" />
            <i class="fa fa-search clickable-button query-search-button icon-search {% if wantsToSearch %}hidden{% endif %}"></i>
            <i class="fa fa-close clickable-button reset-all icon-reset {% if not filtersActive and not q %}hidden{% endif %}"></i>
            <div class="icon-loading sk-double-bounce{% if not wantsToSearch %} hidden{% endif %}">
                <div class="sk-child sk-double-bounce1"></div>
                <div class="sk-child sk-double-bounce2"></div>
            </div>
         </div>
	     <div class="filter-button-box">
	         <i class="fa fa-sliders clickable-button icon-filters {% if filterPanelVisible %}open{% endif %}"></i>
	     </div>
     </div>
	    
	 <div class="map-controls-filters" {% if not filterPanelVisible %}style="display: none;"{% endif %}>
        <div class="button-list">
            {% for filter_type, available in availableFilters %}
                {% if available %}
                    <a class="rounded-button button-color-{{ filter_type }} result-filter-button {% if activeFilters[filter_type] %}selected{% endif %}" data-result-filter-type="{{ filter_type }}">
                        <span class="rounded-button-inner">
                            {% if filter_type == "people" %}
                                <i class="fa fa-user"></i>
                                {# Translators: __INCLUDE_JS_PO__ #}
                                {% trans "People" %}
                            {% elif filter_type == "events" %}
                                <i class="fa fa-calendar"></i>
                                {# Translators: __INCLUDE_JS_PO__ #}
                                {% trans "Events" %}
                            {% elif filter_type == "projects" %}
                                <i class="fa fa-group"></i>
                                {# Translators: __INCLUDE_JS_PO__ #}
                                {% trans "Projects" %}
                            {% elif filter_type == "groups" %}
                                <i class="fa fa-sitemap"></i>
                                {# Translators: __INCLUDE_JS_PO__ #}
                                {% trans "Groups" %}
                            {% endif %}
                        </span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
	
        <div class="button-list">
            {% for topic_id, topic in allTopics %}
                {% if topic_id != "" and topic %}
	                <a class="rounded-button button-color-topic topic-button {% if activeTopicIds|length == 0 %}selected{% else %}{% for tid in activeTopicIds %}{% if tid == topic_id %}selected{% endif %}{% endfor %}{% endif %}" data-topic-id="{{ topic_id }}">
		                <span class="rounded-button-inner">
		                    {{ topic }}
		                </span>
		            </a>
	            {% endif %}
            {% endfor %}
        </div>
        
	    <div class="large-space"></div>
	
	</div>
</div>

