.*
*.egg-info
*.pyc
*.swp

# Eclipse
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs

coverage.xml
build/
# dist/
docs/_build/

!.coveragerc
!.gitignore
_old_static
_old_templates

# dist
cosinnus_frontend/dist/main.bundle.js

# Ignore node modules.
node_modules


# ignore dev_settings
dev_settings.py
