{% load i18n cosinnus_tags static %}

{% if rocketchat_room_embed_url and user.is_authenticated and not user.is_guest %}
    {% captureas rc_uuid %}{{ ""|add_uuid }}{% endcaptureas %}
    {% captureas rc_iframe_src %}<iframe src="{{ rocketchat_room_embed_url }}" allow="display-capture *; geolocation *; microphone *; camera *; fullscreen *;" width="100%" height="500px" style="display: block;"></iframe>{% endcaptureas %}

    {% if show_roadblock %}
        <button class="embed-video-frame inverse embed-frame-{{ rc_uuid }}" style="margin: 0;">
            <img class="image embed-video-placeholder" src="{% static 'images/video-placeholder-inverse.png' %}" />
            <div class="embed-video-overlay no-select">
                <span>
                    <i class="fa fa-3x fa-commenting-o"></i>
                    <br/>
                    {% trans "Show chat" %}
                </span>
            </div>
        </button>
        <script type="text/javascript">
            var embed_video_html_{{ rc_uuid }} = '{{ rc_iframe_src }}';
            $('.embed-frame-{{ rc_uuid }}').click(function(){
                $('.embed-frame-{{ rc_uuid }}').replaceWith(embed_video_html_{{ rc_uuid }});
            });
        </script>
    {% else %}
        {{ rc_iframe_src }}
    {% endif %}
{% else %}
    <div type="button" class="btn btn-emphasized dashboard-appwidget-contentline">
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <div style="white-space: normal;">
                        {% if rocket_down_msg %}
                            {{ rocket_down_msg }}
                        {% else %}
                            {% trans "Only group members can see the content you requested. Apply to become a member now!" %}
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div><!-- btn -->
{% endif %}
