{% extends "cosinnus/widgets/base_widget.html" %}
{% load i18n cosinnus_tags %}

{% comment %}  
{% block widget_icon %}
    <a class="pull-left" href="#">
        {% if widget_icon_content %}
            {{ widget_icon_content }}
        {% else %}
            <i class="fa {% if widget_icon %}{{ widget_icon }}{% else %}fa-envelope{% endif %}"></i>
        {% endif %}
    </a>
{% endblock widget_icon %}
{% endcomment %}

{% block widget_button %}
    {% if group %}
	    <button type="button" class="btn btn-emphasized" href="{% url 'cosinnus:message-write-group' slug=group.slug %}" target="_blank">
	        <ul class="media-list">
	            <li class="media">
	                <span class="pull-right btn-extra-emphasized">
	                    <i class="fa fa-external-link"></i>
	                </span>
	                <div class="media-body">
	                    {% trans "Go to chat" %}
	                </div>
	            </li>
	        </ul>
	    </button><!-- btn -->
    {% endif %}
{% endblock widget_button %}
