@charset "UTF-8";
/* main color and news */
/* Calendar */
/* Files */
/* Documents */
/* Todos */
/* Etherpad */
/* Neutral */
body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: Verdana, Geneva, sans-serif;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Navbar at top of page */
.navbar-fixed-top {
  background-color: rgba(255, 255, 255, 0.65);
  border-bottom-width: 2px;
}

.breadcrumb a {
  text-decoration: underline;
}

.form-control {
  border-width: 0;
  padding: 0;
  text-align: left;
  line-height: inherit;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  text-align: center;
}

.form-control:-moz-placeholder {
  text-align: center;
}

.form-control::-moz-placeholder {
  text-align: center;
}

.form-control:-ms-input-placeholder {
  text-align: center;
}

.content-box .form-control {
  text-align: left;
}

.content-box .form-control::-webkit-input-placeholder {
  text-align: left;
}

.content-box .form-control:-moz-placeholder {
  text-align: left;
}

.content-box .form-control::-moz-placeholder {
  text-align: left;
}

.content-box .form-control:-ms-input-placeholder {
  text-align: left;
}

/* The Bootstrap buttons already have the classes btn-default, btn-info, btn-warning and so on.
	This file adds btn-emphasized, btn-extra-emphasized and btn-appnavi for coloring in the apps's colors.
*/
.btn {
  padding: 0;
  border-width: 0;
  width: 10em;
  float: right;
  margin: 0 0 0 5px;
}

/* media-lists */
.media-list {
  margin: 0;
}

.btn-default .media > .media-body,
.btn-default .media {
  background-color: white;
}

.media-body {
  line-height: 37px;
  padding: 0 10px;
}

.media > .pull-left,
.media > .pull-right {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.btn-default .media > .pull-left,
.btn-default .media > .pull-right {
  background-color: #949494;
}

.btn-default .media > .pull-left:empty,
.btn-default .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}

.btn-default .media > .pull-left {
  color: white;
}

.btn-default .media > .pull-right {
  color: transparent;
}

/* put a class like .app-documents, .app-todos on areas that contain content in app colors.
	On usual pages it has to be set only once in a global element.

	Whereever the .clickarea-emphasized and .clickarea-extra-emphasized classes occur
	all buttons will have strong colors then.
*/
.btn-appnavi .media a:first-child {
  width: 10px;
}

.app-calendar {
  /* spaces below element */
}
.app-calendar .btn-emphasized .media,
.app-calendar .btn-appnavi .media,
.app-calendar .btn-emphasized .media > .media-body,
.app-calendar .btn-appnavi .media > .media-body,
.app-calendar .btn-emphasized .media > .pull-right,
.app-calendar .btn-appnavi .media > .pull-left,
.app-calendar .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #779b48;
}
.app-calendar .btn-extra-emphasized .media,
.app-calendar .btn-emphasized:hover .media,
.app-calendar .btn-appnavi:hover .media,
.app-calendar .btn-emphasized:hover .media > .media-body,
.app-calendar .btn-appnavi:hover .media > .media-body,
.app-calendar .btn-extra-emphasized .media > .media-body,
.app-calendar .btn-emphasized .media > .pull-left,
.app-calendar .btn-appnavi .media > .pull-left:first-child,
.app-calendar .btn-appnavi:hover .media > .pull-left,
.app-calendar .btn-extra-emphasized .media > .pull-left,
.app-calendar .btn-extra-emphasized:hover .media > .pull-right,
.app-calendar .btn-emphasized:hover .media > .pull-right,
.app-calendar .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #4c622f;
}
.app-calendar .btn-emphasized .media > .pull-left:empty,
.app-calendar .btn-emphasized .media > .pull-right:empty,
.app-calendar .btn-appnavi .media > .pull-left:empty,
.app-calendar .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-calendar .btn-emphasized .media > .pull-right,
.app-calendar .btn-appnavi .media > .pull-right,
.app-calendar .btn-extra-emphasized .media > .pull-right {
  color: transparent;
}
.app-calendar .fine-space {
  border-bottom: 1px solid #e1edd2;
}

.app-files {
  /* spaces below element */
}
.app-files .btn-emphasized .media,
.app-files .btn-appnavi .media,
.app-files .btn-emphasized .media > .media-body,
.app-files .btn-appnavi .media > .media-body,
.app-files .btn-emphasized .media > .pull-right,
.app-files .btn-appnavi .media > .pull-left,
.app-files .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #14a085;
}
.app-files .btn-extra-emphasized .media,
.app-files .btn-emphasized:hover .media,
.app-files .btn-appnavi:hover .media,
.app-files .btn-emphasized:hover .media > .media-body,
.app-files .btn-appnavi:hover .media > .media-body,
.app-files .btn-extra-emphasized .media > .media-body,
.app-files .btn-emphasized .media > .pull-left,
.app-files .btn-appnavi .media > .pull-left:first-child,
.app-files .btn-appnavi:hover .media > .pull-left,
.app-files .btn-extra-emphasized .media > .pull-left,
.app-files .btn-extra-emphasized:hover .media > .pull-right,
.app-files .btn-emphasized:hover .media > .pull-right,
.app-files .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #0a5d4e;
}
.app-files .btn-emphasized .media > .pull-left:empty,
.app-files .btn-emphasized .media > .pull-right:empty,
.app-files .btn-appnavi .media > .pull-left:empty,
.app-files .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-files .btn-emphasized .media > .pull-right,
.app-files .btn-appnavi .media > .pull-right,
.app-files .btn-extra-emphasized .media > .pull-right {
  color: transparent;
}
.app-files .fine-space {
  border-bottom: 1px solid #92ffea;
}

.app-documents {
  /* spaces below element */
}
.app-documents .btn-emphasized .media,
.app-documents .btn-appnavi .media,
.app-documents .btn-emphasized .media > .media-body,
.app-documents .btn-appnavi .media > .media-body,
.app-documents .btn-emphasized .media > .pull-right,
.app-documents .btn-appnavi .media > .pull-left,
.app-documents .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #009ee3;
}
.app-documents .btn-extra-emphasized .media,
.app-documents .btn-emphasized:hover .media,
.app-documents .btn-appnavi:hover .media,
.app-documents .btn-emphasized:hover .media > .media-body,
.app-documents .btn-appnavi:hover .media > .media-body,
.app-documents .btn-extra-emphasized .media > .media-body,
.app-documents .btn-emphasized .media > .pull-left,
.app-documents .btn-appnavi .media > .pull-left:first-child,
.app-documents .btn-appnavi:hover .media > .pull-left,
.app-documents .btn-extra-emphasized .media > .pull-left,
.app-documents .btn-extra-emphasized:hover .media > .pull-right,
.app-documents .btn-emphasized:hover .media > .pull-right,
.app-documents .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #007999;
}
.app-documents .btn-emphasized .media > .pull-left:empty,
.app-documents .btn-emphasized .media > .pull-right:empty,
.app-documents .btn-appnavi .media > .pull-left:empty,
.app-documents .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-documents .btn-emphasized .media > .pull-right,
.app-documents .btn-appnavi .media > .pull-right,
.app-documents .btn-extra-emphasized .media > .pull-right {
  color: transparent;
}
.app-documents .fine-space {
  border-bottom: 1px solid #d5f3ff;
}

.app-todos {
  /* spaces below element */
}
.app-todos .btn-emphasized .media,
.app-todos .btn-appnavi .media,
.app-todos .btn-emphasized .media > .media-body,
.app-todos .btn-appnavi .media > .media-body,
.app-todos .btn-emphasized .media > .pull-right,
.app-todos .btn-appnavi .media > .pull-left,
.app-todos .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #efa02d;
}
.app-todos .btn-extra-emphasized .media,
.app-todos .btn-emphasized:hover .media,
.app-todos .btn-appnavi:hover .media,
.app-todos .btn-emphasized:hover .media > .media-body,
.app-todos .btn-appnavi:hover .media > .media-body,
.app-todos .btn-extra-emphasized .media > .media-body,
.app-todos .btn-emphasized .media > .pull-left,
.app-todos .btn-appnavi .media > .pull-left:first-child,
.app-todos .btn-appnavi:hover .media > .pull-left,
.app-todos .btn-extra-emphasized .media > .pull-left,
.app-todos .btn-extra-emphasized:hover .media > .pull-right,
.app-todos .btn-emphasized:hover .media > .pull-right,
.app-todos .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #ad7e2c;
}
.app-todos .btn-emphasized .media > .pull-left:empty,
.app-todos .btn-emphasized .media > .pull-right:empty,
.app-todos .btn-appnavi .media > .pull-left:empty,
.app-todos .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-todos .btn-emphasized .media > .pull-right,
.app-todos .btn-appnavi .media > .pull-right,
.app-todos .btn-extra-emphasized .media > .pull-right {
  color: transparent;
}
.app-todos .fine-space {
  border-bottom: 1px solid #faebcd;
}

.app-etherpad {
  /* spaces below element */
}
.app-etherpad .btn-emphasized .media,
.app-etherpad .btn-appnavi .media,
.app-etherpad .btn-emphasized .media > .media-body,
.app-etherpad .btn-appnavi .media > .media-body,
.app-etherpad .btn-emphasized .media > .pull-right,
.app-etherpad .btn-appnavi .media > .pull-left,
.app-etherpad .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #e55c55;
}
.app-etherpad .btn-extra-emphasized .media,
.app-etherpad .btn-emphasized:hover .media,
.app-etherpad .btn-appnavi:hover .media,
.app-etherpad .btn-emphasized:hover .media > .media-body,
.app-etherpad .btn-appnavi:hover .media > .media-body,
.app-etherpad .btn-extra-emphasized .media > .media-body,
.app-etherpad .btn-emphasized .media > .pull-left,
.app-etherpad .btn-appnavi .media > .pull-left:first-child,
.app-etherpad .btn-appnavi:hover .media > .pull-left,
.app-etherpad .btn-extra-emphasized .media > .pull-left,
.app-etherpad .btn-extra-emphasized:hover .media > .pull-right,
.app-etherpad .btn-emphasized:hover .media > .pull-right,
.app-etherpad .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #933d39;
}
.app-etherpad .btn-emphasized .media > .pull-left:empty,
.app-etherpad .btn-emphasized .media > .pull-right:empty,
.app-etherpad .btn-appnavi .media > .pull-left:empty,
.app-etherpad .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-etherpad .btn-emphasized .media > .pull-right,
.app-etherpad .btn-appnavi .media > .pull-right,
.app-etherpad .btn-extra-emphasized .media > .pull-right {
  color: transparent;
}
.app-etherpad .fine-space {
  border-bottom: 1px solid #ede2e1;
}

/* Classes that can be found in many pages and are not part of Twitter Bootstrap */
.w100 {
  width: 100%;
  margin: 0;
  float: none;
}

body .fine-space {
  border-bottom: 1px solid #dbdbdb;
}

body .regular-space {
  margin-bottom: 7px;
}

body .large-space {
  margin-bottom: 12px;
}

.navbar-fixed-top img {
  width: 35px;
  margin: -10px 5px -10px 0;
}

.content-box {
  padding: 15px;
  background-color: rgba(219, 219, 219, 0.3);
}
.content-box:before, .content-box:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.content-box:after {
  clear: both;
}

.content-box .btn.w100 {
  text-align: left;
}

/* input-area is an OL containing another OL of input elements.
	It looks like a white box full of inputs with gray vertical and horizontal separators.
*/
.input-area {
  background-color: white;
  color: #333333;
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-area > li {
  padding: 5px;
}

.input-area > li + li {
  border-top: 1px solid #dbdbdb;
}

.input-area > li > ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.input-area > li > ol > li {
  display: inline-block;
  padding: 4px 7px;
}

.input-area > li > ol > li + li {
  border-left: 1px solid #dbdbdb;
  color: #333333;
}

/* The serachbar in the fixed top navigation */
#searchbar {
  padding: 15px;
  white-space: nowrap;
  color: #333333;
  font-size: 1.1em;
}

#searchbar:hover {
  background-color: white;
}

#searchbar input {
  width: 0px;
  display: inline;
  margin-top: -10px;
  color: transparent;
}

#searchbar.expanded input {
  width: 250px;
  transition: all 500ms linear;
  color: #333333;
}

.fadedown:before, .fadedown:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.fadedown:after {
  clear: both;
}

.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  border-width: 0;
  background-image: none;
  min-width: 8em;
}

.select2-container .select2-choice .select2-arrow {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}

.select2-container .select2-choice .select2-arrow b {
  background-position: 0 -2px;
}

.select2-container .select2-choice {
  line-height: inherit;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-container-multi.select2-container-active .select2-choices,
.select2-container-multi.select2-container-active .select2-choice,
.select2-drop.select2-drop-above.select2-drop-active,
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-drop-active {
  border-width: 0;
  background-color: white;
}

.select2-results .select2-highlighted {
  background-color: #949494;
  color: white;
}

.select2-container-multi .select2-choices .select2-search-choice {
  border-width: 0;
  background-image: none;
  background-color: #dbdbdb;
  color: #333333;
}

.fc-header-title h2 {
  font-size: 1.5em;
  color: #333333;
}

.fc-button {
  background-color: #779b48;
  border-width: 0;
  background-image: none;
  padding: 0 0.5em;
  color: white;
}

.fc-text-arrow {
  margin: 0;
}

.fc-button.fc-state-disabled {
  opacity: 1;
  background-color: transparent;
  color: #333333;
}

.fc-button.fc-state-default {
  border-radius: 0;
  text-shadow: none;
}

.fc-button + .fc-button {
  border-left: 1px solid #e1edd2;
}

.fc-content {
  background-color: white;
  color: #333333;
  font-size: 0.8em;
}

.fc-state-highlight {
  background-color: #e1edd2;
}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start,
.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-radius: 0;
  background-color: #779b48;
  border-color: #779b48;
}
