{% extends "cosinnus/widgets/base_widget.html" %}
{% load i18n cosinnus_tags %}

{% block widget_title %}
    {% if form_view == 'add' %}{% trans "Add Widget" %}{% else %}{% trans "Edit Widget" %}{% endif %}
{% endblock widget_title %}

{% block widget_content %}
    {% include 'cosinnus/widgets/config.html' with widget_data=widget_data %}
{% endblock widget_content %}

{% block widget_button %}
    <button type="button" class="btn btn-emphasized dashboard-appwidget-morebutton" data-target="widget-save-button">
        <ul class="media-list">
            <li class="media">
                <a class="pull-right btn-extra-emphasized" href="#">
                    <i class="fa fa-floppy-o"></i>
                </a>
                <div class="media-body">
                    {% if form_view == 'add' %}{% trans "Add" %}{% else %}{% trans "Save" %}{% endif %}
                </div>
            </li>
        </ul>
    </button><!-- btn -->
    <button type="button" class="btn btn-emphasized dashboard-appwidget-morebutton" data-target="widget-cancel-button">
        <ul class="media-list">
            <li class="media">
                <a class="pull-right btn-extra-emphasized" href="#">
                    <i class="fa fa-times"></i>
                </a>
                <div class="media-body">
                    {% trans "Cancel" %}
                </div>
            </li>
        </ul>
    </button><!-- btn -->
{% endblock widget_button %}