{% extends "cosinnus/widgets/base_widget.html" %}
{% load i18n static cosinnus_tags %}

    
{% block base_widget_content %}

    <div class="fadedown regular-space">
	    {% comment %} 
	    The refresh/edit/delete button, left out for now
	    <div class="btn-group pull-right">
		    <a href="#" class="btn darker btn-xs" title="{% trans "Refresh" %}" data-type="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
		    {% if user|has_write_access:object %}
		      <a href="#" class="btn darker btn-xs" title="{% trans "Configure" %}" data-type="edit"><span class="glyphicon glyphicon-wrench"></span></a>
		      <a href="#" class="btn darker btn-xs" title="{% trans "Delete" %}" data-type="delete"><span class="glyphicon glyphicon-remove"></span></a>
		    {% endif %}
		  </div>
	    {% endcomment %}
	    
	    
	    <div class="btn btn-white btn-headline {% block fadedown_class %}fadedown-clickarea{% endblock %}" {% block headline_properties %}{% endblock %}>
	        <ul class="media-list">
	            <li class="media cursor-text">
	                <a class="pull-left" href="{{ request.user|profile_url }}">
	                    {% include "cosinnus/user/user_avatar_image.html" with user=request.user %}
	                </a>
	                <a class="pull-right" href="#">
	                    <i class="fa fa-pencil"></i>
	                </a>
	                <div class="media-body ">
	                        <span data-target="widget-title"></span>
	                </div>
	            </li>
	        </ul>
	    </div>
	    
	    {% block fadedown_content %}
        {% endblock fadedown_content %}
        
    </div>
    
    <div data-target="widget-content"></div>
    
    
    <button type="button" class="btn btn-emphasized dashboard-appwidget-morebutton" data-target="widget-reload-button">
        <ul class="media-list">
            <li class="media">
                <a class="pull-right btn-extra-emphasized" href="#">
                    <i class="fa fa-refresh "></i>
                </a>
                <div class="media-body">
                    {% trans "More" %}
                </div>
            </li>
        </ul>
    </button><!-- btn -->
{% endblock base_widget_content %}


