{% load i18n static thumbnail cosinnus_tags %}


<div type="button" class="btn btn-emphasized dashboard-appwidget-contentline">
    <ul class="media-list">
        <li class="media">
            <div class="media-body dashboard-appwidget-networkicons">
                
                {% for member in members %}
                    <a href="{{ member|profile_url }}" title="{{member|full_name}}">{% include "cosinnus/user/user_avatar_image.html" with user=member %}</a>
                {% endfor %}
                
            </div>
        </li>
    </ul>
</div><!-- btn -->

