{% load i18n static thumbnail cosinnus_tags %}


<div type="button" class="btn btn-emphasized dashboard-appwidget-contentline">
    <ul class="media-list">
        <li class="media">
            <div class="media-body dashboard-appwidget-networkicons">
                
                {% for member in members %}
                    <a href="{{ member|profile_url }}" title="{{member|full_name}}">{% include "cosinnus/user/user_avatar_image.html" with user=member %}</a>
                {% endfor %}
                
                {% if has_more %}
                    <a href="{% url 'cosinnus:group-detail' group=group.slug %}" style="position: relative;">
	                    <img src="{% static 'images/jane-doe.png' %}" />
	                    <h3 style="position: absolute; top:20px; left:0;" class="w100 text-center">+{{ more_count }}</h3>
                    </a>
                {% endif %}
            </div>
        </li>
    </ul>
</div><!-- btn -->

