{% extends 'cosinnus/widgets/base_widget_form.html' %}
{% load i18n cosinnus_tags widget_tweaks %}

{% block extra_fields %}
	<label>{% trans "Text" %}</label>
	<div type="button" class="btn btn-default w100 regular-space">
	    <ul class="media-list">
	        <li class="media">
	            <a class="pull-left" href="#">
	                <i class="fa fa-pencil"></i>
	            </a>
	            <div class="media-body media-body-form-control">
	                {% captureas placeholder %}{% trans "Text" %}{% endcaptureas %}
	                {% render_field form.text class+="form-control" placeholder=placeholder %}
	            </div>
	        </li>
	    </ul>
	</div>
	
	
	<label>{% trans "Attach Images/Files" %}</label>
	<div type="button" class="btn btn-default w100 regular-space">
	    <ul class="media-list">
	        <li class="media">
	            <a class="pull-left" href="#">
	                <i class="fa fa-image"></i>
	            </a>
	            <div class="media-body media-body-form-control">
	                {% captureas placeholder %}{% trans "Attach image/file" %}{% endcaptureas %}
	                {% render_field form.images placeholder=placeholder %}
	            </div>
	        </li>
	    </ul>
	</div>
{% endblock extra_fields %}



