{% load i18n cosinnus_tags widget_tweaks %}

<label>{% trans "Text" %}</label>
<div type="button" class="btn btn-default w100 regular-space">
    <input type="hidden" name="type" value=2 /> <!-- Microsite -->
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-pencil"></i>
            </a>
            <div class="media-body">
                {% captureas placeholder %}{% trans "Text" %}{% endcaptureas %}
                {% render_field form.text class+="form-control" placeholder=placeholder %}
            </div>
        </li>
    </ul>
</div>

