{% extends "cosinnus/base.html" %}
{% load i18n static cosinnus_tags djajax_tags widget_tweaks %}

{% block page_title %}{% trans "Signup" %}{% endblock %}

{% block main_page %}

{% captureas title %}
{% blocktrans with provider=account.get_provider.name %}Login with {{ provider }}{% endblocktrans %}
{% endcaptureas %}



{% if form.errors and 'email' in form.errors %}
{% captureas label %}
<div class="large-space">
	{% for key, error in form.errors.items %}
		{% if key == 'email'%}
		<ul class="errorlist">
			<li>
			{{ error.as_text|cut:"* " }} </a>
			</li>
		</ul>
		{% endif %}
	{% endfor %}
	</ul>
</div>
{% endcaptureas %}

{% captureas custom_button_html %}
<button class="pull-right btn btn-emphasized btn-autosize" href="{% url 'login' %}?hidesso=True&next={% url 'socialaccount_connections' %}?provider={{ account.get_provider.id }}" >
    <ul class="media-list">
        <li class="media">
            <span class="pull-left">
                <i class="fa fa-user"></i>
            </span>
            <div class="media-body">
                {% trans 'Login and Connect' %}
            </div>
        </li>
     </ul>
</button>
{% endcaptureas %}
{% include "cosinnus/modal_box.html" with id="signup-social-account" label=label title=title title_icon="fa-user" custom_button_html=custom_button_html show_inline=True hide_submit_button=True hide_cancel_button=True %}


{% else %}
{% captureas label %}
<div class="large-space">
	{% for key, error in form.errors.items %}
		{{ error }}
	{% endfor %}
</div>

<p class="no-horizontal-padding no-vertical-padding large-space">
	{% blocktrans with provider_name=account.get_provider.name portal_name=COSINNUS_CURRENT_PORTAL.name %} {{ portal_name }} wants access to the following information of your {{ provider_name }} account{% endblocktrans %}:
</p>

<div class="large-space">
	<p><b>- {% trans 'email address' %}</b></p>
	<p><b>- {% trans 'first name' %}</b></p>
	<p><b>- {% trans 'last name (if set)' %}</b></p>
</div>

{% csrf_token %}


<div class="ultra-space">
{% for field in form %}
{% if field.name == 'copy_profile' %}
<h4>{% trans 'Do you also want to copy your profile data?' %}</h4>
{% trans "Yes, allow access to my profile data: (e.g Avatar, Location, Topics, Language Settings)" as checkbox_label %}
{% include 'cosinnus/fields/checkbox_field.html' with field=form.copy_profile checkbox_label=checkbox_label label_class='small-label' %}
{% endif %}
{% endfor %}
</div>

<h4>{% trans 'Please also fill in the following information:' %}</h4>

{% include 'cosinnus/registration/extra_signup_fields.html' %}

{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
{% endcaptureas %}

{% captureas form_action %}{% url 'socialaccount_signup' %}{% endcaptureas %}
{% include "cosinnus/modal_box.html" with id="signup-social-account" label=label title=title form_action=form_action title_icon="fa-user" show_inline=True hide_submit_button=False hide_cancel_button=True %}
{% endif %}
{% endblock %}

