<row class="summary-item bordered-container">
    <columns>
	    <row class="special-padded-row avatar-row main-item">
            <columns class="spacer" large="1" small="1">&nbsp;</columns>
            
            <columns class="image image-column" large="1" small="1" valign="middle">
                <a href="{{#rw this}}action_user_url{{/rw}}">
                    <!-- always include the width="nn" attribute in <img> for Outlook! -->
                    <img class="regular-img" width="40" src="{{#rw this}}user_image_url{{/rw}}" alt="" />
                </a>
            </columns>
        
            <columns class="small-text" large="5" small="5" valign="middle">
                <row class="event-text colored-text">
                    <columns class="unpadded">
                        <a href="{{#rw this}}action_user_url{{/rw}}" target="_blank">
                            {{#rwif action_user_name raw_if="action_user_name" }}
                                <span class="bold-text">{{#rw this}}action_user_name{{/rw}}</span>
                            {{/rwif}}
                        </a>
                        <a href="{{#rw this}}object_url{{/rw}}" target="_blank">
                            <span class="non-bold-text">{{#rw this}}event_text{{/rw}}</span>
                        </a>
                    </columns>
                </row>
                {{#rwif event_time raw_if="event_time" }}
	                <row class="event-time grey-text">
	                    <columns class="unpadded">
	                        <a href="{{#rw this}}object_url{{/rw}}">
	                            {{#rw this}}event_time{{/rw}}
	                        </a>
	                    </columns>
	                </row>
                {{/rwif}}
            </columns>
            
            <columns class="group-label smaller-text grey-text bold-text" large="4" small="4" valign="top">
                
                <table class="group-aside" role=”presentation” cellspacing=”0″ cellpadding=”0″  align="right">
                   <tr>
                       <th class="group-aside-text smaller-text">
                           <a href="{{#rw this}}origin_url{{/rw}}">
                               {{#rw this}}origin_name{{/rw}} 
                           </a>
                       </th>
                       {{#rwif origin_icon_url raw_if="origin_icon_url" }}
                       <th class="group-aside-icon">
                           <a href="{{#rw this}}origin_url{{/rw}}">
	                           <!-- always include the width="nn" attribute in <img> for Outlook! -->
                               <img class="smallest-img inline-img padded-img-no-right" width="20" src="{{#rw this}}origin_icon_url{{/rw}}" />
                           </a>
                       </th>
                       {{/rwif}}
                   </tr>
                </table>
                
            </columns>
            
            <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
        </row>
		
		{{#rwif sub_object_name raw_if="sub_object_name" }}
		    <row class="special-padded-row sub-object-border-row">
                <columns class="border-spacer" large="1" small="1">&nbsp;</columns>
                <columns class="border-cell border-cell-bottom" large="10" small="10" valign="bottom">&nbsp;</columns>
                <columns class="border-spacer" large="1" small="1">&nbsp;</columns>
            </row>
		
            <row class="special-padded-row sub-object-row sub-item">
                <columns class="spacer" large="1" small="1">&nbsp;</columns>
                
                <columns class="image-column" large="1" small="1" valign="middle">
	                    <a href="{{#rw this}}sub_object_url{{/rw}}">
	                        <!-- always include the width="nn" attribute in <img> for Outlook! -->
	                        <img class="small-img padded-img" width="30" src="{{#rw this}}sub_object_icon_url{{/rw}}" alt="" />
	                    </a>
                </columns>
            
                <columns class="" large="9" small="9" valign="middle">
                    <row class="bold-text">
                        <columns class="unpadded">
                            <span class="bold-text">
                                <a class="uncolored-text" href="{{#rw this}}sub_object_url{{/rw}}">{{#rw this}}sub_object_name{{/rw}}</a>
                            </span>
                        </columns>
                    </row>
                    {{#rwif sub_object_text raw_if="sub_object_text" }}
	                    <row>
	                        <columns class="unpadded">
	                            {{#rw this}}sub_object_text{{/rw}}
	                        </columns>
	                    </row>
                    {{/rwif}}
                </columns>
                
                <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
            </row>
            
            <row class="special-padded-row sub-object-border-row">
                <columns class="border-spacer" large="1" small="1">&nbsp;</columns>
                <columns class="border-cell border-cell-top" large="10" small="10" valign="top">&nbsp;</columns>
                <columns class="border-spacer" large="1" small="1">&nbsp;</columns>
            </row>
        {{/rwif}}
        
        {{#rwif sub_object_name raw_if="sub_object_name" }}
            <row class="special-padded-row spacer-row">
                <columns large="12" small="12" valign="top">&nbsp;</columns>
            </row>
        {{/rwif}}
        
        {{#rwif object_text raw_if="object_name or object_text" }}
            <row class="special-padded-row object-row item-content">
            
                <columns class="image image-column" large="1" small="1" valign="top">
                    <a href="{{#rw this}}object_url{{/rw}}">
                        <!-- always include the width="nn" attribute in <img> for Outlook! -->
                        <img class="small-img padded-img" width="30" src="{{#rw this}}object_icon_url{{/rw}}" alt="" />
                    </a>
                </columns>
            
                <columns class="object-text-column" large="10" small="10" valign="top">
                    {{#rwif display_object_name raw_if="display_object_name" }}
                        <p>
                            <a class="bold-text uncolored-text" href="{{#rw this}}object_url{{/rw}}">
                                {{#rw this}}object_name{{/rw}}
                            </a>
		                    {{#rwif event_meta raw_if="event_meta" }}
		                        <br/>
		                        {{#rw this}}event_meta{{/rw}}
		                    {{/rwif}}
                        </p>
                    {{/rwif}}
	                
                   {{#rw this}}object_text{{/rw}}
                   
                   {{#if raw}}
					    {{{{raw}}}}
					        {% if content_rows %}
						        {% for content_row in content_rows %}
						           <p>{{ content_row }}</p>
						        {% endfor %}
					        {% endif %}
					    {{{{/raw}}}}
					{{else}}
					    {{#each content_rows}}
					        <p>
                                {{#rw this}}content_row{{/rw}}
                            </p>
                        {{/each}}
					{{/if}}
                </columns>
                
                <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
            </row>
        {{/rwif}}
        
        {{#rwif show_action_buttons raw_if="show_action_buttons"}}
            <row class="special-padded-row action-button-row action_buttons">
                <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
            
                <columns class="text" large="10" small="10" valign="middle">
                    {{#rwif action_button_1_text raw_if="action_button_1_text"}}
                        <span class="action-button-span">
	                        <a class="action-button {{#rwif action_button_1_alternate raw_if="action_button_1_alternate"}}action-button-alternate{{/rwif}}" href="{{#rw this}}action_button_1_url{{/rw}}" target="_blank">
	                            {{#rw this}}action_button_1_text{{/rw}}
	                        </a>
                        </span>
                    {{/rwif}}
                    {{#rwif action_button_2_text raw_if="action_button_2_text"}}
                        <span class="action-button-span">
	                        <a class="action-button {{#rwif action_button_2_alternate raw_if="action_button_2_alternate"}}action-button-alternate{{/rwif}}" href="{{#rw this}}action_button_2_url{{/rw}}" target="_blank">
	                            {{#rw this}}action_button_2_text{{/rw}}
	                        </a>
                        </span>
                    {{/rwif}}
                    {{#rwif action_button_alternate_text raw_if="action_button_alternate_text"}}
                        <span class="action-button-span">
	                        <a class="action-button action-button-alternate" href="{{#rw this}}action_button_alternate_url{{/rw}}" target="_blank">
	                            {{#rw this}}action_button_alternate_text{{/rw}}
	                        </a>
                        </span>
                    {{/rwif}}
                    
                </columns>
                
                <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
            </row>
        {{/rwif}}
		        
    </columns>
</row>