{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags cosinnus_map_tags static thumbnail %}

{% block page_title %}{{ group.name }} {{ block.super }}{% endblock page_title %}

{% block leftnav %}
    {% include "cosinnus/group/leftnav_group.html"  with current_page="groupdetails" %}
    {% include 'cosinnus/common/help_button_leftnav_for_popup.html' with help_text_id="helptext_13_groupadministration" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        {% group_url 'cosinnus:conference:management' group=group as conference_management_page %}
        <li><a href="{{ conference_management_page }}">{% trans "Conference Management" %}</a></li>
        <li class="active">{% trans "Workshop Participant File Upload" %}</li>
{% endblock %}

{% block content %}
<div class="content-box">
    {% group_url 'cosinnus:conference:workshop-participants-upload-skeleton' group=group as workshop_participants_upload_skeleton %}
    <p>{% blocktrans %}Please upload a CSV with the following columns: unique user identifier, first name, last name and one column for each workshop identified by the workshop's slug. For Help you can download a template <a href="{{ workshop_participants_upload_skeleton }}">here</a>{% endblocktrans %}</p>

    <p>{% trans "Then add a row for each account that you want to add. You have to add a unique user identifier but first and last name can be blank. Then add a 1 to all workshop columns where the user should be a normal member or a 2 if that user should be workshop admin." %}</p>

    <p>{% trans "The CSV upload will trigger the creation of the accounts and account workshop memberships and results in a direct CSV download with the newly created accounts and passwords. The passwords will only be included when the account is created. Please refresh the page after the download." %}</p>
	<form action="" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
        {% for field in form %}
        <div class="cosinnus-field">
            {% include 'cosinnus/fields/default_field.html' with field=field field_value=name_val %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-emphasized">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-upload"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Upload File" %}
                    </div>
                </li>
            </ul>
        </button>
	</form>
</div>
{% endblock content %}