{% load i18n cosinnus_tags %}

{% captureas href %}{% url "login" %}{% endcaptureas %}
{% captureas label %}{% trans "Login" %}{% endcaptureas %}
{% include "cosinnus/leftnav_button.html" with active=True extra_classes="regular-space" icon="fa-hand-o-right" label=label href=href  %}

{% captureas href %}{% url "password_change" %}{% endcaptureas %}
{% captureas label %}{% trans "Passwort vergessen" %}{% endcaptureas %}
{% include "cosinnus/leftnav_button.html" with icon="fa-question-circle" label=label href=href  %}
