{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags %}

{% block page_title %}{% trans "Logged out" %}{% endblock %}

{% block leftnav %}
    {% if not SETTINGS.COSINNUS_IS_SSO_PORTAL %}
        {% include "cosinnus/registration/leftnav.html"  with current_page="login" %}
    {% endif %}
{% endblock leftnav %}


{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box white-content">
        
        
        <div class="frame-logged-out" {% if SETTINGS.COSINNUS_V3_FRONTEND_ENABLED or SETTINGS.COSINNUS_CLOUD_ENABLED %}style="display: none;"{% endif %}>
            <h2>{% trans "Logged out" %}</h2>
            <p>{% trans "You have been logged out. See you again soon!" %}</p>
        </div>
        
        {% comment %} Additional logout logic via JS for services. {% endcomment %}
        {% if SETTINGS.COSINNUS_V3_FRONTEND_ENABLED or SETTINGS.COSINNUS_CLOUD_ENABLED %}
            <div class="frame-logout-error" style="display: none;">
	            <h2>{% trans "Error while logging out" %}</h2>
	            <p>{% trans "Your logout may be incomplete in parts of the site due to a server error. If this is not a device you trust, please delete your cookies for this site!" %}</p>
	        </div>
            
            <div class="frame-logout-progress">
                <h2>{% trans "Logging you out..." %} <span class="fa fa-fw fa-spin fa-cog"></span></h2>
            </div>
            
            <script type="text/javascript">
                {% comment %}Logs user out of the v3 frontend by calling the NextAuth.js API signout endpoint (see https://next-auth.js.org/getting-started/rest-api#post-apiauthsignout){% endcomment %}

                var global_logout_success = true; {% comment %} starts out true, if any non-successes happen, turns false {% endcomment %}
                function logoutSuccess(success) {
                    $('.frame-logout-progress').hide();
                    if (success) {
                        $('.frame-logged-out').show();
                    } else {
                        $('.frame-logout-error').show();
                    }
                    const urlParams = new URLSearchParams(window.location.search);
                    if (urlParams.get('next')) {
                        window.location = urlParams.get('next');
                    }
                }
                
                function _callFrontendLogout(csrfToken, logout_url) {
                    /* Does the logout using the csrftoken. */
                    $.ajax(logout_url, {
                        type: 'POST',
                        data: {
                            'csrfToken': csrfToken
                        },
                        success: function (response, textStatus, xhr) {
                            console.log('# # Did logout');
                            console.log(response);
                            logoutSuccess(global_logout_success);
                        },
                        error: function (xhr, textStatus) {
                            console.log('# # Error while logging out');
                            console.log(xhr);
                            console.log(textStatus);
                            global_logout_success = false;
                            logoutSuccess(global_logout_success);
                        }
                    });
                }
                function doFrontendLogout(csrf_url, logout_url) {
                    /* Get CSRFtoken and POST to logout endpoint. */
                    $.ajax(csrf_url, {
                        type: 'GET',
                        success: function (response, textStatus, xhr) {
                            console.log('# # Fetched csrf');
                            console.log(response);
                            _callFrontendLogout(response['csrfToken'], logout_url);
                        },
                        error: function (xhr, textStatus) {
                            console.log('# # Error while fetching csrf');
                            console.log(xhr);
                            console.log(textStatus);
                            global_logout_success = false;
                            logoutSuccess(global_logout_success);
                        }
                    });
                }

                {% if SETTINGS.COSINNUS_CLOUD_ENABLED %}
                    var url_csrf_nextcloud = '{{ SETTINGS.COSINNUS_CLOUD_NEXTCLOUD_URL }}/apps/cspworkaround/csrftoken';
                    var url_direct_logout = '{{ SETTINGS.COSINNUS_CLOUD_NEXTCLOUD_URL }}/apps/cspworkaround/logout';
                    var url_logout_nextcloud = '{{ SETTINGS.COSINNUS_CLOUD_NEXTCLOUD_URL }}/logout';

                    $.ajax(url_direct_logout, {
                        type: 'GET',
                        success: function (response, textStatus, xhr) {
                            console.log('# # Logout complete');
                            console.log(response);
                            logoutSuccess(global_logout_success);
                        },
                        error: function (xhr, textStatus) {
                            console.log('# # Error while fetching csrf');
                            console.log(xhr);
                            console.log(textStatus);
                            global_logout_success = false;
                            logoutSuccess(global_logout_success);
                        }
                    });

                {% endif %}
                {% if SETTINGS.COSINNUS_V3_FRONTEND_ENABLED %}
                    var url_csrf_v3_frontend = '/api/frontend/auth/csrf?v=3';
                    var url_logout_v3_frontend = '/api/frontend/auth/signout?v=3';
                    doFrontendLogout(url_csrf_v3_frontend, url_logout_v3_frontend);
                {% endif %}
            </script>
		{% endif %}
        
    </div>
    
{% endblock content %}
