{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans "Login" %}{% endblock %}

{% block override_breadcrumb %}
{% endblock override_breadcrumb %}

{% block leftnav %}
    {% include "cosinnus/registration/leftnav.html"  with current_page="login" %}
{% endblock leftnav %}

{% block content %}
  <form action="" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'cosinnus:index' %}">
    
    <!-- a box with semi transparent background -->
    <div class="content-box">

        <div type="button" class="btn btn-default w100 large-space">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="media-body">
                        {{ form.username.errors }}
                        {% captureas placeholder %}{% trans "Username" %}{% endcaptureas %}
                        {% render_field form.username class+="form-control" placeholder=placeholder %}
                    </div>
                </li>
            </ul>
        </div>

        <div type="button" class="btn btn-default w100 large-space">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-lock"></i>
                    </a>
                    <div class="media-body">
                        {{ form.password.errors }}
                        {% captureas placeholder %}{% trans "Password" %}{% endcaptureas %}
                        {% render_field form.password class+="form-control" placeholder=placeholder %}
                    </div>
                </li>
            </ul>
        </div>

    </div><!-- content-box -->

    <button type="submit" class="btn btn-emphasized">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-hand-o-right"></i>
                </a>
                <div class="media-body">
                    {% trans "Login" %}
                </div>
            </li>
        </ul>
    </button>


  </form>
{% endblock content %}


