{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans 'Password change' %}{% endblock %}

{% block jshead %}
    {% comment %} This page deals with authentication data and loads only the most necessary vendor scripts! {% endcomment %}
{% endblock jshead %}

{% block leftnav %}
    {% include "cosinnus/user/leftnav.html"  with view="change_password" %}
    
    {% include 'cosinnus/common/help_button_leftnav_for_popup.html' with help_text_id="helptext_5_password" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active"><a href="{% url 'cosinnus:profile-detail' %}">{% trans "Your Profile" %}</a></li>
        <li class="active">{% trans "Change password" %}</li>
{% endblock %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}
  
    <!-- a box with semi transparent background -->
    <div class="content-box">
        {{ form.non_field_errors }}

        {# Regular Field #}
		{% trans "Enter old password" as oldpassword_label %}
		{% trans "We need to make sure it's really you" as oldpassword_legend %}
		{% trans "Old password" as oldpassword_placeholder %}
		{% include 'cosinnus/fields/default_field.html' with field=form.old_password legend=oldpassword_legend label=oldpassword_label placeholder=oldpassword_placeholder first=True %}
		        
        
        {# Regular Field #}
		{% trans "New Password" as newpassword1_label %}
		{% trans "Enter a password you don't use anywhere else. The longer the better!" as newpassword1_legend %}
		{% trans "New Password" as newpassword1_placeholder %}
		{% include 'cosinnus/fields/default_field.html' with field=form.new_password1 legend=newpassword1_legend label=newpassword1_label placeholder=newpassword1_placeholder %}
		        
        {# Regular Field #}
		{% trans "Repeat your password just to make sure" as newpassword2_label %}
		{% trans "Repeat new Password" as newpassword2_placeholder %}
		{% include 'cosinnus/fields/default_field.html' with field=form.new_password2 label=newpassword2_label placeholder=newpassword2_placeholder %}
		        
    </div><!-- content-box -->
        
  
    <button type="submit" class="btn btn-emphasized">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left" href="#" tabindex="-1">
                    <i class="fa fa-hand-o-right"></i>
                </span>
                <div class="media-body">
                    {% trans 'Change my password' %}
                </div>
            </li>
        </ul>
    </button>
  
</form>


{% endblock %}
