{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{% block leftnav %}
    {% include "cosinnus/user/leftnav.html"  with view="change_password" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active"><a href="{% url 'cosinnus:profile-detail' %}">{% trans "Your Profile" %}</a></li>
        <li class="active">{% trans "Change password" %}</li>
{% endblock %}

{% block content %}
    
    <div class="alert alert-success alert-dismissable">
        <i class="fa fa-check fa-3x"></i>
        <p>{% trans "Your password has been changed successfully!" %}</p>
    </div>
  
  
    <button type="button" class="btn btn-emphasized" href="{% url 'cosinnus:profile-detail' %}">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#" tabindex="-1">
                    <i class="fa fa-hand-o-right"></i>
                </a>
                <div class="media-body">
                    {% trans 'My Profile' %}
                </div>
            </li>
        </ul>
    </button>
  


{% endblock %}
