{% extends "cosinnus/base.html" %}
{% load i18n bootstrap3 %}

{% block page_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
  <h1>{% trans "Password reset" %}</h1>

  <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<div class="row">
  <form action="" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% trans 'Reset my password' as submit_label %}
    {% buttons submit=submit_label layout='horizontal' %}{% endbuttons %}
  </form>
</div>
{% endblock content %}
