{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{% block leftnav %}
    {% include "cosinnus/registration/leftnav.html"  with current_page="reset_password" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Password reset" %}</li>
{% endblock %}

{% block content %}

{% if validlink %}

	<form action="" method="post">
	  {% csrf_token %}
	    
	    <!-- a box with semi transparent background -->
	    <div class="content-box">
	        
	        <legend>{% trans 'Enter new password' %}</legend>
	        {{ form.non_field_errors }}
	    
	        <p class="large-space">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
	        
            <div type="button" class="btn btn-default w100 large-space">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#" tabindex="-1">
                            <i class="fa fa-lock"></i>
                        </a>
                        <div class="media-body">
                            {{ form.new_password1.errors }}
                            {% captureas placeholder %}{% trans "New password" %}{% endcaptureas %}
                            {% render_field form.new_password1 class+="form-control" placeholder=placeholder %}
                        </div>
                    </li>
                </ul>
            </div>
            
            <div type="button" class="btn btn-default w100 large-space">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#" tabindex="-1">
                            <i class="fa fa-lock"></i>
                        </a>
                        <div class="media-body">
                            {{ form.new_password2.errors }}
                            {% captureas placeholder %}{% trans "New password confirmation" %}{% endcaptureas %}
                            {% render_field form.new_password2 class+="form-control" placeholder=placeholder %}
                        </div>
                    </li>
                </ul>
            </div>
	        
	    </div>
	    
	    <button type="submit" class="btn btn-emphasized">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#" tabindex="-1">
	                    <i class="fa fa-hand-o-right"></i>
	                </a>
	                <div class="media-body">
	                    {% trans 'Reset' %}
	                </div>
	            </li>
	        </ul>
	    </button>
	    
	</form>
	
	

{% else %}

    <div class="alert alert-danger alert-dismissable">
        <i class="fa fa-exclamation-triangle fa-3x"></i>
        <p>{% trans 'Password reset unsuccessful' %}</p>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    </div>
    
{% endif %}
	

{% endblock content %}


