{% extends "cosinnus/base.html" %}
{% load i18n bootstrap3 %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% trans 'Change my password' as submit_label %}
  {% buttons submit=submit_label %}{% endbuttons %}
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
