{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans 'Password reset request received.' %}{% endblock %}

{% block leftnav %}
    {% include "cosinnus/registration/leftnav.html"  with current_page="reset_password" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Reset password" %}</li>
{% endblock %}

{% block content %}
    
    <!-- no box with semi transparent background -->
    <div class="content-box">
        <h2>{% trans 'Password reset request received.' %}</h2>
        <hr class="invisible"/>
        
        <div class="textfield transparent">
		    <p class="large-space">
		      {% trans "If there is an account registered with the email address you entered, we will email you instructions for resetting the account password shortly." %}
	        </p>
		    <p class="large-space">
		        {% trans "If you don't receive an email, please make sure you entered the correct email address associated with your account, and check your spam folder." %}
		    </p>
        </div>
    </div>
    
{% endblock content %}
