{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{% block leftnav %}
    {% include "cosinnus/registration/leftnav.html"  with current_page="reset_password" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Password reset" %}</li>
{% endblock %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
        
        <legend>{% trans 'Password reset' %}</legend>
        {{ form.non_field_errors }}
    
        <p class="large-space">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        
        <div type="button" class="btn btn-default w100 large-space">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#" tabindex="-1">
                        <i class="fa fa-lock"></i>
                    </a>
                    <div class="media-body media-body-form-control">
                        {{ form.email.errors }}
                        {% captureas placeholder %}{% trans "Email" %}{% endcaptureas %}
                        {% render_field form.email class+="form-control" placeholder=placeholder %}
                    </div>
                </li>
            </ul>
        </div>
        
	</div>
	
    <button type="submit" class="btn btn-emphasized">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#" tabindex="-1">
                    <i class="fa fa-hand-o-right"></i>
                </a>
                <div class="media-body">
                    {% trans 'Reset' %}
                </div>
            </li>
        </ul>
    </button>
	
	
</form>
{% endblock content %}
