{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{% block leftnav %}
    {% include "cosinnus/user/leftnav.html"  with view="change_password" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active"><a href="{% url 'cosinnus:profile-detail' %}">{% trans "Your Profile" %}</a></li>
        <li class="active">{% trans "Change password" %}</li>
{% endblock %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}
  
    <!-- a box with semi transparent background -->
    <div class="content-box">
        
        <legend>{% trans 'Enter new password' %}</legend>
        {{ form.non_field_errors }}

        <div type="button" class="btn btn-default w100 large-space">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#" tabindex="-1">
                        <i class="fa fa-lock"></i>
                    </a>
                    <div class="media-body">
                        {{ form.old_password.errors }}
                        {% captureas placeholder %}{% trans "Old password" %}{% endcaptureas %}
                        {% render_field form.old_password class+="form-control" placeholder=placeholder %}
                    </div>
                </li>
            </ul>
        </div>
        
        <legend>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</legend>
  

        <div type="button" class="btn btn-default w100 regular-space">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#" tabindex="-1">
                        <i class="fa fa-lock"></i>
                    </a>
                    <div class="media-body">
                        {{ form.new_password1.errors }}
                        {% captureas placeholder %}{% trans "New Password" %}{% endcaptureas %}
                        {% render_field form.new_password1 class+="form-control" placeholder=placeholder %}
                    </div>
                </li>
            </ul>
        </div>
        
        <div type="button" class="btn btn-default w100">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#" tabindex="-1">
                        <i class="fa fa-lock"></i>
                    </a>
                    <div class="media-body">
                        {{ form.new_password2.errors }}
                        {% captureas placeholder %}{% trans "Repeat new Password" %}{% endcaptureas %}
                        {% render_field form.new_password2 class+="form-control" placeholder=placeholder %}
                    </div>
                </li>
            </ul>
        </div>

    </div><!-- content-box -->
  
  
    <button type="submit" class="btn btn-emphasized">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#" tabindex="-1">
                    <i class="fa fa-hand-o-right"></i>
                </a>
                <div class="media-body">
                    {% trans 'Change my password' %}
                </div>
            </li>
        </ul>
    </button>
  
</form>


{% endblock %}
