{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans 'Password change' %}{% endblock %}

{% block leftnav %}
    {% include "cosinnus/user/leftnav.html"  with view="change_password" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active"><a href="{% url 'cosinnus:profile-detail' %}">{% trans "Your Profile" %}</a></li>
        <li class="active">{% trans "Change password" %}</li>
{% endblock %}

{% block content %}

	<div class="alert alert-warning alert-dismissable">
        <i class="fa fa-times fa-3x"></i>
        <h4>{% trans "Password cannot be changed!" %}</h4>
        <div class="v-offset-s">
        <p>
    		{% trans "Sorry, but your account is associated with an integrated Portal! This means that neither your email, nor your password cannot be changed." %}
		</p>
        <p>
    		{% trans "Please contact an administrator if this is an issue for you." %}
		</p>
		</div>
    </div>

{% endblock %}

	
