{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans 'Password reset complete' %}{% endblock %}

{% block leftnav %}
    {% include "cosinnus/registration/leftnav.html"  with current_page="reset_password" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Reset password" %}</li>
{% endblock %}

{% block content %}
    
    <div class="alert alert-success alert-dismissable">
        <i class="fa fa-check fa-3x"></i>
        <p>{% trans 'Password reset complete' %}</p>
		<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    </div>
  
    <button type="button" class="btn btn-emphasized" href="{% url 'login' %}">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#" tabindex="-1">
                    <i class="fa fa-hand-o-right"></i>
                </a>
                <div class="media-body">
                    {% trans 'Login' %}
                </div>
            </li>
        </ul>
    </button>
  

{% endblock %}
