{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{% block jshead %}
    {% comment %} This page deals with authentication data and loads only the most necessary vendor scripts! {% endcomment %}
{% endblock jshead %}

{% block leftnav %}
    {% include "cosinnus/registration/leftnav.html"  with current_page="reset_password" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Password reset" %}</li>
{% endblock %}

{% block content %}

<form action="" method="post" class="cosinnus-form form-horizontal">
  {% csrf_token %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
        {{ form.non_field_errors }}
        
        <h2>{% trans 'Password reset' %}</h2>
        <p class="large-space">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        
        
        {# Regular Field #}
		{% trans "Email" as email_label %}
		{% trans "The email you used to register your account. This is the one you receive email notifications on" as email_legend %}
		{% trans "Example: mymail@example.com" as email_placeholder %}
		{% include 'cosinnus/fields/default_field.html' with field=form.email legend=email_legend label=email_label placeholder=email_placeholder first=True %}
		        
        
	</div>
	
    <button type="submit" class="btn btn-emphasized">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left" href="#" tabindex="-1">
                    <i class="fa fa-hand-o-right"></i>
                </span>
                <div class="media-body">
                    {% trans 'Reset' %}
                </div>
            </li>
        </ul>
    </button>
	
	
</form>
{% endblock content %}
