{% extends "cosinnus/base.html" %}
{% load i18n  cosinnus_tags widget_tweaks honeypot %}

{% block page_title %}{% trans "Sign up" %}{% endblock %}

{% block jshead %}
    {% comment %} This page deals with authentication data and loads only the most necessary vendor scripts! {% endcomment %}
{% endblock jshead %}

{% block breadcrumb %}
	<li><a href="#">{% trans "Log in" %}</a></li>
	<li class="active">{% trans "Create account" %}</li>
{% endblock breadcrumb %}

{% block leftnav %}
    {% include "cosinnus/registration/leftnav.html" with current_page="signup" %}
{% endblock leftnav %}

{% block content %}

{% if SETTINGS.COSINNUS_IS_OAUTH_CLIENT %}
<div class="ultra-space clearfix">
{% include "socialaccount/snippets/provider_list.html" with process="login" type="signup"%}
</div>
{% endif %}

<form action="" method="post" enctype="multipart/form-data" class="cosinnus-form form-horizontal" role="form">
    {% csrf_token %}
    {% render_honeypot_field %}
    
    <input type="hidden" name="next" value="/">
    {% if request.GET.invite_token %}
        <input type="hidden" name="invite_token" value="{{ request.GET.invite_token }}">
    {% endif %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
		{% if form.errors %}
	        <div class="alert alert-danger alert-dismissable">
	            <i class="fa fa-exclamation-triangle fa-3x"></i>
	            <p>{% trans "There was an error in one of the fields you entered. Please correct it before saving!" %}</p>
	        </div>
	    {% endif %}
    
	    {% if request.GET.join_msg == "1" or request.GET.acc_req_msg == "1" %}
            <div class="alert alert-warning">
                <i class="fa fa-heart fa-3x"></i>
                <h4>{% trans "Welcome to the Community!" %}</h4>
                <div class="v-offset-s">
                    <p>
                        {% if request.GET.join_msg == "1" %}
                            {% trans "You need a user account to join projects and become active!" %}
                        {% else %}
                            {% trans "You need a user account to continue!" %}
                        {% endif %}
                        {% trans "Signing up is easy and fast. Just fill out these fields and you're all set!" %}
                    </p>
                </div>
                <div class="v-offset-s">
                    <p>
                        {% trans "Already have an account?" %} <a href="{% url 'login' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">{% trans "Log in here" %}</a>
                    </p>
                </div>
            </div>
        {% endif %}
        
        {% if request.GET.invite_token %}
            <div class="alert alert-success">
                <i class="fa fa-ticket fa-3x"></i>
                {% trans "You are signing up using this invite token:" %} <b>{{ request.GET.invite_token }}</b>
                <br/>
                {% trans "After signup, you will automatically become a member of the associated projects and groups." %}
            </div>
        {% endif %}
        
        <h2>{% trans "Sign up" %}</h2>
    
        {{ form.non_field_errors }}
        
        {# Regular Field #}
		{% trans "Email address" as email_label %}
		{% trans "This will be used as your login. Notification emails will be sent to this address (if you want to receive them)." as email_legend %}
		{% trans "Example: mymail@example.com" as email_placeholder %}
		{% include 'cosinnus/fields/default_field.html' with field=form.email legend=email_legend label=email_label placeholder=email_placeholder first=True %}
		        
        
        {# Regular Field #}
        {% trans "Password" as pass1_label %}
        {% trans "Enter a password you don't use anywhere else. The longer the better!" as pass1_legend %}
        {% trans "Password" as pass1_placeholder %}
        {% include 'cosinnus/fields/default_field.html' with field=form.password1 legend=pass1_legend label=pass1_label placeholder=pass1_placeholder %}
        
        {# Regular Field #}
        {% trans "Repeat your password just to make sure" as pass2_label %}
        {% trans "Repeat Password" as pass2_placeholder %}
        {% include 'cosinnus/fields/default_field.html' with field=form.password2 label=pass2_label placeholder=pass2_placeholder first=True %}

        
        {# Regular Field #}
        {% trans "Your name" as firstname_label %}
        {% trans "This name will be displayed to other users on the site" as firstname_legend %}
        {% trans "First name" as firstname_placeholder %}
        {% include 'cosinnus/fields/default_field.html' with field=form.first_name legend=firstname_legend label=firstname_label placeholder=firstname_placeholder %}
                
        {# Regular Field #}
        {% trans "Last name" as lastname_label %}
        {% trans "You can supply your last name to be displayed as well" as lastname_legend %}
        {% trans "Last name" as lastname_placeholder %}
        {% include 'cosinnus/fields/default_field.html' with field=form.last_name label=lastname_label legend=lastname_legend placeholder=lastname_placeholder help_popup="helptext_52_profilelastname" %}
        
        {% comment %} The fields in this block are generated from `settings.COSINNUS_USERPROFILE_EXTRA_FIELDS` {% endcomment %}
        {% block portal_specific_userprofile_extra_fields %}
            {% include 'cosinnus/user/userprofile_extra_formfields.html' with form=form %}
        {% endblock %}
        
        {% block managed_tag_field %}
            {% if SETTINGS.COSINNUS_MANAGED_TAGS_ENABLED and SETTINGS.COSINNUS_MANAGED_TAGS_USERS_MAY_ASSIGN_SELF %}
                {% include 'cosinnus/fields/managed_tag_formfield.html' with form=form legend=COSINNUS_MANAGED_TAG_LABELS.MANAGED_TAG_FIELD_LEGEND_PROFILE %}
            {% endif %}
        {% endblock managed_tag_field %}
        
        {# Regular Field #}
        {% trans "Captcha" as captcha_label %}
        {% captureas captcha_legend %}
        	{% trans "We need to make sure you are a real person (sorry!)" %}
        	<a class="refresh-captcha" href="#" style="color: #5a5a5a; text-decoration: underline;">
        		{% trans "Generate a new captcha" %}
        	</a>
    	{% endcaptureas %}
        {% include 'cosinnus/fields/default_field.html' with field=form.captcha legend=captcha_legend label=captcha_label large_field=True field_classes="captcha-field" %}
        
        <script>
        	$('.refresh-captcha').click(function () {
			    $.getJSON("/captcha/refresh/", function (result) {
			        $('.captcha').attr('src', result['image_url']);
			        $('#id_captcha_0').val(result['key'])
			    });
			});
        </script>
          
          
        {% include 'cosinnus/registration/extra_signup_fields.html' %}
        
    </div><!-- content-box -->

    <button type="submit" class="btn btn-emphasized">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left" href="#" tabindex="-1">
                    <i class="fa fa-hand-o-right"></i>
                </span>
                <div class="media-body">
                    {% trans "Register" %}
                </div>
            </li>
        </ul>
    </button>


  </form>
{% endblock content %}