{% extends "wagtailadmin/base.html" %}

{% block branding_logo %}
	{# Wagtail admin image fix #}
	<style type="text/css">
		.logo img {
			width: 60px;
		    float: none;
		    margin: auto;
		    display: block;
		}
	</style>
	
    {% include 'cosinnus/brand.html' %}
    
    
    {# Hackiest hack ever: Removes the wagtail user-administration Roles-Tab for non-superusers #}
    {% if not request.user.is_superuser %}
	    <script type="text/javascript">
	    	$(function() {
	    		$('.tab-nav li a[href="#roles"]').hide();
	    		$('.tab-content #account li a[href="#roles"]').after($('.tab-content #roles li input[type="submit"]')).hide();
	    	});
	    </script>
    {% endif %}
    
{% endblock %}