{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags cosinnus_map_tags static thumbnail %}

{% block page_title %}{% trans "Restricted Guest Access" %} {{ block.super }}{% endblock page_title %}

{% block main_page %}

    {% include 'cosinnus/messages.html' %}

    <div class="col-lg-2 col-md-2">
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="row">
            <div class="content-box">

                <h2>{% trans "Access restricted for guest accounts" %}</h2>
                <p class="textfield transparent">
                    {% trans "You are currently using the site with a guest account provided to you via a link." %}
                    {{ request.user.cosinnus_profile.guest_access_object.group.trans.GUEST_BROWSE_ONLY }}
                    <b>TODO: ok so?</b>
                </p>
                <p class="textfield transparent">
                    {% trans "However you cannot use most of the site's features, you do not have a user profile and you cannot create any content." %}
                    <b>TODO: ok so?</b>
                </p>

                <hr class="invisible"/>

                <h2>{% trans "Sign up now to collaborate!" %}</h2>
                <p class="textfield transparent">
                    {% trans "Sign up is fast and free! If you sign up to become a member, you can collaborate with others and use all features." %}
                    <b>TODO: more/better text</b>
                </p>
            </div>

            <button href="{% url "logout" %}?next={% url "cosinnus:user-add" %}?next={{ request.user.cosinnus_profile.guest_access_object.group.get_absolute_url }}" class="btn btn-emphasized btn-autosize">
                <ul class="media-list">
                    <li class="media">
                        <span class="pull-left">
                            <i class="fa fa-user-plus"></i>
                        </span>
                        <div class="media-body">
                            {% trans "Leave guest access and create an account" %}
                        </div>
                    </li>
                </ul>
            </button>
        </div>
    </div>

{% endblock main_page %}

