{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags cosinnus_map_tags static thumbnail %}

{% block page_title %}{% trans "Restricted Guest Access" %} {{ block.super }}{% endblock page_title %}

{% block main_page %}

    {% include 'cosinnus/messages.html' %}

    <div class="col-lg-2 col-md-2">
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="row">
            <div class="content-box">

                <h2>{% trans "Access restricted for guest accounts" %}</h2>
                <p class="textfield transparent">
                    {% with guest_group=request.user.cosinnus_profile.guest_access_object.group %}
                        {% trans "You are currently using the platform with a guest account provided to you by a link." %}
                        {{ guest_group.trans.GUEST_BROWSE_ONLY }}:
                        <a class="transparent" href="{{ guest_group.get_absolute_url }}">{{ guest_group.name }}</a>
                    {% endwith %}
                </p>
                <p class="textfield transparent">
                    {% trans "As a guest, many features on this site are not available to you, such as creating content, uploading files, or sending messages to other users." %}
                    {% trans "You cannot customize your user profile either." %}
                </p>

                <hr class="invisible"/>

                <h2>{% trans "Sign up now to create a fully featured account!" %}</h2>
                <p class="textfield transparent">
                    {% trans "If you sign up as a platform member, you can collaborate with others, customize your profile and use all of the site's features." %}
                </p>
                <p class="textfield transparent">
                    {% trans "Note: After signup you will have to apply or be invited to become a full member of any projects, groups or conferences again. Your guest account's memberships can't be transferred to the new account." %}
                </p>
            </div>

            <button href="javascript:window.history.back();" class="btn btn-emphasized btn-autosize pull-left no-margin">
                <ul class="media-list">
                    <li class="media">
                        <span class="pull-left">
                            <i class="fa fa-arrow-left"></i>
                        </span>
                        <div class="media-body">
                            {% trans "Back" %}
                        </div>
                    </li>
                </ul>
            </button>

            <button href="{% url "logout" %}?next={% url "cosinnus:user-add" %}?next={{ request.user.cosinnus_profile.guest_access_object.group.get_absolute_url }}" class="btn btn-emphasized btn-autosize">
                <ul class="media-list">
                    <li class="media">
                        <span class="pull-left">
                            <i class="fa fa-user-plus"></i>
                        </span>
                        <div class="media-body">
                            {% trans "Leave guest access and create an account" %}
                        </div>
                    </li>
                </ul>
            </button>
        </div>
    </div>

{% endblock main_page %}

