{% load i18n static cosinnus_tags %}


<button type="button" class="btn w100 btn-emphasized regular-space" href="{% url 'cosinnus:profile-detail' %}">
    <ul class="media-list">
        <li class="media">
            {% if view == "my_profile" %}
	            <a class="pull-left">
	                <i class="fa fa-user"></i>
	            </a>
	            <a class="pull-right" href="#">
	                <i class="fa fa-caret-right"></i>
	            </a>
	        {% elif view == "edit_profile" %}
	           <a class="pull-left">
                    <i class="fa fa-reply"></i>
                </a>
	        {% endif %}
            <div class="media-body">
                {% trans "Über mich" %}
            </div>
        </li>
    </ul>
</button>
