{% load i18n static cosinnus_tags %}


<button type="button" class="btn w100 btn-emphasized regular-space" href="{% url 'cosinnus:profile-detail' %}">
    <ul class="media-list">
        <li class="media">
            {% if view == "my_profile" %}
                <a class="pull-left">
                    <i class="fa fa-user"></i>
                </a>
                <a class="pull-right" href="#">
                    <i class="fa fa-caret-right"></i>
                </a>
            {% elif view == "edit_profile" %}
               <a class="pull-left">
                    <i class="fa fa-reply"></i>
                </a>
            {% else %}
                <a class="pull-left">
                    <i class="fa fa-user"></i>
                </a>
            {% endif %}
            <div class="media-body">
                {% trans "About me" %}
            </div>
        </li>
    </ul>
</button>


<button type="button" class="btn w100 btn-emphasized fine-space" href="{% url 'password_change' %}">
    <ul class="media-list">
        <li class="media">
           <a class="pull-left">
                <i class="fa fa-lock"></i>
            </a>
            {% if view == "change_password" %}
                <a class="pull-right" href="#">
                    <i class="fa fa-caret-right"></i>
                </a>
            {% endif %}
            <div class="media-body">
                {% trans "Change password" %}
            </div>
        </li>
    </ul>
</button>

<button type="button" class="btn w100 btn-emphasized regular-space" href="{% url 'cosinnus:profile-delete' %}">
    <ul class="media-list">
        <li class="media">
           <a class="pull-left">
                <i class="fa fa-times"></i>
            </a>
            {% if view == "delete_profile" %}
                <a class="pull-right" href="#">
                    <i class="fa fa-caret-right"></i>
                </a>
            {% endif %}
            <div class="media-body">
                {% trans "Delete profile" %}
            </div>
        </li>
    </ul>
</button>
