{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags widget_tweaks static thumbnail %}

{% block page_title %}{% trans 'Direct Contact' %}{% endblock %}

{% block main_page %}
    <div class="container user-match">
        <div class="row">
            
            <div class="col-xs-12">
                <div class="textfield transparent">
                    <p>
                        {% comment %} Sending this through |textfield allows markdown formatting {% endcomment %}
                        {% trans "**User-Matching** is your tool for communicating and sharing experiences with like-minded people from all over the world. If you have much to discuss and your chosen person considers it the same, your dialogue will start automatically." as trans_header %}
                        {{ trans_header|textfield }}
                    </p>
                </div>
                <hr class="invisible"/>
            </div>
        
            {% for scored_user_profile in scored_user_profiles %}
                <!-- card -->
                <div class="col-sm-4">
                    <div class="card h-100 white-content" style="margin: 0 20px; padding: 25px;">
                        <div class="card-img-top d-flex flex-column">
                            {% with avatar=scored_user_profile.avatar %}
                                {% if avatar %}
                                    {% include 'cosinnus/user/user_avatar_image.html' with user=scored_user_profile.user image_size="large" %}
                                {% else %}
                                    <img src="{{ COSINNUS_CURRENT_PORTAL.get_domain }}{% static 'images/jane-doe.png' %}" title="{{ scored_user_profile.user|full_name }}{% if extra_title %} - {{ extra_title }}{% endif %}" {% if extra_classes %}class="{{ extra_classes }}"{% endif %} {% if extra_style %}style="{{ extra_style }}" {% endif %} width="264" height="264"></img>
                                {% endif %}
                            {% endwith %}
                        </div>
                        
                        {% include "cosinnus/user/user_match_card.html" with scored_user_profile=scored_user_profile %}
                        
                        <hr class="invisible"/>
                        <form action="{% url 'cosinnus:user-match-match' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ scored_user_profile.user.id }}">
                            <button type="submit" class="rounded-button button-action button-star button-like-dislike-liked w100 regular-space" name="action" value="1">
                                <i class="far fa-star"></i>
                                {% trans 'Wonderful, we definitely have so much to discuss!' %}
                            </button>
                            <button type="submit" class="rounded-button button-action button-star w100 regular-space" name="action" value="0">
                                {% trans 'Looks like we share no common interests' %}
                            </button>
                        </form>
                    </div>        
                </div>
                <!-- card -->
            {% empty %}
                <div class="col-xs-12">
                    <hr class="invisible"/>
                    <div class="textfield transparent">
                        <p>
                            {% comment %} Sending this through |textfield allows markdown formatting {% endcomment %}
                            {% trans "Sorry, but currently, there are no more profiles to show you. Please come back later!" as trans_footer %}
                            {{ trans_footer|textfield }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main_page %}
