{% load i18n static cosinnus_tags djajax_tags %}

{% if profile.cosinnus_conferences %}
<div type="button" class="btn btn-emphasized btn-headline btn-no-interact fine-space section-header">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left btn-extra-emphasized" href="#"></a>
            <a class="pull-left" href="#">
                <i class="fa fa-users"></i>
            </a>
            <div class="media-body">
                {% if request.user.is_authenticated and request.user == this_user %}
                    {{ COSINNUS_CONFERENCE_TRANS.MY_LIST }}
                {% else %}
                    {{ COSINNUS_CONFERENCE_TRANS.VERBOSE_NAME_PLURAL }}
                {% endif %}
            </div>
        </li>
    </ul>
</div>
{% endif %}

{% with conferences=profile.cosinnus_conferences %}
    {% for conference in conferences %}
        {% if not SETTINGS.COSINNUS_USE_V2_DASHBOARD or not group.slug in SETTINGS.NEWW_DEFAULT_USER_GROUPS %}
            <button type="button" class="btn {% if conference.has_ended %} btn-disabled {% else %} btn-default {% endif %} w100 {% if forloop.last %}large{% else %}fine{% endif %}-space" href="{{ conference.get_absolute_url }}">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left">
                            {% include "cosinnus/group/group_avatar_image.html" with group=conference %}
                        </a>
                        <div class="media-body">
                            {{ conference.name }} {% if conference.has_ended %} ({% trans 'ended' %}) {% endif %}</br>
                            {{ conference.from_date }} - {{ conference.to_date }}
                        </div>
                    </li>
                </ul>
            </button>
        {% endif %}
    {% endfor %}
{% endwith %}