{% load static thumbnail cosinnus_tags %}

{% with avatar=user.cosinnus_profile.avatar %}
	{% if avatar %}
	    <img src="{% if image_size == "large" %}{% thumbnail avatar 526x526 crop=1 upscale=1 %}{% elif image_size == "medium" %}{% thumbnail avatar 180x180 crop=1 upscale=1 %}{% else %}{% thumbnail avatar 80x80 crop=1 upscale=1 %}{% endif %}" title="{{ user|full_name }}" {% if extra_classes %}class="{{ extra_classes }}"{% endif %} {% if extra_style %} style="{{ extra_style }}" {% endif %} {% if extra_classes %}class="{{ extra_classes }}" {% endif %}/>
	{% else %}
	    <img src="{% static 'images/jane-doe.png' %}" title="{{ user|full_name }}" {% if extra_classes %}class="{{ extra_classes }}"{% endif %} {% if extra_style %}style="{{ extra_style }}" {% endif %} {% if extra_classes %}class="{{ extra_classes }}" {% endif %}></img>
	{% endif %}
{% endwith %}
