{% load i18n cosinnus_tags %}

<div class="alert alert-warning alert-dismissable">
    <i class="fa fa-info-circle fa-3x"></i>
    <p>
        {% captureas support_email_link %}<a href="mailto:{{ COSINNUS_CURRENT_PORTAL.support_email }}">{{ COSINNUS_CURRENT_PORTAL.support_email }}</a>{% endcaptureas %}
        {% blocktrans with support_email_link=support_email_link %}For spam protection reasons, new accounts are not initially allowed to make posts here. If you would like to post something, please write a short email to {{ support_email_link }} and we will be happy to approve your account!{% endblocktrans %}
    </p>
</div>
