{% load i18n cosinnus_tags widget_tweaks static thumbnail %}

<div class="card-body well textfield">
    <h3 class="card-title">
        <a href="{{ scored_user_profile.get_absolute_url }}" target="_blank">
            {{ scored_user_profile.get_full_name }}
        </a>
    </h3>
    
    <div class="truncated-textfield">
        {% block card_content %}
	        {% if scored_user_profile.description %}
	            <div class="card-text textfield no-padding">
	                {{ scored_user_profile.description|textfield }}
                </div>
	        {% endif %}
        {% endblock %}
    </div>
    <script type="text/javascript">
        $.cosinnus.truncatedTextfield();
    </script>
</div>
<div class="card-footer">   
    {% comment %}
        Some additional information if needed
    {% endcomment %}
</div>
