{% load static thumbnail cosinnus_tags %}

{% with avatar=user.cosinnus_profile.avatar %}
	{% if avatar %}
	    <img src="{% include "cosinnus/user/user_avatar_image_url.html" with user=user %}" title="{{ user|full_name }}{% if extra_title %} - {{ extra_title }}{% endif %}" {% if extra_classes %}class="{{ extra_classes }}"{% endif %} {% if extra_style %} style="{{ extra_style }}"{% endif %}/>
	{% elif show_icon_on_missing %}
	    <i class="fa fa-user"></i>
	{% elif show_v2_icon_on_missing %}
		<i class="fas fa-fw fa-user"></i>
	{% else %}
	    <img src="{{ COSINNUS_CURRENT_PORTAL.get_domain }}{% static 'images/jane-doe.png' %}" title="{{ user|full_name }}{% if extra_title %} - {{ extra_title }}{% endif %}" {% if extra_classes %}class="{{ extra_classes }}"{% endif %} {% if extra_style %}style="{{ extra_style }}" {% endif %}></img>
	{% endif %}
{% endwith %}
