{% extends "cosinnus/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
	   {% trans "Delete user profile" %}
{% endblock %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active"><a href="{% url 'cosinnus:profile-detail' %}">{% trans "Your Profile" %}</a></li>
        <li class="active">{% trans "Delete Profile" %}</li>
{% endblock %}

{% block leftnav %}
    {% include 'cosinnus/user/leftnav.html' with view="delete_profile" %}
{% endblock leftnav %}


{% block content %}
    
    <div class="alert alert-danger alert-dismissable">
	    <i class="fa fa-exclamation-triangle fa-3x"></i>
	    <p>{% trans 'Warning!' %}</p>
	    <p>{% trans "You are about to delete your user account from the site!" %}</p>
	</div>

    <!-- a box with semi transparent background -->
    <div class="content-box">
	    
            <legend>{% trans "Delete user profile" %}</legend>

            <!-- On large screens the long explanation texts are on the right side next to the input elements -->
            <div class="row">
                <!-- explanation text -->
                <div class="col-md-12">
                    <p class="transparent">{% trans "By clicking the button below, you will irrevocably delete your user account, profile and personal information from this site." %}</p><!-- Text here if neccessary -->
                    <p class="transparent">{% trans "Your created documents, news posts, uploaded files, and other content will be retained on the site. However this content will no longer bear your name or be connected to you." %}</p><!-- Text here if neccessary -->
                    <p class="transparent">{% trans "If you wish to delete any of your content, please go back and do so now. Once you delete your profile, you will no longer have any access to anything you have created with this account." %}</p><!-- Text here if neccessary -->
                </div>
            </div><!-- row -->
    </div>
    
    <div class="app-etherpad">
	    <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#delete_confirm_modal">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-check"></i>
	                </a>
	                <div class="media-body">
                        {% trans "Delete Account" %}
	                </div>
	            </li>
	        </ul>
	    </button>
	    
	    {% captureas label %}{% trans "I have understood that any content created by me will be retained on the website. I wish to irrevocably delete my user account:" %} „{{ user|full_name }}“{% endcaptureas %}
        {% captureas title %}{% trans "Delete user account" %}{% endcaptureas %}
        {% include "cosinnus/modal_box.html" with id="delete_confirm_modal" label=label title=title form_action="." %}
        
    </div>

{% endblock %}



