<link rel="stylesheet" type="text/css" href="css/app.css">

<table class="row summary-item"><tbody><tr>
        <th class="small-12 large-1 columns first" valign="middle">
      <table>
        <tr>
          <th>
        <a href="{{object_url}}">
            <img class="level-2" src="{{image_url}}">
        </a>
    </th>
        </tr>
      </table>
    </th>

        <th class="text small-12 large-10 columns last" valign="middle">
      <table>
        <tr>
          <th>
        <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                <span>
                    {{event_text}}
                </span>
            </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
        </tr></tbody></table>

        <table class="row object-name {{type}}"><tbody><tr>
                <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                <h3>
                    {{object_name}}
                </h3>
            </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
        </tr></tbody></table>
        
        <!-- Hey dan! please name the item text preview excerpt variable {{object_text}}! Thanks, Sascha -->
    </th>
        </tr>
      </table>
    </th>
</tr></tbody></table>


