<link rel="stylesheet" type="text/css" href="css/app.css">

<table class="row summary-group"><tbody><tr>
        <th class="items small-10 large-10 columns first" valign="top">
      <table>
        <tr>
          <th>
        <h3>
            <a href="{{group_url}}" target="_blank">
                {{group_name}}
            </a>
        </h3>

                {{ group_body_html }}
    </th>
        </tr>
      </table>
    </th>

        <th class="small-2 large-2 columns last" valign="top">
      <table>
        <tr>
          <th>
        <a href="{{group_url}}" target="_blank">
            <img src="{{image_url}}">
        </a>
    </th>
        </tr>
      </table>
    </th>
</tr></tbody></table>


