<link rel="stylesheet" type="text/css" href="css/app.css">

<table class="row summary-item"><tbody><tr>
        <th class="image small-12 large-1 columns first" valign="top">
      <table>
        <tr>
          <th>
        <a href="{{object_url}}">
            <img class="level-2" src="{{image_url}}">
        </a>
    </th>
        </tr>
      </table>
    </th>

        <th class="text small-12 large-10 columns last" valign="middle">
      <table>
        <tr>
          <th>
        <table class="row event-text"><tbody><tr>
                <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                <a href="{{object_url}}" target="_blank">
                    {{event_text}}

{% if undefined%}                        - {{event_meta}}
{% endif %}                </a>
            </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
        </tr></tbody></table>

        <table class="row object-name {{type}}"><tbody><tr>
                <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                <h3>
                    <a href="{{object_url}}" target="_blank">
                        {{object_name}}
                    </a>
                </h3>
            </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
        </tr></tbody></table>

{% if undefined%}            <table class="row object-text {{type}}"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                    <p>{{object_text}}</p>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
            </tr></tbody></table>
{% endif %}
                {% comment %} render the comment if there is one, using this same template {% endcomment %}
                {% if sub_object_text and sub_image_url %}
                	{% include snippet_template with object_text=sub_object_text image_url=sub_image_url event_meta=sub_event_meta event_text=sub_event_text %}
                {% endif %}
    </th>
        </tr>
      </table>
    </th>
</tr></tbody></table>


