{% extends "admin/change_form.html" %}
{% load i18n admin_urls cosinnus_tags %}

{% block after_related_objects %}
    {{ block.super }}
    
    <div>
        {% with source_object=original.source_object %}
	        <h4>{% trans "Advanced BBB-Room Tools" %}</h4>
	        <p>
	            {% trans "Directly enter the BBB meeting" %}:
	            <a href="{{ original.get_absolute_url }}">{% trans "Join meeting directly" %}</a>
	        </p>
	        <p>
	            {% trans "Enter the BBB meeting in the conference frontend" %}:
	            <a href="{{ source_object.get_absolute_url }}">{% trans "Join meeting in conference frontend" %}</a>
	        </p>
	        <p>
	            {% trans "For options and parameters, go to the parent event's admin page" %}:
	            {% if source_object.get_admin_change_url %}
	                <a href="{{ source_object.get_admin_change_url }}">{% trans "Event admin page" %}</a>
	            {% else %}
	                <i>({% trans "Not implemented for this type of event" %})</i>
	            {% endif %}
	        </p>
	        {% if source_object.group %}
		        <p>
		            {% trans "For further options and parameters, go to the parent conference's admin page" %}:
		            {% if source_object.group.get_admin_change_url %}
		                <a href="{{ source_object.group.get_admin_change_url }}">{% trans "Conference admin page" %}</a>
		            {% else %}
		                <i>({% trans "Not implemented for this type of event" %})</i>
		            {% endif %}
		        </p>
	        {% endif %}
	        
	        <h4>{% trans "Effective BBB-Parameters" %}</h2>
	        <p>
	            {% trans "These parameters will be the effective parameters used for BBB APP-calls for this BBB Room." %}
	        </p>
	        <p>
	            {% comment %} Every object displaying this inline should be inheriting `BBBRoomMixin` {% endcomment %}
	            <pre>{{ source_object.get_finalized_bbb_params | pretty_json }}</pre>
	        </p>
        {% endwith %}
    </div>
{% endblock %}