{% load i18n %}

<div class="btn-group w100 large-space">
    <button type="button" class="btn btn-appnavi dropdown-toggle w100" data-toggle="dropdown">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                </a>
                <!-- TODO: select icon based on group -->
                <a class="pull-left" href="#">
                    <i class="fa fa-book"></i>
                </a>
                <a class="pull-right" href="#">
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="media-body">
                    {% if active_app %}
		              {% for app in apps %}
		                {% if app.active %}
		                  {{ app.label }}
		                {% endif %}
		              {% endfor %}
		            {% else %}
		              {% trans "Choose App" %}
		            {% endif %}
                </div>
            </li>
        </ul>
    </button>
    <ul class="dropdown-menu w100" role="menu">
        {% for app in apps %}
            <li{% if app.active %} class="active"{% endif %}><a href="{{ app.url }}">{{ app.label }}</a></li>
        {% endfor %}
    </ul>
</div><!-- btn-group -->
