{% load static from staticfiles %}
{% load bootstrap3 i18n %}
{% load cosinnus_tags %}
{% load djajax_tags %}
{% load django_select2_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- TODO: override main title that can be extended from (in main app!) -->
        <title>{% block page_title %}{% endblock page_title %}{% block base_page_title %}{% if SETTINGS.COSINNUS_BASE_PAGE_TITLE_TRANS %} - {% trans SETTINGS.COSINNUS_BASE_PAGE_TITLE_TRANS %}{% endif %}{% endblock base_page_title %}</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114-precomposed.png' %}" />
        
        {% block csshead %}
        {% comment %} Statics for Select2, always loaded, but only once {% endcomment %}
        {% import_django_select2_css %}
        {% if SETTINGS.DEBUG %}
		<link rel="stylesheet/less" href="{% static "less/cosinnus.less" %}">
		{% else %}
	    <link href="{% static 'css/cosinnus.css' %}?v=0.12" rel="stylesheet">
		{% endif %}
        
        <link href="{% static 'css/bootstrap3-cosinnus.css' %}" rel="stylesheet">
        <link href="{% static 'css/vendor/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/vendor/select2.css' %}" rel="stylesheet">
        <link href="{% static 'css/vendor/fullcalendar.css' %}" rel="stylesheet">
        <link href="{% static 'css/vendor/lightbox.css' %}" rel="stylesheet">
        <link href="{% static 'css/cosinnus_portal_style.css' %}" rel="stylesheet">
        <link href="{% static COSINNUS_CURRENT_PORTAL.custom_stylesheet_url %}" rel="stylesheet">
        
        {% endblock csshead %}
        
        <script type="text/javascript">
            var cosinnus_base_url = "{{ COSINNUS_BASE_URL|default:'/' }}";
            var cosinnus_active_group = {% if group %}"{{ group.slug }}"{% else %}false{% endif %};
            var cosinnus_active_user = JSON.parse("{{ COSINNUS_USER|escapejs }}");
            var cosinnus_date_format = "{{ COSINNUS_DATE_FORMAT }}";
            var cosinnus_datetime_format = "{{ COSINNUS_DATETIME_FORMAT }}";
            var cosinnus_time_format = "{{ COSINNUS_TIME_FORMAT }}";
            var cosinnus_group_url_path = "{% cosinnus_group_url_path %}";
            var cosinnus_current_language = "{{ COSINNUS_CURRENT_LANGUAGE }}";
            var cosinnus_report_object_url = "{% url 'cosinnus:report-object' %}";
        </script>
        
        <script src="{% static 'js/vendor/jquery-2.1.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/select2.min.js' %}"></script>
        <script src="{% static 'js/vendor/fullcalendar.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.sortElements.js' %}"></script>
        <script src="{% static 'js/vendor/moment-with-langs.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.autogrow-textarea.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.fileupload.js' %}"></script>
        <script src="{% static 'js/lightbox.js' %}"></script>
        {% comment %} Statics for Select2, always loaded, but only once {% endcomment %}
        {% import_django_select2_js %}
        <script src="{% static 'js/cosinnus.js' %}?v0.15"></script>
        <script src="{% localized_js 'cosinnus_formats.js' %}"></script>
        <script src="{% static 'js/cosinnus.feedback.js' %}"></script>
        {% if SETTINGS.DEBUG %}<script src="{% static "js/vendor/less.min.js" %}"></script>{% endif %}
        
        {% captureas cosinnus_css_class %}{% if COSINNUS_CURRENT_APP == 'todo' %}app-todos{% elif COSINNUS_CURRENT_APP == 'note' %}app-main{% elif COSINNUS_CURRENT_APP == 'file' %}app-files{% elif COSINNUS_CURRENT_APP == 'event' %}app-calendar{% elif COSINNUS_CURRENT_APP %}app-{{ COSINNUS_CURRENT_APP }}{% else %}app-main{% endif %} {% if request.path == '/' %}landing{% endif %}{% endcaptureas %}
        
        {% include 'cosinnus/extrahead.html' %}
        {% block extrahead %}{% endblock extrahead %}
        
    </head>
    {% comment %} 'lang=' attribute is required for OSM-Field language definition {% endcomment %}
    <body {% block body_attributes %}{% endblock body_attributes %} lang="{{ COSINNUS_CURRENT_LANGUAGE }}">
    <!-- class="{{ COSINNUS_CURRENT_APP }}" -->
        
        {% include 'cosinnus/extra_body_header.html' %}
        {% block body_header %}{% endblock body_header %}
        
        {% block cosinnus_navbar %}
        	{% cosinnus_menu "cosinnus/navbar.html" %}
        {% endblock cosinnus_navbar %}
        
        
        <div class="{% block container_classes %}container {{ cosinnus_css_class }}{% endblock container_classes %}">
            
            {% block main_page_header %}{% endblock main_page_header %}
            
            {% block main_page %}
                <div class="row">
                    <!-- start with left navigation -->
                    
                    <!-- now the content -->
                    <div class="col-lg-9 col-md-9 pull-right"><!-- right column -->
                        {% block override_breadcrumb %}
                            <ol class="breadcrumb">
                                {% block breadcrumb %}
                                    {% include 'cosinnus/breadcrumb.html' %}
                                {% endblock breadcrumb %}
                            </ol>
                        {% endblock override_breadcrumb %}
                    </div>
                    
                    {% block override_leftnav %}
                    <div class="col-lg-3 col-md-3"><!-- left column -->
                        {% if group %}
                            {% cosinnus_menu "cosinnus/appsmenu.html" %}
                        {% endif %}
                        {% block leftnav %}{% endblock leftnav %}
                        <div class="clearfix regular-space"></div>
                    </div><!-- left column -->
                    {% endblock override_leftnav %}
                    
                    <div class="col-lg-9 col-md-9"><!-- right column -->
                        <div class="row">
                            <div class="col-xs-12">
                                {% include 'cosinnus/messages.html' %}
                                {% block content %}{% endblock content %}
                            </div><!-- col -->
                        </div><!-- row -->
                    </div><!-- right column -->
                
                </div><!-- row -->
            {% endblock main_page %}
                
            {% include 'cosinnus/feedback/report_modal.html' %}
        </div><!-- main container -->
        
        
        
    {% include 'cosinnus/extrafooter.html' %}
    {% block extrafooter %}
        {% djajax generate %}
    {% endblock extrafooter %}
    
  </body>
</html>
