{% extends "cosinnus/base.html" %}
{% load wagtailuserbar %}

{% block js_app_dependencies %}
	{% comment %} 
		We load all the map dependencies here for any CMS page, 
		because we cannot load them with sekizai (thus unique) when we load them in the wagtail block template.
	{% endcomment %}
	{% include 'cosinnus/map/static_dependencies.html' %}
{% endblock js_app_dependencies %}

{% block page_title %}{{ page.title }}{{ block.super }}{% endblock %}

{% block body_attributes %}class="cosinnus-cms"{% endblock body_attributes %}

{% block container_classes %}{{ cosinnus_css_class }}{% endblock container_classes %}

{# Be sure to call {{ block.super }} in extending templates! #}
{% block main_page %}{% wagtailuserbar %}{% endblock main_page %}