{% extends "cosinnus/base.html" %}
{% load i18n bootstrap3 cosinnus_tags djajax_tags %}
{% load static %}

{% block page_title %}{{ group.name }}{% endblock page_title %}

{% block extrahead %}
  <link href="{% static "css/cosinnus.dashboard.css" %}" rel="stylesheet">
{% endblock extrahead %}

{% block og_meta_attributes %}
	{% include 'cosinnus/group/group_og_meta_attributes.html' with group=group %}
{% endblock og_meta_attributes %}

{% block container_classes %}container{% endblock container_classes %}

{% block main_page_header %}
    
    <div class="row app-main">
        <!-- start with left navigation -->
        <div class="{% if COSINNUS_V3_API_CONTENT_ACTIVE %}x-v3-leftnav {% endif %}col-lg-3 col-md-3"><!-- left column -->
            {% if group %}
                {% cosinnus_menu "cosinnus/appsmenu.html" %}
            {% endif %}
        </div><!-- left column -->
        
        <!-- now the content -->
        <div class="col-lg-9 col-md-9"><!-- right column -->
	
			{% if SETTINGS.COSINNUS_ALLOW_DASHBOARD_WIDGET_REARRANGE %}
		    {% if user.is_authenticated and user.pk in group.admins or user.is_superuser %}
		    <button type="button" class="btn btn-emphasized" id="dashboardArrangeInputShow">
		        <ul class="media-list">
		            <li class="media">
		                <span class="pull-left">
		                    <i class="fa {% if edit_mode %}fa-reply{% else %}fa-cogs{% endif %}"></i>
		                </span>
		                <div class="media-body">
		                    {% trans "Rearrange" %}
		                </div>
		            </li>
		        </ul>
		    </button><!-- btn -->
		    
		    <button type="button" class="btn btn-emphasized" id="dashboardArrangeInputSave" style="display: none;">
		        <ul class="media-list">
		            <li class="media">
		                <span class="pull-left">
		                    <i class="fa {% if edit_mode %}fa-reply{% else %}fa-cogs{% endif %}"></i>
		                </span>
		                <div class="media-body">
		                    {% trans "Save" %}
		                </div>
		            </li>
		        </ul>
		    </button><!-- btn -->
		    <button type="button" class="btn btn-default" id="dashboardArrangeInputCancel" style="display: none;">
		        <ul class="media-list">
		            <li class="media">
		                <span class="pull-left">
		                    <i class="fa {% if edit_mode %}fa-reply{% else %}fa-cogs{% endif %}"></i>
		                </span>
		                <div class="media-body">
		                    {% trans "Cancel" %}
		                </div>
		            </li>
		        </ul>
		    </button><!-- btn -->
		    
		    <button type="button" class="btn btn-emphasized" id="dashboardArrangeInputWait" style="display: none;" disabled=1>
		        <ul class="media-list">
		            <li class="media">
		                <span class="pull-left">
		                    <i class="fa fa-cogs"></i>
		                </span>
		                <div class="media-body">
		                    {% trans "Saving..." %}
		                </div>
		            </li>
		        </ul>
		    </button><!-- btn -->
		    {% endif %}
		    {% endif %}

            {% if not COSINNUS_V3_API_CONTENT_ACTIVE %}
                <ol class="breadcrumb">
                    {% include 'cosinnus/breadcrumb.html' %}
                    <li class="active">{{ group.get_group_dashboard_label }}</li>
                </ol>
            {% endif %}
            
    		<div class="clearfix"></div>
            
        </div><!-- right column -->
        
    </div><!-- row -->
    
    
    {% include 'cosinnus/messages.html' %}
    
    {% if SETTINGS.COSINNUS_ALLOW_DASHBOARD_WIDGET_REARRANGE %}
    	<div id="dashboardArrangeMessage" class="alert alert-success alert-dismissable" style="display: none;">
            <i class="fa fa-exclamation fa-3x"></i>
            <h4>{% trans "You are now editing the dashboard's layout" %}</h4>
            <div class="v-offset-s">
	        <p>
	        	{% blocktrans with group.name as team_name %}The layout you choose will be the layout for all members of {{ team_name }}! Click save to apply your changes.{% endblocktrans %}
	        </p>
	        <p>
				{% trans "Drag and drop individual widgets to rearrange their order. Please note that the order you give is only an approximate prioritization for the widgets. After saving, the actual order on the page might differ depending on the widgets' current size and the overall page layout." %}</a>
			</p>
			</div>
	    </div>
    {% endif %}

	
	{% block group_announcements %}
	    
	    
	    {% captureas nag_setting %}microsite_hide_nag__{{ group.id }}{% endcaptureas %}
        {% captureas nag_setting_value %}microsite_hide_nag__{{ group.id }}:true{% endcaptureas %}
	    {% if SETTINGS.COSINNUS_MICROSITES_ENABLED and group.publicly_visible and not SETTINGS.COSINNUS_MICROSITES_DISABLE_NEEDS_LOVE_NAG_SCREEN and not user|cosinnus_setting:nag_setting %}
		    {% comment %} -------    Microsite edit-me message ------------ {% endcomment %}
		    {% if user.is_authenticated and user.pk in group.admins and not group.description_long %}
			    <div class="alert alert-warning alert-dismissable">
		            <i class="fa fa-heart fa-3x"></i>
		            <button id="close_button" type="button" class="close" data-dismiss="alert" aria-hidden="true" {% djajax_connect user.cosinnus_profile.settings trigger_on="click" fixed_value=nag_setting_value %}>&#215;</button>
            
		            <h4>{% trans "Your Microsite needs some love!" %}</h4>
		            <div class="v-offset-s">
			        <p>
			        	{% if group.type == 0 %}
			        		{% trans "The Microsite is your projects's welcome page for everyone checking it out. Make it awesome so they want to join you!" %}
			        	{% else %}
				        	{% trans "The Microsite is your group's welcome page for everyone checking it out. Make it awesome so they want to join you!" %}
			        	{% endif %}
			        </p>
			        <p>
						{% trans "Access it from the top menu or" %} <a href="{% group_url 'cosinnus:group-microsite' group=group %}">{% trans "get started here..." %}</a>
					</p>
					</div>
			    </div>
		    {% endif %}
	    {% endif %}

	    {% captureas cloud_hide_pref %}cloud_group_teaser_{{ group.id }}{% endcaptureas %}
        {% captureas cloud_hide_value %}cloud_group_teaser_{{ group.id }}:true{% endcaptureas %}
	    {% if SETTINGS.COSINNUS_CLOUD_ENABLED and SETTINGS.COSINNUS_CLOUD_SHOW_GROUP_DASHBOARD_NAG_BANNER and user.pk in group.admins and 'cosinnus_cloud' in group.get_deactivated_apps and not user|cosinnus_setting:cloud_hide_pref %}
	       <div class="large-space cloud-teaser-frame">
		        <div class="alert alert-black-white no-margin alert-dismissable">
	                <i class="fa fa-cloud fa-3x"></i>
	                <button id="close_button" type="button" class="close" onclick="$('.cloud-teaser-frame').hide();" aria-hidden="true" {% djajax_connect user.cosinnus_profile.settings trigger_on="click" fixed_value=cloud_hide_value %}>&#215;</button>
	                {% include 'cosinnus/texts/group_dashboard_cloud_teaser_text.html' %}
	            </div>
	            
	            <form method="POST" action="{% group_url 'cosinnus:group-activate-app' group=group %}" class="cosinnus-form form-horizontal app-main">{% csrf_token %}
	                <input type="hidden" name="app" value="cosinnus_cloud" />
		            <button type="submit" class="btn btn-emphasized">
			            <ul class="media-list">
			                <li class="media">
			                    <span class="pull-left">
			                        <i class="fa fa-cloud"></i>
			                    </span>
			                    <div class="media-body">
			                          {% trans "Activate Cloud" %}
			                    </div>
			                </li>
			            </ul>
			        </button>
		        </form>
		        <div class="clearfix"></div>
	        </div>
	    {% endif %}

	    {% captureas nag_mitwirkomat_setting %}microsite_hide_mitwirkomat_nag__{{ group.id }}{% endcaptureas %}
        {% captureas nag_mitwirkomat_setting_value %}microsite_hide_mitwirkomat_nag__{{ group.id }}:true{% endcaptureas %}
	    {% if SETTINGS.COSINNUS_MITWIRKOMAT_INTEGRATION_ENABLED and not SETTINGS.COSINNUS_MITWIRKOMAT_DISABLE_NEEDS_LOVE_NAG_SCREEN and not user|cosinnus_setting:nag_mitwirkomat_setting %}
            {% if not group.mitwirkomat_settings or not group.mitwirkomat_settings.is_active %} {# hide the nag screen if MoM-settings are actually active #}
                {% if user.is_authenticated and user.pk in group.admins and not group.description_long %}
                    <div class="alert alert-warning alert-dismissable">
                        <i class="{% if SETTINGS.COSINNUS_V3_FRONTEND_EVERYWHERE_ENABLED %}fas fa-comment-alt-check{% else %}fas fa-comment-alt{% endif %} fa-3x"></i>
                        <button id="close_button" type="button" class="close" data-dismiss="alert" aria-hidden="true" {% djajax_connect user.cosinnus_profile.settings trigger_on="click" fixed_value=nag_mitwirkomat_setting_value %}>&#215;</button>

                        <h4>{% trans "Looking for new members? Join the Volunteer-O-Matic!" %}</h4>
                        <div class="v-offset-s">
                        <p>
                            {% trans "The Volunteer-O-Matic is a playful matching tool that helps users to find groups and projects where they can get involved. Simultaneously, the tool can help groups and projects like yours to find new volunteers." %}
                        </p>
                        <p>
                            <a href="{% group_url 'cosinnus:mitwirkomat-settings' group=group %}">{% trans "Join now" context "Mitwirkomat" %}</a>
                        </p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
	    {% endif %}
	

        {% captureas deck_hide_pref %}deck_group_teaser_{{ group.id }}{% endcaptureas %}
        {% captureas deck_hide_value %}deck_group_teaser_{{ group.id }}:true{% endcaptureas %}
        {% if SETTINGS.COSINNUS_DECK_ENABLED and user.pk in group.admins and 'cosinnus_deck' in group.get_deactivated_apps and not user|cosinnus_setting:deck_hide_pref %}
            <div class="large-space deck-teaser-frame">
                <div class="alert alert-black-white no-margin alert-dismissable">
                    <i class="fa fa-sticky-note fa-3x"></i>
                    <button id="close_button" type="button" class="close" onclick="$('.deck-teaser-frame').hide();" aria-hidden="true" {% djajax_connect user.cosinnus_profile.settings trigger_on="click" fixed_value=deck_hide_value %}>&#215;</button>
                    <h4>{% trans "The Task Board is here!" %}</h4>
                    <div class="v-offset-s">
                        <p>
                            {{ group.trans.DECK_TEASER }}
                        </p>
                    </div>
                </div>

                <form method="POST" action="{% group_url 'cosinnus:group-activate-app' group=group %}" class="cosinnus-form form-horizontal app-main">{% csrf_token %}
                    <input type="hidden" name="app" value="cosinnus_deck" />
                    <button type="submit" class="btn btn-autosize btn-emphasized">
                        <ul class="media-list">
                            <li class="media">
			                    <span class="pull-left">
			                        <i class="fa fa-sticky-note"></i>
			                    </span>
                                <div class="media-body">
                                    {% trans "Activate Task Board" %}
                                </div>
                            </li>
                        </ul>
                    </button>
                </form>
                <div class="clearfix"></div>
            </div>
        {% endif %}

	{% endblock group_announcements %}


    <div class="dashboard-header">
        <div class="dashboard-header-image">
            <a title="{% trans "Members-Map" %}" href="{% group_url 'cosinnus:group-detail' group=group %}">
                {% include "cosinnus/group/group_avatar_image.html" with group=group %}
            </a>            
        </div>
        <div class="dashboard-header-text {% if SETTINGS.COSINNUS_GROUP_DASHBOARD_HEADER_TEXT_EXPANDED %} dashboard-header-text-expanded {% endif %}">
            <div class="multiline-ellipsis">
                <div class="multiline-ellipsis-prop"></div>
                <div class="multiline-ellipsis-main">
                    {% if user.pk in group.members or user in group.admins or not user.is_authenticated %}
                    	
                        {% block dashboard_apps %}
                            {% block cloud_app %}
                                {% if "cloud" in object_counts %}
                                    <div class="dashboard-header-link app-cloud mobile-hidden">
                                        <a href="{% group_url 'cosinnus:cloud:index' group=group %}" {% if SETTINGS.COSINNUS_CLOUD_OPEN_IN_NEW_TAB %}target="_blank"{% endif %}>
                                            <i class="fa fa-cloud"></i>
                                            {% comment %} 
                                                This count is not known at load time, and will be JS-patched in with the 
                                                `Latest` widget in "cosinnus_cloud/widgets/latest.html".
                                            {% endcomment %}
                                            <span>&nbsp;</span>
                                            {% trans "Cloud" %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endblock cloud_app %}
                            {% block file_app %}
                                {% if not SETTINGS.COSINNUS_SOFT_DISABLE_COSINNUS_FILE_APP %}
                                    {% if "file" in object_counts %}
                                        <div class="dashboard-header-link app-files mobile-hidden">
                                            <a href="{% group_url 'cosinnus:file:list' group=group %}">
                                                <i class="fa fa-file"></i>
                                                <span>{{ object_counts.file }}</span>
                                                {% if object_counts.file == 1 %}{% trans "File" %}{% else %}{% trans "Files" %}{% endif %}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endblock file_app %}
                            {% block etherpad_app %}
                                {% if "etherpad" in object_counts %}
                                    <div class="dashboard-header-link app-etherpad mobile-hidden">
                                        <a href="{% group_url 'cosinnus:etherpad:list' group=group %}">
                                            <i class="fa fa-file-text-o"></i>
                                            <span>{{ object_counts.etherpad }}</span>
                                            {% if object_counts.etherpad == 1 %}{% trans "Etherpad" %}{% else %}{% trans "Etherpads" %}{% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endblock etherpad_app %}
                            {% block poll_app %}
                            {% if "poll" in object_counts %}
                                <div class="dashboard-header-link app-poll mobile-hidden">
                                    <a href="{% group_url 'cosinnus:poll:list' group=group %}">
                                        <i class="fa fa-bar-chart"></i>
                                        <span>{{ object_counts.poll }}</span>
                                        {% if object_counts.poll == 1 %}{% trans "Poll" %}{% else %}{% trans "Polls" %}{% endif %}
                                    </a>
                                </div>
                            {% endif %}
                            {% endblock poll_app %}
                            {% block todo_app %}
                                {% if "todo" in object_counts %}
                                    <div class="dashboard-header-link app-todos mobile-hidden">
                                        <a href="{% group_url 'cosinnus:todo:list' group=group %}">
                                            <i class="fa fa-tasks"></i>
                                            <span>{{ object_counts.todo }}</span>
                                            {% if object_counts.todo == 1 %}{% trans "Todo" %}{% else %}{% trans "Todos" %}{% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endblock todo_app %}
                            {% block marketplace_app %}
                                {% if "marketplace" in object_counts %}
                                    <div class="dashboard-header-link app-marketplace mobile-hidden">
                                        <a href="{% group_url 'cosinnus:marketplace:list' group=group %}">
                                            <i class="fa fa-exchange"></i>
                                            <span>{{ object_counts.marketplace }}</span>
                                            {% if object_counts.marketplace == 1 %}{% trans "Marketplace" %}{% else %}{% trans "Marketplace" %}{% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endblock marketplace_app %}
                            {% block event_app %}
                                {% if "event" in object_counts %}
                                    <div class="dashboard-header-link app-calendar mobile-hidden">
                                        <a href="{% group_url 'cosinnus:event:list' group=group %}">
                                            <i class="fa fa-calendar"></i>
                                            <span>{{ object_counts.event }}</span>
                                            {% if object_counts.event == 1 %}{% trans "Event" context "Calendar" %}{% else %}{% trans "Events" context "Calendar" %}{% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endblock event_app %}
                            {% block note_app %}
                                {% if "note" in object_counts %}
                                    <div class="dashboard-header-link app-main mobile-hidden">
                                        <a href="{% group_url 'cosinnus:note:list' group=group %}">
                                            <i class="fas fa-broadcast-tower"></i>
                                            <span>{{ object_counts.note }}</span>
                                            {% if object_counts.todo == 1 %}{% trans "News" %}{% else %}{% trans "News" %}{% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endblock note_app %}
                            {% block video_conference_meeting %}
                                {% if group.video_conference_type %}
                                    <div class="dashboard-header-link app-calendar mobile-hidden">
                                        <a href="{% group_url 'cosinnus:group-meeting' group=group %}">
                                            <i class="fa fa-eye"></i>
                                            {% trans "Video conference" %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endblock video_conference_meeting %}
                            {% block third_party_tools %}
                                {% if group.third_party_tools %}
                                    {% for third_party_tool in group.third_party_tools %}
                                        <div class="dashboard-header-link app-main mobile-hidden">
                                            <a href="{{ third_party_tool.url }}" target="_blank">
                                                <i class="fa fa-external-link"></i>
                                                <span>&nbsp;</span>
                                                {{ third_party_tool.label|linebreaksbr }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endblock third_party_tools %}
                        {% endblock dashboard_apps %}
                        
                    {% elif user.pk in group.pendings %}
                        <div class="dashboard-header-link app-etherpad" data-toggle="modal" data-target="#join_withdraw_modal">
                            <a href="#">
                                <i class="fa fa-sign-out"></i>
                                <span>{% trans "Withdraw" context "withdraw join team button first item" %}</span>
                                {% trans "Request" context "withdraw join team button second item" %}
                            </a>
                        </div>
                        <div class="dashboard-header-link app-main">
                            <i class="fa fa-info-circle"></i>
                            <span>{% trans "Join" context "join request pending team button first item" %}</span>
                            {% trans "Requested" context "join request pending team button second item" %}
                        </div>
                        {% captureas label %}{% blocktrans with title=group.name %}Do you really want to withdraw your join request to „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
                        {% captureas title %}{% trans "Withdraw Join Request" %}{% endcaptureas %}
                        {% captureas action %}{% group_url 'cosinnus:group-user-withdraw' group=group %}{% endcaptureas %}
                        {% include "cosinnus/modal_box.html" with id="join_withdraw_modal" label=label title=title form_action=action %}
                    {% else %}
                        <div class="dashboard-header-link app-main" data-toggle="modal" data-target="#join_withdraw_modal">
                            <a href="#">
                                <i class="fa fa-sign-in"></i>
                                <span>{% trans "Join" context "join team button first item" %}</span>
                                {% trans "Now" context "join team button second item" %}
                            </a>
                        </div>
                        {% captureas label %}{% blocktrans with title=group.name %}Do you wish to request to join „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
                        {% captureas title %}{% trans "Join" %}{% endcaptureas %}
                        {% captureas action %}{% group_url 'cosinnus:group-user-join' group=group %}{% endcaptureas %}
                        
                        {% include "cosinnus/modal_box.html" with id="join_withdraw_modal" label=label title=title form_action=action %}
                    {% endif %}
                    
                    <h2>
                    	{{ group.name }}
	                    {% if group.facebook_group_id %}
	                    		&nbsp;<a href="https://facebook.com/{{ group.facebook_group_id}}/" target="_blank" title="{% trans "View on Facebook" %}"><i class="fa fa-facebook-square"></i></a>
	                    {% elif group.facebook_page_id %}
	                    		&nbsp;<a href="https://facebook.com/{{ group.facebook_page_id}}/" target="_blank" title="{% trans "View on Facebook" %}"><i class="fa fa-facebook-square"></i></a>
	                    {% endif %}
	                    
                    </h2>
                    
                    {% if SETTINGS.COSINNUS_SHOW_LIKES_BOOKMARKS_FOLLOWS_BUTTONS and request.user.is_authenticated and not request.user.is_guest %}
                        <div>
                            {% if group.type == 0 %}
                                {% trans "You will now receive notifications whenever public content is posted in this project." as follow_success_message %}
                            {% else %}
                                {% trans "You will now receive notifications whenever public content is posted in this group." as follow_success_message %}
                            {% endif %}
                            {% include 'cosinnus/common/likefollowstar/star_button.html' with object=group filled=True %}
                            {% include 'cosinnus/common/likefollowstar/follow_button.html' with object=group success_message=follow_success_message %}
                            {% include 'cosinnus/common/likefollowstar/confirm_likefollowstar_modal.html' with object=group %}
                        </div>
                    {% endif %}
                        
                    {% with parent_group=group.get_parent_typed %}
                        {% if parent_group %}
                            <p><i>{{ parent_group.trans.VERBOSE_NAME }}: <a href="{{ parent_group.get_absolute_url }}">{{ parent_group.name }}</a></i></p>
                        {% endif %}
                    {% endwith %}
                    
                    <p></p>
                    {% if group.description and group.description|length > 0 %}
                        <div class="textfield transparent">{{ group.description|textfield }}</div>
                    {% else %}
                        <p>
                            <i>{% trans "No Description set" %}</i>
                        </p>
                    {% endif %}
                    
                        
                    {% block group_metadata %}
	                    {% with  topics=group.media_tag_object.topics %}
	                        {% if topics %}
	                            <p>
		                           {% trans "Topics" %}: {% render_cosinnus_topics topics %}
	                            </p>
		                    {% endif %}
	                    {% endwith %}
	                    
	                    {% comment %}  
	                        For portals that have COSINNUS_MANAGED_TAGS_ENABLED enabled, show the tags here
	                    {% endcomment %}
                        {% if SETTINGS.COSINNUS_MANAGED_TAGS_ENABLED %}
                            {% with managed_tags=group.get_managed_tags %}
                                {% if managed_tags %}
                                    <p>
                                        {{ COSINNUS_MANAGED_TAG_LABELS.MANAGED_TAG_NAME }}:
	                                    {% for tag in managed_tags %}
	                                        <a target="_blank" href="{{ tag.get_absolute_url }}" {% if not tag.get_absolute_url %}disabled{% endif %}>
	                                            <b>{{ tag.name }}</b>{% if not forloop.last %}, {% endif %}
	                                        </a>
	                                    {% endfor %}
                                    </p>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endblock group_metadata %}
                    
					<p class="group-microsite-created-updated-timestamp">
						<i>{% trans "Created on: " %}</i>{{ group.created|date:"SHORT_DATE_FORMAT" }}
						<br>
						<i>{% trans "Last updated on: " %}</i>{{ group.last_modified|date:"SHORT_DATE_FORMAT" }}
					</p>

                    </div>
                <div class="multiline-ellipsis-realend"><a href="#">....{% trans "more" %}</a></div>
            </div>
        </div>
    </div>
    
    {% if SETTINGS.COSINNUS_GROUP_DASHBOARD_EMBED_HTML_FIELD_ENABLED and group.embedded_dashboard_html %}
        {% if user.pk in group.members %}
	        {% block group_dashboard_embedded_html %}
	            <div class="dashboard-embedded-html">
	                {% render_embedded_html_with_variables group.embedded_dashboard_html %}
	            </div>
	        {% endblock %}
        {% endif %}
    {% endif %}
    
    
{% endblock main_page_header %}
            

{% block main_page %}
    {% include 'cosinnus/extra_body_header.html' %}
    <div class="row" id="dashboard">
        <div class="col-xs-12 hidden" id="dashboard-unsorted">
        {% for widget in widgets %}
            {% cosinnus_render_widget widget %}
        {% endfor %}          
        </div>
        <div class="col-sm-6 col-md-4" id="dashboard-col1">
        </div>
        <div class="col-sm-6 col-md-4 hidden-xs" id="dashboard-col2">
        </div>
        <div class="col-md-4 hidden-xs hidden-sm" id="dashboard-col3">
        </div>
    </div><!-- row -->
{% endblock main_page %}


{% block extrafooter %}
  {{ block.super }}

  <script src="{% static "js/cosinnus.dashboard.js" %}?v=0.3"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var dashboard = window.Cosinnus.dashboard.init("#dashboard", {% if group.slug %}"{{ group.slug }}"{% else %}null{% endif %});
    });
  </script>
{% endblock %}
