{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags %}
{% load static from staticfiles %}

{% block page_title %}{% trans "Dashboard" %}{% endblock %}

{% block extrahead %}
  <link href="{% static "css/cosinnus.dashboard.css" %}" rel="stylesheet">
{% endblock extrahead %}

{% block content_title %}{% trans "Dashboard" %}{% endblock content_title %}

{% block content %}
  <div id="dashboard" class="row dashboard">
    {% for id in widgets %}
      <div class="col-md-4" data-widget-id="{{ id }}" data-type="widget">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span data-target="widget-title">&nbsp;</span>
              <div class="btn-group pull-right">
                <button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown"> <span class="caret"></span></button>
                <ul class="dropdown-menu" data-target="widget-menu"></ul>
              </div>
            </h3>
          </div>
          <div class="panel-body" data-target="widget-content"></div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block extrafooter %}
  {{ block.super }}
  <script src="{% static "js/cosinnus.dashboard.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var dashboard = window.Cosinnus.dashboard.init("#dashboard", '{% url "cosinnus:index" %}');
    });
  </script>
{% endblock %}