{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags %}

{% block page_title %}
  {% blocktrans with group_name=object.name %}Group “{{ group_name }}”{% endblocktrans %}
{% endblock %}

{% block content_title %}
  {% blocktrans with group_name=object.name %}
  Group “{{ group_name }}”
  {% endblocktrans %}
  {% if user.is_superuser or user|is_group_admin:object %}
    <div class="btn-group pull-right">
      <a href="{% url 'cosinnus:group-edit' group=object.slug %}" class="btn btn-primary">{% trans "Edit" %}</a>
      {% if user.is_superuser %}
        <a href="{% url 'cosinnus:group-delete' group=object.slug %}" class="btn btn-primary">{% trans "Delete" %}</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock content_title %}

{% block content %}
<div class="row">
  <div class="span4">
    <h3>{% trans "Group members" %}</h3>
    <ul class="media-list">
      {% for user in users %}
        <li class="media">
          <a class="pull-left" href="{% url 'cosinnus:user-detail' username=user.get_username %}">
            {% if user.cosinnus_profile.avatar %}
              <img class="avatar" src="{{ user.cosinnus_profile.avatar.url }}">
            {% else %}
              <img class="avatar" src="http://placehold.it/30x30">
            {% endif %}
          </a>
          <div class="media-body">
            <a class="pull-left" href="{% url 'cosinnus:user-detail' username=user.get_username %}">{{ user.get_full_name|default:user.get_username }}</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="span6">
    <div id="map" style="height: 640px;"></div>
  </div>
</div>
{% endblock %}
