{% extends "cosinnus/base.html" %}
{% load i18n bootstrap3 %}

{% block page_title %}
  
{% endblock %}

{% block content_title %}
  
{% endblock content_title %}

{% block content %}
  <form action="" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% trans "Cancel" as reset_label %}
    {% url 'cosinnus:group-dashboard' group=group.slug as reset_link %}
    {% buttons layout='horizontal' %}
      {% bootstrap_button submit_label button_type="submit" css_classes=submit_css_classes %}
      {% bootstrap_button reset_label link=reset_link %}
    {% endbuttons %}
  </form>
{% endblock content %}
