{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags %}

{% block page_title %}{% trans "Groups" %}{% endblock %}

{% block content %}
  {% if object_list %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>{% trans "Group name" %}</th>
          <th>{% trans "Joined" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for group in object_list %}
        <tr>
          {% if user|is_group_member:group or group.public %}
            <td>
              <a href="{% url 'cosinnus:group-detail' group=group.slug %}">{{ group.name }}</a>
            </td>
          {% else %}
            <td>
              {{ group.name }}
            </td>
          {% endif %}

          {% if not user.is_authenticated %}
            <td></td>
          {% elif user|is_group_member:group %}
            <td>
              <a href="">{% trans "Leave" %}</a>
            </td>
          {% elif user|is_group_pending:group %}
            <td>
              <a href="">{% trans "Withdraw" %}</a>
            </td>
          {% else %}
            <td>
              <a href="">{% trans "Join" %}</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    {% trans "There are no groups." %}
  {% endif %}
{% endblock %}
