{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags %}

{% block page_title %}{% trans "Groups" %}{% endblock %}

{% block content %}
  {% if rows %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>{% trans "Group name" %}</th>
          {% if user.is_authenticated %}
            <th>{% trans "Joined" %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if user.is_authenticated %}
          {% for group, members, pendings in rows %}
            <tr>
              {% if user.pk in members or group.public %}
                <td>
                  <a href="{% url 'cosinnus:group-detail' group=group.slug %}">{{ group.name }}</a>
                </td>
              {% else %}
                <td>
                  {{ group.name }}
                </td>
              {% endif %}

              {% if user.pk in members %}
                <td>
                  <a href="">{% trans "Leave" %}</a>
                </td>
              {% elif user.pk in pendings %}
                <td>
                  <a href="">{% trans "Withdraw" %}</a>
                </td>
              {% else %}
                <td>
                  <a href="">{% trans "Join" %}</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        {% else %}
          {% for group in object_list %}
            <tr>
              <td><a href="{% url 'cosinnus:group-detail' group=group.slug %}">{{ group.name }}</a></td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  {% else %}
    {% trans "There are no groups." %}
  {% endif %}
{% endblock %}
