<button type="button" class="btn w100 btn-{% if active %}extra-{% endif %}emphasized {{ extra_classes }}" href="{{ href }}" {% if extra_atts %}{{ extra_atts }}{% endif %}>
{% comment %} <button type="button" class="btn w100 btn{% if active %}-extra{% endif %}-emphasized {{ extra_classes }}" href="{{ href }}"> {% endcomment %}
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                {% if icon_content %}
                    {{ icon_content }}
                {% else %}
                    <i class="fa {{ icon }}"></i>
                {% endif %}
            </a>
            <div class="media-body">
                {{ label }}
            </div>
        </li>
    </ul>
</button>