{% load i18n static cosinnus_tags widget_tweaks %}

{% captureas cosinnus_app_list_url %}cosinnus:{{ COSINNUS_CURRENT_APP }}:list{% endcaptureas %}

{% if current_folder and current_folder.path != '/' %}
    {% if current_folder.container and current_folder.container.path != '/' %}
        {% captureas href %}{% url cosinnus_app_list_url group=group.slug slug=current_folder.container.slug %}{% endcaptureas %}
        {% captureas label %}{% trans "Zurück zu" %} {{ current_folder.container.title }}{% endcaptureas %}
        {% include "cosinnus/leftnav_button.html" with extra_classes="fine-space" icon="fa-reply" label=label href=href  %}
    {% else %}
	    {% captureas href %}{% url cosinnus_app_list_url group=group.slug %}{% endcaptureas %}
	    {% captureas label %}{% trans "Zurück zu" %} {% trans COSINNUS_CURRENT_APP context "toplevel_breadcrumb" %}{% endcaptureas %}
	    {% include "cosinnus/leftnav_button.html" with extra_classes="fine-space" icon="fa-reply" label=label href=href  %}
    {% endif %}
{% endif %}

{% for folder in folders %}
    {% captureas href %}{% url cosinnus_app_list_url group=group.slug slug=folder.container_object.slug %}{% endcaptureas %}
    {% captureas label %}{{ folder.container_object.title }}{% endcaptureas %}
    {% captureas button_class %}{% if forloop.last %}regular-space{% else %}fine-space{% endif %}{% endcaptureas %}
    {% if not is_deep_hierarchy or is_deep_hierarchy == False %}
        {% captureas folder_size %}{{ folder.objects|length }}{% endcaptureas %}
    {% endif %}
    {% captureas active %}{% if current_folder and folder.name == current_folder.slug %}True{% endif %}{% endcaptureas %}
    {% include "cosinnus/leftnav_button.html" with active=active extra_classes=button_class icon="fa-folder" icon_content=folder_size label=label href=href  %}
{% endfor %}

<form action="" name="container_form" method="post"class="form-horizontal">{% csrf_token %}
    <div type="button" class="btn btn-default w100">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-plus"></i>
                </a>
                <div class="media-body">
                    {{ container_form.title.errors }}
                    <!-- use spaces for centering. CSS padding does not work here. -->
                    {% captureas placeholder %}{% trans "Neuer Ordnername" %}{% endcaptureas %}
                    {% render_field container_form.title class+="form-control next-button-is-for-sending" placeholder=placeholder %}
                    <!-- next-button-is-for-sending -->
                </div>
            </li>
        </ul>
    </div>
    <button type="submit"  name="create_container" class="btn btn-emphasized large-space" style="display: none;">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
                <div class="media-body">
                    {% trans "Create folder" %}
                </div>
            </li>
        </ul>
    </button>
</form>
