<button type="button" class="btn w100 btn{% if active %}-extra{% endif %}-emphasized {{ extra_classes }}">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="{{ href }}">
                {% if icon_content %}
                    {{ icon_content }}
                {% else %}
                    <i class="fa {{ icon }}"></i>
                {% endif %}
            </a>
            <a class="pull-right" href="#"></a><!-- only block width -->
            <div class="media-body">
                {{ label }}
            </div>
        </li>
    </ul>
</button>