{% load i18n cosinnus_tags %}

{% if object.media_tag_object.location %}
	<legend>{% trans "My location" %}</legend>
	<p class="transparent">
	    <i class="fa fa-fw fa-map-marker"></i> <a href="{{ object.media_tag_object.location_url }}" target="_blank">{{ object.media_tag_object.location }}</a>
	</p>
{% endif %}

{% with topics=object.media_tag_object.topics %}
	{% if topics %}
		<legend>{% trans "Topics I am interested in" %}</legend>
	    {% comment %} Approach disabled for now 
		{% if object.media_tag_object.approach %}
			<p class="transparent">
			    <i class="fa fa-fw fa-bolt"></i> {{ object.media_tag_object.get_approach_display }}
			</p>
		{% endif %}
		{% endcomment %}
		<p class="transparent">
		    <i class="fa fa-fw fa-lightbulb-o"></i> 
	        {% render_cosinnus_topics topics %}
		</p>
	{% endif %}
{% endwith %}

{% with tags=object.media_tag_object.tags.all %}
    {% if SETTINGS.COSINNUS_TAGS_ENABLED and tags %}
        <legend>{% trans "What I wish to learn" %}</legend>
        <p class="transparent">
            <i class="fa fa-fw fa-bolt"></i> 
            {% for tag in tags %}
                {{ tag }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endwith %}

{% comment %} The new redesign "Contact infos" {% endcomment %}
{% if object.dynamic_fields.contact_infos %}
    <legend>{% trans "Contact Infos" %}</legend>
    {% for contact_entry in object.dynamic_fields.contact_infos %}
        {% if contact_entry.type and contact_entry.value %}
            <p class="transparent">
                {% if contact_entry.type == "email" %}
		            <i class="fa fa-fw fa-envelope"></i> 
		            <a href="mailto:{{ contact_entry.value }}" target="_blank">{{ contact_entry.value }}</a>
                {% elif contact_entry.type == "url" %}
                    <i class="fa fa-fw fa-globe"></i> 
                    <a href="{{ contact_entry.value }}" target="_blank">{{ contact_entry.value }}</a>
                {% elif contact_entry.type == "social_media_url" %}
                  <i class="fa fa-fw fa-globe"></i>
                  <a href="{{ contact_entry.value }}" target="_blank">{{ contact_entry.value }}</a>
                {% elif contact_entry.type == "phone_number" %}
                    <i class="fa fa-fw fa-phone"></i> 
                    <a href="tel:{{ contact_entry.value }}" target="_blank">{{ contact_entry.value }}</a>
                {% endif %}
	        </p>
        {% endif %}
    {% endfor %}
{% endif %}

{% comment %} Faked to 'all' {% endcomment %}
<legend>{% trans "Visibility" %}</legend>
<p class="transparent">
    {% if object.media_tag_object.visibility == 1 %}
        <i class="fa fa-fw fa-user"></i> 
        {% trans "Logged in Members only" %}
    {% elif object.media_tag_object.visibility == 2 %}
        <i class="fa fa-fw fa-users"></i> 
        {% trans "Everybody" %}
    {% else %}
        <i class="fa fa-fw fa-user"></i> 
        {% trans "Team members only" %}
    {% endif %}
</p>
