{% load i18n %}

<!-- Modal -->
{% if not show_inline %}
<div class="modal fade" id="{{ id }}" tabindex="1" role="dialog" aria-labelledby="{{ id }}Label" aria-hidden="true">
{% endif %}
    <div class="modal-dialog {{ extra_modal_classes }}">
        <div class="modal-content">
            <div class="modal-header">
                
                {% if not show_inline %}
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                {% endif %}
                <h4 class="modal-title no-select" id="{{ id }}Label">
                    {% if title_icon_full_class %}
                    <i class="{{ title_icon_full_class }}"></i>
                    {% elif title_icon %}
                    <i class="fa {{ title_icon }}"></i>
                    {% else %}
                    <i class="fa fa-eraser"></i>
                    {% endif %}
                    {{ title }}
                </h4>
            </div>
            
            {% if form_action %}
            <form action="{{ form_action }}" method="post" class="form-horizontal">{% csrf_token %}
            {% endif %}
            
            <div class="modal-body">
                {{ label|safe }}
            </div>
            {% if not hide_footer %}
            <div class="modal-footer">
                {% if not hide_submit_button %}
                <button type="submit" id="{{ id }}_btnsubmit" class="submit-btn-x btn btn-emphasized {% if large_buttons %}btn-autosize{% endif %}" {% if not form_action %}data-dismiss="modal"{% endif %} {% if disable_on_submit %}onclick="setTimeout(function(){$('#{{ id }}_btnsubmit').attr('disabled', true);},50);"{% endif %} {% if submit_name %}name="{{ submit_name }}"{% endif%} {% if submit_value %}value="{{ submit_value }}"{% endif%}>
                    <ul class="media-list">
                        <li class="media">
                            <span class="pull-left">
                                <i class="fa {% if submit_button_icon %}{{ submit_button_icon }}{% else %}fa-check{% endif %}"></i>
                            </span>
                            <div class="media-body">
                                {% if submit_button_label %}{{ submit_button_label }}{% else %}{% trans "OK" %}{% endif %}
                            </div>
                        </li>
                    </ul>
                </button>
                {% endif %}
                {% if form_action and not hide_cancel_button %}
	                <button type="button" class="btn btn-emphasized {% if large_buttons %}btn-autosize{% endif %}" data-dismiss="modal">
	                    <ul class="media-list">
	                        <li class="media">
	                            <span class="pull-left">
	                                <i class="fa {% if cancel_button_icon %}{{ cancel_button_icon }}{% else %}fa-times{% endif %}"></i>
	                            </span>
	                            <div class="media-body">
	                                {% if cancel_button_label %}{{ cancel_button_label }}{% else %}{% trans "Cancel" %}{% endif %}
	                            </div>
	                        </li>
	                    </ul>
	                </button>
	                {% if form_extra_fields %}
	                    {{ form_extra_fields }}
	                {% endif %}
                {% endif %}

                {% if custom_button_html %}
                    {{ custom_button_html }}
                {% endif %}
            </div>
            {% endif %}
            {% if form_action %}
            </form>
            {% endif %}
        </div>
    </div>
   
{% if not show_inline %}
</div><!-- modal -->
{% endif %}