{% load i18n static cosinnus_tags thumbnail %}

{% if SETTINGS.COSINNUS_NAVBAR_GROUP_MENU_VISIBLE %}
	{% if societies or societies_invited %}
	    <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            {% trans "Groups" %}
	            {% if societies_invited and societies_invited|length > 0 %}
	                (+{{ societies_invited|length }})
	            {% endif %}
	            <i class="fa fa-caret-down"></i>
	        </a>
	        <ul class="dropdown-menu scrollable-dropdown-desktop-only">
	            {% for g in societies %}
	                <li{% if g == appsmenu_society %} class="active"{% endif %}><a href="{% group_url 'cosinnus:group-dashboard' group=g %}">{{ g.name }}</a></li>
	            {% endfor %}
	            {% if societies|length > 30 %}
	            	<li><a href="{% url 'cosinnus:group__group-list' %}...</a></li>
	            {% endif %}
	            {% if societies_invited %}
	                {% for g in societies_invited|slice:":30" %}
	                    <li class="inactive{% if g == appsmenu_society %} active{% endif %}"><a href="{% group_url 'cosinnus:group-dashboard' group=g %}">{{ g.name }} ({% trans "Invited to be a member" %})</a></li>
	                {% endfor %}
	                {% if societies_invited|length > 30 %}
	                	<li>...</li>
	                {% endif %}
	            {% endif %}
	            <li class="divider"></li>
	            {% if societies_invited %}
	                <li><a href="{% url 'cosinnus:group__group-list-invited' %}">{% trans "Invited Groups" %}</a></li>
	            {% endif %}
	            {% if societies %}
	            	<li><a href="{% url 'cosinnus:group__group-list-mine' %}">{% trans "My Groups" %}</a></li>
	            {% endif %}
	            <li><a href="{% url 'cosinnus:group__group-list' %}">{% trans "All Groups" %}</a></li>
	        </ul>
	    </li>
	{% else %}
	    <li><a href="{% url 'cosinnus:group__group-list' %}">{% trans "Groups" %}</a></li>
	{% endif %}
{% endif %}

{% if groups or groups_invited %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% trans "Projects" %}
            {% if groups_invited and groups_invited|length > 0 %}
                (+{{ groups_invited|length }})
            {% endif %}
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu scrollable-dropdown-desktop-only">
            {% for g in groups %}
                <li{% if g == appsmenu_group %} class="active"{% endif %}><a href="{% group_url 'cosinnus:group-dashboard' group=g %}">{{ g.name }}</a></li>
            {% endfor %}
            {% if groups|length > 30 %}
            	<li><a href="{% url 'cosinnus:group-list' %}">...</a></li>
            {% endif %}
            {% if groups_invited %}
                {% for g in groups_invited|slice:":30" %}
                    <li class="inactive{% if g == appsmenu_society %} active{% endif %}"><a href="{% group_url 'cosinnus:group-dashboard' group=g %}">{{ g.name }} ({% trans "Invited to be a member" %})</a></li>
                {% endfor %}
                {% if groups_invited|length > 30 %}
                	<li>...</li>
                {% endif %}
            {% endif %}
            <li class="divider"></li>
            {% if groups_invited %}
                <li><a href="{% url 'cosinnus:group-list-invited' %}">{% trans "Invited Projects" %}</a></li>
            {% endif %}
            <li><a href="{% url 'cosinnus:group-list-mine' %}">{% trans "My Projects" %}</a></li>
            <li><a href="{% url 'cosinnus:group-list' %}">{% trans "All Projects" %}</a></li>
        </ul>
    </li>
{% else %}
    <li><a href="{% url 'cosinnus:group-list' %}">{% trans "Projects" %}</a></li>
{% endif %}

{% if SETTINGS.COSINNUS_IDEAS_ENABLED %}
    {% if my_ideas_count %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "Ideas" %}
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu scrollable-dropdown-desktop-only">
                <li><a href="{% url 'cosinnus:idea-list-mine' %}">{% trans "My Ideas" %} ({{ my_ideas_count }})</a></li>
                <li><a href="{% url 'cosinnus:idea-list' %}">{% trans "All Ideas" %}</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url 'cosinnus:idea-list' %}">{% trans "Ideas" %}</a></li>
    {% endif %}
{% endif %}
    
{% if SETTINGS.COSINNUS_ORGANIZATIONS_ENABLED %}
    {% if my_organizations_count %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "Organizations" %}
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu scrollable-dropdown-desktop-only">
                <li><a href="{% url 'cosinnus:organization-list-mine' %}">{% trans "My Organizations" %} ({{ my_organizations_count }})</a></li>
                <li><a href="{% url 'cosinnus:organization-list' %}">{% trans "All Organizations" %}</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url 'cosinnus:organization-list' %}">{% trans "Organizations" %}</a></li>
    {% endif %}
{% endif %}
    
    