{% load i18n static cosinnus_tags thumbnail %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'cosinnus:user-dashboard' %}{% else %}/{% endif %}">
                <!-- TODO: Logo -->
                <i class="fa fa-home"></i>
            </a>
        </div><!-- navbar-header -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                {% if request.user.is_authenticated %}
                
                    {% if groups %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans "Projects" %}
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                {% for g in groups %}
                                    <li{% if g == appsmenu_group %} class="active"{% endif %}><a href="{% group_url 'cosinnus:group-dashboard' group=g.slug %}">{{ g.name }}{% if g.type == 1 %}<i class="fa fa-fw fa-globe"></i>{% endif %}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{% url 'cosinnus:group-list' %}">{% trans "Projects" %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'cosinnus:group-list' %}">{% trans "Projects" %}</a></li>
                    {% endif %}
                    
                    {% if societies %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans "Societies" %}
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                {% for g in societies %}
                                    <li{% if g == appsmenu_society %} class="active"{% endif %}><a href="{% group_url 'cosinnus:group-dashboard' group=g.slug %}">{{ g.name }}{% if g.type == 1 %}<i class="fa fa-fw fa-globe"></i>{% endif %}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{% url 'cosinnus:group__group-list' %}">{% trans "Societies" %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'cosinnus:group__group-list' %}">{% trans "Societies" %}</a></li>
                    {% endif %}
                
		        {% else %}
                    <li><a href="{% url 'cosinnus:group-list' %}">{% trans "Projects" %}</a></li>
                    <li><a href="{% url 'cosinnus:group__group-list' %}">{% trans "Societies" %}</a></li>
	            {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li id="searchbar">
                    <form id="cosinnus_search_form" action="{% url "cosinnus:search" %}" method="GET">
                        <input class="form-control" placeholder="Suchbegriff" value="" name="q" />
                        <i class="fa fa-search" onclick="$('#cosinnus_search_form').submit();"></i>
                    </form>
                </li>
                {% if request.user.is_authenticated %}
	                <li>
                        <a href="{% url 'postman_inbox' %}" title="{% trans "Messages" %}">
                            <i class="fa fa-envelope"></i>
                            {% if COSINNUS_UNREAD_MESSAGE_COUNT and COSINNUS_UNREAD_MESSAGE_COUNT > 0 %}
                               <span id="messageCounter">{{ COSINNUS_UNREAD_MESSAGE_COUNT }}</span>
                            {% endif %}
                            <span class="visible-xs-inline">&nbsp;{% trans "Messages" %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cosinnus:my_stream' %}" title="{% trans "My Stream" %}">
                            <i class="fa fa-globe"></i>
                            {% if COSINNUS_STREAM_UNSEEN_COUNT and COSINNUS_STREAM_UNSEEN_COUNT > 0 %}
                               <span id="messageCounter">{{ COSINNUS_STREAM_UNSEEN_COUNT }}</span>
                            {% endif %}
                            <span class="visible-xs-inline">&nbsp;{% trans "My Stream" %}</span>
                        </a>
                    </li>
	                <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                        {% include "cosinnus/user/user_avatar_image.html" with user=request.user %}
	                        {{ request.user|full_name }}
	                        <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu">
							<li><a href="{% url 'cosinnus:user-dashboard' %}">{% trans "My Dashboard" %}</a></li>
							<li><a href="{% url 'cosinnus:profile-detail' %}">{% trans "My Profile" %}</a></li>
							{% for code, language in SETTINGS.LANGUAGES %}
                                <li><a href="{% url 'cosinnus:switch-language' language=code %}?next={{ request.path }}">{% if request.LANGUAGE_CODE == code %}&gt; {% endif %}{{ language }}</a></li>
                            {% endfor %}
							<li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
	                    </ul>
	                </li>
                {% else %}
                    <li>
						<a href="{% url 'login' %}{% if request.path != "/" %}?next={{ request.path }}{% endif %}">
						    Login
						</a>
                    </li>
		        {% endif %}
            </ul>
        </div>

    </div>
</nav>




