{% extends "cosinnus/base.html" %}
{% load i18n %}

{% block page_title %}{{ object.username }}{% endblock %}

{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th class="span2">{% trans "Username" %}:</th>
                <td>{{ object.username }}</td>
            </tr>
            <tr>
                <th>{% trans "Name" %}:</th>
                <td>{% if object.first_name or object.last_name %}{{ object.first_name }} {{ object.last_name }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans "E-mail address" %}:</th>
                <td>{{ object.email }}</td>
            </tr>
            <tr>
                <th>{% trans "Groups" %}:</th>
                <td>
                    <ul>
                        {% for group in object.groups.all %}
                            <li><a href="{% url 'cosinnus:group-detail' group=group.pk %}">{{ group.name }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% if profile.avatar %}
            <tr>
                <th>{% trans "Avatar" %}:</th>
                <td>
                  {% if user.cosinnus_profile.avatar %}
                    <img class="avatar" src="{{ user.cosinnus_profile.avatar.url }}" alt="{% trans "Avatar" %}">
                  {% else %}
                    <img class="avatar" src="http://placehold.it/128x128" alt="{% trans "Avatar" %}">
                  {% endif %}
                </td>
            </tr>
            {% endif %}
            {% for field in optional_fields %}
            <tr>
              <th>{% trans field.name %}:</th>
              <td>{{ field.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
