{% load i18n cosinnus_tags widget_tweaks %}

{% captureas answer_label %}{{ SETTINGS.COSINNUS_MITWIRKOMAT_QUESTION_LABELS|dict_lookup:inlineform.question.value|textfield }}{% endcaptureas %}

{# Hide answers with a label, as those have been removed from COSINNUS_MITWIRKOMAT_QUESTION_LABELS but should still be carried over on save #}
<div {% if not answer_label %} style="display: none;"{% endif %}>
    {% include 'cosinnus/fields/condensed_radio_field.html' with field=inlineform.answer label=answer_label label_class="textfield transparent no-margin" %}

    {# hidden input, required to save the value of the question #}
    {{ inlineform.question }}
</div>
