{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static thumbnail cosinnus_tags %}

{% block page_title %}{% trans "Mitwirk-O-Mat Settings" %} - {{ group.name }} {{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li><a href="{{ group.get_edit_url }}">{{ group.trans.EDIT }}</a></li>
        <li class="active">{% trans "Mitwirk-O-Mat Settings" %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/group/leftnav_group.html" with current_page="mitwirkomat_settings" object=group %}
{% endblock leftnav %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-exclamation-triangle fa-3x"></i>
            <p>{% trans "There was an error in one of the fields you entered. Please correct it before saving!" %}</p>
            {{ form.errors }}
        </div>
    {% endif %}

    <form method="POST" action=".{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" enctype="multipart/form-data" class="cosinnus-form form-horizontal" role="form">
        {% csrf_token %}
        {{ form.media }}
        {{ form.non_field_errors }}

        <div class="content-box">
            <h2>{% trans "Mitwirk-O-Mat Settings" %} - <i>{{ group.name }}</i></h2>

            {% block notice_text %}
                <div class="textfield transparent">
                    <p>
                        {% trans "EXPLANATION TEXT Enable this to take part in MoM, etc" %}
                        <a href="{{ group.get_edit_url }}" class="transparent">
                            {% trans "Example link to the group settings" %}
                        </a>
                    </p>
                    <p class="ultra-space">
                        {% trans "More example text." %}
                    </p>
                    <p class="ultra-space">
                        {% trans "Explanation that simply saving this form won't make the MoM immediately available, because the API only gets pulled every night or so." %}
                    </p>
                </div>
                <div class="large-space"></div>
            {% endblock notice_text %}

            {# Is_active Field #}
            {% captureas is_active_checkbox_label %}{% trans "Participate in the Mitwirk-O-Mat with" %} {{ group.name }}{% endcaptureas %}
            {% include 'cosinnus/fields/checkbox_field.html' with field=form.is_active label=is_active_checkbox_label checkbox_label=is_active_checkbox_label hide_optional=True %}

            <div id="settings_flyout" {% if not form.instance or not form.instance.is_active %}style="display: none"{% endif %}>
                {# Name Field #}
                {% trans "Custom name of your Mitwirk-O-Mat" as name_label %}
                {% captureas name_legend %}{% trans "Enter only if you want to set a different name. Default is:" %}{% endcaptureas %}
                {% include 'cosinnus/fields/default_field.html' with field=form.name placeholder=group.name label=name_label legend=name_legend %}

                {# Description Field #}
                {% trans "Custom description of your Mitwirk-O-Mat" as description_label %}
                {% captureas description_legend %}{% trans "Enter only if you want to set a different description." %}{% endcaptureas %}
                {% include 'cosinnus/fields/default_field.html' with label=description_label legend=description_legend %}
                {% comment %}
                    Uncomment this to show the inherited description as textfield
                    <div class="truncated-textfield">
                        <div class="textfield transparent">
                            {% if group.description_long %}
                                {{ group.description_long|textfield }}
                            {% else %}
                                {{ group.description|textfield }}
                            {% endif %}
                        </div>
                    </div>
                    <script type="text/javascript">
                        $.cosinnus.truncatedTextfield();
                    </script>
                {% endcomment %}
                {% captureas description_placeholder %}{% if group.description_long %}{{ group.description_long }}{% else %}{% if group.description %}{{ group.description }}{% else %}{{ description_label }}{% endif %}{% endif %}{% endcaptureas %}
                {% include 'cosinnus/fields/default_field.html' with field=form.description large_field=True placeholder=description_placeholder %}

                {# Avatar Field #}
                {% trans "Custom logo for your Mitwirk-O-Mat" as avatar_label %}
                {% captureas avatar_legend %}
                    {% trans "Choose only if you want a different avatar." %}
                    <br/>
                    {% include 'cosinnus/texts/image_upload_legend_avatar.html' %}
                {% endcaptureas %}
                {% captureas preview_html %}
                    {% captureas preview_style %}width:{{SETTINGS.AWESOME_AVATAR.select_area_width}}px;height:{{SETTINGS.AWESOME_AVATAR.select_area_height}}px{% endcaptureas %}
                    <span>{% trans "Image preview" %}:</span>
                    <div id="id_avatar-preview" class="awesome-avatar-preview regular-space" style="{{ preview_style }}">
                        {% captureas preview_style %}width:{{SETTINGS.AWESOME_AVATAR.select_area_width}}px;height:{{SETTINGS.AWESOME_AVATAR.select_area_height}}px{% endcaptureas %}
                        {% if form.instance and form.instance.avatar %}
                            {% include "cosinnus/group/group_avatar_image.html" with group=form.instance extra_style=preview_style %}
                        {% else %}
                            {% captureas group_avatar_type %}{% if group.type == 1 %}group{% else %}project{% endif %}{% endcaptureas %}
                            {% include "cosinnus/group/group_avatar_image.html" with group=group extra_style=preview_style group_avatar_type=group_avatar_type %}
                        {% endif %}
                    </div>
                {% endcaptureas %}
                {% include 'cosinnus/fields/avatar_field.html' with avatar_field=form.avatar label=avatar_label legend=avatar_legend preview_html=preview_html %}

                {# Link explanation Field #}
                {% trans "Link" as link_label %}
                {% captureas link_legend %}
                    <p class="textfield transparent">
                        {% trans "Your entry in the Mitwirk-O-Mat links to the microsite of the group/project. It is therefore best to ensure that this is informative and attractively designed. You can also link to an external website from your microsite." %}
                    </p>
                    <p class="textfield transparent">
                        {% include 'cosinnus/texts/view_microsite_link.html' with group=group %}
                    </p>
                {% endcaptureas %}
                {% include 'cosinnus/fields/default_field.html' with label=link_label legend=link_legend %}

                <div class="ultra-space"> </div>

                {# Questions fieldset #}
                {% trans "Choose the answers that best fit you:" as questions_label %}
                {% trans "TODO TEXT: these answers determine how you are matched TODO" as questions_legend %}
                {% include 'cosinnus/fields/inlineform_field.html' with inline_form=questions_formset label=questions_label legend=questions_legend content_template='cosinnus/mitwirkomat/mitwirkomat_questions_inline.html' unique_id='questions' alternate_field_class=" " %}
            </div>
            <script type="text/javascript">
                {# hide and show settings_flyout depending on the is_active setting #}
                var flyout_toggle = function(){
                    if($("#id_is_active").is(':checked'))
                        $("#settings_flyout").show('slow');
                    else
                        $("#settings_flyout").hide('slow');
                };
                $("#id_is_active").on("click", flyout_toggle);
                flyout_toggle();
            </script>
        </div>

        <button type="submit" class="btn btn-emphasized btn-autosize">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="media-body">
                        {% if form.instance.id %}
                            {% trans "Save changes" %}
                        {% else %}
                            {% trans "Save" %}
                        {% endif %}
                    </div>
                </li>
            </ul>
        </button>
    </form>
{% endblock %}
