{% extends "cosinnus/base.html" %}
{% load i18n thumbnail cosinnus_tags static %}

{% block page_title %}{% trans "Map" %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/vendor/underscore-1.8.3.js' %}"></script>
    <script src="{% static 'js/vendor/backbone-1.3.3.js' %}"></script>
    <script src="{% static 'js/vendor/leaflet.js' %}"></script>
    <link href="{% static 'css/vendor/leaflet.css' %}" rel="stylesheet">
{% endblock extrahead %}

{% block main_page %}
    <div class="row">
        <div id="map-fullscreen"></div>
        <aside id="map-controls">
            {% include 'cosinnus/map/map-controls.njk' %}
        </aside>
    </div>
    <script src="{% static 'js/client.js' %}"></script>
{% endblock main_page %}
