{% extends "cosinnus/base.html" %}
{% load i18n thumbnail cosinnus_tags static %}

{% block html_attributes %}style="overflow: hidden;"{% endblock html_attributes %}

{% block page_title %}{% if page_title %}{{ page_title }}{% else %}{% trans "Map" %}{% endif %}{% endblock %}

{% block og_url %}{{ COSINNUS_CURRENT_PORTAL.get_domain }}{{ request.path }}{% if request.GET.values %}?{{ request.GET.urlencode|safe }}{% endif %}{% endblock og_url %}
{% block og_title %}{% if item %}{{ item.title }} - {% endif %}{{ block.super }}{% endblock %}
{% block og_image %}{% if item and item.background_image_small_url %}{{ COSINNUS_CURRENT_PORTAL.get_domain }}{{ item.background_image_small_url }}{% elif item and item.icon_image_url %}{{ COSINNUS_CURRENT_PORTAL.get_domain }}{{ item.icon_image_url }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block og_description %}{% if item and item.description %}{{ item.description|linebreaksoneline|striptags }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block og_meta_attributes %}
    {{ block.super }}
    {% if item.background_image_small_url %}
        <meta property="og:image:width"           content="500" />
        <meta property="og:image:height"          content="275" />
    {% elif item.icon_image_url %}
        <meta property="og:image:width"           content="144" />
        <meta property="og:image:height"          content="144" />
    {% endif %}
{% endblock %}

{% block js_app_dependencies %}
	{% include 'cosinnus/map/static_dependencies.html' %}
	
	{% if SETTINGS.COSINNUS_USE_V2_NAVBAR or SETTINGS.COSINNUS_USE_V2_NAVBAR_ADMIN_ONLY and user.is_superuser %}
        <link href="{% static 'css/v2_map_corrections.css' %}" rel="stylesheet">
	{% endif %}
{% endblock js_app_dependencies %}


{% block main_page %}
    <div class="row">
    	{% include 'cosinnus/common/internet_explorer_not_supported.html' %}
    
        {% comment %} Some settings for this map are initialized in the extraheader, and passed in a router.js, and uses a lot of
                       the default settings defined in map.js.  
                      We don't pass a `settings param here because we use all the default ones.`      
        {% endcomment %}
        <div id="app-fullscreen" class="app-root app-fullscreen"></div>
        <script>
		    $('html').on('init:client', function () {
		        console.log('got init client, now init:module-full-routed');
		        Backbone.mediator.publish('init:module-full-routed', {{ map_options_json|safe }});
		    });
		</script>
    </div>

{% endblock main_page %}
