{% load static sekizai_tags %}

{% addtoblock "js" %}
<script src="{% static 'js/vendor/underscore-1.8.3.js' %}"></script>
<script src="{% static 'js/vendor/backbone-1.3.3.js' %}"></script>
<script src="{% static 'js/vendor/leaflet.js' %}"></script>
<script src="{% static 'js/vendor/leaflet.markercluster-0.7.js' %}"></script>
<script src="{% static 'js/client.js' %}?v=0.3"></script>
{% endaddtoblock %}

{% addtoblock "css" %}
<link href="{% static 'css/vendor/leaflet.css' %}" rel="stylesheet">
<link href="{% static 'css/vendor/leaflet.markercluster-0.7.css' %}" rel="stylesheet">
<link href="{% static 'css/vendor/leaflet.markercluster.default-0.7.css' %}" rel="stylesheet">
<link href="{% static 'css/vendor/spinkit-double-bounce.css' %}" rel="stylesheet">
{% endaddtoblock %}