{% load i18n cosinnus_tags %}{% url 'cosinnus:portal-admin-list' as portal_admin_url %}{% autoescape off %}{% blocktrans with user_name=user|full_name_force user_mail=user.email %}Hallo, {{ user_name }}! Herzlich willkommen bei {{ site_name }}! 

Du kannst dich ab sofort unter {{ domain_url }} einloggen.

Wir freuen uns, dass du die Plattform nutzen möchtest. Um die wichtigsten Funktionen kennenzulernen, schau dir gern, falls noch nicht geschehen, das Video auf unserer Frontseite an. Dahin kommst du per Klick auf das Portallogo links oben.

Eine Information schon vorab: durch deine Registrierung bist du automatisch Mitglied in der Gruppe "Blog", wo alle Informaionen des Portals zusammenlaufen. Damit du einen Überblick erhältst, was hier alles so passiert, kannst du unter "Benachrichtigungseinstellungen" entsprechend deines Informationsbedürfnisses individuell einstellen, auf welche Aktivitäten du per Mail hingewiesen werden willst (Klick rechts oben auf deinen Namen). Damit du nicht zu viele ungewünschte Emails bekommst, ist die Standardeinstellung bei der Option aus "keine Benachrichtigungen" gesetzt.

Für alle Gruppen und Projekte, denen du selbstständig beitrittst, ist die Standardeinstellung bei dieser Option "alle Benachrichtigungen". Das kannst du dann natürlich ebenso anpassen.

Und noch etwas Wissenswertes: Das Portal hier ist nur eines von vielen auf wechange.de. Wenn du dich auch in den weiteren Portalen umschauen möchtest, kannst du dich einfach mit deinem Login von hier einloggen. Wenn du in mehreren Portalen registriert bist, werden dir unter der Rubrik "Aktivitäten" (links oben im Menü) jeweils alle Neuigkeiten aus den Gruppen und Projekten angezeigt, in denen du Mitglied bist. Durch Klick auf die verschiedenen Logos kannst du zwischen den Portalen wechseln. Wenn du in weiteren Portalen auch Mitglied in der Blog-Gruppe sein willst, musst du hierzu einfach die Mitgliedschaft beantragen.

Wenn du Fragen, technische Anregungen, Fehlermeldungen oder Wünsche hast, melde dich gern den Portaladministrator_innen. 

Viele Grüße und viel Spaß hier,
das {{ site_name }} Team{% endblocktrans %}{% endautoescape %}