{% load i18n %}

{% if twitter_username or twitter_widget_id %}
	<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
{% endif %}

{% if twitter_username %}
	<div class="embed-responsive" style="overflow-y: scroll; height: 400px;">
		<a class="twitter-timeline"  href="https://twitter.com/{{ twitter_username }}"></a>
	</div>
{% endif %}
{% if twitter_widget_id %}
	<div class="embed-responsive" style="height: auto;">
		<a class="twitter-timeline"  data-widget-id="{{ twitter_widget_id }}"></a>
	</div>
{% endif %}
{% if error %}
	<p><em>{% trans "Error embedding a twitter timeline" %}: {{ error }}</em></p>
{% endif %}
