{% load cosinnus_tags i18n static %}
{% captureas yt_id %}{{ ""|add_uuid }}{% endcaptureas %}

<button class="embed-video-frame embed-video-id-{{ yt_id }}">
    <img class="image embed-video-placeholder" src="{% static 'images/video-placeholder.png' %}" />
        {% comment %}  
        Use this if you do want to use the youtube thumbnail
        src="{% if video_base_thumbnail_url %}{{ video_base_thumbnail_url }}{% else %}https://img.youtube.com/vi/{% endif %}{{ video_id }}{% if video_base_thumbnail_url %}{{ video_base_thumbnail_url }}{% else %}/hqdefault.jpg{% endif %}"/> 
        {% endcomment %}
    <div class="embed-video-overlay no-select">
        <span>
            <i class="fa fa-3x fa-{% if icon %}{{ icon }}{% else %}youtube{% endif %}"></i>
            <i class="fa fa-3x fa-play"></i>
            <br/>
            {% trans "Click to activate video" %}
        </span>
    </div>
</button>
<script type="text/javascript">
    var embed_video_html_{{ yt_id }} = "<div class='embed-container'><iframe src='{% if video_base_url %}{{ video_base_url }}{% else %}https://www.youtube.com/embed/{% endif %}{{ video_id }}' frameborder='0' mozallowfullscreen allowFullScreen></iframe></div>";
    $('.embed-video-id-{{ yt_id }}').click(function(){
        $('.embed-video-id-{{ yt_id }}').replaceWith(embed_video_html_{{ yt_id }});
    });
</script>    
