<div id="app-{{id}}" style="width: {{width}}px; height: {{height}}px;" class="app-root {% if fullscreen == True %}app-fullscreen{% else %}app-embed no-navbar{% endif %} {{ extra_classes }}"></div>

<script>
    $('html').on('init:client', function () {
        Backbone.mediator.publish('init:{{module}}', {
            el: '#app-{{id}}',
            settings: JSON.parse('{% if settings %}{{settings|safe}}{% else %}{}{% endif %}'),
            display: {
                showMap: true,
                showTiles: false,
                showControls: {% if controlsEnabled == True or controlsEnabled == "1" %}true{% else %}false{% endif %},
                fullscreen: {% if fullscreen == True %}true{% else %}false{% endif %},
                routeNavigation: false,
                forcePaginationControlsEnabled: {% if forcePaginationControlsEnabled %}true{% else %}false{% endif %},
           }
        });
    });
</script>
