{% load i18n %}
<button id="mapgrow" type="button" class="btn btn-emphasized pull-right">
    <ul class="media-list">
        <li class="media">
            <span class="pull-left">
                <i class="fa fa-caret-down"></i>
            </span>
            <div class="media-body">
            	{% trans "Expand" %}
            </div>
        </li>
    </ul>
</button>
<button id="mapshrink" type="button" class="btn btn-emphasized pull-right" style="display:none;">
    <ul class="media-list">
        <li class="media">
            <span class="pull-left">
                <i class="fa fa-caret-up"></i>
            </span>
            <div class="media-body">
            	{% trans "Shrink" %}
            </div>
        </li>
    </ul>
</button>