{% load i18n static %}

<a type="button" href="#"
    title="{% trans "Share on Mastodon" %}"
    rel="noreferrer noopener"
    target="_blank"
    data-prompt="{% trans "Enter your Mastodon instance you'd like to share to" %}"
    data-edittext="{% trans "Edit your Mastodon instance" %}"
    data-editlabel="{% trans "Edit your Mastodon instance" %}"
    class="mastodon-share"
>
    <i class="fa fa-external-link"></i>
    {% trans "Share on Mastodon" %}
</a>
<div class="clearfix"></div>
{# This script runs directly after the button to convert it so can't be loaded in head #}
<script src="{% static 'js/vendor/mastodon-share.js' %}"></script>
