{% load static %}

{% if not noinclude %}
<link rel="stylesheet" href="{% static 'css/vendor/easymde.min.css' %}?v=2.6.1">
<script src="{% static 'js/vendor/easymde.min.js' %}?v=2.6.1"></script>
{% endif %}

{% comment %} See https://github.com/sparksuite/simplemde-markdown-editor for options!  {% endcomment %}
{% comment %} We switched to the EasyMDE fork because SimpleMDE is abandoned: https://github.com/Ionaru/easy-markdown-editor {% endcomment %}
<script>
  {% if lazy %}
      var inited_simplemde = null;
      var init_simplemde = function (input) {
  {% else %}
	  $(function(){
  {% endif %}
	      var simplemde = new EasyMDE({ 
	          element: {% if lazy %}input{% else %}$('#{{ element_id }}')[0]{% endif %},
	          indentWithTabs: false,
	          shortcuts: {},
	          spellChecker: false,
	          status: false,
	          styleSelectedText: false,
	          autoDownloadFontAwesome: false,
	          forceSync: true,
	          toolbar: ["bold", "italic", "strikethrough", "heading", "|", "image", "link", "|", "unordered-list", "ordered-list", "|", "preview"],
	      });
	      {% if value %}
	          simplemde.value($('<textarea />').html(decodeURIComponent("{{ value|urlencode }}")).text());
	      {% endif %}
	      inited_simplemde = simplemde;
  {% if lazy %}
    };
  {% else %}
    });
  {% endif %}
</script>