{% load static %}

{% if not noinclude %}
<link rel="stylesheet" href="{% static 'css/vendor/simplemde.min.css' %}?v=1.2">
<script src="{% static 'js/vendor/simplemde.min.js' %}?v=1.2"></script>
{% endif %}

{% comment %} See https://github.com/sparksuite/simplemde-markdown-editor for options!  {% endcomment %}
<script>
  $(function(){
      var simplemde = new SimpleMDE({ 
          element: $('#{{ element_id }}')[0],
          indentWithTabs: false,
          shortcuts: {},
          spellChecker: false,
          status: false,
          styleSelectedText: false,
          toolbar: ["bold", "italic", "strikethrough", "heading", "|", "image", "link", "|", "unordered-list", "ordered-list", "|", "preview"],
      });
  });
</script>