{% load i18n cosinnus_tags %}

{# Temporarily ALWAYS show the cloud error message in the widget! #}
<div type="button" class="btn btn-emphasized dashboard-appwidget-contentline fine-space" href="{% group_url 'cosinnus:cloud:index' group=group %}">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-cloud"></i>
            </a>
            <div class="media-body">
                <a>{% trans "Click here to view the files directly in the cloud." %}</a>
            </div>
        </li>
    </ul>
</div><!-- btn -->
