{% extends 'tiles/grid-tile-base' %}
{% import "include/macros.html" as macros %}

{% block type_area %}
    {{ macros.typeLabel(type, singular=1) }}
    <span>{{relevance}}</span> {# TODO: delete me #}
    
    {% if controlView.portalInfo.current != portal %}
        <div class="{% if not isSmall %}pull-right{% endif %}">
            <a class="portal-inlink" href="{{ controlView.portalInfo[portal].domain }}" target="_blank" title="{{ controlView.portalInfo[portal].name }}">
                {# <img src="{{ controlView.portalInfo[portal].image_url }}" style="width:20px;"> #}
                {{ controlView.portalInfo[portal].name }}
            </a> 
        </div>
    {% endif %}
{% endblock %}

{% block description_area %}
    <div class="title">{{title}}</div>
    
    {% if topics|length > 0 %}
        <div class="topics">
            Topics: 
            {% for topic in topics %}
                <a class="topic-filter-link" data-topic-id="{{ topic }}">{{ controlView.allTopics[topic] }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="description">{{description|safe}}</div>
{% endblock %}

{% block icon_area %}
    <div><i class="fa fa-user"></i> 123</div>
{% endblock %}
