{% extends 'tiles/tile-detail-base' %}
{% import "include/macros.html" as macros %}

{% block header_image %}
    {% if backgroundImageLargeUrl %}
        <div class="tile-section header-image">
            <div class="dual-tile-image">
                <img class="tile-image tile-image-background" src="{{ backgroundImageLargeUrl }}" /> 
            </div>
        </div>
    {% endif %}
{% endblock header_image %}

        
{% block additional_top_line %}
    <div class="tile-section">
        <div class="">
            (( time and date ))        
        </div>
        <div class="">
            (( adress or not ))
        </div>
    </div>
{% endblock additional_top_line %}
        

{% block related_content %}
    <div class="tile-section tile-section-divided">
        <div class="subheading">
            {# Translators: __INCLUDE_JS_PO__ #}
            {% trans "Participants" %}
        </div>
        <div class="tile-section">
            (( contactinfo ))
        </div>
	    <div class="row">
	        <div class="col-xs-6">
                {{ macros.userInfoLink("Participant list", "", "", "") }}
	        </div>
	    </div>
    </div>
{% endblock related_content %}
