{% extends 'tiles/tile-detail-base' %}
{% import "include/macros.html" as macros %}

{% block header_image %}
    {% if backgroundImageLargeUrl %}
        <div class="tile-section header-image">
            <div class="dual-tile-image">
                <img class="tile-image tile-image-background" src="{{ backgroundImageLargeUrl }}" /> 
            </div>
        </div>
    {% endif %}
{% endblock header_image %}

        
{% block additional_top_line %}
    <div class="tile-section tile-section">
        <div>
            <i class="fa fa-fw fa-clock-o"></i>{{ time_html|safe }}
        </div>
        {% if address %}
            <div class="capitalize">
                <i class="fa fa-fw fa-map-marker"></i>{{ address }}
            </div>
        {% endif %}
    </div>
{% endblock additional_top_line %}

{% block action_buttons %}
    <div class="tile-section tile-section-button-list">
    {% if portal == COSINNUS_EXCHANGE_PORTAL_ID and url %}
        <a class="rounded-button button-action" href="{{ url }}" target="_blank">
            <span class="rounded-button-inner">
                <i clasS="fa fa-external-link"></i>
                {# Translators: __INCLUDE_JS_PO__ #}
                {% trans "Event" %} {% trans "on" %} {{ source }}
            </span>
        </a>
    {% else %}
        {% if controlView.portalInfo.current == portal %}
            <a class="rounded-button button-action 
                    {% if cosinnus_active_user %}button-like" {% else %}" href="/signup/?acc_req_msg=1&next=/map/" target="_blank"{% endif %}>
                <span class="rounded-button-inner">
                    {% if liked %}
                        <i clasS="fas fa-heart"></i>
                        {# Translators: __INCLUDE_JS_PO__ #}
                        {% trans "Liked" %}
                    {% else %}
                        <i clasS="far fa-heart"></i>
                        {# Translators: __INCLUDE_JS_PO__ #}
                        {% trans "Like" %}
                    {% endif %}
                </span>
            </a>
            <a class="rounded-button button-action button-star">
                <span class="rounded-button-inner">
                    {% if starred %}
                        <i class="fas fa-star"></i>
                        {{ starringLabel }}
                    {% else %}
                        <i class="far fa-star"></i>
                        {{ starLabel }}
                    {% endif %}
                </span>
            </a>
            <a class="rounded-button button-action
                    {% if cosinnus_active_user %}button-follow" {% else %}" href="/signup/?acc_req_msg=1&next=/map/" target="_blank"{% endif %}>
                <span class="rounded-button-inner">
                    {% if followed %}
                        <i clasS="fas fa-bell"></i>
                        {# Translators: __INCLUDE_JS_PO__ #}
                        {% trans "Following" %}
                    {% else %}
                        <i clasS="far fa-bell"></i>
                        {# Translators: __INCLUDE_JS_PO__ #}
                        {% trans "Follow" %}
                    {% endif %}
                </span>
            </a>
        {% endif %}

        <a class="rounded-button button-action" href="{{ url }}" target="_blank">
            <span class="rounded-button-inner">
                <i clasS="fa fa-external-link"></i>
                {# Translators: __INCLUDE_JS_PO__ #}
                {% trans "Visit Event Page" %}
            </span>
        </a>
        
        {{ super() }}
    </div>
    
    <div class="no-input">
        <div class="now-following-message message-success extra-space-top" style="display: none;">
            <i class="fas fa-bell"></i>
            {# Translators: __INCLUDE_JS_PO__ #}
            {% trans "You will now receive notifications for comments or when this event is updated or its details change." %}
            {# Translators: __INCLUDE_JS_PO__ #}
            {% trans "If you do not want notifications, click the unfollow button!" %}
        </div>
         
        <div class="like-button-error message-error extra-space-top" style="display: none;">
            {# Translators: __INCLUDE_JS_PO__ #}
            {% trans "Could not save your like setting because of an error." %}
        </div>
        <div class="follow-button-error message-error extra-space-top" style="display: none;">
            {# Translators: __INCLUDE_JS_PO__ #}
            {% trans "Could not save your follow setting because of an error." %}
        </div>
    </div>
{% endif %}
{% endblock %}
        

{% block related_content %}

    {% if participant_count > 0 %}
        <div class="tile-section tile-section-divided">
            <div class="subheading">
                <i class="fa fa-user"></i>
                {# Translators: __INCLUDE_JS_PO__ #}
                {% trans "Participants" %} ({{ participant_count }})
            </div>
        </div>
        <div class="tile-section">
            <div class="row">
                {% for participant in participants %}
                    <div class="col-sm-6">
                        {{ macros.itemCard(participant.portal, participant.slug, participant.title, participant.type, participant.iconImageUrl, participant.address, "fa-map-marker", cosinnus_active_user=cosinnus_active_user) }}
                    </div>
                {% endfor %}
            </div>
            {% if participant_count - participants|length > 0 %}
                <div class="">
                    <i>
                        +{{ participant_count - participants|length }} 
                        {% if participant_count - participants|length > 1 %}
                            {# Translators: __INCLUDE_JS_PO__ #}
                            {% trans "Hidden Users" %}
                        {% else %}
                            {# Translators: __INCLUDE_JS_PO__ #}
                            {% trans "Hidden User" %}
                        {% endif %}
                    </i>
                </div>
            {% endif %}
        </div>
    {% endif %}
    
{% endblock related_content %}
