{% extends 'tiles/tile-detail-base' %}
{% import "include/macros.html" as macros %}

{% block header_image %}
    <div class="single-tile-image">
        <img class="framed-tile-image" src="{{ iconImageUrl }}" />
    </div>
{% endblock header_image %}

{% block action_buttons %}
    <div class="tile-section">
	    <a href="{{ action_url_1 }}" target="_blank" class="rounded-button button-action">
	        <span class="rounded-button-inner">
	            {# Translators: __INCLUDE_JS_PO__ #}
	            {% trans "Send Message" %}
	        </span>
	    </a>
    </div>
{% endblock action_buttons %}


{% block related_content %}
    {% if related_groups|length > 0 %}
	    <div class="tile-section tile-section-divided">
	        <div class="subheading">
	            {# Translators: __INCLUDE_JS_PO__ #}
	            {% trans "Gruppen" %} ({{ related_groups|length }}))
	        </div>
	        <div class="row">
	            <div class="col-xs-6">
	                <!-- TODO -->
	                {{ macros.groupInfoLink("Group list", "", "", "") }}
	            </div>
	        </div>
	    </div>
    {% endif %}
    
    {% if related_projects|length > 0 %}
	    <div class="tile-section tile-section-divided">
	        <div class="subheading">
	            {# Translators: __INCLUDE_JS_PO__ #}
	            {% trans "Gruppen" %} ({{ related_projects|length }}))
	        </div>
	        <div class="row">
	            <div class="col-xs-6">
	                <!-- TODO -->
	                {{ macros.groupInfoLink("Project list", "", "", "") }}
	            </div>
	        </div>
	    </div>
    {% endif %}
{% endblock related_content %}
