{% load i18n %}
{% load postman_tags %}
{% load cosinnus_tags %}

{% block postman_menu %}

{% postman_unread as unread_count %}

{% url 'postman:inbox' as inbox_url %}
{% url 'postman:sent' as sent_url %}
{% url 'postman:archives' as archives_url %}
{% url 'postman:trash' as trash_url %}
{% url 'postman:write' as write_url %}

{% captureas active %}{% if request.get_full_path == inbox_url %}True{% endif %}{% endcaptureas %}
{% captureas label %}{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}{% endcaptureas %}
{% include "cosinnus/leftnav_button.html" with extra_classes="fine-space" active=active icon="fa-envelope" label=label href=inbox_url  %}

{% captureas active %}{% if request.get_full_path == sent_url %}True{% endif %}{% endcaptureas %}
{% captureas label %}{% trans "Sent" %}{% endcaptureas %}
{% include "cosinnus/leftnav_button.html" with extra_classes="fine-space" active=active icon="fa-share" label=label href=sent_url  %}

{% captureas active %}{% if request.get_full_path == archives_url %}True{% endif %}{% endcaptureas %}
{% captureas label %}{% trans "Archive" context "the noun for an Archive" %}{% endcaptureas %}
{% include "cosinnus/leftnav_button.html" with extra_classes="fine-space" active=active icon="fa-folder" label=label href=archives_url  %}

{% captureas active %}{% if request.get_full_path == trash_url %}True{% endif %}{% endcaptureas %}
{% captureas label %}{% trans "Trash" %}{% endcaptureas %}
{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" active=active icon="fa-trash-o" label=label href=trash_url  %}

{% if not SETTINGS.COSINNUS_POSTMAN_ARCHIVE_MODE %}
	{% captureas active %}{% if request.get_full_path == write_url %}True{% endif %}{% endcaptureas %}
	{% captureas label %}{% trans "Write" %}{% endcaptureas %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="" active=active icon="fa-pencil" label=label href=write_url  %}
{% endif %}
{% endblock %}