{% load i18n cosinnus_tags %}

{% comment %} 
	This template is only meant to be loaded from inside a timeline item template,
	and from there inside the action_buttons block, as such:
	{% block action_buttons %}
		{% include 'cosinnus/v2/dashboard/timeline_button_follow.html' with item=item %}
	{% endblock %}
{% endcomment %}

<div class="action-button-wrapper">
	<a class="action-button action-button-toggleable likefollow-button follow-button {% if user|can_likefollow:item %}action-do-likefollow{% endif %} {% if user.id in item.get_followed_user_ids %}selected{% endif %}" 
	        data-type="follow" data-ct="{{ item.get_content_type }}" data-id="{{ item.id }}"
	        {% if not user|can_likefollow:item %}href="{% url 'login' %}?next={{ item.get_absolute_follow_url|urlencode }}"{% endif %}>
	    <span class="show-unselected">
	        {% comment %}  
	            No counter in follow buttons!
		        {% if user.id in item.get_followed_user_ids %}{{ item.follow_count|subtract:1 }}{% else %}{{ item.follow_count }}{% endif %}
	        {% endcomment %}
	        <i class="fa fa-bell"></i>
	        {% trans "Follow" %}
	    </span>
	    <span class="show-selected">
	        {% comment %}  
	            No counter in follow buttons!
		        {% if user.id in item.get_followed_user_ids %}{{ item.follow_count }}{% else %}{{ item.follow_count|add:1 }}{% endif %}
	        {% endcomment %}
	        <i class="fa fa-bell"></i>
	        {% trans "Following" %}
	    </span>
	</a>
	<div class="likefollow-button-success-message arrow-box no-select" style="display:none;">
	    {% if success_message %}
	        {{ success_message }}
	    {% else %}
	        {% trans "You will now receive notifications for comments or when this content is updated." %}
	    {% endif %}        
	    {% comment %}  
	    {% trans "Check your notification settings to adjust how you receive notifications for followed content." %}
	    {% endcomment %}
	</div>
</div>
