{% load i18n cosinnus_tags %}


<div class="timeline-item-comments">
	 {% with comment_count=comments|length %}
	 	
	 	{% if comment_count > 3 %}
			<div class="timeline-item-row comments-header text-small plain-links pale-color shown-when-more">
				{% comment %} onclick functionality is in timeline-view.js {% endcomment %}
				<a href="#" class="show-all-comments">
					{% blocktrans with count=comment_count %}Show all {{ count }} comments{% endblocktrans %}
				</a>
			</div>
			<hr class="seperator shown-when-more" />
		{% endif %}
		
		{% for comment in comments %}
			<div class="timeline-item-row comment {% if comment_count > 3 and forloop.counter <= comment_count|subtract:3 %}comment-hidden{% endif %}">
				<div class="comment-header text-small flex-row">
					<div class="avatar-small">
						<a href="{{ comment.creator|profile_url }}">
							{% include "cosinnus/user/user_avatar_image.html" with user=comment.creator %}
						</a>
					</div>
					<div class="comment-creator-label">
						<span>
							<a href="{{ comment.creator|profile_url }}">
								{{ comment.creator|full_name }}
							</a>
						</span>
						<span class="plain-links">
							<a href="{{ comment.get_absolute_url }}"><span class="annotation moment-data-date" data-date="{{ comment.created_on|date:'c' }}" ></span></a>
						</span>
					</div>
					<div class="comment-dropdown dropdown">
						{% comment %} TODO {% endcomment %}
					</div>	
				</div>
				<div class="comment-body v2-textfield ">
					{{ comment.text|textfield }}
				</div>
			</div>
			<hr class="seperator {% if comment_count > 3 and forloop.counter <= comment_count|subtract:3 %}comment-hidden{% endif %}" />
		{% endfor %}
		
	{% endwith %}
	
	<div class="timeline-item-row comment-form flex-row">
		<div class="">
			<i class="fa fa-fw fa-pencil"></i>
		</div>
		<div class="flex-grow">
			<form action="{{ item.get_comment_post_url }}" method="post">
                {% csrf_token %}
				<textarea id="id_text" name="text" type="text" placeholder="{% trans "Write comment..." %}"></textarea>
			</form>
		</div>
	</div>
</div>

