{% load i18n %}

{% if offers %}
    {% include 'cosinnus_marketplace/attached_offers.html' with offers=offers no_indent=1 %}
{% else %}
    <div type="button" class="btn btn-emphasized dashboard-appwidget-contentline fine-space">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    <i class="fa fa-exchange"></i>
                </span>
                <div class="media-body">
                    {% trans "There are no current offers" %}
                </div>
            </li>
        </ul>
    </div><!-- btn -->
{% endif %}

