{% load i18n cosinnus_tags %}

<button type="button" style="width: auto !important;" class="btn btn-emphasized" title="{% trans "Report offensive content" %}" {% if request.user.is_authenticated %}href="#" {% cosinnus_report_object_action object %}{% else %}href="{% url 'login' %}{% if request.path != "/" %}?next={{ request.path }}{% endif %}"{% endif %}>
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" style="cursor: pointer;" >
                <i class="fa fa-warning"></i>
            </a>
        </li>
    </ul>
</button>                