{% extends "authentication/base.html" %}
{% load i18n l10n static cosinnus_tags %}
{% block page_title %}{{ group.name }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ SETTINGS.GMAPS_API_KEY }}&sensor=false"></script>
<script type="text/javascript">
  var markers = [], marker;

{% for user in users %}
  {% if user.get_profile.location.latitude and user.get_profile.location.longitude %}
  marker = new google.maps.Marker({
    position: new google.maps.LatLng(
      {{ user.get_profile.location.latitude|unlocalize }},
      {{ user.get_profile.location.longitude|unlocalize }}),
    title: "{{ user.get_full_name }} ({{ user.username }})",
    url: "{% url 'sinn_auth-user-detail' group=group.pk pk=user.pk %}"
  });

  google.maps.event.addListener(marker, 'click', function (marker) {
    return function () {
      window.location.href = marker.url;
    }
  }(marker));

  markers.push(marker);
  {% endif %}
{% endfor %}

  google.maps.event.addDomListener(window, 'load', function () {
    initializeMap(markers);
  });
</script>
<script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{{ group.name }}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <h3>{% trans "Group members" %}</h3>
    <ul class="media-list">
      {% for user in users %}
        <li class="media">
          <a class="pull-left" href="{% url 'sinn_auth-user-detail' group=group.pk pk=user.pk %}">
            {% if user.get_profile.avatar %}
              <img class="avatar" src="{{ user.get_profile.avatar.url }}">
            {% else %}
              <img class="avatar" src="http://placehold.it/30x30">
            {% endif %}
          </a>
          <div class="media-body">
            <a class="pull-left" href="{% url 'sinn_auth-user-detail' group=group.pk pk=user.pk %}">{{ user.get_full_name|default:user.username }}</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="span6">
    <div id="map" style="height: 640px;"></div>
  </div>
</div>
{% endblock %}
