{% load i18n cosinnus_tags %}

<div class="textfield transparent regular-space">
    {% if setting %}
        <i class="fas fa-fw"></i> {% comment %} Blank space for indentation {% endcomment %}
        {% if setting.bbb_server_choice_text %}
		    <b>{% trans "BBB" %}:</b>
		    <span>{{ setting.bbb_server_choice_text }}</span>
		{% endif %}
        {% if setting.bbb_server_choice_premium_text %}
		    <b>{% trans "BBB Premium" %}:</b>
	        <span>{{ setting.bbb_server_choice_premium_text }}</span>
        {% endif %}
        {% if setting.bbb_server_choice_recording_api_text %}
	        <b>{% trans "BBB Recording API" %}:</b>
	        <span>{{ setting.bbb_server_choice_recording_api_text }}</span>
        {% endif %}
	{% else %}
	    <i>{% trans "Not set" %}</i>
	{% endif %}
</div>
