{% load i18n cosinnus_tags %}

{% if request.user|is_superuser %}
    {% if SETTINGS.COSINNUS_MANAGED_TAGS_ENABLED and SETTINGS.COSINNUS_ADMINISTRATION_MANAGED_TAGS_NEWSLETTER_ENABLED %}
        {% url 'cosinnus:administration-managed-tags-newsletter' as url_managed_tags_newsletter %}
        <button type="button" class="btn w100 btn-emphasized {% if SETTINGS.COSINNUS_ADMINISTRATION_MANAGED_TAGS_NEWSLETTER_ENABLED and SETTINGS.COSINNUS_ADMINISTRATION_GROUPS_NEWSLETTER_ENABLED %}fine-space{% else %}regular-space{% endif %}"
                href="{{ url_managed_tags_newsletter }}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <span class="pull-right">
                        {% if request.path|startswith:url_managed_tags_newsletter %}
                          <i class="fa fa-caret-right"></i>
                        {% endif %}
                    </span>
                    <div class="media-body">
                        {% trans "Send Newsletter" %}
                        {% if SETTINGS.COSINNUS_ADMINISTRATION_MANAGED_TAGS_NEWSLETTER_ENABLED and SETTINGS.COSINNUS_ADMINISTRATION_GROUPS_NEWSLETTER_ENABLED %}
                            ({{ COSINNUS_MANAGED_TAG_LABELS.MANAGED_TAG_NAME_PLURAL }})
                        {% endif %}
                    </div>
                </li>
            </ul>
        </button>
    {% endif %}

    {% if SETTINGS.COSINNUS_ADMINISTRATION_GROUPS_NEWSLETTER_ENABLED %}
        {% url 'cosinnus:administration-groups-newsletter' as url_group_newsletter %}
        <button type="button" class="btn w100 btn-emphasized regular-space" href="{{ url_group_newsletter }}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <span class="pull-right">
                        {% if request.path|startswith:url_group_newsletter %}
                          <i class="fa fa-caret-right"></i>
                        {% endif %}
                    </span>
                    <div class="media-body">
                        {% trans "Send Newsletter" %}
                        {% if SETTINGS.COSINNUS_ADMINISTRATION_MANAGED_TAGS_NEWSLETTER_ENABLED and SETTINGS.COSINNUS_ADMINISTRATION_GROUPS_NEWSLETTER_ENABLED %}
                            ({% trans "Groups" %})
                        {% endif %}
                    </div>
                </li>
            </ul>
        </button>
    {% endif %}

    {% if SETTINGS.COSINNUS_PLATFORM_ADMIN_CAN_EDIT_PROFILES %}
        {% url 'cosinnus:administration-users' as url_user_management %}
        <button type="button" class="btn w100 btn-emphasized fine-space" href="{{ url_user_management }}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="pull-right">
                        {% if request.path|startswith:url_user_management %}
                          <i class="fa fa-caret-right"></i>
                        {% endif %}
                    </span>
                    <div class="media-body">
                        {% trans "User Management" %}
                    </div>
                </li>
            </ul>
        </button>
    {% endif %}

    {% if SETTINGS.COSINNUS_USER_IMPORT_ADMINISTRATION_VIEWS_ENABLED %}
        {% url 'cosinnus:administration-user-import' as url_user_import %}
        <button type="button" class="btn w100 btn-emphasized fine-space" href="{{ url_user_import }}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-upload"></i>
                    </span>
                    <span class="pull-right">
                        {% if request.path|startswith:url_user_import %}
                          <i class="fa fa-caret-right"></i>
                        {% endif %}
                    </span>
                    <div class="media-body">
                        {% trans "User Import" %}
                    </div>
                </li>
            </ul>
        </button>
    {% endif %}

    {% if SETTINGS.COSINNUS_USER_EXPORT_ADMINISTRATION_VIEWS_ENABLED %}
        {% url 'cosinnus:administration-user-export' as url_user_export %}
        <button type="button" class="btn w100 btn-emphasized fine-space" href="{{ url_user_export }}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-download"></i>
                    </span>
                    <span class="pull-right">
                        {% if request.path|startswith:url_user_export %}
                          <i class="fa fa-caret-right"></i>
                        {% endif %}
                    </span>
                    <div class="media-body">
                        {% trans "User Export" %}
                    </div>
                </li>
            </ul>
        </button>
    {% endif %}


    {% if SETTINGS.COSINNUS_DYNAMIC_FIELD_ADMINISTRATION_VIEWS_ENABLED %}
        {% url 'cosinnus:administration-dynamic-fields' as url_dynamic_fields %}
        <button type="button" class="btn w100 btn-emphasized regular-space" href="{{ url_dynamic_fields }}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fas fa-list"></i>
                    </span>
                      <span class="pull-right">
                          {% if request.path|startswith:url_dynamic_fields %}
                            <i class="fa fa-caret-right"></i>
                          {% endif %}
                      </span>
                    <div class="media-body">
                        {% trans "User Profile Field Choices" %}
                    </div>
                </li>
            </ul>
        </button>
    {% endif %}

    {% url 'cosinnus:user-dashboard-announcement-list' as url_announcements %}
    <button type="button" class="btn w100 btn-emphasized fine-space" href="{{ url_announcements }}">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    <i class="fa fa-comment"></i>
                </span>
                <span class="pull-right">
                    {% if request.path|startswith:url_announcements %}
                      <i class="fa fa-caret-right"></i>
                    {% endif %}
                </span>
                <div class="media-body">
                    {% trans "User Dashboard Announcements" %}
                </div>
            </li>
        </ul>
    </button>

    {% url 'cosinnus:administration-welcome-email' as url_welcome_mail %}
    <button type="button" class="btn w100 btn-emphasized regular-space" href="{{ url_welcome_mail }}">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    <i class="fa fa-envelope"></i>
                </span>
                <span class="pull-right">
                    {% if request.path|startswith:url_welcome_mail %}
                      <i class="fa fa-caret-right"></i>
                    {% endif %}
                </span>
                <div class="media-body">
                    {% trans "User Welcome Email" %}
                </div>
            </li>
        </ul>
    </button>
{% endif %}


{% if request.user|is_portal_manager or request.user|is_superuser %}
    {% if SETTINGS.COSINNUS_CONFERENCES_ENABLED and not SETTINGS.COSINNUS_CONFERENCES_USE_COMPACT_MODE %}
        {% url "cosinnus:conference-administration-overview" as url_conference_overview %}
        <button type="button" class="btn w100 btn-emphasized fine-space" href="{{ url_conference_overview }}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-television"></i>
                    </span>
                    <span class="pull-right">
                        {% if request.path|startswith:url_conference_overview %}
                          <i class="fa fa-caret-right"></i>
                        {% endif %}
                    </span>
                    <div class="media-body">
                        {% trans "Conference Overview" %}
                    </div>
                </li>
            </ul>
        </button>

        {% url "cosinnus:conference-administration-overview-premium" as url_conference_overview_premium %}
        <button type="button" class="btn w100 btn-emphasized fine-space" href="{{ url_conference_overview_premium }}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-television"></i>
                    </span>
                    <span class="pull-right">
                        {% if request.path|startswith:url_conference_overview_premium %}
                          <i class="fa fa-caret-right"></i>
                        {% endif %}
                    </span>
                    <div class="media-body">
                        {% trans "Premium Conferences Only" %}
                    </div>
                </li>
            </ul>
        </button>

      {% url "cosinnus:conference-administration-overview-nonstandard" as url_conference_overview_nonstandard %}
        <button type="button" class="btn w100 btn-emphasized regular-space" href="{{ url_conference_overview_nonstandard }}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-television"></i>
                    </span>
                    <span class="pull-right">
                        {% if request.path|startswith:url_conference_overview_nonstandard %}
                          <i class="fa fa-caret-right"></i>
                        {% endif %}
                    </span>
                    <div class="media-body">
                        {% trans "Conferences with Custom Settings" %}
                    </div>
                </li>
            </ul>
        </button>
    {% endif %}

    {% url "cosinnus:simple-statistics" as url_simple_statistics %}
    <button type="button" class="btn w100 btn-emphasized regular-space" href="{{ url_simple_statistics }}">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    <i class="fa fa-table"></i>
                </span>
                <span class="pull-right">
                    {% if request.path|startswith:url_simple_statistics %}
                      <i class="fa fa-caret-right"></i>
                    {% endif %}
                </span>
                <div class="media-body">
                    {% trans "Simple Statistics" %}
                </div>
            </li>
        </ul>
    </button>
{% endif %}
