{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags %}

{% block page_title %}{% trans "Create new User" %} - {% trans "Edit" %}{% endblock %}

{% block leftnav %}
{% include 'cosinnus/administration/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
<li><a href="{% url 'cosinnus:administration' %}">{% trans "Administration" %}</a></li>
<li class="active">{% trans "User Management" %}</li>
{% endblock %}

{% block content %}
<div class="content-box">
    <form method="post">{% csrf_token %}
        <div class="fadedown pull-right">
            <button type="submit" name="send_login_token" value="__all__" class="btn btn-emphasized btn-autosize">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <div class="media-body">
                            {% trans 'send login token to all inactive users'%}
                        </div>
                    </li>
                </ul>
            </button>
        </div>
    </form>
    <h2 class="white-text large-space">{% trans 'Users' %}</h2>
    {% if object_list %}
    <table class="table table-striped white-content">
        <thead>
            <tr>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Firstname" %}</th>
                <th>{% trans "Lastname" %}</th>
                <th>{% trans "Last Login" %}</th>
                <th><div class="pull-right">{% trans "User token" %}</div></th>
            </tr>
        </thead>
        {% for user in object_list %}
        <tr>
            <th><a href="{% url 'cosinnus:administration-user-update' pk=user.id %}">{{ user.email }}</a></th>
            <th>{{ user.first_name }}</th>
            <th>{{ user.last_name }}</th>
            <th>{% if user.last_login %}{{ user.last_login }}{% else %}-{% endif %}</th>
            <th>
                {% if not user.last_login %}
                <form method="post">{% csrf_token %}
                    <div class="fadedown pull-right">
                        <button type="submit" name="send_login_token" value="{{ user.id }}" class="btn btn-emphasized btn-autosize btn-small">
                            <ul class="media-list">
                                <li class="media">
                                    <a class="pull-left">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                    <div class="media-body">
						                {% if user.cosinnus_profile.settings.login_token_send %}
						                    {% trans 'Resend login token'%}
						                {% else %}
                                            {% trans 'Send login token'%}
						                {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </button>
                    </div>
                </form>
                {% endif %}
                {% if user.cosinnus_profile.settings.login_token_send %}
	                <div class="pull-right">
	                    {% trans 'Last sent on: ' %} {{ user.cosinnus_profile.settings.login_token_send |stringformat:"%Y-%m-%dT%H:%M:%SZ"|date:"SHORT_DATETIME_FORMAT"}}
	                </div>
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        {% trans "There are no users yet." %}
    {% endif %}
</div>
<div class="fadedown pull-right">
    <button class="btn btn-emphasized btn-autosize" href="{% url 'cosinnus:administration-user-create' %}">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left">
                    <i class="fa fa-plus"></i>
                </a>
                <div class="media-body">
                    {% trans 'Add user'%}
                </div>
            </li>
        </ul>
    </button>
</div>
{% endblock %}