{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/ajax_forms.js' %}"></script>
{% endblock extrahead %}

{% block page_title %}{% trans "User Administration" %} - {% trans "Edit" %}{% endblock %}

{% block leftnav %}
{% include 'cosinnus/administration/leftnav.html' %}
{% endblock leftnav %}

{% block breadcrumb %}
<li><a href="{% url 'cosinnus:administration' %}">{% trans "Administration" %}</a></li>
<li class="active">{% trans "User Management" %}</li>
{% endblock %}

{% block content %}
<div class="content-box">
    
    <form method="post">{% csrf_token %}
        {% if request.GET.search %}
            <input type="hidden" name="search" value="{{ request.GET.search }}">
        {% endif %}
        {% if request.GET.order_by %}
            <input type="hidden" name="order_by" value="{{ request.GET.order_by }}">
        {% endif %}
        {% if request.GET.managed_tag %}
            <input type="hidden" name="managed_tag" value="{{ request.GET.managed_tag }}">
        {% endif %}
        <div class="fadedown pull-right">
            <button id="start_send_all_tokens" type="submit" name="send_login_token" value="__all__" class="btn btn-emphasized btn-autosize">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <div class="media-body">
                            {% trans 'send login token to all inactive users'%}
                        </div>
                    </li>
                </ul>
            </button>
	        <script type="text/javascript">
	             $('#start_send_all_tokens').on('mouseup', function(){
	                 setTimeout(function(){$('#start_send_all_tokens').attr('disabled', 'disabled');}, 5);
	             });
	        </script>
        </div>
    </form>

    <h2 class="white-text large-space">{% trans 'Users' %}</h2>
    <form method="get">
        {% if request.GET.order_by %}
            <input type="hidden" name="order_by" value="{{ request.GET.order_by }}">
        {% endif %}
        <div class="content-box">
            <div class="row">
                <div class="col-md-8">
                    <div class="cosinnus-field">
                        <label>{% trans 'Search' %}</label>
						<div class="cosinnus-field-input large-field">
                            <div type="button" class="btn btn-default w100">
                                <ul class="media-list">
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <div class="media-body media-body-form-control">
                                            <input class="form-control"
                                                placeholder="{% trans 'Search for email, firstname or lastname' %}"
                                                name="search" {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
					<div class="cosinnus-field">
                        <label>{{ options_label }}</label>
						<div class="cosinnus-field-input large-field">
							<select name="managed_tag">
                                <option value="">{% trans '(No choice)' %}</option>
								{% for option in options %}
								<option value="{{ option.0 }}" {% if option.0 == request.GET.managed_tag %}selected{% endif %}>{{ option.1 }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>

            </div>
        </div>
        <button type="submit" class="btn btn-emphasized large-space" title="{% trans 'search' %}">
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        {% trans 'search' %}
                    </div>
                </li>
            </ul>
        </button>
    </form>


    {% if object_list %}

    {% if request.GET.search %}
        <div class="user-management-search-result large-space">
            <div>
                {% blocktrans with search_string=request.GET.search count total=total %}
                Found {{ total }} user with an email that contains: '{{ search_string }}'
                {% plural %}
                Found {{ total }} users with an email that contains: '{{ search_string }}'
                {% endblocktrans %}
            </div>

            <button class="btn btn-small" href="{% url 'cosinnus:administration-users' %}?search=&order_by={{ request.GET.order_by }}">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left">
                            <i class="fas fa-times"></i>
                        </a>
                        <div class="media-body">
                            {% trans 'clear search' %}
                        </div>
                    </li>
                </ul>
            </button>

        </div>
    {% endif %}

    <table class="table table-striped white-content user-management-user-list">
        <thead>
            <tr>
                {% if request.GET.order_by == 'email' %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=-email">{% trans "Email" %} <i class="fa fa-chevron-down"></i></a></th>
                {% elif request.GET.order_by == '-email'  %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=email">{% trans "Email" %} <i class="fa fa-chevron-up"></i></a></th>
                {% else %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=email">{% trans "Email" %}</a></th>
                {% endif %}


                {% if request.GET.order_by == 'first_name' %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=-first_name">{% trans "Firstname" %} <i class="fa fa-chevron-down"></i></a></th>
                {% elif request.GET.order_by == '-first_name'%}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=first_name">{% trans "Firstname" %} <i class="fa fa-chevron-up"></i></a></th>
                {% else %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=first_name">{% trans "Firstname" %}</a></th>
                {% endif %}

                {% if request.GET.order_by == 'last_name' %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=-last_name">{% trans "Lastname" %} <i class="fa fa-chevron-down"></i></a></th>
                {% elif request.GET.order_by == '-last_name' %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=last_name">{% trans "Lastname" %} <i class="fa fa-chevron-up"></i></a></th>
                {% else %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=last_name">{% trans "Lastname" %}</a></th>
                {% endif %}

                {% if request.GET.order_by == '-last_login' %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=last_login">{% trans "Last Login" %} <i class="fa fa-chevron-up"></i></a></th>
                {% elif request.GET.order_by == 'last_login' %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=-last_login">{% trans "Last Login" %} <i class="fa fa-chevron-down"></i></a></th>
                {% else %}
                <th><a href="{{ request.path }}?search={{ request.GET.search }}&managed_tag={{ request.GET.managed_tag }}&order_by=-last_login">{% trans "Last Login" %}</a></th>
                {% endif %}
                <th><div class="pull-right">{% trans "User token" %}</div></th>
            </tr>
        </thead>
        {% for user in object_list %}
        <tr>
            <th>
                <a href="{% url 'cosinnus:administration-user-update' pk=user.id %}">
                    {{ user.email }}
                </a>
                {% if not user.is_active %}
                    ({% trans "Account deactivated" %})
                {% endif %}
                {% block extra_user_data %}{% endblock %}
            </th>
            <th>{{ user.first_name }}</th>
            <th>{{ user.last_name }}</th>
            <th>{% if user.last_login %}{{ user.last_login }}{% else %}-{% endif %}</th>
            <th>
                <div data-target="ajax-form-delete-element" data-ajax-form-id="send-login-token-u-{{ user.id }}">
	                {% if not user.last_login and not user.password %}
		                <form method="post" id="send-login-token-u-{{ user.id }}" data-target="ajax-form">{% csrf_token %}
		                    {% if request.GET.search %}
		                        <input type="hidden" name="search" value="{{ request.GET.search }}" />
		                    {% endif %}
		                    <input type="hidden" name="send_login_token" value="{{ user.id }}" />
		                    <div class="fadedown pull-right">
		                        <button type="submit" class="btn btn-emphasized btn-autosize btn-small">
		                            <ul class="media-list">
		                                <li class="media">
		                                    <a class="pull-left">
		                                        <i class="fa fa-envelope"></i>
		                                    </a>
		                                    <div class="media-body">
								                {% if user.cosinnus_profile.get_last_login_token_sent %}
								                    {% trans 'Resend login token'%}
								                {% else %}
		                                            {% trans 'Send login token'%}
								                {% endif %}
		                                    </div>
		                                </li>
		                            </ul>
		                        </button>
		                    </div>
		                </form>
	                {% endif %}
	                {% if user.cosinnus_profile.get_last_login_token_sent %}
		                <div class="pull-right">
		                    {% trans 'Last sent on: ' %} {{ user.cosinnus_profile.get_last_login_token_sent |stringformat:"%Y-%m-%dT%H:%M:%SZ"|date:"SHORT_DATETIME_FORMAT"}}
		                </div>
	                {% endif %}
                </div>                
                <div class="pull-right color-primary" style="display: none;" data-target="ajax-form-show-element" data-ajax-form-id="send-login-token-u-{{ user.id }}">
                    {% blocktrans with email=user.email %}Login token was sent to {{ email }}.{% endblocktrans %}
                </div>
            </th>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="user-management-search-result large-space">
        {% if request.GET.search %}
        <div>{% blocktrans with search_string=request.GET.search%}Could not find any users with an email that contains '{{ search_string }}.'{% endblocktrans %}</div>

        <button class="btn btn-small" href="{% url 'cosinnus:administration-users' %}">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left">
                        <i class="fas fa-times"></i>
                    </a>
                    <div class="media-body">
                        {% trans 'clear search' %}
                    </div>
                </li>
            </ul>
        </button>
        {% else %}
        {% trans "There are no users yet." %}
        {% endif %}
        </div>
    {% endif %}

    {% if object_list %}
    <div class="user-management-search-pagination row">
        <class class="col-xs-4">
            {% if page_obj.has_previous %}
                <a href="?page=1&search={{ request.GET.search}}&managed_tag={{ request.GET.managed_tag }}&order_by={{ request.GET.order_by }}">&laquo; {% trans 'to first page' %}</a>
                <a href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search}}&managed_tag={{ request.GET.managed_tag }}&order_by={{ request.GET.order_by }}">{% trans 'previous' %}</a>
            {% endif %}
        </class>

        <div class="col-xs-4 current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </div>

        <div class="col-xs-4 next">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search}}&managed_tag={{ request.GET.managed_tag }}&order_by={{ request.GET.order_by }}">{% trans 'next' %} &raquo;</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>



<div class="fadedown pull-right">
    <button class="btn btn-emphasized btn-autosize" href="{% url 'cosinnus:administration-user-create' %}">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left">
                    <i class="fa fa-plus"></i>
                </a>
                <div class="media-body">
                    {% trans 'Add user'%}
                </div>
            </li>
        </ul>
    </button>
</div>
{% endblock %}