{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static thumbnail cosinnus_tags %}

{% block page_title %}{% trans "Join BBB Meeting as guest" %} {{ block.super }}{% endblock page_title %}

{% block leftnav %}
{% endblock leftnav %}

{% block breadcrumb %}
{% endblock %}

{% block main_page %}
    {{ block.super }}

    <div class="row">
        <div class="col-lg-12 col-md-12">    
            
            {% if meeting_url %}
                <div class="content-box"> <!-- a box with semi transparent background -->
	                {% include 'cosinnus/conference/conference_meeting_single.html' %}
	            </div><!-- content-box -->
            {% else %}
	            <div class="content-box"> <!-- a box with semi transparent background -->
		            <h2>{% trans "Join Meeting as guest" %}: {{ meeting_name }}</h2>
		            
				    {% if request.GET.username %}
                        {% captureas name_val %}{{ request.GET.username }}{% endcaptureas %}
                    {% endif %}
                    {% trans "Your Name" as your_name_trans %}
                    {% include 'cosinnus/fields/default_field.html' with field=form.username placeholder=your_name_trans field_value=name_val %}
                    
				    {% include 'cosinnus/registration/extra_signup_fields.html' %}
				    
		        </div>
		        <script type="text/javascript">
		            function redirectToBBB() {
		                var tos_check = $('input[name="username"]').val() ? "true" : "false";
		                window.location.href = '?username=' + $('input[name="username"]').val() + '&tos_check=' + tos_check;
		            }
		        </script>
		        <button type="button" class="btn btn-emphasized btn-autosize" onclick="redirectToBBB();">
		            <ul class="media-list">
		                <li class="media">
		                    <span class="pull-left" href="#" tabindex="-1">
		                        <i class="fa fa-check"></i>
		                    </span>
		                    <div class="media-body">
		                        {% trans "Join Meeting" %}
		                    </div>
		                </li>
		            </ul>
		        </button>
		    {% endif %}
        </div>
    </div>
{% endblock %}
