{% extends "cosinnus/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
    {% trans "Conference Room Management" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans "Conference Room Management" %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/group/leftnav_group.html"  with current_page="conferenceroommanagement" %}
{% endblock leftnav %}

{% block content %}
    <button type="button" href="{% group_url "cosinnus:conference:room-add" group=group %}" class="btn btn-emphasized btn-autosize" title="{% trans "Create Room" %}">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-plus"></i>
                </a>
                <div class="media-body">
                    {% trans "Create Room" %}
                </div>
            </li>
        </ul>
    </button>
    <div class="clearfix"></div>
    
    <!-- a box with semi transparent background -->
    <div class="content-box large-space">
        <h2>{% trans "Conference Room Management" %}</h2>
        
        {% if not group.is_premium %}
            <div class="alert alert-warning alert-dismissable">
                <i class="fas fa-exclamation-triangle fa-3x"></i>
                <p>
		            {% comment %} Deine Tagung befindet sich gerade noch im DINA-Probe-Modus. Du hast Zugriff auf alle Features, aber kannst diese nur mit wenigen Leuten uneingeschränkt nutzen. Um dir bei deiner Umsetzung mit mehreren Nutzer*innen die volle Leistung zu sichern, buche hier kostenlos ausreichend Kapazitäten: {% endcomment %}
		            {% trans "Your conference is still in trial mode. You have access to all features, but can only use them with a few people without restrictions. To ensure full performance for your conference with multiple users, book sufficient capacities here for free:" %}
		            <a href="TODOlink" target="_blank">{% trans "Conference Bookings" %}</a>
                </p>
            </div>
        {% endif %}
        
        {% if not SETTINGS.COSINNUS_CONFERENCES_USE_COMPACT_MODE %}
	        <div class='form-info textfield transparent'>
	            <p>
	                {% trans "There are several types of conference rooms, each with their own different interface and functionality. By creating different rooms and putting them in the order you like, you can customise the look and feel of your conference." %}
	            </p>
	            <p>
	                {% trans "You can directly create conference events for rooms from here by using the controls for each room's dropdown menu." %}
	            </p>
	        </div>
	        <div class="ultra-space"></div>
        {% endif %}
        
        {% for room in object_list %}
            {% include 'cosinnus/conference/conference_room_list_object.html' with object=room %}
        {% empty %}
            {% trans "There are no rooms yet." as empty_message %}
            {% include 'cosinnus/common/empty_button.html' with message=empty_message %}
        {% endfor %}
    </div><!-- content-box -->
{% endblock content %}
