{% load i18n static cosinnus_tags %}

<button type="button" class="btn btn-emphasized btn-autosize copy-invitation mobile-hidden">
    <ul class="media-list">
        <li class="media">
                        <span class="pull-left">
                            <i class="fa fa-clipboard"></i>
                        </span>
            <div class="media-body">
                {% trans "Copy invitation" %}
            </div>
        </li>
    </ul>
</button>

{% if user|has_write_access:object %}
    <button type="button" class="btn btn-emphasized btn-autosize copy-guest-invitation mobile-hidden">
        <ul class="media-list">
            <li class="media">
                        <span class="pull-left">
                            <i class="fa fa-clipboard"></i>
                        </span>
                <div class="media-body">
                    {% trans "Copy guest invitation" %}
                </div>
            </li>
        </ul>
    </button>
{% endif %}

<script type="text/javascript">
    function copyInvitation(guest = false) {
        const objectId = "{{ object.id }}";
        const objectType = "{{ object_type }}";
        const apiUrl = `/api/v2/conferences/invitation/?object_type=${objectType}&object_id=${objectId}&guest=${guest === true}`;
        const fetchPromise = fetch(apiUrl).then(response => {
            if (response.ok) {
                return response.json()
            } else {
                console.error("Conference invitation API call failed.")
            }
        }).then(data => {
            if (data.invitation && data.alert_text) {
                return data
            } else {
                console.error("Conference invitation API call returned invalid data.")
            }
        })
        if(typeof ClipboardItem && navigator.clipboard.write) {
            // Use ClipboardItem if supported by browser. Pass api fetch as promise to ClipboardItem to fix permissions
            // on Safari, that does not allow to have a async function copying to clipboard.
            const text = new ClipboardItem({
                "text/plain": fetchPromise.then(data => new Blob([data.invitation], {type: "text/plain"}))
            })
            navigator.clipboard.write([text]).then(() => fetchPromise.then(data => window.alert(data.alert_text)))
        } else {
            // Use wirteText on Firefox that does not support ClipboardItem and allows async access to clipboard.
            fetchPromise.then(data => {
                navigator.clipboard.writeText(data.invitation).then(() => window.alert(data.alert_text))
            })
        }
    }
    $('.copy-invitation').click(function(){
        copyInvitation(false)
    });
    $('.copy-guest-invitation').click(function(){
        copyInvitation(true)
    });
</script>
