{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static thumbnail cosinnus_tags %}

{% block page_title %}{{ group.name }} {{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li><a href="{% group_url 'cosinnus:conference:participation-management' group=group %}">{% trans "Conference Applications" %}</a></li>
        <li class="active">{% trans "Applications" %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/group/leftnav_group.html" with current_page="conference_applications" object=group %}
{% endblock leftnav %}

{% block content %}

<form method="POST" action="" class="cosinnus-form">
    {% csrf_token %}
    {{ form.media }}
    {{ form.non_field_errors }}
    {{ form.non_field_errors }}
    {{ form.management_form }}
    {{ assignment_formset.management_form }}
    <div class="content-box">
        {% if max_number %}
        <div class="large-space">{% trans 'The maximum number of participants is ' %} {{ max_number }} ({% blocktrans count counter=places_left %} 1 place left {% plural %} {{ counter }} places left {% endblocktrans %}) </div>
        {% endif %}
        <table class="table priority-form">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "First Choice" %}</th>
                    <th>{% trans "Second Choice" %}</th>
                    {% for value, text in form.0.status.field.widget.choices %}
                    {% if value == 3 %}
                    <th><i class="fas fa-clock"></i></th>
                    {% elif value == 4 %}
                    <th><i class="fas fa-check"></i></th>
                    {% elif value == 5 %}
                    <th><i class="fas fa-times"></i></th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            {% for application in form %}
            <tr class="white-content">
                {{ application.conference }}
                {{ application.user }}
                {{ application.id }}
                <td>{{ application.instance.user|full_name }}</td>
                <td>{{ application.instance.first_priorities_string }}</td>
                <td>{{ application.instance.second_priorities_string }}</td>
                {{ application.status }}
            </tr>
            {% endfor %}
        </table>

        <div class="large-space">
            {% for form in assignment_formset %}
                {{ form.event_id }}
                {% if forloop.first %}
                <div class="row">
                {% endif %}
                    <div class="col-md-6">
                        {% include 'cosinnus/fields/default_field.html' with field=form.users label=form.event_name.value large_field=True %}
                    </div>
                {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}
        </div>

        <button class="btn btn-left btn-emphasized">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="{% group_url 'cosinnus:conference:participants-details-download' group=group %}">
                        <i class="fas fa-download"></i>
                    </a>
                    <div class="media-body">
                        <a href="{% group_url 'cosinnus:conference:participants-details-download' group=group %}">{% trans "Export details and addresses" %}</a>
                    </div>
                </li>
            </ul>
        </button>
        <button class="btn btn-left btn-emphasized">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="{% group_url 'cosinnus:conference:participants-details-download' group=group %}">
                        <i class="fas fa-download"></i>
                    </a>
                    <div class="media-body">
                        <a href="{% group_url 'cosinnus:conference:participants-details-download' group=group %}">{% trans "Export signature list" %}</a>
                    </div>
                </li>
            </ul>
        </button>
    </div>
    <button type="submit" class="btn btn-emphasized">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-check"></i>
                </a>
                <div class="media-body">
                    {% trans "Save" %}
                </div>
            </li>
        </ul>
    </button>
</form>
{% endblock %}