{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static thumbnail cosinnus_tags sekizai_tags %}

{% block page_title %}{{ group.name }} {{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li><a href="{% group_url 'cosinnus:conference:participation-management' group=group %}">{% trans "Conference Applications" %}</a></li>
        <li class="active">{% trans "Manage participation applications" %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/group/leftnav_group.html" with current_page="conference_applications" object=group %}
{% endblock leftnav %}

{% block content %}

	{% if form|length == 0 %}
	    <div class="content-box">
            <h2>{% trans "Manage participation applications" %}</h2>
            <hr class="invisible" />
	        <div class="textfield transparent">
	            <p>
	                {% trans "There are no participation applications yet." %}
	            </p>
	        </div>
	    </div>
	{% else %}
		<form method="POST" action="" class="cosinnus-form">
		    {% csrf_token %}
		    {{ form.media }}
		    {{ form.non_field_errors }}
		    {{ form.non_field_errors }}
		    {{ form.management_form }}
		    {{ assignment_formset.management_form }}
		    <div class="content-box">
		        
                <h2>{% trans "Manage participation applications" %}</h2>
		    
		        {% if max_number %}
		            <div class="large-space">{% trans 'The maximum number of participants is ' %} {{ max_number }} ({% blocktrans count counter=places_left %} 1 place left {% plural %} {{ counter }} places left {% endblocktrans %}) </div>
		        {% endif %}
		        <div class="applications-form">
		            <div class="application-row">
		                <div class="row header-row">
		                    <div class="col-md-4 col-md-offset-8">
		                        <div class="row">
		                        {% for value, text in form.0.status.field.widget.choices %}
		                            {% if value == 3 %}
			                            <div class="col-md-4 centered">
			                                <i class="fas fa-clock"></i>
			                                <br/>
                                            {% trans "Put on waitlist" %}
			                            </div>
		                            {% elif value == 4 %}
			                            <div class="col-md-4 centered">
			                                <i class="fas fa-check"></i>
			                                <br/>
                                            {% trans "Accept" %}
			                            </div>
		                            {% elif value == 5 %}
			                            <div class="col-md-4 centered">
			                                <i class="fas fa-times"></i>
			                                <br/>
                                            {% trans "Decline" %}
			                            </div>
		                            {% endif %}
		                        {% endfor %}
		                        </div>
		                    </div>
		                </div>
		            </div>
		
		            {% for application in form %}
		                <div class="application">
			                {{ application.conference }}
			                {{ application.user }}
			                {{ application.id }}
			                {{ application.information }}
			                
		                    <div class="row application-row white-content">
		                        <div class="col-md-2 textfield transparent no-margin">
		                            <b>{% trans "Name" %}</b> <br/> 
		                            <a href="{{ application.instance.user.cosinnus_profile.get_absolute_url }}" target="_blank">
		                                {{ application.instance.user|full_name }}
		                            </a>
		                        </div>
		                        <div class="col-md-2 textfield transparent no-margin">
		                            <b> {% trans "Location" %} </b> <br/>
		                                {% if application.instance.user.cosinnus_profile.media_tag.location %}
		                                    {{ application.instance.user.cosinnus_profile.media_tag.location }}
		                                {% else %}
		                                -
		                                {% endif %}
		                        </div>
		                        <div class="col-md-2 textfield transparent no-margin">
		                            <b>{% trans "First Choice" %}</b> <br/>
		                            {% if application.instance.first_priorities_string %}
		                                {{ application.instance.first_priorities_string }}
		                            {% else %}
		                                -
		                            {% endif %}
		                        </div>
		                        <div class="col-md-2 textfield transparent no-margin">
		                            <b>{% trans "Second Choice" %}</b> <br/>
		                            {% if application.instance.second_priorities_string %}
		                                {{ application.instance.second_priorities_string }}
		                            {% else %}
		                                -
		                            {% endif %}
		                        </div>
		                        <div class="col-md-4 textfield transparent no-margin">
		                            <div class="row">{{ application.status }}</div>
		                        </div>
		                    </div>
		                    <div id="collapse{{ forloop.counter0 }}" {% if application.reason_for_rejection.value and application.status.value != 4  %}class="in"{% else %}class="collapse" style="height: 0px;"{% endif %}" role="tabpanel">
		                        <div class="row">
			                        {% captureas rejection_placeholder %}{% trans 'Reason for rejection' %} ({% trans "optional" %}){% endcaptureas %}
		                            <div class="col-md-4">
		                                 <div class="pull-right">
		                                     {% include 'cosinnus/fields/default_field.html' with label=rejection_placeholder %}
		                                 </div>
		                            </div>
			                        <div class="col-md-8">
			                        {% include 'cosinnus/fields/default_field.html' with field=application.reason_for_rejection placeholder=rejection_placeholder %}
			                        </div>
		                        </div>
		                   </div>
		                    
		                    <div class="row large-space application-row">
		                        {% block application_info_row %}
		                            {% if application.information.value %}
		                                <div class="col-xs-12 textfield transparent no-margin">
									        <b>{% trans 'Message to organizer' %}:</b>
		                                    {{ application.information.value }}
									    </div>
		                            {% endif %}
		                            <div class="col-xs-12 textfield transparent no-margin">
		                                <b>{% trans 'Application submitted' %}:</b>
			                            {{ application.created|date:"DATETIME_FORMAT" }}
		                            </div>
		                            {% comment %} 
		                            <div class="btn btn-primary dropdown-button">
		                                {% if application.information.value %}
		                                    <i class="fas fa-exclamation"></i> 
		                                {% endif %} 
			                            <a role="button" data-toggle="collapse" href="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
		                                    {% trans 'show more ...' %}
			                            </a>
		                            </div>
		                             {% endcomment %}
		                        {% endblock %}
		                    </div>
		                </div>
		            {% endfor %}
		        </div>
		        
		        <hr/>
		        
		        <div class="large-space">
		            {% for form in assignment_formset %}
		                {% if forloop.first %}
			               <h4>{% trans "Workshop Assignments" %}</h4>
			            {% endif %}
			            
		                {{ form.event_id }}
		                {% if forloop.first %}
		                <div class="row">
		                {% endif %}
		                    <div class="col-md-6">
		                        {% trans "Choose users to assign to this workshop" as workshop_placeholder %}
		                        {% include 'cosinnus/fields/default_field.html' with field=form.users label=form.event_name.value placeholder=workshop_placeholder large_field=True %}
		                    </div>
		                {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
		                {% if forloop.last %}</div>{% endif %}
		            {% endfor %}
		        </div>
		
		    </div>

			{% block extra_buttons %}{% endblock %}
		    
		    <button type="submit" class="btn btn-emphasized">
		        <ul class="media-list">
		            <li class="media">
		                <a class="pull-left" href="#">
		                    <i class="fa fa-check"></i>
		                </a>
		                <div class="media-body">
		                    {% trans "Save" %}
		                </div>
		            </li>
		        </ul>
		    </button>
		</form>
	{% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% addtoblock "js" %}
        <script src="{% static 'js/reason_for_reject.js' %}" charset="utf-8"></script>
    {% endaddtoblock %}
{% endblock extrahead %}

