{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static thumbnail cosinnus_tags %}

{% block extrahead %}
    {{ block.super }}
    {% if form.information %}
        {% include 'cosinnus/common/simplemde_dependencies.html' with element_id=form.information.id_for_label %}
    {% endif %}
{% endblock %}

{% block leftnav %}{% endblock %}

{% block page_title %}{% trans "Application" %} - {{ group.name }} {{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Application" %} - {{ group.name }}</li>
{% endblock %}

{% block content %}
	{% if applications_are_active %}
		<form method="POST" action="" class="cosinnus-form">
		    {% csrf_token %}
		    {{ form.media }}
		    {{ form.non_field_errors }}
		    {{ priority_formset.management_form }}
		    {{ priority_formset.non_form_errors }}
		    <div class="content-box">
                {% if not form.options and priority_formset.forms|length_is:0 and not form.conditions_accepted %}
                    <h2>{% trans 'Apply for participation in' %} <i>{{ group.name }}</i></h2>
                {% else %}
                    <h2>{% trans 'Edit your application for' %} <i>{{ group.name }}</i></h2>
                {% endif %}
		        
		        {% if form.information %}
			        {% trans "Please provide your motivation for applying" as information_label %}
	                {% trans "Describe why you wish to participate" as information_placeholder %}
			        {% include 'cosinnus/fields/default_field.html' with field=form.information label=information_label placeholder=information_placeholder large_field=True %}
			    {% endif %}
		
		        {% if priority_formset.forms %}
			        <table class="table table-striped white-content priority-form">
			            <thead>
			                <tr>
			                    <th>{% trans "Workshop" %}</th>
			                    {% for value, text in priority_formset.0.priority.field.widget.choices %}
			                        <th>{{ text }}</th>
			                    {% endfor %}
			                </tr>
			            </thead>
			
			        {% for form in priority_formset %}
				        {{ form.event_id }}
				        <tr>
				            <td>{{ form.event_name.value }}</td>
				            {{ form.priority }}
				        </tr>
				
			        {% endfor %}
			        </table>
		        {% endif %}
		        
                {% if form.options %}
                    {% trans "My individual needs" as options_label %}
                    {% trans "(no options chosen)" as options_placeholder %}
                    {% include 'cosinnus/fields/default_field.html' with field=form.options label=options_label placeholder=options_placeholder large_field=True %}
                {% endif %}
		
		        {% if form.conditions_accepted %}
		            {% trans "Application conditions" as conditions_label %}
		            {% include 'cosinnus/fields/default_field.html' with label=conditions_label %}
					<div class="large-space textfield transparent">
					    {% if participation_management and participation_management.application_conditions %}
    						{{ participation_management.application_conditions|textfield }}
						{% endif %}
						{% if participation_management and participation_management.application_conditions_upload %}
							<p>
								<a href="{{ participation_management.application_conditions_upload.url }}" target="_blank">
									<i class="fas fa-download"></i>
									{% trans 'Download the conditions' %}
								</a>
							</p>
						{% endif %}
					</div>
					{% trans "I accept the conditions in order to submit my application" as conditions_checkbox_label %}
			        {% include 'cosinnus/fields/checkbox_field.html' with field=form.conditions_accepted label=conditions_checkbox_label legend=legend checkbox_label=conditions_checkbox_label %}
		        {% endif %}
		        
		        <div class="ultra-space"> </div>
		        {% if participation_management %}
                    {% include 'cosinnus/fields/mandatory_field_legend.html' with no_spacer=True %}
                {% endif %}
		    </div>
		
		    <button type="submit" class="btn btn-emphasized btn-autosize">
		        <ul class="media-list">
		            <li class="media">
		                <a class="pull-left" href="#">
		                    <i class="fa fa-check"></i>
		                </a>
		                <div class="media-body">
		                    {% if form.instance.id %}
		                        {% trans "Save changes" %}
		                    {% else %}
		                        {% trans "Apply for conference participation" %}
		                    {% endif %}
		                </div>
		            </li>
		        </ul>
		    </button>
		
		    {% if form.instance.id %}
			    <button type="submit" name="withdraw" class="btn btn-emphasized">
			        <ul class="media-list">
			            <li class="media">
			                <a class="pull-left" href="#">
			                    <i class="fa fa-trash"></i>
			                </a>
			                <div class="media-body">
			                    {% trans "Withdraw" %}
			                </div>
			            </li>
			        </ul>
			    </button>
		    {% endif %}
		</form>
	{% endif %}
{% endblock %}