{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static thumbnail cosinnus_tags %}

{% block page_title %}{{ group.name }} {{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li><a href="{% group_url 'cosinnus:conference:participation-management' group=group %}">{% trans "Conference participation management" %}</a></li>
        <li class="active">{% trans "Applications" %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/group/leftnav_group.html" with current_page="conference_participation_manangement" object=group %}
{% endblock leftnav %}

{% block content %}

<form method="POST" action="" class="cosinnus-form">
    {% csrf_token %}
    {{ form.media }}
    {{ form.non_field_errors }}
    {{ form.non_field_errors }}
    {{ form.management_form }}
    {{ assignment_formset.management_form }}
    <div class="content-box">
        {% if max_number %}
        <div>{% trans 'The maximum number of participants is ' %} {{ max_number }} ({% blocktrans count counter=places_left %} 1 place left {% plural %} {{ counter }} places left {% endblocktrans %}) </div>
        {% endif %}
        <table class="table white-content priority-form">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "First Choice" %}</th>
                    <th>{% trans "Second Choice" %}</th>
                    <th>{% trans "Status" %}</th>
                </tr>
            </thead>
            {% for application in form %}
            <tr>
                {{ application.conference }}
                {{ application.user }}
                {{ application.id }}
                <td>{{ application.instance.user|full_name }}</td>
                <td>{{ application.instance.first_priority.title }}</td>
                <td>{{ application.instance.second_priority.title }}</td>
                <td>{{ application.status }}</td>
            </tr>
            {% endfor %}
        </table>


    {% for form in assignment_formset %}
    {{ form.event_id }}
    {% include 'cosinnus/fields/default_field.html' with field=form.users label=form.event_name.value large_field=True %}
    {% endfor %}
    </div>
    <button type="submit" class="btn btn-emphasized">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-check"></i>
                </a>
                <div class="media-body">
                    {% trans "Save" %}
                </div>
            </li>
        </ul>
    </button>
</form>
{% endblock %}