{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static thumbnail cosinnus_tags %}

{% block page_title %}{{ group.name }} {{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li><a href="{{ group.get_edit_url }}">{{ group.trans.EDIT }}</a></li>
        <li class="active">{% trans "Edit Conditions of Participation" %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/group/leftnav_group.html" with current_page="conference_participation_manangement" object=group %}
{% endblock leftnav %}

{% block content %}
    <form method="POST" action=".{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" enctype="multipart/form-data" class="cosinnus-form" >
        {% csrf_token %}
        {{ form.media }}
	    {{ form.non_field_errors }}
	    {{ form.non_field_errors }}

        <div class="content-box">
            <h2>{% trans "Edit Conditions of Participation" %}</h2>  
            
            <div class='form-info textfield transparent'>
                {% trans "Manage Participation Applications" as application_management_label %}
                <p>
                    {% trans "Here you can configure the application form that participants have to fill out in order to apply." %}
                    {% blocktrans %}You and all other organizers can process the applications in the "{{ application_management_label }}" section. You can do this even while applications are still open.{% endblocktrans %}
                </p>
                {% if not SETTINGS.COSINNUS_CONFERENCE_USE_PARTICIPATION_FIELD_HIDDEN %}
	                <p>
		                {% trans 'Application method' as application_setting_label %}
	                    {% blocktrans %} If you would prefer to use simple membership requests as they are used in projects/groups, you can disable the setting "{{ application_setting_label }}" in the conference settings.{% endblocktrans %}
	                </p>
                {% endif %}
            </div>
            <div class="ultra-space"></div>

            {% trans "Participation applications are enabled" as application_enabled_checkbox_label %}
            {% include 'cosinnus/fields/checkbox_field.html' with field=form.application_enabled label=application_enabled_checkbox_label checkbox_label=application_enabled_checkbox_label %}

            <div id="application_period" {% if not form.application_enabled.value %}style="display: none"{% endif %}>
                {% trans "Application period" as date_label %}
                {% trans "If set, applications can only be submitted and edited during this time frame. You may change this at any time to close or re-enable applications." as date_legend %}
                {% include 'cosinnus/fields/from_to_date_field.html' with from_date_field=form.application_start to_date_field=form.application_end label=date_label legend=date_legend date_nullable=True %}
            </div>

            <script type="text/javascript">
                {# hide and show application perdiod depending on the application_enabled setting #}
                $("#id_application_enabled").on("click", function(){
                    if($("#id_application_enabled").is(':checked'))
                        $("#application_period").show('slow');
                    else
                        $("#application_period").hide('slow');
                });
            </script>

            {% trans "Maximal Number of participants" as limits_label %}
            {% trans "This is not an enforced limit and serves only as a display for guests." as limits_legend %}
            {% trans "(no limit selected)" as limits_placeholder %}
            {% include 'cosinnus/fields/default_field.html' with field=form.participants_limit label=limits_label legend=limits_legend placeholder=limits_placeholder large_field=True %}
            
            <div class="regular-space"></div>
            {% trans "Applicants must answer questions about participation" as information_checkbox_label %}
            {% include 'cosinnus/fields/checkbox_field.html' with field=form.information_field_enabled label=information_checkbox_label checkbox_label=information_checkbox_label %}

            <div id="motivation_questions" {% if not form.information_field_enabled.value %}style="display: none"{% endif %}>
                {% captureas motivation_questions_legend %}
                    {% trans "Provide a list of questions that the applicants should answer." %}
                    {% blocktrans with other_option=information_checkbox_label %}Only applicable if "{{ other_option }}" is enabled.{% endblocktrans %}
                {% endcaptureas %}
                {% trans "Remove question" as  question_rm_label %}
                {% trans "Add question" as question_add_label %}
                {% include 'cosinnus/fields/inlineform_field.html' with inline_form=motivation_questions_formset legend=motivation_questions_legend content_template='cosinnus/conference/motivation_question_inline.html' unique_id='motivation-questions' add_button_label=question_add_label remove_button_label=question_rm_label %}
            </div>

            <script type="text/javascript">
                {# hide and show motivation questions depending on the information_field_enabled setting #}
                $("#id_information_field_enabled").on("click", function(){
                    if($("#id_information_field_enabled").is(':checked'))
                        $("#motivation_questions").show('slow');
                    else
                        $("#motivation_questions").hide('slow');
                });
            </script>

            {% if form.application_options %}
                {% trans "Options for participation" as options_label %}
                {% trans "Choose one or more options that will be displayed on the application form. Applicants can select any of these options along with their application." as options_legend %}
                {% trans "(no options chosen)" as options_placeholder %}
                {% include 'cosinnus/fields/default_field.html' with field=form.application_options label=options_label legend=options_legend placeholder=options_placeholder large_field=True %}
            {% endif %}

            {% trans "Define additional custom options." as additional_options_legend %}
            {% trans "Remove option" as  option_rm_label %}
            {% trans "Add option" as option_add_label %}
            {% include 'cosinnus/fields/inlineform_field.html' with inline_form=additional_application_options_formset legend=additional_options_legend content_template='cosinnus/conference/additional_application_options_inline.html' unique_id='additional-options' add_button_label=option_add_label remove_button_label=option_rm_label %}

            {% trans "Workshop selection: Enable applicants to choose preferred workshops to attend" as priority_checkbox_label %}
            {% include 'cosinnus/fields/checkbox_field.html' with field=form.priority_choice_enabled label=priority_checkbox_label checkbox_label=priority_checkbox_label %}

            {% if form.may_be_contacted_field_enabled %}
                {% trans "Applicants have to give their permission to be contacted per email" as may_be_contacted_field_enabled_checkbox_label %}
                {% include 'cosinnus/fields/checkbox_field.html' with field=form.may_be_contacted_field_enabled label=may_be_contacted_field_enabled_checkbox_label checkbox_label=may_be_contacted_field_enabled_checkbox_label %}
            {% endif %}
            
            <div class="regular-space"></div>
            <div class="cosinnus-field ">
                <label>{% trans 'Conditions for participation' %}</label>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {% trans "If set, applicants will have to agree to these conditions by checking a checkbox" as conditions_legend %}
                    {% trans "(no conditions selected)" as conditions_placeholder %}
                    {% include 'cosinnus/fields/default_field.html' with field=form.application_conditions legend=conditions_legend placeholder=conditions_placeholder large_field=True %}
                </div>
                <div class="col-md-6">
                    <div class="cosinnus-field ">
                        <div class="field-description">
                            {% trans 'If a file is uploaded, applicants will have to agree to these conditions in that file by checking a checkbox' %}
                        </div>
                    </div>
                    {{ form.application_conditions_upload }}
                </div>
            </div>
            

        </div>
        <button type="submit" class="btn btn-emphasized">
	        <ul class="media-list">
	            <li class="media">
	                <span class="pull-left">
	                    <i class="fa fa-check"></i>
	                </span>
	                <div class="media-body">
                        {% trans "Save" %}
	                </div>
	            </li>
	        </ul>
	    </button>
    </form>
{% endblock %}
