{% extends "cosinnus/base.html" %}
{% load i18n bootstrap3 cosinnus_tags djajax_tags %}
{% load static %}

{% block page_title %}{% if room and room.title %}{{ room.title }} - {% endif %}{{ group.name }}{% endblock page_title %}

{% block csshead %}
    {# do not load in any CSS stylesheets for the conference area when the v3 main content is being rendered out #}
    {% if not COSINNUS_V3_API_CONTENT_ACTIVE %}
        {{ block.super }}
    {% endif %}
{% endblock csshead %}

{% block og_meta_attributes %}
	{% include 'cosinnus/group/group_og_meta_attributes.html' with group=group %}
{% endblock og_meta_attributes %}
{% block body_attributes %}class="conference-body"{% endblock body_attributes %}

{% block container_classes %}conference{% endblock container_classes %}

{% block main_page %}
    {% include 'cosinnus/extra_body_header.html' %}
    <div id="app">
        <!-- React will load here -->
    </div>
{% endblock main_page %}

{% block extrafooter %}
    {{ block.super }}
    <script type="text/javascript">
	    window.conferenceId = {{ group.id }};
	    window.conferenceRoomId = {% if room %}{{ room.id }}{% else %}null{% endif %};
        window.conferenceTrackingEnabled = {{ SETTINGS.COSINNUS_CONFERENCE_STATISTICS_ENABLED|yesno:"true,false" }};
        window.conferenceTrackingInterval = {{ SETTINGS.COSINNUS_CONFERENCE_STATISTICS_TRACKING_INTERVAL|yesno:"true,false" }};
    </script>
    <script src="{% static "conference/conference.js" %}?v={{ SETTINGS.COSINNUS_STATICFILES_VERSION }}"></script>
{% endblock %}
