/* The Bootstrap buttons already have the classes btn-default, btn-info, btn-warning and so on.
	This file adds btn-emphasized, btn-extra-emphasized and btn-appnavi for coloring in the apps's colors.
*/

.btn {
	padding:0;
	border-width:0;
//	background-color:transparent;
	width:10em;
	float:right;
	margin:0 0 0 5px;
}


/* media-lists */
.media-list {
	margin:0;
}
.btn-default .media  > .media-body,
.btn-default .media {
	background-color: $app-neutral-color-white;
}
.media-body {
	line-height:37px;
	padding:0 10px;
}

.media > .pull-left,
.media > .pull-right {
	width:40px;
	height:40px;
	line-height:40px;
	font-size:1.5em;
	text-align:center;
	margin:0;
}
.btn-default .media > .pull-left,
.btn-default .media > .pull-right {
	background-color: $app-neutral-color;
}

.btn-default .media > .pull-left:empty,
.btn-default .media > .pull-right:empty {
	background-color: transparent;
	color: inherit;
}
.btn-default .media > .pull-left {
	color: $app-neutral-color-white;
}
// Icons on the right side are only visible on hover
.btn-default .media > .pull-right {
	color: transparent;
}


/* put a class like .app-documents, .app-todos on areas that contain content in app colors.
	On usual pages it has to be set only once in a global element.

	Whereever the .clickarea-emphasized and .clickarea-extra-emphasized classes occur
	all buttons will have strong colors then.
*/

.btn-appnavi .media a:first-child {
	width: 10px;
}

@mixin btn-app-colors($light,$normal,$dark) {
	.btn-emphasized .media,
	.btn-appnavi .media,
	.btn-emphasized .media > .media-body,
	.btn-appnavi .media > .media-body,
	.btn-emphasized .media > .pull-right,
	.btn-appnavi .media > .pull-left,
	.btn-appnavi .media > .pull-right {
		color: $app-neutral-color-white;
		background-color: $normal;
	}

	.btn-extra-emphasized .media,
	.btn-emphasized:hover .media,
	.btn-appnavi:hover .media,
	.btn-emphasized:hover .media  > .media-body,
	.btn-appnavi:hover .media  > .media-body,
	.btn-extra-emphasized .media  > .media-body,
	.btn-emphasized .media > .pull-left,
	.btn-appnavi .media > .pull-left:first-child,
	.btn-appnavi:hover .media > .pull-left,
	.btn-extra-emphasized .media > .pull-left,
	.btn-extra-emphasized:hover .media > .pull-right,
	.btn-emphasized:hover .media > .pull-right,
	.btn-appnavi:hover .media > .pull-right {
		color: $app-neutral-color-white;
		background-color: $dark;
	}

	.btn-emphasized .media > .pull-left:empty,
	.btn-emphasized .media > .pull-right:empty,
	.btn-appnavi .media > .pull-left:empty,
	.btn-appnavi .media > .pull-right:empty {
		background-color: transparent;
		color: inherit;
	}

	// Icons on the right side are only visible on hover
	.btn-emphasized .media > .pull-right,
	.btn-appnavi .media > .pull-right,
	.btn-extra-emphasized .media > .pull-right {
		color: transparent;
	}
	/* spaces below element */
	.fine-space {
		border-bottom: 1px solid $light;
	}
}

.app-calendar {
	@include btn-app-colors($app-calendar-color-light,$app-calendar-color,$app-calendar-color-dark);
}
.app-files {
	@include btn-app-colors($app-files-color-light,$app-files-color,$app-files-color-dark);
}
.app-documents {
	@include btn-app-colors($app-documents-color-light,$app-documents-color,$app-documents-color-dark);
}
.app-todos {
	@include btn-app-colors($app-todos-color-light,$app-todos-color,$app-todos-color-dark);
}
.app-etherpad {
	@include btn-app-colors($app-etherpad-color-light,$app-etherpad-color,$app-etherpad-color-dark);
}

