@import "variables";

$clndr-border-size: 8px;

.cal1 {
  margin: 30px auto;
  max-width: 600px;
  font-size: 14px;
}
.cal1 .clndr .clndr-controls {
  margin-bottom: 10px;
}
.cal1 .clndr .clndr-controls .month {
  width: 33%;
  text-align: center;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
}
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  display: inline-block;
  width: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  background: #ddd;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  display: inline-block;
  width: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #ddd;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
}
.cal1 .clndr .clndr-table .header-days {
  height: 30px;
  font-size: 10px;
  background: #0D70A6;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  border-left: $clndr-border-size solid transparent;
  border-top: $clndr-border-size solid transparent;
  color: #fff;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
  border-right: $clndr-border-size solid transparent;
}
.cal1 .clndr .clndr-table tr {
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  border-left: $clndr-border-size solid transparent;
  border-top: $clndr-border-size solid transparent;
  width: 100%;
  height: inherit;
}
.cal1 .clndr .clndr-table tr .day:hover {
  background: #eee;
}
.cal1 .clndr .clndr-table tr .day.today {
//  background: $white;
}
.cal1 .clndr .clndr-table tr .day.today:hover {
//  background: $white;
}
.cal1 .clndr .clndr-table tr .day.today.event {
//  background: #a7dbc1;
}
.cal1 .clndr .clndr-table tr .day.event {
//  background: #B4E09F;
}
.cal1 .clndr .clndr-table tr .day.event:hover {
//  background: #96d478;
}
.cal1 .clndr .clndr-table tr .day.inactive {
//  background: #ddd;
}
.cal1 .clndr .clndr-table tr .day:last-child {
  border-right: $clndr-border-size solid transparent;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  text-align: right;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  visibility: hidden;
}
.cal1 .clndr .clndr-table tr .empty:hover,
.cal1 .clndr .clndr-table tr .adjacent-month:hover {
  background: #ddd;
}
.cal1 .clndr .clndr-table tr .empty:last-child,
.cal1 .clndr .clndr-table tr .adjacent-month:last-child {
  border-right: $clndr-border-size solid transparent;
}
.cal1 .clndr .clndr-table tr:last-child .day {
  border-bottom: $clndr-border-size solid transparent;
}
.cal1 .clndr .clndr-table tr:last-child .empty {
  border-bottom: $clndr-border-size solid transparent;
}
