/* Classes that can be found in many pages and are not part of Twitter Bootstrap */


// Set width of element to full width
.w100 {
  width: 100%;
	margin:0;
	float:none;
}

// spaces below full width elements
body .fine-space {
	border-bottom: 1px solid $app-documents-color-light;
}
body .regular-space {
	margin-bottom: 7px;
}
body .large-space {
	margin-bottom: 12px;
}

// the nice semi transparent box containing the content
.content-box {
	padding: 15px;
	background-color:transparentize($app-neutral-color-light, 0.7);
	@include clearfix();
}


/* input-area is an OL containing another OL of input elements.
	It looks like a white box full of inputs with gray vertical and horizontal separators.
*/
.input-area {
	background-color: $app-neutral-color-white;
	color: $app-neutral-color-dark;
  list-style: none;
	margin:0;
	padding:0;
}
.input-area > li {
	padding: 5px;
}
.input-area > li + li {
border-top:1px solid $app-neutral-color-light;
}
.input-area > li > ol {
	margin:0;
	padding:0;
  list-style: none;
}
// single input fields
.input-area > li > ol > li {
	display: inline-block;
	padding: 4px 7px;
}
.input-area > li > ol > li + li {
	border-left: 1px solid $app-neutral-color-light;
	color: $app-neutral-color-dark;
}

