@import "variables";

/* Bootstrap Adjustments */


.navbar-fixed-top {
	background-color:transparentize($app-neutral-color-white, 0.35);
	border-bottom-width:2px;
}

.main-container {
    margin-top: 60px;
}


.btn {
	padding:0;
	border-width:0;
	background-color:transparent;
	width:10em;
	float:right;
	margin-left:5px;
}


/* media-lists */
.media-list {
	margin:0;
	background-color: $app-neutral-color-white;
}
.clickarea-extra-emphasized.media-list,
.clickarea-extra-emphasized .media-list,
.clickarea-emphasized.media-list,
.clickarea-emphasized .media-list {
	background-color: transparent;
	color: $app-neutral-color-white;
}

.media > .pull-left, .media > .pull-right {
	width:40px;
	height:40px;
	line-height:40px;
	font-size:1.5em;
	text-align:center;
	background-color: $app-neutral-color;
	margin:0;
}
.pull-left:empty, .pull-right:empty {
	background-color: transparent;
	color: inherit;
}
.media > .pull-left {
	color: $app-neutral-color-white;
}
body .media > .pull-right {
	color: transparent;
}

.clickarea-extra-emphasized.pull-left,
.clickarea-extra-emphasized .pull-left,
.clickarea-emphasized.pull-left,
.clickarea-emphasized .pull-left,
.clickarea-extra-emphasized.pull-right,
.clickarea-extra-emphasized .pull-right,
.clickarea-emphasized.pull-right,
.clickarea-emphasized .pull-right {
	background-color: transparent;
	color: inherit;
}

.media:hover .pull-right, .media:active .pull-right,
button:hover .media .pull-right, button:active .media .pull-right {
	color: $app-neutral-color-white;
}


/* OL containing another OL of input elements */
.input-area {
	background-color: $app-neutral-color-white;
	color: $app-neutral-color;
  list-style: none;
	margin:0;
	padding:0;
}
.input-area > li {
	padding: 5px;
}
.input-area > li + li {
border-top:1px solid $app-neutral-color-light;
}
.input-area > li > ol {
	margin:0;
	padding:0;
  list-style: none;
}
// single input fields
.input-area > li > ol > li {
	display: inline-block;
	padding: 4px 7px;
}
.input-area > li > ol > li + li {
	border-left: 1px solid $app-neutral-color-light;
}


.media-body {
	line-height:37px;
	padding:0 10px;
}

/* spaces below element */
.app-documents .fine-space {
	border-bottom: 1px solid $app-documents-color-light;
}
.regular-space {
	margin-bottom: 7px;
}
.large-space {
	margin-bottom: 12px;
}


/*
 * Fixes showing dropdown menu when slowly hovering it.
 */


/* GENERAL */

img.left {
  float: left;
  margin-right: 40px;
}

img.right {
  float: right;
  margin-left: 40px;
}

.full-width {
  min-width: 100%;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.displaynone {
  display: none;
}

.clearboth {
  clear: both;
}

.centered {
  text-align: center;
  vertical-align: middle;
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.centered-h {
  text-align: center;
}

.centered-v {
  vertical-align: middle;
}

.row-no-margins {
  margin: 0;
}
.row-no-margins [class^="col-"],
.row-no-margins [class*=" col-"]{
  padding-left: 0;
  padding-right: 0;
}

.large-bold-text {
  font-weight: bold;
  font-size: large;
}

.large-text {
  font-size: large;
}

.w100 {
  width: 100%;
}

.btn-flat {
}

$btn-group-height: 50px;
$btn-bar-width: 10px;

.btn-bar {
// use media-list instead
}

.btn-icon {
// use media-list instead
}

.btn-text {
}

