// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// NEWW Mixins
// -------------------------------------------------


// TODOS Mixins

@mixin todo-colors() {
  color: $app-neutral-color-white;
  background-color: $app-todos-color;

  a {
    color: $app-neutral-color-white;
  }
}

@mixin todo-colors-important() {
  color: $app-neutral-color-white !important;
  background-color: $app-todos-color !important;
}


// Neutral Mixins

@mixin neutral-colors() {
  color: $app-neutral-color-text;
  background-color: $app-neutral-color;

  a {
    color: $app-neutral-color-white;
  }
}

@mixin neutral-colors-important() {
  color: $app-neutral-color-text !important;
  background-color: $app-neutral-color !important;

  a {
    color: $app-neutral-color-white !important;
  }
}

