// Only this file and maybe the logo image should be needed to customize for different installations.

// The colors are from Tobi's 01b_NEWW_Color-Scheme.pdf
// Farbklima Netzwerk Wachstumswende
// no other colors should be used in the whole project

/* main color and news */
$app-main-color: #16778D;
$app-main-color-dark: #104A59;
$app-main-color-light: #CBE7ED;

/* Calendar */
$app-calendar-color: #779B48;
$app-calendar-color-dark: #4C622F;
$app-calendar-color-light: #E1EDD2;

/* Files */
$app-files-color: #14A085;
$app-files-color-dark: #0A5D4E;
$app-files-color-light: #92FFEA;

/* Documents */
$app-documents-color: #009EE3;
$app-documents-color-dark: #007999;
$app-documents-color-light: #D5F3FF;

/* Todos */
$app-todos-color: #EFA02D;
$app-todos-color-dark: #AD7E2C;
$app-todos-color-light: #FAEBCD;

/* Etherpad */
$app-etherpad-color: #E55C55;
$app-etherpad-color-dark: #933D39;
$app-etherpad-color-light: #EDE2E1;

/* Neutral */
$app-neutral-color: #949494;
$app-neutral-color-dark: #333333;
$app-neutral-color-light: #DBDBDB;
$app-neutral-color-white: #FFFFFF;



// Other stuff
$item-width: 40px;
$item-height: 40px;
$item-line-width: 10px;
$item-line-height: 40px;

$item-distance: 10px;
$item-distance-small: 5px;
$item-distance-long: 20px;

$font-size-bigger: 16px;
$font-size-big: 14px;
$font-size: 12px;
$font-size-small: 11px;
$font-size-smaller: 10px;

