@import "variables";

.row-right {
  margin-left: 0;
}

.row-left {
  margin-right: 0;
}

.group-box {
  margin-right: 0px;
  background-color: $neww-bg-color;
}

.group-logo {
  margin-left: -15px;
}

.group-description {
  padding-top: 10px;
  font-size: 0.95em;
}

.group-title {
  font-weight: bold;
}

.group-short-description {
  padding: 5px 0;
  font-size: 0.85em;
  color: $app-color-font-secondary;
}

.group-short-description a {
  color: $app-color-font-secondary;
  text-decoration: underline;
}

.group-app-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 3% $item-distance-long 3% 0px;
  padding: 15px 0 5px 0;
  vertical-align: middle;
  text-align: center;
  background-color: red;
  cursor: pointer;
}

.group-app-box-icon {
  font-size: 2.2em;
  padding-bottom: $item-distance-small;
}

.group-app-box-numbers {
  font-size: 1.2em;
  font-weight: bold;
}

.group-app-box-title {
  margin-top: -$item-distance-small;
}