/* @import must be at top of file, otherwise CSS will not work */

/*
@font-face {
  font-family: 'deliusregular';
  src: url('../fonts/delius-regular-webfont.eot');
  src: url('../fonts/delius-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/delius-regular-webfont.woff') format('woff'), url('../fonts/delius-regular-webfont.ttf') format('truetype'), url('../fonts/delius-regular-webfont.svg#deliusregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/