@import "variables";

/* Bootstrap Adjustments */

/*
.row {
  margin-right: auto !important;
  margin-left: auto !important;
}
*/

/*
 * Fixes showing dropdown menu when slowly hovering it.
 */


/*
.dropdown-toggle {
  padding-bottom: 20px;
}

.breadcrumb {
  padding: 0px 15px 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
  font-size: 10px;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: $grey-darkest;
  content: "\003E";
}

.breadcrumb > .active {
  color: $grey-darkest;
}

.breadcrumb a {
  color: $grey-darkest;
}
*/

/* GENERAL */

img.left {
  float: left;
  margin-right: 40px;
}

img.right {
  float: right;
  margin-left: 40px;
}

.full-width {
  min-width: 100%;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.displaynone {
  display: none;
}

.clearboth {
  clear: both;
}

.centered {
  text-align: center;
  vertical-align: middle;
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.centered-h {
  text-align: center;
}

.centered-v {
  vertical-align: middle;
}

.large-bold-text {
  font-weight: bold;
  font-size: large;
}

.large-text {
  font-size: large;
}

.w100 {
  width: 100%;
}

.btn-flat {
  width: 100%;
  text-align: left;
  padding: 0;
}

$btn-group-height: 50px;
$btn-bar-width: 10px;

.btn-bar {
  float: left;
  width: $btn-bar-width;
  height: $btn-group-height;
}

.btn-icon {
  float: left;
  padding-left: $btn-bar-width;
  line-height: $btn-group-height;
  font-size: 1.5em;
}

.btn-text {
  float: left;
  padding-left: $btn-bar-width;
  line-height: $btn-group-height;
  font-size: $font-size;
}

.caret-right {
  position: absolute;
  right: 0;
  top: ($btn-group-height / 2) - (3);
  margin-right: $btn-bar-width;
  border-top-color: $app-color-text !important;
}


.primary-colors {
  color: $app-color-text !important;
  background-color: $app-color !important;
}

.primary-colors .darker {
  color: $app-color-text !important;
  background-color: $app-color-dark !important;
}

.primary-colors:hover {
  color: $app-color-text !important;
  background-color: $app-color !important;
}

.dropdown-menu.primary-colors > .active > a,
.dropdown-menu.primary-colors > .active > a:hover,
.dropdown-menu.primary-colors > .active > a:focus {
  color: $app-color-text !important;
  background-color: $app-color !important;
}


// Neutral
// ---------------------------------------
.neutral-colors {
  color: $app-neutral-color-text !important;
  background-color: $app-neutral-color !important;
}

.btn-default.neutral-colors:hover,
.btn-default.neutral-colors:focus,
.btn-default.neutral-colors:active,
.btn-default.neutral-colors.active {
  color: $app-neutral-color-text !important;
  background-color: $app-neutral-color !important;
}

.dropdown-menu.neutral-colors > .active > a,
.dropdown-menu.neutral-colors > .active > a:hover,
.dropdown-menu.neutral-colors > .active > a:focus {
  color: $app-neutral-color-text !important;
  background-color: $app-neutral-color !important;
}

.neutral-colors:hover {
  color: $app-neutral-color-text !important;
  background-color: $app-neutral-color !important;
}

.neutral-colors .darker {
  color: $app-neutral-color-text !important;
  background-color: $app-neutral-color !important;
}


// Dashboard
// ---------------------------------------+
.dashboard-colors {
  color: $app-dashboard-color-text;
  background-color: $app-dashboard-color;
}

.btn-default.dashboard-colors:hover,
.btn-default.dashboard-colors:focus,
.btn-default.dashboard-colors:active,
.btn-default.dashboard-colors.active {
  color: $app-dashboard-color-text !important;
  background-color: $app-dashboard-color !important;
}

.dropdown-menu.dashboard-colors > .active > a,
.dropdown-menu.dashboard-colors > .active > a:hover,
.dropdown-menu.dashboard-colors > .active > a:focus {
  color: $app-dashboard-color-text !important;
  background-color: $app-dashboard-color !important;
}

.dashboard-colors:hover {
  color: $app-dashboard-color-text !important;
  background-color: $app-dashboard-color !important;
}
