.icon-checkbox-unchecked {
  background-color: $app-color-text;
  border: 1px solid $app-color-dark;
}

.icon-checkbox-checked {
  position: relative;
  top: 1px;
  display: inline-block;
  font-size: 16px;
  color: $app-color-dark;
  background-color: $app-color-text;
}

.icon-close {
  position: relative;
  top: 1px;
}
