// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// NEWW Mixins
// -------------------------------------------------

@mixin todos-colors() {
  color: $app-todos-color-text;
  background-color: $app-todos-color;

  a {
    color: $app-todos-color-text;
  }
}

@mixin todos-colors-important() {
  color: $app-todos-color-text !important;
  background-color: $app-todos-color !important;

  a {
    color: $app-todos-color-text !important;
  }
}

@mixin todos-colors-selected() {
  background-color: $app-todos-color-selected;
}

@mixin todos-colors-selected-important() {
  background-color: $app-todos-color-selected !important;
}

@mixin todos-colors-darker() {
  color: $app-todos-color-text;
  background-color: $app-todos-color-dark;
}

@mixin todos-colors-darker-important() {
  color: $app-todos-color-text !important;
  background-color: $app-todos-color-dark !important;
}

@mixin todos-secondary-colors() {
  color: $app-todos-secondary-color-text;
  background-color: $app-todos-secondary-color;
}
