// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// NEWW Mixins
// -------------------------------------------------


// TODOS Mixins

@mixin todo-colors() {
  color: $app-todos-color-text;
  background-color: $app-todos-color;

  a {
    color: $app-todos-color-text;
  }
}

@mixin todo-colors-important() {
  color: $app-todos-color-text !important;
  background-color: $app-todos-color !important;
}

@mixin todo-colors-selected() {
  background-color: $app-todos-color-selected;
}

@mixin todo-colors-selected-important() {
  background-color: $app-todos-color-selected !important;
}

@mixin todo-colors-darker() {
  color: $app-todos-color-text;
  background-color: $app-todos-color-dark;
}

@mixin todo-colors-darker-important() {
  color: $app-todos-color-text !important;
  background-color: $app-todos-color-dark !important;
}

@mixin todo-secondary-colors() {
  color: $app-todos-secondary-color-text;
  background-color: $app-todos-secondary-color;
}


// Network Mixins

@mixin network-colors() {
  color: $app-network-color-text;
  background-color: $app-network-color;

  a {
    color: $app-network-color-text;
  }
}

@mixin network-colors-important() {
  color: $app-network-color-text !important;
  background-color: $app-network-color !important;

  a {
    color: $app-network-color-text !important;
  }
}

@mixin network-reversed-colors-important() {
  color: $app-network-color !important;
  background-color: $app-network-color-text !important;

  a {
    color: $app-network-color !important;
  }
}

@mixin network-colors-darker() {
  color: $app-network-color-text;
  background-color: $app-network-color-dark;
}

@mixin network-colors-darker-important() {
  color: $app-network-color-text !important;
  background-color: $app-network-color-dark !important;
}

// Neutral Mixins

@mixin neutral-colors() {
  color: $app-neutral-color-text;
  background-color: $app-neutral-color;

  a {
    color: $app-neutral-color-text;
  }
}

@mixin neutral-colors-important() {
  color: $app-neutral-color-text !important;
  background-color: $app-neutral-color !important;

  a {
    color: $app-neutral-color-text !important;
  }
}

// Main Menu Mixins

@mixin main-menu-colors() {
  color: $app-main-menu-color-text;
  background-color: $app-main-menu-color;

  a {
    color: $app-main-menu-color-text;
  }
}

@mixin main-menu-colors-important() {
  color: $app-main-menu-color-text !important;
  background-color: $app-main-menu-color !important;

  a {
    color: $app-main-menu-color-text !important;
  }
}
