{% load i18n static cosinnus_tags widget_tweaks %}

{% group_url 'cosinnus:event:list' group=group as calendar_page %}
{% group_url 'cosinnus:event:list_detailed' group=group as event_list_page %}
{% group_url 'cosinnus:event:list_past' group=group as event_list_past_page %}
{% group_url 'cosinnus:event:list_conferences' group=group as event_list_conferences_page %}
{% group_url 'cosinnus:event:doodle-list' group=group as doodle_list_page %}
{% group_url 'cosinnus:event:doodle-list-archived' group=group as doodle_list_archived_page %}


{% if return_to == "events" %}

	<button type="button" class="btn w100 btn-emphasized" href="{% group_url 'cosinnus:event:list' group=group %}{% add_current_params %}">
	    <ul class="media-list">
	        <li class="media">
	            <span class="pull-left">
	                <i class="fa fa-reply"></i>
	            </span>
	            <span class="pull-right"></span><!-- only block width -->
	            <div class="media-body">
	                {% trans "Back to Events" %}
	            </div>
	        </li>
	    </ul>
	</button>
	
{% elif return_to == "doodle" %}

  <button type="button" class="btn w100 btn-emphasized" href="{{ doodle_list_page }}{% add_current_params %}">
    <ul class="media-list">
      <li class="media">
        <span class="pull-left">
          <i class="fa fa-reply"></i>
        </span>
        <span class="pull-right" span></span><!-- only block width -->
        <div class="media-body">
          {% trans "Return to Event Polls" %}
        </div>
      </li>
    </ul>
  </button>
  
{% elif return_to == "archived_doodle" %}

  <button type="button" class="btn w100 btn-emphasized" href="{{ doodle_list_archived_page }}{% add_current_params %}">
    <ul class="media-list">
      <li class="media">
        <span class="pull-left">
          <i class="fa fa-reply"></i>
        </span>
        <span class="pull-right"></span><!-- only block width -->
        <div class="media-body">
          {% trans "Return to Archived Event Polls" %}
        </div>
      </li>
    </ul>
  </button>

{% else %} {# Event / Doodle list view #}
	
    <button type="button" class="btn w100 btn-emphasized fine-space" href="{% group_url 'cosinnus:event:list' group=group %}{% add_current_params %}">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    {% if future_events_count %}
                        {{ future_events_count }}
                    {% else %}
                        <i class="fa fa-calendar"></i>
                    {% endif %}
                </span>
                <span class="pull-right">
                    {% if request.path == calendar_page %}
	                    <i class="fa fa-caret-right"></i>
                    {% endif %}
                </span>
                <div class="media-body">
                    {% trans "Calendar" %}
                </div>
            </li>
        </ul>
    </button>
    
    <button type="button" class="btn w100 btn-emphasized 
            {% if not proxy_event_count and SETTINGS.COSINNUS_EVENT_CALENDAR_ALSO_SHOWS_PAST_EVENTS %}regular-space{% else %}fine-space{% endif %}"
            href="{{ event_list_page }}{% add_current_params %}">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    {% if future_events_count %}
                        {{ future_events_count }}
                    {% else %}
                        <i class="fa fa-calendar"></i>
                    {% endif %}
                </span>
                <span class="pull-right">
                    {% if request.path == event_list_page %}
                        <i class="fa fa-caret-right"></i>
                    {% endif %}
                </span>
                <div class="media-body">
                    {% trans "List" %}
                </div>
            </li>
        </ul>
    </button>
    
    {% if proxy_event_count > 0 %}
         <button type="button" class="btn w100 btn-emphasized 
                {% if SETTINGS.COSINNUS_EVENT_CALENDAR_ALSO_SHOWS_PAST_EVENTS %}regular-space{% else %}fine-space{% endif %}" 
                href="{{ event_list_conferences_page }}{% add_current_params %}">
	        <ul class="media-list">
	            <li class="media">
	                <span class="pull-left">
	                    {% if proxy_event_count %}
	                        {{ proxy_event_count }}
	                    {% else %}
	                        <i class="fa fa-calendar"></i>
	                    {% endif %}
	                </span>
	                <span class="pull-right">
	                    {% if request.path == event_list_conferences_page %}
	                        <i class="fa fa-caret-right"></i>
	                    {% endif %}
	                </span>
	                <div class="media-body">
                        {{ COSINNUS_CONFERENCE_TRANS.VERBOSE_NAME_PLURAL }}
	                </div>
	            </li>
	        </ul>
	    </button>
    {% endif %}
    
    {% if not SETTINGS.COSINNUS_EVENT_CALENDAR_ALSO_SHOWS_PAST_EVENTS %}
		    <button type="button" class="btn w100 btn-emphasized large-space" href="{% group_url 'cosinnus:event:list_past' group=group %}{% add_current_params %}">
		        <ul class="media-list">
		            <li class="media">
		                <span class="pull-left">
		                    <i class="fa fa-calendar"></i>
		                </span>
		                <span class="pull-right">
		                    {% if request.path == event_list_past_page %}
		                        <i class="fa fa-caret-right"></i>
		                    {% endif %}
		                </span>
		                <div class="media-body">
		                    {% trans "Past Events" %}
		                </div>
		            </li>
		        </ul>
		    </button>
    {% endif %}
    
    {% if not group.group_is_conference %}
		<button type="button" class="btn w100 btn-emphasized fine-space" href="{{ doodle_list_page }}{% add_current_params %}">
		    <ul class="media-list">
		        <li class="media">
		            <span class="pull-left">
		                {% if doodle_count %}
	                        {{ doodle_count }}
	                    {% else %}
	                        <i class="fa fa-calendar"></i>
	                    {% endif %}
		            </span>
		            <span class="pull-right">
		               {% if request.path == doodle_list_page %}
		                    <i class="fa fa-caret-right"></i>
	                    {% endif %}
	                </span>
		            <div class="media-body">
		                {% trans "Event Polls" %}
		            </div>
		        </li>
		    </ul>
		</button>
		
		<button type="button" class="btn w100 btn-emphasized regular-space" href="{{ doodle_list_archived_page }}{% add_current_params %}">
		    <ul class="media-list">
		        <li class="media">
		            <span class="pull-left">
	                    <i class="fa fa-calendar-check-o"></i>
		            </span>
		            <span class="pull-right">
		               {% if request.path == doodle_list_archived_page %}
		                    <i class="fa fa-caret-right"></i>
	                    {% endif %}
	                </span>
		            <div class="media-body">
		                {% trans "Archived Event Polls" %}
		            </div>
		        </li>
		    </ul>
		</button>
	{% endif %}
{% endif %}
