{% load i18n cosinnus_tags %}

{% comment %}  
Uncomment this to enable the markdown editor for the personal message.
{% include 'cosinnus/common/simplemde_dependencies.html' with element_id='recruit-user-message' %}
{% endcomment %}

{% captureas label %}
	<p>{% blocktrans with group_name=object.name %}Enter the email addresses of people you wish to invite to join the platform.{% endblocktrans %}</p>
	<p class="large-space">{% blocktrans with group_name=object.name %}We will send them an email asking them to sign up and join {{ group_name }}.{% endblocktrans %}</p>
	<label for="recruit-user-email">{% trans "E-Mail Addresses" %} <em class="small">{% trans "(one per line or comma-seperated)" %}</em></label>
	<textarea cols="40" id="recruit-user-emails" name="emails" 
        placeholder="sarah@example.com, paul@example.com" 
        rows="6" style="border: 1px solid #DADADA; padding: 5px; font-family: monospace;"></textarea>
    <label for="recruit-user-message">{% trans "Personal Message (optional)" %}</label>
    <textarea cols="40" id="recruit-user-message" name="message" 
	    placeholder="{% trans 'Include a personal message (optional)' %}" 
	    rows="10" style="border: 1px solid #DADADA; padding: 5px;"></textarea>
        
    
{% endcaptureas %}



{% captureas title %}{% trans "Invite new Members" %}{% endcaptureas %}
{% captureas submit_button_label %}{% trans "Invite" %}{% endcaptureas %}
{% captureas action %}{% group_url 'cosinnus:group-user-recruit' group=object %}{% endcaptureas %}
{% include "cosinnus/modal_box.html" with id="modal-recruit-users" label=label title=title form_action=action title_icon="fa-user-plus" %}
