{% load i18n cosinnus_tags %}

{% with note=object %}
    <div class="app-main">
        <div class="btn btn-emphasized w100" href="{{ note.get_absolute_url }}">
            <ul class="media-list large-space">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-book"></i>
                    </span>
                    <div class="media-body no-vertical-padding">
                        <span class="annotation mobile-hidden">
                            {% with creator=note.creator %}
                                {# {% trans "by" %} #} <strong><a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a></strong> 
                            {% endwith %}
                            <span class="moment-data-date" data-date="{{ note.created|date:'c' }}" title="{{ note.created|date:'r' }}"></span>
                        </span>
                        <strong>{% if note.title and not note.title == '---' %}{{ note.title }}{% endif %}{{ note.text }}</strong>
                        <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=note.group %}
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
    </div>
{% endwith %}
