{% extends "cosinnus_marketplace/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
{% if offer_view == "mine" %}{% trans "My Offers" %}{% else %}{% trans "Offers" %}{% endif %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% if offer_view == "mine" %}{% trans "My Offers" %}{% else %}{% trans "Offers" %}{% endif %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus_marketplace/leftnav.html" %}
{% endblock leftnav %}

{% block content %}
	{{ block.super }}
	
	{% comment %}  
	Disabled for now to keep the view more compact. There is an add button in the left navbar.
	
    {% if user|can_create_objects_in:group %} 
	    <!-- a box with semi transparent background -->
	    <div class="content-box regular-space">
	        <form method="GET" action="{% group_url 'cosinnus:marketplace:add' group=group %}">
	            <div type="button" class="btn btn-default w100 large-space">
	                <ul class="media-list">
	                    <li class="media">
	                        <span class="pull-left">
	                            <i class="fa fa-plus"></i>
	                        </span>
	                        <div class="media-body media-body-form-control">
	                            {% captureas placeholder %}{% trans "Enter the title for a new offer." %}{% endcaptureas %}
	                            <input class="form-control next-button-is-for-sending"
	                                placeholder="{{ placeholder }}" autocomplete="off"
	                                name="title"
	                                value="" />
	                        </div>
	                    </li>
	                </ul>
	            </div>
	            <button type="submit" class="btn btn-emphasized large-space" style="display: none;">
	                <ul class="media-list">
	                    <li class="media">
	                        <span class="pull-left">
	                            <i class="fa fa-pencil"></i>
	                        </span>
	                        <div class="media-body">
	                            {% trans "Create" %}
	                        </div>
	                    </li>
	                </ul>
	            </button>
	        </form>
	    </div>    
    {% endif %}
	{% endcomment %}
    
    
    {% trans "Delete" as btn_label %}
    {% captureas btn_action %}$.cosinnus.Feedback.cosinnus_delete_element($.cosinnus.getListOfCheckedItems());{% endcaptureas %}
    {% include 'cosinnus/common/checkbox/checkbox_action_button.html' with label=btn_label icon="fa-eraser" action=btn_action %}

    {% include 'cosinnus/common/checkbox/checkbox_mark_all_buttons.html' %}
    <div class="clearfix"></div>
    
	        
    <ul class="nav nav-tabs" role="tablist">
		<li {% if not request.GET.tab or request.GET.tab == 'all' %}class="active"{% endif %}>
			<a href="#all" class="_group-form-tab _group-form-tab-awesome-avatar" role="tab" data-toggle="tab" onclick="$('#input_tab_param').val('all'); history.replaceState( {} , null, $.cosinnus.updateQueryString('tab','all') );">
				<i class="fa fa-exchange"></i>
				{% trans "All" %}
			</a>
		</li>
		<li {% if request.GET.tab == 'looking' %}class="active"{% endif %}>
			<a href="#looking" class="_group-form-tab" role="tab" data-toggle="tab" onclick="$('#input_tab_param').val('looking'); history.replaceState( {} , null, $.cosinnus.updateQueryString('tab','looking') );">
				<i class="fa fa-question"></i>
				{% trans "Wanted" %}
			</a>
		</li>
		<li {% if request.GET.tab == 'offering' %}class="active"{% endif %}>
			<a href="#offering" class="_group-form-tab" role="tab" data-toggle="tab" onclick="$('#input_tab_param').val('offering'); history.replaceState( {} , null, $.cosinnus.updateQueryString('tab','offering') );">
				<i class="fa fa-exclamation"></i>
				{% trans "Offering" %}
			</a>
		</li>
	</ul>
	
    <div class="content-box large-space">
    
    	<div>
		    {% for field in filter.form %}
			    {% if field.name == 'creator' or field.name == 'o' %}
			    	{{ field }}
			    {% endif %}
			{% endfor %}
	        
	        {% for filter_param, chosen_value, label, type in active_filters %}
	        	{% if not filter_param == 'categories' %}
				    <span class="inline-list nowrap">
				        <a href="?{% strip_params request filter_param %}" class="app-background small-padding"><i class="fa fa-times"></i></a
				        ><span class="app-background-light dark-color small-padding">
				            {{ label }}: {{ chosen_value }}
				        </span>
				    </span>
			    {% endif %}
			{% endfor %}
		</div>
        
        <div class="tab-content">
			<div class="tab-pane {% if not request.GET.tab or request.GET.tab == 'all' %}active{% endif %}" id="all" >
				{% for offer in offers %}
		            {% include 'cosinnus_marketplace/list_object.html' %}
		        {% empty %}
	                {% captureas empty_message %}{% trans "No offers" %}{% endcaptureas %}
		            {% include 'cosinnus/common/empty_button.html' with message=empty_message %}
		        {% endfor %}
			</div>
			<div class="tab-pane {% if request.GET.tab == 'looking' %}active{% endif %}" id="looking" >
				{% for offer in offers_buying %}
		            {% include 'cosinnus_marketplace/list_object.html' %}
		        {% empty %}
	                {% captureas empty_message %}{% trans "No offers" %}{% endcaptureas %}
		            {% include 'cosinnus/common/empty_button.html' with message=empty_message %}
		        {% endfor %}
			</div>
			<div class="tab-pane {% if request.GET.tab == 'offering' %}active{% endif %}" id="offering" >
				{% for offer in offers_selling %}
		            {% include 'cosinnus_marketplace/list_object.html' %}
		        {% empty %}
	                {% captureas empty_message %}{% trans "No offers" %}{% endcaptureas %}
		            {% include 'cosinnus/common/empty_button.html' with message=empty_message %}
		        {% endfor %}
			</div>
		</div>		
        
       
    </div><!-- content-box -->
    
    <script type="text/javascript">
        var cosinnus_delete_element_object_url = "{% group_url 'cosinnus:marketplace:delete-element' group=group %}";
    </script>
    {% include 'cosinnus/common/delete_element_modal.html' %}
    
{% endblock content %}
