{% extends "cosinnus/base.html" %}
{% load i18n thumbnail cosinnus_tags cosinnus_map_tags static %}

{% block page_title %}{% trans "Simple Statistics" %}{% endblock %}

{% block jshead %}
    {{ block.super }}
    <script src="{% static 'js/vendor/chart-4.5.0.umd.min.js' %}"></script>
    <script type="text/javascript">
        const chart_options = {
            responsive: true,
            scales:
                {
                    y: {
                        beginAtZero: true,
                        ticks: {precision: 0}
                    }
                },
            plugins: {
                legend: {display: false},
                tooltip: {
                    enabled: true,
                    callbacks: {
                        title: function (context) {
                            // reformat labels of incomplete intervals
                            const label = context[0]?.label ?? '';
                            return label.replace(/,/g, '\n');
                        }
                    }
                }
            }
        };
    </script>
{% endblock jshead %}

{% block leftnav %}
    <button type="button" class="btn w100 btn-emphasized large-space" href="{% url 'cosinnus:administration' %}">
	    <ul class="media-list">
	        <li class="media">
	           <span class="pull-left">
	                <i class="fa fa-reply"></i>
	            </span>
	            <div class="media-body">
                    {% trans "Administration" %}
	            </div>
	        </li>
	    </ul>
	</button>

	<button type="button" class="btn w100 btn-emphasized large-space">
	    <ul class="media-list">
	        <li class="media">
	           <span class="pull-left">
	                <i class="fa fa-table"></i>
	            </span>
	            <div class="media-body">
                    {% trans "CSV Downloads" %}
	            </div>
	        </li>
	    </ul>
	</button>

    {% if request.user.is_superuser %} {% comment %} Only for {% endcomment %}
		<button type="button" class="btn w100 btn-emphasized large-space" data-v3-type="download" href="{% url 'cosinnus:housekeeping-portal-switches-and-settings' %}">
			<ul class="media-list">
				<li class="media">
				<span class="pull-left">
						<i class="fa fa-download"></i>
					</span>
					<div class="media-body">
						{% trans "Portal switches and settings" %}
					</div>
				</li>
			</ul>
		</button>
	{% endif %}

	{% if SETTINGS.COSINNUS_CONFERENCES_ENABLED %}
	    <button type="button" class="btn w100 btn-emphasized fine-space" data-v3-type="download" href="{% url 'cosinnus-api:statistics-conference-storage-info' %}?format=csv">
	        <ul class="media-list">
	            <li class="media">
	               <span class="pull-left">
	                    <i class="fa fa-download"></i>
	                </span>
	                <div class="media-body">
	                    {% trans "HD space used by conferences" %}
	                </div>
	            </li>
	        </ul>
	    </button>
	
	{% endif %}
	
	<button type="button" class="btn w100 btn-emphasized fine-space" data-v3-type="download" href="{% url 'cosinnus-api:statistics-group-storage-info' %}?format=csv">
	    <ul class="media-list">
	        <li class="media">
	           <span class="pull-left">
	                <i class="fa fa-download"></i>
	            </span>
	            <div class="media-body">
                    {% trans "HD space used by groups" %}
	            </div>
	        </li>
	    </ul>
	</button>
	
	<button type="button" class="btn w100 btn-emphasized large-space" data-v3-type="download" href="{% url 'cosinnus-api:statistics-project-storage-info' %}?format=csv">
	    <ul class="media-list">
	        <li class="media">
	           <span class="pull-left">
	                <i class="fa fa-download"></i>
	            </span>
	            <div class="media-body">
                    {% trans "HD space used by projects" %}
	            </div>
	        </li>
	    </ul>
	</button>

    <button type="button" class="btn w100 btn-emphasized fine-space" data-v3-type="download" href="{% url 'cosinnus-api:user-activity-timeline' %}?format=csv">
        <ul class="media-list">
            <li class="media">
               <span class="pull-left">
                    <i class="fa fa-download"></i>
                </span>
                <div class="media-body">
                    {% trans "User Activity Timeline" %}
                </div>
            </li>
        </ul>
    </button>
	
	<button type="button" class="btn w100 btn-emphasized {% if SETTINGS.COSINNUS_ENABLE_ADMIN_USER_DOMAIN_INFO_CSV_DOWNLOADS %}fine-space{% else %}large-space{% endif %}" data-v3-type="download" href="{% url 'cosinnus-api:user-activity-info' %}?format=csv">
        <ul class="media-list">
            <li class="media">
               <span class="pull-left">
                    <i class="fa fa-download"></i>
                </span>
                <div class="media-body">
                    {% trans "User statistics (min 1x logged in)" %}
                </div>
            </li>
        </ul>
    </button>
    
    {% if SETTINGS.COSINNUS_ENABLE_ADMIN_USER_DOMAIN_INFO_CSV_DOWNLOADS and request.user|is_superuser %}
	    <button type="button" class="btn w100 btn-emphasized large-space" data-v3-type="download" href="{% url 'cosinnus-api:user-domain-info' %}?format=csv">
	        <ul class="media-list">
	            <li class="media">
	               <span class="pull-left">
	                    <i class="fa fa-download"></i>
	                </span>
	                <div class="media-body">
	                    {% trans "User domains (min 1x logged in)" %}
	                </div>
	            </li>
	        </ul>
	    </button>
    {% endif %}
    
    {% if SETTINGS.COSINNUS_CONFERENCES_ENABLED and not SETTINGS.COSINNUS_CONFERENCES_USE_COMPACT_MODE %}
	    <button type="button" class="btn w100 btn-emphasized large-space" data-v3-type="download" href="{% url 'cosinnus-api:bbb-room-visits' %}?format=csv">
	        <ul class="media-list">
	            <li class="media">
	               <span class="pull-left">
	                    <i class="fa fa-download"></i>
	                </span>
	                <div class="media-body">
	                    {% trans "BBB Room Visits" %}
	                </div>
	            </li>
	        </ul>
	    </button>
    {% endif %}
    
    {% if SETTINGS.COSINNUS_ENABLE_ADMIN_EMAIL_CSV_DOWNLOADS and request.user|is_superuser %}
	    <button type="button" class="btn w100 btn-emphasized fine-space" data-v3-type="download" href="{% url 'cosinnus:housekeeping-newsletter-user-emails' %}">
	        <ul class="media-list">
	            <li class="media">
	               <span class="pull-left">
	                    <i class="fa fa-download"></i>
	                </span>
	                <div class="media-body">
                        {% trans "E-Mails of all newsletter subcribers" %}
	                </div>
	            </li>
	        </ul>
	    </button>
	    
	    <button type="button" class="btn w100 btn-emphasized large-space" data-v3-type="download" href="{% url 'cosinnus:housekeeping-active-user-emails' %}">
	        <ul class="media-list">
	            <li class="media">
	               <span class="pull-left">
	                    <i class="fa fa-download"></i>
	                </span>
	                <div class="media-body">
	                    {% trans "E-Mails of ALL active users" %}
	                </div>
	            </li>
	        </ul>
	    </button>
    {% endif %}
    
{% endblock leftnav %}


{% block breadcrumb %}
    <li><a href="{% url 'cosinnus:administration' %}">{% trans "Administration" %}</a></li>
    <li class="active">{% trans "Simple Statistics" %}</li>
{% endblock %}


{% block content %}
    
    
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-exclamation-triangle fa-3x"></i>
            <p>{% trans "There was an error in one of the fields you entered. Please correct it before saving!" %}</p>
        </div>
    {% endif %}
    
    <form method="POST" action=".{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" class="cosinnus-form form-horizontal">{% csrf_token %}
        {{ form.non_field_errors }}
        
        <!-- a box with semi transparent background -->
        <div class="content-box">
        
	        <h1>{% trans "Simple Statistics" %}</h1>
	        
	        <div>{% trans "Select the date range for which you would like statistics" %}</div>
	        
	        {% trans "Date" as date_label %}
	        {% include 'cosinnus/fields/from_to_date_field.html' with from_date_field=form.from_date to_date_field=form.to_date label=date_label%} 
        </div>
        
        
        <button type="submit" class="btn btn-emphasized">
	        <ul class="media-list">
	            <li class="media">
	                <span class="pull-left">
	                    <i class="fa fa-pencil"></i>
	                </span>
	                <div class="media-body">
	                      {% trans "OK" %}
	                </div>
	            </li>
	        </ul>
	    </button>
    </form>
    
    <div class="clearfix large-space"></div>

    {% if statistics %}
        <!-- a box with semi transparent background -->
        <div class="content-box white-content">
            <h3 class="ultra-space">
                {# Translators: keep formatting verbatim (html-tags) #}
                {% blocktrans trimmed with portal_name=COSINNUS_CURRENT_PORTAL.name from_date=form.from_date.value|date:"d.m.Y" to_date=form.to_date.value|date:"d.m.Y" %}
                	Data for Portal <b>{{ portal_name }}</b> from {{ from_date }} to {{ to_date }}
                {% endblocktrans %}
            </h3>

            {# show totals #}
            <div class="ultra-space">
                {% for metric in statistics %}
                    {% with counter_str=forloop.counter|django_stringformat:"02d" %}
                        <div class="row regular-space">
                            <div class="col-xs-8">{{ counter_str }}. {{ metric.title | safe }}</div>
                           <div class="col-xs-4">{{ metric.total }}</div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>

            {# show date_buckets as charts #}
            <h3 class="ultra-space">
                {% blocktrans trimmed with portal_name=COSINNUS_CURRENT_PORTAL.name from_date=form.from_date.value|date:"d.m.Y" to_date=form.to_date.value|date:"d.m.Y" %}
                	Detailed Data from {{ from_date }} to {{ to_date }}
                {% endblocktrans %}
            </h3>
            {% for metric in statistics %}
                {% if metric.buckets.labels|length < 2 or metric.total == 0 %}
                    {# continue if the is no chart data #}
                {% else %}
                    {% with counter_str=forloop.counter|django_stringformat:"02d" %}
                        {% with chart_id="chart-"|add:counter_str %}
                            <h4>{{ counter_str }}. {{ metric.title | safe }}</h4>
                            <div class="ultra-space"><canvas id="{{ chart_id }}" width="400" height="200"></canvas></div>
                            <script>
                                new Chart(document.getElementById('{{ chart_id }}').getContext('2d'), {
                                        type: 'bar',
                                        data: {
                                            labels: {{ metric.buckets.labels|safe }},
                                            datasets: [{
                                                {# title is already shown as html heading #}
                                                {# label: '{{ metric.title }}', #}
                                                data: {{ metric.buckets.values|safe }},
                                                backgroundColor: 'rgba(54, 162, 235, 0.6)'
                                            }]
                                        },
                                        options: chart_options
                                    }
                                );
                            </script>
                        {% endwith %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        
            {# display message, if no charts are shown#}
            <div id="chart_warnings"></div>
            <script type="text/javascript">
                const charts = document.querySelectorAll('[id^="chart-"]');
                if (charts.length === 0) {
                    {# Translators: keep formatting verbatim (html-tags) #}
                    document.getElementById("chart_warnings").innerHTML = "{% trans '<strong>Note:</strong> Please select a different timespan to display more data.' %}";
                }
            </script>
        </div>
    {% endif %}
{% endblock %}
