{% load i18n cosinnus_tags %}

{% captureas avatar_html %}
    <div class="row">
        
        {{ avatar_field.errors }}
    
        <div class="col-xs-12 col-sm-5 regular-space">
            {{ preview_html|safe }}
            
            {% if object.avatar and not avatar_field.field.required %}
            <div class="btn btn-emphasized btn-small btn-no-float">
                <ul class="media-list">
                    <li class="media">
                        <span class="pull-left" onclick="$('#avatar_deletion_notice').toggleClass('hidden');">
                            <i id="avatar_clear_checkbox" class="fa fa-square-o"></i>
                            <input type="hidden" name="avatar_clear" >
                        </span>
                        <div class="media-body click-previous-a">
                            {% trans "Delete" %}
                        </div>
                    </li>
                </ul>
            </div>
            
            <div id="avatar_deletion_notice" class="hidden small"><p>{% trans "Avatar will be deleted once you save." %}</p></div>
            {% endif %}
        </div>


        <div class="col-xs-12 col-sm-7  regular-space">
            {{ avatar_field }}
        </div><!-- col -->
        
    </div><!-- row -->
{% endcaptureas %}
                                
{% include 'cosinnus/fields/default_field.html' with field_html=avatar_html large_field=True field_classes="transparent" %}