{% load i18n widget_tweaks %}

<div class="cosinnus-field">
	{% if legend %}
	    <legend {% if first %}class="first"{% endif %}>{{ legend }}</legend>
	{% endif %}
	
	{% if label %}
		<label>
		    {% if field and field.required %}
		        *&nbsp;
		    {% endif %}
		    {{ label }}
		    {% if field and field.required %}
                {% trans "(required)" %}
            {% endif %}
		</label>
	{% endif %}
	
	{% if field and field.errors %}
	   {{ field.errors }}
	{% endif %}
	
	{% if field or field_html %}
		<div class="cosinnus-field-input {% if not large_field %}regular-field{% endif %} {% if field_classes %}{{ field_classes }}{% endif %}">
	        {% if field_html %}
	            {{ field_html|safe }}
	        {% elif field %}	    
	            {% render_field field placeholder=placeholder %}
	        {% endif %}
	    </div>
    {% endif %}
    
    {% if extra_html %}
       {{ extra_html|safe }}
    {% endif %}
</div>