{% load i18n cosinnus_tags  %}

{% if "managed_tag_field" in form.fields %}
	{% captureas managed_tag_extra_html %}
	    {% if SETTINGS.COSINNUS_MANAGED_TAGS_SHOW_FORMFIELD_SELECTED_TAG_DETAILS %}
		    <div class="managed-tags-form-detail-frame" id="managed-tags-detail-frame" {% if not form.fields.managed_tag_field.initial %}style="display: none;"{% endif %}>
		        {% for tag in form.fields.managed_tag_field.all_managed_tags %}
	                {% include 'cosinnus/fields/managed_tag_field_readonly.html' with tag=tag visible=form.fields.managed_tag_field.initial|contains:tag.slug %}
		        {% endfor %}
		    </div>
		    <script type="text/javascript">
		        $(function(){
		            $('#managed-tag-field').on('change', function(){
		                $('.managed-tag-detail').hide()
	 	                if ($(this).val()) {
	 	                    $('.managed-tag-detail[data-tag-slug="' + $(this).val() + '"]').show();
		                    $('#managed-tags-detail-frame').show();
		                } else {
		                    $('#managed-tags-detail-frame').hide();
		                } 
		            });
		        });
		    </script>
		{% endif %}
	{% endcaptureas %}
	{% captureas managed_tag_field_html %}
	    <select name="managed_tag_field" id="managed-tag-field">
	        <option default value="">- {{ COSINNUS_MANAGED_TAG_LABELS.MANAGED_TAG_FIELD_EMPTY_CHOICE }} -</option>
	        {% for tag in form.fields.managed_tag_field.all_managed_tags %}
	            <option {% if tag.slug in form.fields.managed_tag_field.initial %}selected{% endif %} value="{{ tag.slug }}">
	                {{ tag.name }}
	            </option>
	        {% endfor %}
	    </select>
	{% endcaptureas %}
	
	{% if not label %}
        {% captureas label %}{{ COSINNUS_MANAGED_TAG_LABELS.MANAGED_TAG_FIELD_LABEL }}{% endcaptureas %}
    {% endif %}
    {% if not legend %}
        {% captureas legend %}{{ COSINNUS_MANAGED_TAG_LABELS.MANAGED_TAG_FIELD_LEGEND_CONTENT }}{% endcaptureas %}
    {% endif %}
	{% include 'cosinnus/fields/default_field.html' with field_html=managed_tag_field_html field=form.managed_tag_field field_id="managed-tag-field" label=label legend=legend extra_html=managed_tag_extra_html %}
{% endif %}
