{% load i18n  cosinnus_tags  %}

{% comment %}  
    Excepts:
        - extra_field: the extra_field definition object with label etc properties 
        - bound_extra_field: the actual bound field for the form display
{% endcomment %}

{% if extra_field.dynamic_field_type == 'boolean' %}
    {% comment %} Checkbox Field {% endcomment %}   
    {% include 'cosinnus/fields/checkbox_field.html' with field=bound_extra_field label=extra_field.label checkbox_label=extra_field.label legend=extra_field.legend placeholder=extra_field.placeholder %}        
{% elif extra_field.dynamic_field_type == 'date' %}
    {% comment %} Regular Field {% endcomment %}
    {% comment %} Add the regular field-name here to mark its presence, as the field-values are split and 
        missing the field name in the POST would make the field be skipped on saving the dynamic fields {% endcomment %}
    <input type="hidden" name="{{ bound_extra_field.html_name }}" value="present-in-form" />
    {% include 'cosinnus/fields/default_field.html' with field=bound_extra_field label=extra_field.label legend=extra_field.legend placeholder=extra_field.placeholder large_field=True field_classes="triplet-date-field" %}       
{% elif extra_field.dynamic_field_type == 'multi_address' %}
    {% comment %} Regular Field {% endcomment %}   
    {% include 'cosinnus/fields/multi_address_field.html' with field=bound_extra_field label=extra_field.label legend=extra_field.legend placeholder=extra_field.placeholder large_field=True %}       
{% else %}
    {% comment %} Regular Field {% endcomment %}
    {% comment %} 
        This extra hidden field with the same name and no value is required as a fix for select2
        in conjunction with dynamic fields.
        Select2 will entirely remove a select-multiple <input> field if no choices are set,
        which means the formfield name is missing in the POST names, which makes us unable
        to see if the dynamic field value was set to empty, or the dynamic field was never in the form in the first place.
     {% endcomment %}
    <input type="hidden" name="{{ bound_extra_field.html_name }}" class="hidden-fallback" />
    {% include 'cosinnus/fields/default_field.html' with field=bound_extra_field label=extra_field.label legend=extra_field.legend placeholder=extra_field.placeholder large_field=extra_field.large_field %}
{% endif %}
