{% load i18n cosinnus_tags %}

{% if not SETTINGS.COSINNUS_BBB_ENABLE_GROUP_AND_EVENT_BBB_ROOMS and not COSINNUS_CURRENT_PORTAL.video_conference_server %}
    <input type="hidden" name="video_conference_type" id="id_video_conference_type" value="0">
{% else %}
    {% trans "Include a video conference" as video_conference_type_label %}
    {% if not video_conference_type_legend %}
        {% trans "Choose the type of the video conference you would like for the event" as video_conference_type_legend %}
    {% endif %}
    {% include 'cosinnus/fields/default_field.html' with field=form.forms.obj.video_conference_type label=video_conference_type_label legend=video_conference_type_legend %}
    
    {% if form.forms.conference_settings_assignments and SETTINGS.BBB_PRESET_USER_FORM_FIELDS and SETTINGS.COSINNUS_BBB_ENABLE_GROUP_AND_EVENT_BBB_ROOMS %}
        <script type="text/javascript">
            {# show or hide a visibility warning #}
            $(function(){
                $('#id_video_conference_type').on('change', function(){
                    if ($(this).val() == "1") {
                        $('#bbb-settings-advanced').show();
                    } else {
                        $('#bbb-settings-advanced').hide();
                    } 
                });
            });
        </script>
        <div class="cosinnus-field">
            <div id="bbb-settings-advanced" style="margin-top: 20px; {% if form.forms.obj.initial.video_conference_type != 1 %}display: none;{% endif %}">
                {% include 'cosinnus/conference/conference_settings_formfields.html' with form=form.forms.conference_settings_assignments %}
            </div>
        </div>
    {% endif %}
{% endif %}