{% load i18n cosinnus_tags %}

{% comment %} 
    Params:
        - group_object: the group object on which this form is displayed. either itself, or the parent group of this object
{% endcomment %}

{% if not SETTINGS.COSINNUS_BBB_ENABLE_GROUP_AND_EVENT_BBB_ROOMS and not COSINNUS_CURRENT_PORTAL.video_conference_server %}
    <input type="hidden" name="video_conference_type" id="id_video_conference_type" value="0">
{% else %}
    {% captureas bbb_restricted %}{% if SETTINGS.COSINNUS_BBB_ENABLE_GROUP_AND_EVENT_BBB_ROOMS_ADMIN_RESTRICTED %}{% if not group_object or not group_object.group_can_be_bbb_enabled %}true{% endif %}{% endif %}{% endcaptureas %}
    {% trans "Include a video conference" as video_conference_type_label %}
    
    {% captureas field_legend %}
	    {% if video_conference_type_legend %}
	        {{ video_conference_type_legend }}
	    {% else %}
	        {% trans "Choose the type of video conference you would like." %}
	    {% endif %}
	    {% if bbb_restricted %}
	        <br/>
	        {% trans "Professional video conferences with BigBlueButton require activation." %}
            <b>
	            <a href="{% include "cosinnus/v2/urls/conference_premium_booking_url.html" %}" target="_blank">{% trans "Make the activation here." %}</a>
            </b>
	    {% endif %}
    {% endcaptureas %}
    {% captureas video_type_field_html %}
        <select name="video_conference_type" id="id_video_conference_type" autocomplete="off" placeholder="" >
            {% for value, label in form.forms.obj.video_conference_type.field.choices %}
	            <option  
	                {% if value == 0 and not form.forms.obj.video_conference_type.value or value == form.forms.obj.video_conference_type.value %}selected{% endif %} 
	                value="{{ value }}">
                    {{ label }}
	            </option>
                {% if value == 0 and bbb_restricted %}
	                {% comment %} For the BBB-Meeting Option, add a fake, disabled option {% endcomment %}
	                <option disabled="disabled" value="1">
	                    {% trans "BigBlueButton" %} ({% trans "Activation required" %})
	                </option>
                {% endif %}
            {% endfor %}
        </select>
    {% endcaptureas %}
    {% include 'cosinnus/fields/default_field.html' with field_html=video_type_field_html field=form.forms.obj.video_conference_type label=video_conference_type_label legend=field_legend %}
    
    {% if form.forms.conference_settings_assignments and SETTINGS.BBB_PRESET_USER_FORM_FIELDS and SETTINGS.COSINNUS_BBB_ENABLE_GROUP_AND_EVENT_BBB_ROOMS %}
        <script type="text/javascript">
            {# show or hide a visibility warning #}
            $(function(){
                $('#id_video_conference_type').on('change', function(){
                    if ($(this).val() == "1") {
                        $('#bbb-settings-advanced').show();
                    } else {
                        $('#bbb-settings-advanced').hide();
                    } 
                });
            });
        </script>
        <div class="cosinnus-field">
            <div id="bbb-settings-advanced" style="margin-top: 20px; {% if form.forms.obj.initial.video_conference_type != 1 %}display: none;{% endif %}">
                {% include 'cosinnus/conference/conference_settings_formfields.html' with form=form.forms.conference_settings_assignments %}
            </div>
        </div>
    {% endif %}
{% endif %}