{% extends "cosinnus/base.html" %}
{% load i18n %}

{% block footer %}

    <div class="footer">
        <style>
            .footer {
               padding-bottom: 30px;
            }
            
            .footer-icon-frame {
                display: block;
                height: 26px;
                position: fixed;
                z-index: 10;
                left: 0;
                bottom: 0;
                background-color: #5a67d8;
                line-height: 26px;
                text-align: center;
                font-size: 16px;
                padding: 0 5px;
            }
            .footer-icon-frame, 
            .footer-icon-frame a {
                color: #FFF;
            }
            .footer-icon {
                display: inline;
                padding: 0 2px;
            }
            .footer-icon-frame a, .footer-icon-frame a:hover, .footer-icon-frame a:active {
                text-decoration: none;
            }
            .footer-icon span {
                font-size: 11px;
                vertical-align: top;
            }
        </style>
        
        <div class="footer-icon-frame">
            <a class="footer-icon" href="{% include 'cosinnus/v2/urls/faq_url.html' %}" title="{% trans "Help & FAQ" %}">
                <i class="fa fa-question-circle"></i>
            </a>
            <a class="footer-icon" href="{% include 'cosinnus/v2/urls/tos_url.html' %}" title="{% trans "Terms of Service" %}">
                <i class="fa fa-book"></i>
            </a>
            <a class="footer-icon" href="{% include 'cosinnus/v2/urls/impressum_url.html' %}" title="{% trans "Legal Notice" %}">
                <i class="fa fa-info-circle"></i>
                <span>{% trans "Legal Notice" %}</span>
            </a>
            <a class="footer-icon" href="{% include 'cosinnus/v2/urls/privacy_policy_url.html' %}" title="{% trans "Privacy Policy" %}">
                <i class="fa fa-shield"></i>
                <span>{% trans "Privacy Policy" %}</span>
            </a>
        </div>
    </div>
    
{% endblock %}