@import 'wechange-variables';

.digest {
    .summary-group {
        margin-bottom: 15px;

        .origin {
            margin-bottom: 10px;
            border-bottom: 2px solid #f6f5f2;

            .columns {
                padding-bottom: 20px;
            }


            h3 {
                @extend h5;
                margin-bottom: $global-margin;

                a {
                    text-decoration: none;
                    font-weight: bold;
                    $hue: hue($primary-color);
                    color: hsl($hue, 40, 40);
                }
            }
        }

        &.last {
            .origin {
                border: none;
            }
        }


        .summary-item {
            .text {
                .columns {
                    padding-bottom: 0;
                }

                .row {
                    margin-left: $global-margin;

                    &.object-name {
                        width: auto;
                        border-bottom-style: solid;
                        border-bottom-width: 1px;

                        &.news {
                            border-bottom-color: $news-color;
                        }

                        &.event {
                            border-bottom-color: $event-color;
                        }

                        &.todo {
                            border-bottom-color: $todo-color;
                        }

                        &.doc {
                            border-bottom-color: $doc-color;
                        }

                        &.file {
                            border-bottom-color: $file-color;
                        }

                        &.poll {
                            border-bottom-color: $poll-color;
                        }
                    }
                }

                h3 {
                    @extend h5;
                    font-size: $global-font-size - 2;
                    margin-bottom: 0;
                }

                span {
                    font-size: 12px;
                    color: #999;
                }
            }
        }
    }
}
