@import 'settings';

table.container.footer {
    background-color: $back;
    margin-top: $global-margin * 1.5;

    .opt-out {
        $hue: hue($primary-color);
        $opt-out-color: hsl($hue, 5, 60);

        p {
            font-size: $global-font-size / 1.15;
            color: $opt-out-color;

            a {
                color: $opt-out-color;
            }
        }
    }
}
