@import 'settings';

table.container.footer {
    background-color: $back;
    margin-top: $global-margin * 1.5;

    .opt-out {

        p {
            font-size: $global-font-size / 1.15;

            a {
                color: $text-color;
                font-weight: bold;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;    
            }
        }
    }
}
