@import 'mixins';

table.container.header {
    background-color: $back;
    margin-top: $global-margin;
    margin-bottom: $global-margin;

    .row {
        height: $global-margin * 4;

        .columns {
            padding-bottom: 0;
            &.logo {
                .logo-img {
                    height: 40px;
                }
            }
        }
    }

}
