@import 'mixins';

table.container.header {
    background-color: $back;
    margin-top: $global-margin * 1.5;
    margin-top: $global-margin * 2;

    .row {
        height: $global-margin * 4;

        .columns {
            padding-bottom: 0;

            a {
                font-weight: 700;
                text-decoration: none;

                @include lettering(2);
            }
        }
    }

}
