@import 'settings';
@import 'wechange_variables';
@import 'mixins';

.summary-item {
    
    /* Frames */
    .main-item {
        
    }
    .item-content {
        
    }
    .action-buttons {
        
    }
    .group-aside {
        &, & th, & tr {
            text-align: right;
            vertical-align: middle;
            min-height: 30px;
        }
        .group-aside-icon {
            width: 100%;
            word-break: break-word;
        }
        .group-aside-text {
        }
    }

    /* Content frames */
    .event-text {
    }
    .event-time {
    }
    .group-label {
    }

    
}

