@import 'settings';
@import 'wechange_variables';
@import 'mixins';

.summary-item {
    background-color: $background-color;
    border-bottom: 2px solid $back;
    
    /* Frames */
    .main-item {
        
    }
    .item-content {
        
    }
    .action-buttons {
        
    }
    .group-aside {
        &, & th, & tr {
            text-align: right;
            vertical-align: middle;
        }
        .group-aside-icon {
            width: 100%;
        }
        .group-aside-text {
            width: auto;
            white-space: nowrap;
        }
    }

    .object-text-column {
        padding: 25px 10px 15px 10px !important;    
    }    
    /* Content frames */
    .event-text {
    }
    .event-time {
    }
    .group-label {
    }

    
}

