// 1. Global (wechange colors)
// ---------
$back: #f0f0f0;
$text-color: #333333;
$pale-text-color: #bebebe;
$primary-color: #098276;
$secondary-color: #bebebe;
$background-color: #ffffff;

// 1. Global (default)
// ---------

$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #f3f3f3;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$light-black: #5a5a5a;
$black: #0a0a0a;
$white: #fefefe;
$pre-color: #ff6908;
