@import 'settings';
@import 'foundation-emails';
@import 'mixins';

table.container {
    &.header,
    &.footer {
        background-color: $back;
        margin-top: $global-margin * 1.5;
    }

    &.header {
        margin-top: $global-margin * 2;
    }
}


.header {
    .row {
        height: $global-margin * 4;
    }

    .columns {
        padding-bottom: 0;
    }

    span {
        font-weight: 700;

        @include lettering(2);
    }
}

.body {
    border-radius: 6px;
}

.subject {
    margin-top: $global-margin * 3;

    h2 {
        @extend h5;
    }
}

.origin {
    h3 {
        @extend h5;
        padding-left: $global-margin;
        margin-bottom: 0;
    }
}

.opt-out {
    $hue: hue($primary-color);
    $opt-out-color: hsl($hue, 5, 60);

    p {
        font-size: $global-font-size / 1.15;
        color: $opt-out-color;

        a {
            color: $opt-out-color;
        }
    }
}
