@import 'settings';
@import 'foundation-emails';
@import 'wechange_variables';
@import 'mixins';

// Components
// ----------

@import 'general';
@import 'footer';
@import 'header';
@import 'notification';
@import 'summary_group';
@import 'summary_item';
@import 'nested_summary_item';

// Global Styles
// -------------

.content {
    border-radius: 1px;
}

img {
    width: auto;
}

.body {
    &.body-inner {
        background-color: transparent;
    }
}

/* Hide linebreaks in sublists (those linebreaks are some markdown glitch) */
ul br, ol br, ul br {
    display: none;
}

p {
    margin: 0;
    margin-top: 0; 
    margin-right: 0; 
    margin-bottom: 0; 
    margin-left: 0; 
    
    &:not(:first-of-type) {
        padding-top: 16px;    
    }
}


a {
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;    
}

    