{% load i18n cosinnus_tags widget_tweaks %}

<div class="v-spacer-l"></div>

<div>                    
    {{ form.tos_check.errors }}
    <p class="inline-list transparent">
        <span class="cursor-pointer-input inline-list-input">
            {% render_field form.tos_check %}
        </span>
        <span class="cursor-pointer-input" onclick="$('#{{ form.tos_check.id_for_label }}').prop('checked', !($('#{{ form.tos_check.id_for_label }}').prop('checked'))).trigger('change');">
            {% trans "I have read and accept the" context "read and accept the [Terms of Services]" %}
        </span>
        <a class="nowrap" href="{% include 'cosinnus/v2/urls/tos_url.html' %}" target="_blank">{% trans "Terms and Services" %} <i class="fa fa-external-link"></i></a>
    </p>
</div>

{% if form.privacy_policy_check %}
    <div>
        {{ form.privacy_policy_check.errors }}
        <p class="inline-list transparent">
            <span class="cursor-pointer-input inline-list-input" >
                {% render_field form.privacy_policy_check %}
            </span>
            <span class="cursor-pointer-input" onclick="$('#{{ form.privacy_policy_check.id_for_label }}').prop('checked', !($('#{{ form.privacy_policy_check.id_for_label }}').prop('checked'))).trigger('change');">
                {% trans "I have read and accept the" context "read and accept the [Privacy Policy]" %}
            </span>
            
            <a class="nowrap" href="{% include 'cosinnus/v2/urls/privacy_policy_url.html' %}" target="_blank">{% trans "Privacy Policy" %} <i class="fa fa-external-link"></i></a>
        </p>
    </div>
{% endif %}

{% if form.newsletter_opt_in %}
    <div>
        {{ form.newsletter_opt_in.errors }}
        <p class="inline-list transparent">
            <span class="cursor-pointer-input inline-list-input">
                {% render_field form.newsletter_opt_in %}
            </span>
            <span class="cursor-pointer-input" onclick="$('#{{ form.newsletter_opt_in.id_for_label }}').prop('checked', !($('#{{ form.newsletter_opt_in.id_for_label }}').prop('checked'))).trigger('change');">
                {% trans "Yes, I want to be involved in what is going on with and around bothAnd and receive a newsletter." %}
                ({% trans "optional" %})
            </span>
        </p>
    </div>
{% endif %}

