{% load i18n cosinnus_tags %}

{% comment %}  
    Expects an `object` context variable for the object to like/follow.
{% endcomment %}

<a class="likefollow-button likefollow-button-style like-button {% if user|can_likefollow:object %}action-do-likefollow{% endif %} {% if user.id in object.get_liked_user_ids %}selected{% endif %}" 
        data-type="like" data-ct="{{ object.get_content_type }}" data-id="{{ object.id }}"
        {% if not user|can_likefollow:object %}href="{% url 'login' %}?next={{ object.get_absolute_like_url|urlencode }}"{% endif %}>
    {# We add/subtract 1 here, because that number is for the already-pre-calculated future state of when the current user likes/unlikes the object #}
    <span class="show-unselected">
        {% if user.id in object.get_liked_user_ids %}
            {% if object.like_count|subtract:1 > 0 %}{{ object.like_count|subtract:1 }}{% endif %}
        {% else %}
            {% if object.like_count > 0 %}{{ object.like_count }}{% endif %}
        {% endif %}
        <i class="fa fa-heart"></i>
        {% trans "Like" %}
    </span>
    <span class="show-selected">
        {% if user.id in object.get_liked_user_ids %}
            {% if object.like_count > 0 %}{{ object.like_count }}{% endif %}
        {% else %}
            {% if object.like_count|add:1 > 0 %}{{ object.like_count|add:1 }}{% endif %}
        {% endif %}
        <i class="fa fa-heart apply-color-liked"></i>
        {% trans "Liked" %}
    </span>
</a>