{% load i18n static socialaccount cosinnus_tags %}

{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
    <button type="button" class="btn w100 btn-{% if view == "socialaccount_connections" %}extra-{% endif %}emphasized regular-space" href="{% url 'socialaccount_connections' %}?provider={{ provider.id }}">
        <ul class="media-list">
            <li class="media">
               <span class="pull-left">
                    <i class="fas fa-lock"></i>
                </span>
                <div class="media-body">
                    {% blocktrans with provider=provider.id|upper %}{{ provider}}-Account{% endblocktrans%}
                </div>
            </li>
        </ul>
    </button>
{% endfor %}
