.v2-dashboard-body {
	background: @background-color-secondary;
}

.v2-dashboard {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	background-color: @background-color-secondary;
	
	.dashboard-left-bar, .dashboard-right-bar {
		background-color: @background-color-secondary;
						
		
	}
	.dashboard-center-bar {
		background-color: @background-color;
		border-right: 1px solid @border-color;
		border-left: 1px solid @border-color;
	}
	.timeline-controls {
		background-color: @background-color-secondary;
		
		
	}
	
}


