.v2-navbar, .v2-dashboard {
	
	font-family: @font-regular;
	font-size: 14px;
	color: @color-black;
	text-align: left;
	line-height: 18px;
	
	p {
		margin: 9px 0;
	} 
	
	.headline {
		margin: 10px 15px 15px 15px;
		font-size: 14px;
		font-weight: bold;
		color: @color-primary;
		letter-spacing: 1px;
		line-height: 21px;
		text-transform: uppercase;
	}
	.headline-big {
		margin: 15px 15px;
		font-weight: bold;
		color: @color-primary;
		letter-spacing: 1px;
		font-size: 20px;
		line-height: 26px;
		text-transform: uppercase;
	}
	.label {
		color: @label-color;
		font-size: 12px;
		line-height: 18px;
	}
	.button {
		/** TODO */
	}
	
	/** **** Lists of highlighted links **** */
	
	/** reset list styles */
	ul, li {  
		list-style: none;
		padding: 0;
		margin: 0;
		text-indent: 0;
		width: 100%;
	}
	
	ul.item-list {
		font-size: 14px;
		line-height: 35px;
		
		hr {
			border-top: 1px solid @pale-border-color;
			margin: 10px 0;
		}
	}
	
	.list-item {
		width: 100%;
		display: flex;
		flex-direction: row;
		white-space: nowrap;
		color: @navbar-active-text-color;
		
		&:hover, &:hover .li-underdrop {
			background-color: @navbar-highlight-color;
			&, i.fa {
				color: @background-color;
			}
		}
		i.fa {
			color: @navbar-active-text-color;
			margin-left: 10px;
		}
		div {
			z-index: 3;
			margin: 0 5px;
		}
		.item-text {
			overflow: hidden;
			text-overflow: ellipsis;
			flex-grow: 2;
		}
		.item-subtitle {
			display: inline-block;
			color: red;
			/** TODO: navbar. make this push the item-text up and make a new line in gray under the title. */
		}
		.right-side-annotation {
			margin-right: 15px;
		}
		/** 
			Full width li with aligned items.
			Underdrop is a full-screen-width background, while the other elements still retain their alignment 
		*/
		.li-underdrop {
			position: fixed;
			left: 0;
			width: 100%;
			background-color: @background-color-active;
			z-index: 2;
			&:after {
			    content: '.';
			    visibility: hidden;
			}
		}
	}
	
}