/** The main, top-fixated, always visible navbar */
.v2-navbar {
	/** Dimensions */
	height: 50px;
	border-bottom: 1px solid @border-color;
	box-sizing: border-box;
	line-height: 50px;
	
	/** Fixation to top */
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	
	/** Flexbox */
	display: flex;
	flex-direction: row;
	
	/** Colors and font */
	background-color: @background-color;
	color: @navbar-text-color;
	font-family: @font-regular;
	font-size: 14px;
	a, a:visited, i.fa {
		color: @navbar-text-color;
		text-decoration: none;
	}
	a:hover, a:active, a:hover i.fa, a:active i.fa {
		color: @navbar-highlight-color;
	}
	i.fa {
		font-size: 17px;
	}
	
	.nav-section {
		height: 49px;
		margin: auto;
		padding: 0 10px;
	} 
	.nav-search {
		flex-grow: 2;
		display: flex;
		align-content: center;
		position: relative;
		
		
		
		/** Focused search box with open result dropdown */
		&.active {
			border-right: 1px solid @border-color;
			border-left: 1px solid @border-color;
			
			&, & input {
				background-color: @background-color-active;
			}
		}
		
		&.active .show-inactive,
		&:not(.active) .show-active {
			display: none;
		}
		
		/** Highlight search button on hover and when active */
		&.active .nav-button-search i.fa,
		.nav-search-box:hover + div .nav-button-search i.fa {
			color: @navbar-highlight-color; 	
		}
		
		input.nav-search-box {
			flex-grow: 2;
			height: 49px;
			font-size: 16px;
			color: @navbar-text-color;
			border: none;
			outline: none;
			padding: 0 10px;
			
			&:active, &:focus {
				color: @navbar-active-text-color;
			}
			
		}
		
		/** The dropdown frame of search results shown as the user is typing */
		.dropdown-underdrop {
			position: fixed;
			background-color: @background-color-active;
			width: 100%;
			/** height is dynamically set in JS! */
			top: 50px;
			left: 0;
			z-index: 1;
			&:after {
			    content: '.';
			    visibility: hidden;
			}
		}
		.nav-quicksearch-results {
			position: absolute;
			top: 50px;
			right: 0;
			left: 0;
			z-index: 10;
			padding: 10px 0 5px 0;
			background-color: @background-color-active;
			line-height: 35px;
			font-size: 14px;
			display: none;
			
			/** reset list styles */
			ul, li {  
				list-style: none;
				padding: 0;
				margin: 0;
				text-indent: 0;
				width: 100%;
			}
			
			/** 
				Full width li with aligned items.
				Underdrop is a full-screen-width background, while the other elements still retain their alignment 
			*/
			.li-underdrop {
				position: fixed;
				left: 0;
				width: 100%;
				background-color: @background-color-active;
				&:after {
				    content: '.';
				    visibility: hidden;
				}
			}
			li a div {
				z-index: 3;
			}
			li a .li-underdrop {
				z-index: 2;
			}
			li a {
				width: 100%;
				&, i.fa {
					color: @navbar-active-text-color;
				}
				&:hover, &:hover .li-underdrop {
					background-color: @navbar-highlight-color;
					&, i.fa {
						color: @background-color;
					}
				}
			}
			
			.nav-searchresult {
				display: flex;
				flex-direction: row;
				white-space: nowrap;
				
				i.fa {
					margin-left: 10px;
				}
				div {
					margin: 0 5px;
				}
				.result-text {
					overflow: hidden;
					text-overflow: ellipsis;
					flex-grow: 2;
				}
				.quicksearch-annotation {
					margin-right: 15px;
				}
				
			}
		}
		&.active .nav-quicksearch-results {
			display: inherit;
		}
		
		
	}
	.nav-buttons {
	}
	
	.nav-brand {
		img {
			height: 30px;
			width: auto;
		}
		height: 50px;
	}
	
	.nav-button {
		padding: 10px 5px;
	}
	.nav-button-search {
		&.active {
			color: @navbar-highlight-color;
		}
	}
	.nav-header-textlink {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
	}
	
	/** The left-side flyout containing a user's items of interest */
	.nav-flyout {
		position: absolute;
		top: 50px;
		left: 0;
		z-index: 10;
		padding: 10px 0 5px 0;
		background-color: @background-color;
		
	}
	
	
	
	
}



/** Desktop only */
@media (min-width: 768px) {
	.seperator-left {
		border-left: 1px solid @border-color;
	}
}

/** Mobile only */
@media (max-width: 767px) {
	
}
