/** The main, top-fixated, always visible navbar */
.v2-navbar {
	/** Dimensions */
	height: 50px;
	border-bottom: 1px solid @border-color;
	box-sizing: border-box;
	line-height: 50px;
	white-space: nowrap;
	
	/** Fixation to top */
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	
	/** Flexbox */
	display: flex;
	flex-direction: row;
	
	/** Colors and font */
	background-color: @background-color;
	color: @navbar-text-color;
	font-family: @font-regular;
	font-size: 12px;
	a, a:visited, i.fas {
		color: @navbar-text-color;
		text-decoration: none;
	}
	a:hover, a:active, a:hover i.fas, a:active i.fas {
		color: @text-highlight-color;
	}
	i.fas {
		font-size: 15px;
	}
	
	.nav-section {
		height: 49px;
		margin: auto;
		padding: 0 10px;
	} 
	.nav-search {
		flex-grow: 2;
		display: flex;
		align-content: center;
		position: relative;
		
		/** Focused search box with open result dropdown */
		&.active {
			border-right: 1px solid @border-color;
			border-left: 1px solid @border-color;
			
			&, & input {
				background-color: @background-color-secondary;
			}
		}
		/** The closed state search icon slides up to the other icons */
		&:not(.active) {
			padding-right: 0;
			margin-right: -5px;
		}
		
		&.active .show-inactive,
		&:not(.active) .show-active {
			display: none;
		}
		
		/** Highlight search button on hover and when active */
		&.active .nav-button-search i.fas,
		.nav-search-box:hover + div .nav-button-search i.fas {
			color: @text-highlight-color; 	
		}
		
		input.nav-search-box {
			flex-grow: 2;
			height: 49px;
			font-size: 14px;
			font-weight: bold;
			color: @navbar-text-color;
			border: none;
			outline: none;
			padding: 0 12px;
			
			&:active, &:focus {
				color: @navbar-active-text-color;
			}
		}
		&:not(.active) input.nav-search-box {
			color: @background-color;
		}
		
		/** The dropdown frame of search results shown as the user is typing */
		.dropdown-underdrop {
			position: fixed;
			background-color: @background-color-secondary;
			width: 100%;
			/** height is dynamically set in JS! */
			top: 50px;
			left: 0;
			z-index: 5;
			&:after {
			    content: '.';
			    visibility: hidden;
			}
		}
		.nav-quicksearch-results {
			position: absolute;
			top: 50px;
			right: 0;
			left: 0;
			z-index: 10;
			background-color: @background-color-secondary;
			display: none;
			padding: 10px 0 5px 0;
			
			.list-item .item-icon {
				margin-left: 1px;
			}
			
		}
		&.active .nav-quicksearch-results {
			display: inherit;
		}
		
		
	}
	.nav-buttons {
		.user-menu-button {
			img {
				width: 18px;
				height: 18px;
				margin-top: -4px;
			}
		}
	}
	
	.nav-button.burger-menu {
		padding-top: 15px;
    	padding-bottom: 15px;
	}
	.nav-brand {
		height: 50px;
		img {
			height: 18px;
			width: auto;
			margin-top: -4px;
		}
		.burger-menu {
			position: relative;
		}
		.message-counter {
		    position: absolute;
		    left: 0px;
		    top: 6px;
		    background-color: @color-primary;
		    color: @background-color;
		    border-radius: 12px;
		    height: 15px;
		    width: 15px;
		    display: block;
		    line-height: 15px;
		    text-align: center;
		    font-weight: bold;
		    font-size: 10px;
		}
	}
	.brand-links {
		display: inline;
	}
	
	.nav-button {
		cursor: pointer;
		padding: 10px 5px;
	}
	.nav-button-search {
		&.active {
			color: @text-highlight-color;
		}
	}
	.nav-header-textlink {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
	}
	
	/** The left-side flyout containing a user's items of interest */
	.nav-flyout {
		position: absolute;
		top: 50px;
		left: 0;
		z-index: 9;
		width: 100%;
		background-color: @background-color-secondary;
		
		.nav-flyout-section {
			position: relative;
		    z-index: 9;
		    background: @background-color-secondary;
			border-bottom: 1px solid @border-color;
		    &.padded {
				padding: 10px 0;
		    }
		}
	}
	.nav-flyout-backdrop,
	.nav-search-backdrop {
		display: none;
		position: fixed;
		top: 50px;
		left: 0;
		z-index: 4; 
		background-color: #000;
		opacity: .5;
		width: 100%;
		height: ~"calc(100% - 50px)"; 
	}
	.nav-flyout.collapsing .nav-flyout-backdrop,
	.nav-flyout.in .nav-flyout-backdrop,
	.nav-search.active .nav-search-backdrop {
		display: block;
	}
	.nav-column {
		width: 33%;
		white-space: normal;
		&:nth-child(2) {
			width: 34%;
		}
		&:not(:last-of-type) {
			border-right: 1px solid @border-color;
		}
	}
	.nav-flyout.in {
		max-height: ~"calc(100vh - 50px)"; 
		overflow-y: auto;
	}
	.main-menu {
		display: flex;
		flex-direction: row;
		background-color: @background-color-secondary;
		
		.main-menu-links {
			line-height: 18px;
			padding: 0 20px 10px 20px;
			div {
				margin-bottom: 10px;
			}
			a {
				color: @text-color;
				&:hover, &:active {
					color: @text-highlight-color;
				}
			}
		}
		
		hr {
			border-top: 1px solid @pale-border-color;
		}
		.list-item .item-icon {
			margin-left: 3px;
		}
		.item-list li hr {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.create-menu {
		cursor: pointer;
		
		.nav-flyout-section {
			padding: 0;
		}
		.headline {
			margin: 20px 0;
			cursor: pointer;
		}
		.create-menu-link {
			display: block;
			padding: 0 20px 20px 20px;
			color: @text-color;
			font-size: 14px;
			line-height: 18px;
			white-space: normal;
			
			&:not(:last-of-type) {
				border-right: 1px solid @border-color;
			}
			&:hover {
				color: @background-color;
				background-color: @text-highlight-color;
			}
			.description {
				margin-bottom: 14px;
			}
			.action {
				margin-bottom: 10px;
			}
		}
	}
	.text-right {
		text-align: right;
	}
	&.search-open .hidden-during-search {
		display: none;
	}
	
}



/** Desktop only */
@media (min-width: 768px) {
	.seperator-left {
		border-left: 1px solid @border-color;
	}
}

/** Mobile only */
@media (max-width: 767px) {
	
	.v2-navbar {
	
		.main-menu {
			display: flex;
			flex-direction: column;
		}
		.nav-column {
			width: 100%;
			&:nth-child(2) {
				width: 100%;
			}
			&:not(:last-of-type) {
				border-right: none;
				border-bottom: 1px solid @border-color;
			}
		}
		
		.nav-search {
			.nav-search-box {
				width: 10px;
			}
			&.active {
				position: absolute;
				left: 0;
				top: 0;
			    width: 100%;
			    border-left: none;
			    border-right: none;
			    
			    .nav-search-box {
			    	width: inherit;
			    }
			}
		}
		
		.create-menu {
			.create-menu-link {
				&:not(:last-of-type) {
					border-right: none;
					border-bottom: 1px solid @border-color;
				}
			}
		}
		
		.nav-mobile-triple-dots  .nav-button {
			padding-top: 0;
		}
		.nav-buttons {
			position: absolute;
		    top: 50px;
		    background: @background-color-secondary;
		    width: 100%;
		    text-align: right;
		    border-bottom: 1px solid @border-color;
		    
		    /** Nav-buttons transition hiding */
		    max-height: 0;
			opacity: 0;
			overflow-y: hidden;
			transition-property: all;
			transition-duration: .5s;
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		}
		
	}
	
	body.mobile-triple-dots-active {
		&:not(.v2-dashboard-body) {
			padding-top: 120px;
		}
		
		.v2-navbar {
			.nav-mobile-triple-dots  .nav-button {
				i.fas {
					color: @text-highlight-color;
				}
			}
			.nav-buttons {
				/** Nav-buttons transition hiding */
				opacity: 1;
				max-height: 50px;
				height: 50px;
			}
			.brand-links {
				float: left;
			}
			.nav-flyout, 
			.nav-flyout-backdrop,
			.nav-search-backdrop {
				top: 100px;
			}
			.nav-flyout.in {
				max-height: ~"calc(100vh - 100px)";
			}
		}
	} 
	
	
}
