@color-white: #fff;
@color-dark-gray: #9b9b9b;
@color-black: #333;
@color-aquamarine: #3dcccc;

@background-color: @color-white;
@border-color: @color-dark-gray;
@navbar-text-color: @color-dark-gray;
@navbar-active-text-color: @color-black;
@navbar-highlight-color: @color-aquamarine;