@font-regular: 'Brandon Text', sans-serif;
@color-white: #fff;
@color-light-gray: #fafafa;
@color-medium-gray: #dadada;
@color-dark-medium-gray: #bebebe;
@color-dark-gray: #9b9b9b;
@color-black: #4a4a4a;


/** For the wechange default: (aquamarine, purple): */
/** Define your own colors in your project's `/static/less/extra_less.less`! */
@color-primary: #34b4b5;
@color-secondary: #735991;


@text-color: @color-black;
@text-color-pale: @color-dark-gray;
@text-color-extra-pale: @color-dark-medium-gray;
@text-highlight-color: @color-primary;
@label-color: @color-dark-gray;

@background-color: @color-white;
@background-color-secondary: @color-light-gray;
@border-color: @color-dark-gray;
@medium-border-color: @color-dark-medium-gray;
@pale-border-color: @color-medium-gray;
@navbar-text-color: @color-dark-gray;
@navbar-active-text-color: @color-black;
