{% load i18n %}
{% import "include/macros.html" as macros %}

<div id="tile-list" class="tile-list {% if fullscreen %} tile-list-fullscreen {% endif %} {% if splitscreen %} tile-list-splitscreen {% else %} tile-list-tile-fullscreen {% endif %} mobile-view mobile-view-list-visible-flex mobile-view-search-visible-flex">
    <div class="overlay"></div>
    {% if not splitscreen %}
        <div class="tile-list-header">
            <span class="pull-right">
	            {% for type in ['projects', 'groups', 'conferences', 'ideas', 'organizations'] %}
	                {% if type in controlView.availableFilterList %}
	                    {% if not type in ['projects', 'groups'] or COSINNUS_SHOW_PROJECT_AND_GROUP_CREATE_BUTTONS %}
	                        {% if COSINNUS_USER_CAN_CREATE_CONFERENCE or type != 'conferences'  %}
					            <a href="{% if not cosinnus_active_user %}/signup/?acc_req_msg=1&next={% endif %}/{{type}}/add/" class="rounded-button button-color-{{ type }}-inverted">
						            <span class="rounded-button-inner">
						                {{ macros.typeLabel(type, useStyles=0, create=true, COSINNUS_TRANS=COSINNUS_TRANS) }}
						            </span>
						        </a>
					        {% endif %}
					    {% endif %}
	                {% endif %}
	            {% endfor %}
            </span>
            
	        <h1 class="no-select">
                {% for filter_type in controlView.availableFilterList %}
                    {{ macros.typeLabel(filter_type, mine=controlView.showMine, all=true, COSINNUS_TRANS=COSINNUS_TRANS) }}
                {% endfor %}
            </h1>
        </div>
    {% endif %}
    <div class="controls {% if controlView.state.filterPanelVisible %}open{% endif %}"></div>
    <div class="tile-contents mobile-view mobile-view-list-visible-block">
        <div id="tile-container-proto" class="grid" style="display: none;">
            <!-- width of .grid-sizer used for columnWidth -->
            <div class="grid-sizer"></div>
        </div>
    </div>
    <div class="pagination-controls"></div>
</div>