{% extends "cosinnus/base.html" %}
{% load i18n bootstrap3 %}

{% block page_title %}{{ confirm_title }}{% endblock %}

{% block content %}
  <form action="" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        {{ confirm_question }}
      </div>
    </div>
    {% trans "Cancel" as reset_label %}
    {% url 'cosinnus:group-list' as reset_link %}
    {% buttons layout='horizontal' %}
      {% bootstrap_button confirm_label button_type="submit" css_classes=submit_css_classes %}
      {% bootstrap_button reset_label link=reset_link %}
    {% endbuttons %}
  </form>
{% endblock content %}
