{% extends "cosinnus/group/group_base.html" %}
{% load i18n cosinnus_tags %}

{% block page_title %}
	{% if object %}
	   {% blocktrans with group_name=object.name %}Edit group “{{ group_name }}”{% endblocktrans %}
	{% else %}
	   {% trans "Create Group" %}
    {% endif %}
{% endblock %}


{% block leftnav %}
    {% if object %}
        {% captureas current_page %}editgroup{% endcaptureas %}
    {% else %}
        {% captureas current_page %}addgroup{% endcaptureas %}
    {% endif %}
    {% include "cosinnus/group/leftnav.html"  with current_page=current_page %}
{% endblock leftnav %}


{% block breadcrumb %}
        {{ block.super }}
        {% if object %}
            <li><a href="{% url 'cosinnus:group-dashboard' group=object.slug %}">{{ object.name }}</a></li>
            <li class="active">{% trans "Edit Group" %}</li>
        {% else %}
            <li class="active">{% trans "Create Group" %}</li>
        {% endif %}
{% endblock %}


{% block content %}
    <!-- a box with semi transparent background -->
    <div class="content-box">
        <form action="" method="post" class="form-horizontal" role="form">
		    {% csrf_token %}
		    Name: {{ form.forms.obj.name }}
		    Public: {{ form.forms.obj.public }}
		    Description: {{ form.forms.obj.description }} 
            Avatar: {{ form.forms.obj.avatar }}
		    
		    {% include "cosinnus/media_tags.html" %} 
		    
		    <button type="submit">Go</button>
		  </form>
        
    </div>

{% endblock %}



