{% extends "cosinnus/group/group_base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
	{% if object %}
	   {% blocktrans with group_name=object.name %}Edit group “{{ group_name }}”{% endblocktrans %}
	{% else %}
	   {% trans "Create Group" %}
    {% endif %}
{% endblock %}


{% block leftnav %}
    {% if object %}
        {% captureas current_page %}editgroup{% endcaptureas %}
    {% else %}
        {% captureas current_page %}addgroup{% endcaptureas %}
    {% endif %}
    {% include "cosinnus/group/leftnav.html"  with current_page=current_page %}
{% endblock leftnav %}


{% block breadcrumb %}
        {{ block.super }}
        {% if object %}
            <li><a href="{% url 'cosinnus:group-dashboard' group=object.slug %}">{{ object.name }}</a></li>
            <li class="active">{% trans "Edit Group" %}</li>
        {% else %}
            <li class="active">{% trans "Create Group" %}</li>
        {% endif %}
{% endblock %}


{% block content %}
    
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
    {% csrf_token %}
    {{ form.forms.obj.media }}
    
        <!-- a box with semi transparent background -->
        <div class="content-box">
	        {{ form.forms.obj.non_field_errors }}
		    
		    <div type="button" class="btn btn-default w100 large-space">
		        <ul class="media-list">
		            <li class="media">
		                <a class="pull-left btn-emphasized" href="#">
		                    {% if object %}
		                       <i class="fa fa-users"></i>
		                    {% else %}
		                       <i class="fa fa-plus"></i>
		                    {% endif %}
		                </a>
		                <div class="media-body">
		                    {{ form.forms.obj.name.errors }}
	                        {% captureas placeholder %}{% trans "Gib den Namen für die Gruppe ein." %}{% endcaptureas %}
	                        {% render_field form.forms.obj.name class+="form-control" placeholder=placeholder %}
		                </div>
		            </li>
		        </ul>
		    </div>
		
		    <fieldset>
		        <legend>{% trans "Gruppenbild" %}</legend>
		
		        <!-- On large screens the long explanation texts are on the right side next to the input elements -->
		        <div class="row">
		            <div class="col-md-8">
		
		                <!-- image left, inputs right -->
		                <div class="row">
		                    {{ form.forms.obj.avatar.errors }}
		                    
		                    {% comment %}   
		                    <div class="col-sm-4 regular-space">
		                        {% include "cosinnus/group/group_avatar_image.html" with group=group %}
		                    </div>
		
		                    <div class="col-sm-8 regular-space">
		
                             {% endcomment %}
		                        <div type="button" class="btn btn-default w100 regular-space">
		                            <ul class="media-list">
		                                <li class="media">
		                                    <a class="pull-left" href="#">
		                                        <i class="fa fa-file-image-o"></i>
		                                    </a>
		                                    <div class="media-body">
		                                        {{ form.forms.obj.avatar }}
		                                    </div>
		                                </li>
		                            </ul>
		                            
		                            <input id="avatar-clear_id" name="avatar_clear" type="checkbox">
			                        <label for="avatar-clear_id">Zurücksetzen</label>
	                                
	                                <button type="button" class="btn btn-default w100" href="http://google.de">
	                                    <ul class="media-list">
	                                        <li class="media">
	                                            <a class="pull-left" href="#">
	                                                <i class="fa fa-eraser"></i>
	                                            </a>
	                                            <div class="media-body">
	                                                <a href="#">
	                                                    {% trans "Bild löschen" %}
	                                                </a>
	                                            </div>
	                                        </li>
	                                    </ul>
	                                </button>
		                        </div>
		
		                    <!--</div> col -->
		                </div><!-- row -->
		            </div><!-- col -->
		
		            <!-- explanation text -->
		            <div class="col-md-4">
		                <p class="transparent">Ein Bild hilft, dich in vielen Programmen schnell zu erkennen.</p>
		            </div>
		        </div><!-- row -->
		    </fieldset>
		
		
		    <fieldset>
		        <legend>Über die Gruppe</legend>
		
		        <!-- On large screens the long explanation texts are on the right side next to the input elements -->
		        <div class="row">
		            <div class="col-md-8 regular-space">
		                
                        <label>Beschreibe die Gruppe in ein paar Sätzen.</label>
                        {{ form.forms.obj.description.errors }}
                        <div type="button" class="btn btn-default w100 regular-space">
                            <ul class="media-list">
                                <li class="media">
                                    <a class="pull-left" href="#">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <div class="media-body">
                                        {% render_field form.forms.obj.description  %}
                                    </div>
                                </li>
                            </ul>
                        </div>
		                
                        {% include "cosinnus/media_tags_group.html" %} 
		
		                <label>Wie öffentlich ist die Gruppe?</label>
		                <div type="button" class="btn btn-default w100">
		                    <ul class="media-list">
		                        <li class="media">
		                            <a class="pull-left" href="#">
		                                <i class="fa fa-globe"></i>
		                            </a>
		                            <div class="media-body">
		                                <select name="public" class="form-control">
		                                    <option default value="false">{% trans "Members only" %}</option>
		                                    <option {% if object and object.public %}selected{% endif %} value="true">{% trans "Public" %}</option>
		                                </select>
		                            </div>
		                        </li>
		                    </ul>
		                </div>
		            
		            
		            
		            
		            </div><!-- col -->
		            <div class="col-md-4">
		                <p class="transparent"><strong>Gruppe beschreiben</strong></p>
		                <p class="transparent">Schreibe etwas hier hin, fülle das Formular aus.</p>
		                <p class="transparent">Der weitere Beschreibungstext fehlt noch.</p>
		            </div><!-- col -->
		        </div><!-- row -->
	
	    
	    </div>
	    
	    <button type="submit" class="btn btn-emphasized">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-check"></i>
	                </a>
	                <div class="media-body">
                        {% trans "Speichern" %}
	                </div>
	            </li>
	        </ul>
	    </button>
    
    
    </form>
    

{% endblock %}



