{% extends "cosinnus_event/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks sekizai_tags %}

{% block html_attributes %}class="mobile-noscroll"{% endblock html_attributes %}

{% block page_title %}
{% trans "Meeting" %} {{ meeting_name }}{{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
    {% if group %}
        <li><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></li>
        <li class="active">{% if has_bbb_video %}{% trans 'BBB-Meeting' %}{% else %}{% trans 'Fairmeeting' %}{% endif %}</li>
    {% endif %}
{% endblock %}

{% block og_image %}{% if group and group.attached_images %}{{ COSINNUS_CURRENT_PORTAL.get_domain }}{{ group.attached_images.0.static_image_url }}{% else %}{{ block.super }}{% endif %}{% endblock og_image %}
{% block og_title %}{{ meeting_name }} - {{ block.super }}{% endblock og_title %}
{% block og_description %}{% if group %}{{ group.description|truncatewords:30 }}{% else %}{{ block.super }}{% endif %}{% endblock og_description %}

{% block content %}
{% endblock content %}

{% block main_page %}
	{{ block.super }}
	
	<div class="row">
	    <div class="col-lg-12 col-md-12">    
	        <div class="content-box"> <!-- a box with semi transparent background -->
	            {% include 'cosinnus/conference/conference_meeting_single.html' %}
	        </div><!-- content-box -->
	    </div>
	</div> <!-- row -->
    
{% endblock main_page %}
