{% extends "cosinnus/base.html" %}
{% load i18n bootstrap3 %}

{% block page_title %}
  {% if object %}
    {% blocktrans with group_name=object.name %}Edit group “{{ group_name }}”{% endblocktrans %}
  {% else %}
    {% trans "Create Group" %}
  {% endif %}
{% endblock %}

{% block content_title %}
  {% if object %}
    {% blocktrans with group_name=object.name %}Edit group “{{ group_name }}”{% endblocktrans %}
  {% else %}
    {% trans "Create Group" %}
  {% endif %}
{% endblock content_title %}

{% block content %}
  <form action="" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    Name: {{ form.forms.obj.name }}
    Public: {{ form.forms.obj.public }}
    Description: {{ form.forms.obj.description }}  
    
    {% include "cosinnus/media_tags.html" %} 
    
    {% trans "Cancel" as reset_label %}
    {% url 'cosinnus:group-list' as reset_link %}
    {% buttons submit=submit_label reset=reset_label reset_link=reset_link layout='horizontal' %}{% endbuttons %}
  </form>
{% endblock content %}
