{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags thumbnail %}
{% load static sdg_tags %}

{% block page_title %}{{ group.name }} {{ block.super }}{% endblock page_title %}

{% block extrahead %}
  <link href="{% static "css/cosinnus.dashboard.css" %}" rel="stylesheet">
{% endblock extrahead %}

{% block og_meta_attributes %}
	{% include 'cosinnus/group/group_og_meta_attributes.html' with group=group %}
{% endblock og_meta_attributes %}

{% block body_attributes %}{% if not user.is_authenticated %}class="body-no-nav"{% endif %}{% endblock body_attributes %}

{% block cosinnus_navbar %}
	{% if user.is_authenticated %}
		{{ block.super }}
	{% endif %}
{% endblock cosinnus_navbar %}


{% block main_page_header %}
    <a name="microsite"></a>
    
	{% if user.is_authenticated %}
		{% comment %} Combobox dropdown and breadcrumb {% endcomment %}
	    <div class="row">
	        <!-- start with left navigation -->
	        <div class="x-v3-leftnav col-lg-3 col-md-3"><!-- left column -->
	            {% if group %}
	                {% cosinnus_menu "cosinnus/appsmenu.html" %}
	            {% endif %}
	        </div><!-- left column -->
	        <!-- now the content -->
	        <div class="col-lg-9 col-md-9"><!-- right column -->
	            <ol class="breadcrumb">
	                {% include 'cosinnus/breadcrumb.html' %}
	                <li class="active">{% trans "Microsite" %}</li>
	            </ol>
	        </div><!-- right column -->
	    </div><!-- row -->
    {% endif %}
    
    {% include 'cosinnus/messages.html' %}
{% endblock main_page_header %}
            

{% block main_page %}

	{% block teaser %}
	    {% if user.is_authenticated and user.pk in group.admins %}
		    <div class="alert alert-warning alert-dismissable">
	            <i class="fa fa-heart fa-3x"></i>
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
		        <p>
		        	{% trans "Not happy with how your Microsite looks?" %}
		        	<a href="{% group_url 'cosinnus:group-edit' group=group %}?tab=microsite">{% trans "Change it here..." %}</a>
		        </p>
		    </div>
		{% endif %}
	{% endblock %}

	{% block microsite_header %}

	<div class="group-microsite-header">
	    {% if group.group_is_conference and group.use_conference_applications %}
	        {% include 'cosinnus/group/group_microsite_action_buttons_applications.html' %}
	    {% else %}
	        {% include 'cosinnus/group/group_microsite_action_buttons.html' %}
	    {% endif %}

		{% include "cosinnus/group/group_microsite_header_image.html" %}
		
		<div class="group-microsite-box">
			<div class="group-microsite-avatar">
				{% include "cosinnus/group/group_avatar_image.html" with group=group extra_classes="image" %}
			</div>
			
			{% block microsite_main_content %}
				<h2>{{ group.name }}</h2>
				
				
				<div class="group-microsite-details">
					
					{% block microsite_header_details %}
						<p class="transparent">
			            	{{ group.trans.VERBOSE_NAME }}
			            </p>
			            
			            {% with parent=group.get_parent_typed %}
			                {% if parent %}
			                    <p class="transparent">
			                    	{% trans "Group" %}: <a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a>
			                    	{% comment %} Other Projects (siblings) link out for now.
			                    	{% with siblings=group.get_siblings %}
			                    		{% if siblings %}
			                    			| {% trans "Other Projects" %}: 
			                    			{% for sibling in siblings %}
			                    				<a href="{{ sibling.get_absolute_url }}">{{ sibling.name }}</a>
			                    				{% if not forloop.last %}, {% endif %}
			                    			{% endfor %}
			                    		{% endif %}
			                    	{% endwith %}
			                    	{% endcomment %}
			                    </p>
			                {% else %}
					            {% with children=group.get_children %}
					        		{% if children %}
					        			<p class="transparent">
						        			{% trans "Projects" %}: 
						        			{% for child in children %}
						        				<a href="{{ child.get_absolute_url }}">{{ child.name }}</a>{% if not forloop.last %}, {% endif %}
						        			{% endfor %}
					        			</p>
					        		{% endif %}
					        	{% endwith %}
			                {% endif %}
			            {% endwith %}
		            {% endblock microsite_header_details %}
	            </div>
            {% endblock microsite_main_content %}
			
		</div>
	</div>
	{% endblock microsite_header %}
	
	{% block microsite_subheader %}
		<div class="group-microsite-subheader">
			<div class="group-microsite-subheader-container">
			    {% if group.member_count > 0 %}
					<div class="group-microsite-subheader-item">
						<header>{% trans "Members" %}</header>
						<div class="group-microsite-subheader-item-value">{{ group.member_count }}</div>
					</div>
			    {% endif %}
			    {% if object_counts.note > 0 %}
					<div class="group-microsite-subheader-item">
						<header>{% trans "News posts" %}</header>
						<div class="group-microsite-subheader-item-value">{{ object_counts.note }}</div>
					</div>
				{% endif %}
				{% if object_counts.event %}
					<div class="group-microsite-subheader-item">
						<header>{% trans "Events" %}</header>
						<div class="group-microsite-subheader-item-value">{{ object_counts.event }}</div>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock microsite_subheader %}
	
	<div class="clearfix"></div>
	
	{% block microsite_content %}
	<div class="row">
		<div class="col-xs-12">
			
			{# About Project box #}
			<div type="button" class="btn btn-emphasized btn-headline v-offset-l">
	            <ul class="media-list">
	                <li class="media">
	                    <span class="pull-left btn-extra-emphasized"></span>
	                    <div class="media-body">
	                        {% if group.type == 0 %}{% trans "About the Project" %}{% else %}{% trans "About the Group" %}{% endif %}
	                    </div>
	                </li>
	            </ul>
	        </div><!-- btn -->
	        
	        <div class="white-content">
	        	{% block microsite_group_description %}
	        		
	        		<div class="textfield">
		        	{% if group.description_long and group.description_long|length > 0 %}
			            {{ group.description_long|textfield }}
			        {% elif group.description and group.description|length > 0 %}
			            {{ group.description|textfield }}
			        {% else %}
			        	<i>
			        		{% if group.type == 0 %}
			        			{% trans "There is no description for this project yet." %}
			        		{% else %}
			        			{% trans "There is no description for this group yet." %}
			        		{% endif %}
		        		</i>
			        {% endif %}
			        </div>
			        
			        		{% comment %}
			        <div class="row">
			        	<div class="col-xs-12">
			        			https://www.flickr.com/photos/moopus/sets/72157601996566901
			        			flashvars="offsite=true&amp;lang=de-de&amp;page_show_url=photos%2Fmoopus%2Fsets%2F72157601996566901%2Fshow%2F&amp;page_show_back_url=photos%2Fmoopus%2Fsets%2F72157601996566901%2Fshow%2F&amp;set_id=72157601996566901&amp"
		        			<embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" 
		        				allowfullscreen="true" 
		        				flashvars="offsite=true&amp;lang=de-de&amp;page_show_url=photos%2F{{ flickruser }}%2Fsets%2F{{ setid }}%2Fshow%2F&amp;page_show_back_url=photos%2F{{ flickruser }}%2Fsets%2F{{ setid }}%2Fshow%2F&amp;set_id={{ setid }};" 
		        				height="250px" width="100%">
		        		</div>
		        		{# flashvars="offsite=true&amp;lang=de-de&amp;page_show_url=%2Fphotos%2Fmitosthh%2Fsets%2F72157627537987744%2Fshow%2Fwith%2F6088857705%2F&amp;page_show_back_url=%2Fphotos%2Fmitosthh%2Fsets%2F72157627537987744%2Fwith%2F6088857705%2F&amp;set_id=72157627537987744&amp;jump_to=6088857705" #}
			        	<div class="col-xs-3">
							smal
			        	</div>
			        </div>
			        		{% endcomment %}

			        {% with gallery_images=group.gallery_images.all  %}
			        	{% if group.video or gallery_images %} {# todo: check for video #}
					        <div class="row" style="padding: 0 15px;">
						        
						        {% if group.video %}
							        <div class="col-md-6">
								    	<div class="row">
							        		{{ group.render_video_embed }}
							        	</div>
							        </div>
						        {% endif %}
						        
						        {# check for existing group video, if exists, make the gallery a full row, otherwise a lg-6  #}
							    <div class="{% if group.video %}col-md-6{% else %}col-xs-12{% endif %}">
							    	<div class="row">
							    		{% for gallery_image in gallery_images %}
							    			{# up to 3 images side by side in video view , or 6 in non-video. xs always gets 2 images next to each other #}
							    			<div class="{% if group.video %}col-xs-6 col-md-4{% else %}col-xs-6 col-sm-3 col-md-2{% endif %} regular-space">
								                <a href="{{ gallery_image.static_image_url }}" data-lightbox-download="{{ gallery_image.static_image_original_url }}" data-lightbox="microsite-image-gallery" data-title="{{ gallery_image.title }}">
								                    <img class="image" src="{% thumbnail gallery_image.image 300x300 crop=1 upscale=1 %}" title='{{ gallery_image.title }}'/>
								                </a>
							    			</div>
							    		{% endfor %}
							    	</div>
							    </div>     
					        </div>
					    {% endif %}
					{% endwith %}
					
					<p>
						{% block microsite_metadata %}
					        {% with tags=group.media_tag_object.tags.all topics=group.media_tag_object.topics %}
						        {% if SETTINGS.COSINNUS_TAGS_ENABLED and tags %}
						        	<b>{% trans "Tags" %}:</b>
									{% for tag in tags %}
									    {{ tag }}{% if not forloop.last %}, {% endif %}
								    {% endfor %}
									<br/>
								{% endif %}
								{% if topics %}
									<b>{% trans "Topics" %}:</b>
                                    {% render_cosinnus_topics topics %}
									<br/>
								{% endif %}
								
							{% endwith %}
						{% endblock microsite_metadata %}
					</p>
					
					{% if SETTINGS.COSINNUS_RELATED_GROUPS_PROJECTS_ENABLED %}
						{% with related_groups=group.related_groups.all %}
							{% if related_groups %}
								<p class="transparent">
									{% trans "Related Projects/Groups" %}: 
									{% for related_group in related_groups %}
										<a href="{{ related_group.get_absolute_url }}">{{ related_group.name }}</a>{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</p>
							{% endif %}
						{% endwith %}
					{% endif %}
		        	
		        	{% comment %}  
                        For portals that have COSINNUS_MANAGED_TAGS_ENABLED enabled, show the tags here
                    {% endcomment %}
                    {% block managed_tag_microsite_field %}
                        {% if SETTINGS.COSINNUS_MANAGED_TAGS_ENABLED %}
                            {% with managed_tags=group.get_managed_tags %}
                                {% if managed_tags %}
                                    <b>{{ COSINNUS_MANAGED_TAG_LABELS.MANAGED_TAG_NAME }}</b>
                                    {% for tag in managed_tags %}
                                        {% include 'cosinnus/fields/managed_tag_field_readonly.html' with tag=tag visible=True %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endblock %}
		        	
	        	    <br/>
					{% if SETTINGS.COSINNUS_SHOW_LIKES_BOOKMARKS_FOLLOWS_BUTTONS and request.user.is_authenticated and not request.user.is_guest %}
						<div>
							{% if group.type == 0 %}
								{% trans "You will now receive notifications for content posted in this project." as follow_success_message %}
							{% else %}
								{% trans "You will now receive notifications for content posted in this group." as follow_success_message %}
							{% endif %}
							{% include 'cosinnus/common/likefollowstar/star_button.html' with object=group %}
							{% include 'cosinnus/common/likefollowstar/follow_button.html' with object=group success_message=follow_success_message %}
							{% include 'cosinnus/common/likefollowstar/confirm_likefollowstar_modal.html' with object=group %}
						</div>
					{% endif %}
					
					{% block social_media_buttons %}
						{% if SETTINGS.COSINNUS_MICROSITE_SHOW_SOCIAL_MEDIA_BUTTONS %}
							<p class="group-microsite-share-buttons">
								<b>{% trans "Share" %}:</b>&nbsp;
								<a href="https://www.facebook.com/sharer/sharer.php?u={{ group.get_absolute_url|escape }}" target="_blank"
										title="{% trans "Share on Facebook" %}">
									<i class="fa fa-2x fa-facebook-square"></i
								></a>&nbsp;
								<a href="https://twitter.com/intent/tweet?text=Check out {{ group.get_absolute_url|escape }}" target="_blank"
										title="{% trans "Share on Twitter" %}">
									<i class="fa fa-2x fa-twitter-square"></i
								></a>&nbsp;
							</p>
						{% endif %}
					{% endblock social_media_buttons %}
					
					<p class="group-microsite-created-updated-timestamp">
						<i>{% trans "Created on: " %}</i>{{ group.created|date:"SHORT_DATE_FORMAT" }}
						<br>
						<i>{% trans "Last updated on: " %}</i>{{ group.last_modified|date:"SHORT_DATE_FORMAT" }}
					</p>
					<div class="clearfix"></div>

					{% if SETTINGS.COSINNUS_ENABLE_SDGS %}
					<p>
						<b>{% trans "Sustainable Development Goals" %}:</b>&nbsp;
					</p>
					<p>
						{% if group.sdgs %}
						{% for sdg in group.sdgs %}
						{% get_sdg_image request.LANGUAGE_CODE sdg as images_path %}
						<img class="sdg-icon" src="{% static images_path %}">
						{% endfor %}
						{% endif %}
					</p>
					{% endif %}
				{% endblock microsite_group_description %}
	        </div>
		</div> <!-- col-xs-12 -->
	</div> <!-- row -->
	
	<div class="row">
		<div class="col-md-6">
			{% block microsite_left_column %}
				
				{% if not 'cosinnus_message' in settings.COSINNUS_DISABLED_COSINNUS_APPS %}
					{# Contact box #}
					<div type="button" class="btn btn-emphasized btn-headline v-offset-l">
			            <ul class="media-list">
			                <li class="media">
			                    <span class="pull-left btn-extra-emphasized"></span>
			                    <div class="media-body">
			                        {% trans "Contact" %}
			                    </div>
			                </li>
			            </ul>
			        </div><!-- btn -->
		        {% endif %}
		        
	        	{# Little hack to show an empty message, because a render-time empty check is complex due to extendable blocks #}
	        	<script type="text/javascript"> 
	        		$(function() {
	        			var box = $('#microsite_contact_content');
		        		if (box.text().replace(/\s/g, '').length == 0) {
		        			box.html("<p><i>{% trans "No contact data has been added yet." %}</i></p>");
		        		}
	        		});
	        	</script>
		        <div id="microsite_contact_content" class="white-content">
					
		        	{% if group.contact_info and group.contact_info|length > 0 %}
			            <div class="textfield">
			            	{{ group.contact_info|textfield }}
		            	</div>
			        {% endif %}
		        	
		        	<p>
			        	{% block microsite_group_contact %}
			        		{% if group.website %}
			        			<b>{% trans "Website" %}:</b>
			        			<a href="{{ group.website }}" target="_blank">{{ group.website }}</a>
			        			<br/>
			        		{% endif %}
			        		{% with group_locations=group.locations.all %}
			        			{% if group_locations %}
			        				<b>{% trans "Location" %}:</b>
						        	{% for group_location in group.locations.all %}
							        	<a href="{{ group_location.location_url }}" target="_blank">{{ group_location.location }}</a>{% if not forloop.last %}, {% endif %}
									{% endfor %}
									<br/>
								{% endif %}
							{% endwith %}
						{% endblock microsite_group_contact %}
		        	</p>
				</div>
				{% with group_admins=group.actual_admins %}
				    {% if group_admins %}
						<div class="white-content">
						    <p>
						        <b>{{ group.trans.CONTACT_PERSON }}:</b>&nbsp;
						        {% for admin in group_admins %}
						            <a href="{{ admin|profile_url }}" >{{ admin|full_name }}</a>
						            {% if not forloop.last %}, {% endif %}
						        {% endfor %}
						    </p>
						</div>
					    {% if not SETTINGS.COSINNUS_IS_INTEGRATED_PORTAL %}
						    {% with contact_url=group.get_admin_contact_url %}
				                <div>
									<p>
										{% trans "Here you can send a message to the admins." %}<br>
										{% if group.type == 0 %}
											{% trans "If you want to send your message to the project chat, you have to turn directly to the project." %}
										{% elif group.type == 1 %}
											{% trans "If you want to send your message to the group chat, you have to turn directly to the group." %}
										{% else %}
											{% trans "If you want to send your message to the conference chat, you have to turn directly to the conference." %}
										{% endif %}
									</p>
        						</div>
							    <button href="{% if user.is_authenticated %}{{ contact_url }}{% else %}{% url 'login' %}?next={{ contact_url|urlencode }}{% endif %}" type="button" class="btn btn-emphasized btn-autosize" style="float: none; margin-left: 0px;" target="_blank">
			                        <ul class="media-list">
			                            <li class="media">
			                                <span class="pull-left">
			                                    <i class="fa fa-envelope"></i>
			                                </span>
			                                <div class="media-body">
												{% if group.type == 0 %}
													{% trans "Contact Project Admins" %}
												{% elif group.type == 1 %}
													{% trans "Contact Group Admins" %}
												{% else %}
													{% trans "Contact Conference Admins" %}
												{% endif %}
			                                </div>
			                            </li>
			                        </ul>
			                    </button>
		                    {% endwith %}
	                    {% endif %}
				    {% endif %}
				{% endwith %}
				

				{% if contact_form %}
				<div type="button" class="btn btn-emphasized btn-headline v-offset-l">
					<ul class="media-list">
						<li class="media">
							<span class="pull-left btn-extra-emphasized"></span>
							<div class="media-body">
								{% trans "Email the group administrators" %}
							</div>
						</li>
					</ul>
				</div>
				<form method="post">
					<div class="content-box">
						{% csrf_token %}
						{% for hidden in contact_form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						{% trans "Email" as contact_form_email_label %}
						{% trans "Your email address" as contact_form_email_placeholder %}
						{% trans "Message" as contact_form_message_label %}
						{% trans "Your message" as contact_form_message_placeholder %}
						{% include 'cosinnus/fields/default_field.html' with field=contact_form.email label=contact_form_email_label placeholder=contact_form_email_placeholder %}
						{% include 'cosinnus/fields/default_field.html' with field=contact_form.message label=contact_form_message_label large_field=True placeholder=contact_form_message_placeholder %}

        				{% trans "Captcha" as captcha_label %}
        				{% captureas captcha_legend %}
        				{% trans "We need to make sure you are a real person (sorry!)" %}
        				<a class="refresh-captcha" href="#" style="color: #5a5a5a; text-decoration: underline;">
        				{% trans "Generate a new captcha" %}
        				</a>
    					{% endcaptureas %}
						{% include 'cosinnus/fields/default_field.html' with field=contact_form.captcha legend=captcha_legend label=captcha_label large_field=True field_classes="captcha-field" %}

						<script>
							$('.refresh-captcha').click(function () {
								$.getJSON("/captcha/refresh/", function (result) {
									$('.captcha').attr('src', result['image_url']);
									$('#id_captcha_0').val(result['key'])
								});
							});
						</script>
					</div>
					<button type="submit" class="btn btn-emphasized" title="Send">
						<ul class="media-list">
							<li class="media">
								<span class="pull-left">
									<i class="fa fa-check"></i>
								</span>
								<div class="media-body">
									{% trans "Send" %}
								</div>
							</li>
						</ul>
					</button>
				</form>
				{% endif%}

				{# Public objects box #}
				{% if public_objects %}
					{% for app, app_name, public_object_list in public_objects %}
					    {% if not app_name == 'note' %} {% comment %} Fix "MICROSITE_DOUBLE_NEWSBOX": hide note box {% endcomment %}
    					    {% captureas app_css_class %}{% if app == 'cosinnus_todo' %}app-todos{% elif app == 'cosinnus_note' %}app-main{% elif app == 'cosinnus_poll' %}app-poll{% elif app == 'cosinnus_cloud' %}app-cloud{% elif app == 'cosinnus_marketplace' %}app-marketplace{% elif app == 'cosinnus_file' %}app-files{% elif app == 'cosinnus_etherpad' %}app-etherpad{% elif app == 'cosinnus_event' %}app-calendar{% elif app %}app-{{ COSINNUS_CURRENT_APP }}{% endif %}{% endcaptureas %}
                            {% captureas app_icon %}{% if app == 'cosinnus_todo' %}fa-tasks{% elif app == 'cosinnus_note' %}fa-book{% elif app == 'cosinnus_poll' %}fa-bar-chart{% elif app == 'cosinnus_cloud' %}fa-cloud{% elif app == 'cosinnus_marketplace' %}fa-exchange{% elif app == 'cosinnus_file' %}fa-file{% elif app == 'cosinnus_etherpad' %}fa-file-text{% elif app == 'cosinnus_event' %}fa-calendar{% elif app %}app-{{ COSINNUS_CURRENT_APP }}{% endif %}{% endcaptureas %}
                            <div class="app {{ app_css_class }}">
						        <div type="button" class="{{ app_css_class }} btn btn-emphasized btn-headline fine-space v-offset-l">
						            <ul class="media-list">
						                <li class="media">
						                    <span class="pull-left btn-extra-emphasized"></span>
						                    <div class="media-body">
						                        <i class="fa {{ app_icon }}"></i>
						                        {% trans app_name context "the_app" %}
						                    </div>
						                </li>
						            </ul>
						        </div><!-- btn -->
					        </div>
					        <div class="" style="background-color: #ffffff !important;">
					        	{% with user=anonymous_user %}
						        	{% for public_object in public_object_list %}
						        		{% cosinnus_render_single_object public_object hide_group_name=True no_space=True %}
						        	{% endfor %}
					        	{% endwith %}
							</div>
					    {% endif %}
					{% endfor %}
				{% endif %}

				{% if SETTINGS.COSINNUS_MICROSITE_SOCIAL_MEDIA_FIELDS_ACTIVE %}
					{% if group.twitter_username %}
						{# Twitter username feed box #}
						<div type="button" class="btn btn-emphasized btn-headline v-offset-l">
				            <ul class="media-list">
				                <li class="media">
				                    <span class="pull-left btn-extra-emphasized"></span>
				                    <div class="media-body">
				                        {% trans "Tweets" %}
				                    </div>
				                </li>
				            </ul>
				        </div><!-- btn -->
				        <div class="white-content no-padding">
				        	{% include 'cosinnus/common/embed_twitter_field.html' with twitter_username=group.twitter_username %}
						</div>
					{% endif %}
					
					{% if group.twitter_widget_id %}
						{# Twitter custom feed box #}
						<div type="button" class="btn btn-emphasized btn-headline v-offset-l">
				            <ul class="media-list">
				                <li class="media">
				                    <span class="pull-left btn-extra-emphasized"></span>
				                    <div class="media-body">
				                        {% trans "Tweets" %}
				                    </div>
				                </li>
				            </ul>
				        </div><!-- btn -->
				        <div class="white-content no-padding">
				        	{% include 'cosinnus/common/embed_twitter_field.html' with twitter_widget_id=group.twitter_widget_id %}
						</div>
					{% endif %}
					
					
					{% if group.flickr_url %}
						{# Flickr custom feed box #}
						<div type="button" class="btn btn-emphasized btn-headline v-offset-l">
				            <ul class="media-list">
				                <li class="media">
				                    <span class="pull-left btn-extra-emphasized"></span>
				                    <div class="media-body">
				                        {% trans "Flickr Gallery" %}
				                    </div>
				                </li>
				            </ul>
				        </div><!-- btn -->
				        <div class="white-content no-padding">
				        	{% include 'cosinnus/common/embed_flickr_field.html' with data=group.get_flickr_properties %}
						</div>
					{% endif %}
				{% endif %}
				
				{% with call_to_action_buttons=group.call_to_action_buttons.all  %}
					{% if group.call_to_action_active %}
					    {% if call_to_action_buttons or group.call_to_action_description %}
						    {# Call to Action box #}
						    <div type="button" class="btn btn-emphasized btn-headline v-offset-l">
		                        <ul class="media-list">
		                            <li class="media">
		                                <span class="pull-left btn-extra-emphasized"></span>
		                                <div class="media-body">
		                                    {% if group.call_to_action_title %}
		                                        {{ group.call_to_action_title }}
		                                    {% else %}
		                                        {% trans "Call to Action" %}
		                                    {% endif %}
		                                </div>
		                            </li>
		                        </ul>
		                    </div><!-- btn -->
		                    <div class="white-content">
		                        {% if group.call_to_action_description %}
		                            <div class="textfield">
		                                {{ group.call_to_action_description|textfield }}
		                            </div>
		                        {% endif %}
		                        {% for cta_button in call_to_action_buttons %}
		                            <button href="{{ cta_button.url }}" target="_blank" type="button" class="btn btn-emphasized" style="float: none; margin-left: 0px;">
	                                    <ul class="media-list">
	                                        <li class="media">
	                                            <span class="pull-left">
	                                                <i class="fa fa-external-link"></i>
	                                            </span>
	                                            <div class="media-body">
	                                                {{ cta_button.label }}
	                                            </div>
	                                        </li>
	                                    </ul>
	                                </button>
		                        {% endfor %}
		                    </div>
		                {% endif %}
					{% endif %}
				{% endwith %}
				
				
			{% endblock microsite_left_column %}
		</div> <!-- col-md-6 -->
		
		<div class="col-md-6">
			{% block microsite_right_column %}
			
				{# News box #}
				{% if not group|is_app_deactivated:'cosinnus_note' %}
					<div type="button" class="btn btn-emphasized btn-headline v-offset-l">
			            <ul class="media-list">
			                <li class="media">
			                    <a class="pull-left btn-extra-emphasized" href="#"></a>
			                    <div class="media-body">
			                        {% trans "News" %}
			                    </div>
			                </li>
			            </ul>
			        </div><!-- btn -->
			        <div class="white-content no-padding">
			        	<iframe src="{% group_url 'cosinnus:note:embed' group=group %}" style="width: 100%; height: 1000px;" frameborder=0></iframe>
					</div>
				{% endif %}
				
				
			{% endblock microsite_right_column %}
		</div> <!-- col-md-6 -->
	</div> <!-- row -->
	
	{% endblock microsite_content %}
	
	

{% endblock main_page %}


{% block extrafooter %}
    {{ block.super }}
    {% if request.GET.join == "1" %}
	    <script type="text/javascript">
	        $(function(){
	            $('#join_withdraw_modal').modal('show');
	        });
	    </script>
	{% endif %}
{% endblock %}