{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static %}

{% block page_title %}
  {% blocktrans with group_name=object.name %}{{ group_name }} - Members{% endblocktrans %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link href="{% static 'css/vendor/leaflet.css' %}" rel="stylesheet">
    <script src="{% static 'js/vendor/leaflet.js' %}"></script>
{% endblock extrahead %}

{% block og_meta_attributes %}
	{% include 'cosinnus/group/group_og_meta_attributes.html' with group=group %}
{% endblock og_meta_attributes %}


{% block leftnav %}
    {% include "cosinnus/group/leftnav_group.html"  with current_page="groupdetails" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">{% trans "Members" %}</li>
{% endblock %}


{% block content %}

    <!-- a box with semi transparent background -->
    <div class="content-box">
        
        <div id="map"></div>
        <script type="application/javascript">
            var mapData = [
                {% for user in members %}
	                {% with mt=user.cosinnus_profile.media_tag %}
	                    {% if mt and mt.location and mt.location_lat and mt.location_lon %}
	                        {
	                        	lat: {{ mt.location_lat|stringformat:"f" }}, 
	                        	lon: {{ mt.location_lon|stringformat:"f" }}, 
	                        	title: '<img src="{{ user.cosinnus_profile.get_map_marker_image_url }}" width="40px" class="pull-left"><div style="margin-left: 50px; min-height: 40px;"><a href="{% url 'cosinnus:profile-detail' username=user.username %}">{{ user|full_name }}</a><br/><span>{% block user_map_popup_details %}{{ mt.location }}{% endblock %}</span></div>',
	                        	{% if user.cosinnus_profile.get_map_marker_image_url %}
	                         		avatar: "{{ user.cosinnus_profile.get_map_marker_image_url }}",
	                         	{% endif %}
                        	},
	                    {% endif %}
	                {% endwith %}
		        {% endfor %}
            ];
        </script>
        {% include 'cosinnus/common/map_expand_button.html' %}
        <div class="clearfix"></div>
    </div>

    <!-- a box with semi transparent background -->
    <div class="content-box">
        
        {% if user|has_write_access:object %}
            <form action="{% group_url 'cosinnus:group-user-add-generic' group=object %}" method="post">{% csrf_token %}
	            <div type="button" class="btn btn-default w100 large-space">
	                <ul class="media-list">
	                    <li class="media">
	                        <a class="pull-left" href="#">
	                            <i class="fa fa-user"></i>
	                        </a>
	                        <div class="media-body">
	                            <select name="user" class="w100 user-selector next-button-is-for-sending" data-placeholder="{% trans 'Add a member' %}">
	                                <option></option>
	                                <option value="" default disabled selected>{% trans 'Add a member' %}</option>
	                                {% for candidate in non_members %}
	                                   <option value="{{ candidate.pk }}">{{ candidate|full_name }}</option>
	                                {% endfor %}
	                            </select>
	                            <input type="hidden" name="status" value="1" />
	                        </div>
	                    </li>
	                </ul>
	            </div>
	            <button type="submit" class="btn btn-emphasized large-space" style="display: none;">
	                <ul class="media-list">
	                    <li class="media">
	                        <a class="pull-left" href="#">
	                            <i class="fa fa-pencil"></i>
	                        </a>
	                        <div class="media-body">
	                            {% trans "Add user" %}
	                        </div>
	                    </li>
	                </ul>
	            </button>
            </form>
        {% endif %}
		
		
        {% if user|has_write_access:object or user in pendings %}
            
            <legend>{% trans "Membership requests" %}</legend>
            
	        {% for member in pendings %}
	           
	           {% comment %} In public groups, we enable the logged in user to see himself as pending user {% endcomment %}
	           {% if not user in pendings or user == member %}
		            <div class="fadedown {% if not forloop.last %}regular-space{% endif %}">
		                <div class="btn btn-default w100">
		                    <ul class="media-list">
		                        <li class="media">
		                            <a class="pull-left" href="{{ member|profile_url }}">
		                                {% include "cosinnus/user/user_avatar_image.html" with user=member %}
		                            </a>
		                            {% if user|has_write_access:object %}
		                            <a class="pull-right fadedown-clickarea" href="#">
		                                <i class="fa fa-chevron-down"></i>
		                            </a>
		                            {% endif %}
		                            <div class="media-body">
		                                    <span class="annotation">
	                                            {% trans "Membership requested" %}
		                                    </span>
		                                <a href="{% url 'cosinnus:profile-detail' username=member.username %}">
		                                    {{ member|full_name }}
		                                </a>
		                            </div>
		                        </li>
		                    </ul>
		                </div>
		                
		                {% if user|has_write_access:object %}
		                    <div>
		                        {% captureas modal_kick_id %}userModal_kick_{{member.pk}}{% endcaptureas %}
		                        {% captureas modal_promote_id %}userModal_promote_{{member.pk}}{% endcaptureas %}
		                        <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_kick_id}}">
		                            <ul class="media-list">
		                                <li class="media">
		                                    <a class="pull-left" href="#">
		                                        <i class="fa fa-eraser"></i>
		                                    </a>
		                                    <div class="media-body">
		                                        {% trans "Decline User" %}
		                                    </div>
		                                </li>
		                            </ul>
		                        </button>
		                        
		                        <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_promote_id}}">
		                            <ul class="media-list">
		                                <li class="media">
		                                    <a class="pull-left" href="#">
		                                        <i class="fa fa-group"></i>
		                                    </a>
		                                    <div class="media-body">
	                                            {% trans "Accept User" %}
		                                    </div>
		                                </li>
		                            </ul>
		                        </button>
		                    </div>
		                    
		                {% endif %}
		                
		            </div><!-- fadedown -->
		            
		            {% if user|has_write_access:object %}    
	                    {% captureas label %}{% blocktrans with name=member|full_name %}Do you really want to accept user „{{ name }}“ as a member?{% endblocktrans %}{% endcaptureas %}
	                    {% captureas title %}{% trans "Accept Member" %}{% endcaptureas %}
	                    {% captureas action %}{% group_url 'cosinnus:group-user-edit' group=object username=member.username %}{% endcaptureas %}
	                    {% captureas extra_fields %}<input type="hidden" name="user" value="{{member.pk}}" /><input type="hidden" name="status" value="1" />{% endcaptureas %}
		                {% include "cosinnus/modal_box.html" with id=modal_promote_id label=label title=title form_action=action form_extra_fields=extra_fields %}
		                
		                {% captureas label %}{% blocktrans with name=member|full_name %}Do you really want to decline member „{{ name }}“?{% endblocktrans %}{% endcaptureas %}
		                {% captureas title %}{% trans "Decline Member" %}{% endcaptureas %}
		                {% captureas action %}{% group_url 'cosinnus:group-user-delete' group=object username=member.username %}{% endcaptureas %}
		                {% include "cosinnus/modal_box.html" with id=modal_kick_id label=label title=title form_action=action %}
		                
		            {% endif %}
	            
	            {% endif %}
	            
	        {% empty %}
	            <!-- {% trans "There are no new membership requests." %} -->
	            {% include 'cosinnus/common/empty_button.html' with message="There are no new membership requests." %}
	        {% endfor %}
            
        {% endif %}
		
		

        <legend>{% trans "Members" %}{% if member_count %} ({{ member_count }}){% endif %}</legend>
    
        {% for member in members %}
            <div class="fadedown {% if not forloop.last or hidden_user_count > 0 %}regular-space{% endif %}">
                <div class="btn btn-emphasized w100">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="{{ member|profile_url }}">
                                {% include "cosinnus/user/user_avatar_image.html" with user=member %}
                            </a>
                            {% if user|has_write_access:object %}
                            <a class="pull-right fadedown-clickarea" href="#">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            {% endif %}
                            {% if not member == user and not SETTINGS.COSINNUS_IS_INTEGRATED_PORTAL %}
                            <a class="pull-right" href="{% url 'postman:write' recipients=member.username %}" title="{% trans "Send Message" %}">
	                            <i class="fa fa-envelope"></i>
	                        </a>
	                        {% endif %}
                            <div class="media-body">
                                    <span class="annotation">
                                        {% if member in admins %}
                                            {% trans "Admin" %}
                                        {% elif member in members %}
                                            {% trans "Member" %}
                                        {% endif %}
                                    </span>
                                <a href="{% url 'cosinnus:profile-detail' username=member.username %}">
                                    {{ member|full_name }}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div>
	                {% if user|has_write_access:object %}
	                    {% captureas modal_kick_id %}userModal_kick_{{member.pk}}{% endcaptureas %}
	                    {% captureas modal_promote_id %}userModal_promote_{{member.pk}}{% endcaptureas %}
	                    <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_kick_id}}">
	                        <ul class="media-list">
	                            <li class="media">
	                                <a class="pull-left" href="#">
	                                    <i class="fa fa-eraser"></i>
	                                </a>
	                                <div class="media-body">
	                                    {% trans "Kick" %}
	                                </div>
	                            </li>
	                        </ul>
	                    </button>
	                    
	                    <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_promote_id}}">
	                        <ul class="media-list">
	                            <li class="media">
	                                <a class="pull-left" href="#">
	                                    <i class="fa fa-group"></i>
	                                </a>
	                                <div class="media-body">
	                                    {% if member in admins %}
	                                        {% trans "Make Member" %}
	                                    {% else %}
	                                        {% trans "Make Admin" %}
	                                    {% endif %}
	                                </div>
	                            </li>
	                        </ul>
	                    </button>
	                {% endif %}
	                
	                {% include 'cosinnus/feedback/report_button_btn.html' with object=member %}
                </div>
                
            </div><!-- fadedown -->
            
            {% if user|has_write_access:object %}    
                {% if member in admins %}
                    {% captureas label %}{% blocktrans with name=member|full_name %}Do you really want to demote administrator „{{ name }}“ to member?{% endblocktrans %}{% endcaptureas %}
                    {% captureas title %}{% trans "Demote Admin" %}{% endcaptureas %}
                    {% captureas action %}{% group_url 'cosinnus:group-user-edit' group=object username=member.username %}{% endcaptureas %}
                    {% captureas extra_fields %}<input type="hidden" name="user" value="{{member.pk}}" /><input type="hidden" name="status" value="1" />{% endcaptureas %}
                {% else %}
                    {% captureas label %}{% blocktrans with name=member|full_name %}Do you really want to promote member „{{ name }}“ to administrator?{% endblocktrans %}{% endcaptureas %}
                    {% captureas title %}{% trans "Promote Member" %}{% endcaptureas %}
                    {% captureas action %}{% group_url 'cosinnus:group-user-edit' group=object username=member.username %}{% endcaptureas %}
                    {% captureas extra_fields %}<input type="hidden" name="user" value="{{member.pk}}" /><input type="hidden" name="status" value="2" />{% endcaptureas %}
                {% endif %}
                {% include "cosinnus/modal_box.html" with id=modal_promote_id label=label title=title form_action=action form_extra_fields=extra_fields %}
                
                {% captureas label %}{% blocktrans with name=member|full_name %}Do you really want to remove member „{{ name }}“ from the Group?{% endblocktrans %}{% endcaptureas %}
                {% captureas title %}{% trans "Remove Member" %}{% endcaptureas %}
                {% captureas action %}{% group_url 'cosinnus:group-user-delete' group=object username=member.username %}{% endcaptureas %}
                {% include "cosinnus/modal_box.html" with id=modal_kick_id label=label title=title form_action=action %}
                
            {% endif %}
            
        {% endfor %}
        
        {% if hidden_user_count > 0 %}
            <div class="btn btn-default w100">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img src="{% static 'images/jane-doe.png' %}" />
                        </a>
                        <div class="media-body">
                            {% blocktrans with hidden_count=hidden_user_count %}And {{ hidden_count }} private users...{% endblocktrans %}
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
        
        {% if more_user_count > 0 %}
        	<br/>
            <div class="btn btn-default w100" href="?show=all">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" >
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <div class="media-body">
                            {% blocktrans with more_count=more_user_count %}Show all of the other {{ more_count }} users...{% endblocktrans %}
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
        
        
        
    </div>

  
  
  
{% endblock %}
