{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags %}

{% block page_title %}{% if group_type == 1 %}{% trans "Societies" %}{% else %}{% trans "Projects" %}{% endif %}{% endblock %}


{% block leftnav %}
    {% if group_type == 1 %}
        {% include "cosinnus/group/leftnav_all_groups.html"  with current_page="grouplist__society" %}
    {% else %}
        {% include "cosinnus/group/leftnav_all_groups.html"  with current_page="grouplist" %}
    {% endif %}
{% endblock leftnav %}


{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans "Overview" %}</li>
{% endblock %}

{% block override_breadcrumb %}
    {{ block.super }}
{% endblock override_breadcrumb %}


{% block content %}
    <div class="clearfix regular-space">
        <a href="{% url 'cosinnus:group-list-map' %}" class="pull-right light-color underlined">{% trans "show on map" %}</a>
    </div>
    <!-- a box with semi transparent background -->
    <div class="content-box">
        
        <!-- hidden as long as create link is in the leftnav
        {% if user.is_superuser %}
	        <div type="button" class="btn btn-default w100 large-space">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body media-body-form-control">
                            <input class="form-control next-button-is-for-sending"
                                placeholder="Gib den Titel für eine neue Gruppe ein."
                                value="" />
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-emphasized large-space" style="display: none;">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <div class="media-body">
                            Erstellen
                        </div>
                    </li>
                </ul>
            </button>
        {% endif %}
        -->
    
	    {% for group, members, pendings, admins in rows %}
	        {% if user.pk in members or user.pk in admins or group.public %}
	            {% group_url 'cosinnus:group-dashboard' group=group.slug as group_url %}
	        {% else %}
	            {% group_url 'cosinnus:group-microsite' group=group.slug as group_url %}
	        {% endif %}
	        <div class="fadedown {% if not forloop.last %}regular-space{% endif %}">
	            <div class="btn btn-{% if user.is_authenticated and user.pk in members or group.public %}emphasized{% else %}default{% endif %} w100">
	                <ul class="media-list">
	                    <li class="media">
	                        <a class="pull-left" href="{{ group_url }}">
	                            {% include "cosinnus/group/group_avatar_image.html" with group=group %}
	                        </a>
	                        <a class="pull-right fadedown-clickarea" href="#">
	                            <i class="fa fa-chevron-down"></i>
	                        </a>
	                        <a class="pull-right" href="{{ group_url }}">
	                            <i class="fa fa-chain"></i>
	                        </a>
	                        <div class="media-body">
	                            {% if user.is_authenticated %}
                                    <span class="annotation">
		                                {% if user.pk in admins %}
                                            {% trans "Admin" %}
                                        {% elif user.pk in members %}
                                            {% trans "Member" %}
                                        {% elif user.pk in pendings %}
                                            {% trans "Membership requested" %}
                                        {% elif group.public %}
                                            {% trans "Public" %}
                                        {% else %}
		                                    {% trans "Not a member" %}
		                                {% endif %}
		                            </span>
                                {% endif %}
	                            <a href="{{ group_url }}">
	                                {{ group.name }}
	                            </a>
	                        </div>
	                    </li>
	                </ul>
	            </div>
	            
	            <div>
		            {% if group.description and group.description|length > 0 %}
			            <div class="media-body well">
		                    {{ group.description|safe }}
			            </div>
		            {% endif %}
		            
		            {% if user.is_authenticated %}
				        {% captureas modal_id %}groupModal_{{group.slug}}{% endcaptureas %}
			            <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_id}}">
			                   
			                <ul class="media-list">
			                    <li class="media">
			                        <a class="pull-left" href="#">
			                            <i class="fa fa-group"></i>
			                        </a>
			                        <div class="media-body">
			                            {% if user.pk in members %}
			                                {% trans "Leave" %}
			                            {% elif user.pk in pendings %}
			                                {% trans "Withdraw" %}
			                            {% else %}
			                                {% trans "Join" %}
			                            {% endif %}
			                        </div>
			                    </li>
			                </ul>
			            </button>
		            {% endif %}
	                
	                {% if user.is_authenticated and user.pk in admins %}
		                <button type="button" class="btn btn-emphasized" href="{% group_url 'cosinnus:group-edit' group=group.slug %}">
		                    <ul class="media-list">
		                        <li class="media">
		                            <a class="pull-left" href="#">
		                                <i class="fa fa-pencil"></i>
		                            </a>
		                            <div class="media-body">
		                                {% trans "Edit" %}
		                            </div>
		                        </li>
		                    </ul>
		                </button>
	                {% endif %}
	                
	                <button type="button" class="btn btn-emphasized" href="{% group_url 'cosinnus:group-detail' group=group.slug %}">
	                    <ul class="media-list">
	                        <li class="media">
	                            <a class="pull-left" href="#">
	                                <i class="fa fa-group"></i>
	                            </a>
	                            <div class="media-body">
	                                {% trans "Group details" %}
	                            </div>
	                        </li>
	                    </ul>
	                </button>
	            </div>
	            
	        </div><!-- fadedown -->
	        
	        {% if user.is_authenticated %}    
                {% if user.pk in members %}
                    {% captureas label %}{% blocktrans with title=group.name %}Do you really want to leave group „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
                    {% captureas title %}{% trans "Leave" %}{% endcaptureas %}
                    {% captureas action %}{% group_url 'cosinnus:group-user-leave' group=group.slug %}{% endcaptureas %}
                {% elif user.pk in pendings %}
                    {% captureas label %}{% blocktrans with title=group.name %}Do you really want to withdraw your join request to group „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
                    {% captureas title %}{% trans "Withdraw Join Request" %}{% endcaptureas %}
                    {% captureas action %}{% group_url 'cosinnus:group-user-withdraw' group=group.slug %}{% endcaptureas %}
                {% else %}
                    {% captureas label %}{% blocktrans with title=group.name %}Do you wish to request to join group „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
                    {% captureas title %}{% trans "Join" %}{% endcaptureas %}
                    {% captureas action %}{% group_url 'cosinnus:group-user-join' group=group.slug %}{% endcaptureas %}
                {% endif %}
                
                {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
            {% endif %}
            
		{% empty %}
		   {% if group_type == 1 %}
		       {% trans "There are no societies." as no_group_message %}
		   {% else %}
		       {% trans "There are no projects." as no_group_message %}
		   {% endif %}
		   {% include 'cosinnus/common/empty_button.html' with message=no_group_message %}
		{% endfor %}
        
    </div>

{% endblock %}

