{% extends "cosinnus/base.html" %}
{% load i18n thumbnail cosinnus_tags static %}

{% block page_title %}{% if group_type == 1 %}{% trans "Groups" %}{% else %}{% trans "Projects" %}{% endif %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link href="{% static 'css/vendor/leaflet.css' %}" rel="stylesheet">
    <script src="{% static 'js/vendor/leaflet.js' %}"></script>
    <script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>
    <script>$(function(){$.endlessPaginate({
					paginateOnScroll: true, 
					paginateOnScrollMargin: 250, 
					onCompleted: $.cosinnus.fadedown
				});
			});
	</script>
{% endblock extrahead %}

{% block leftnav %}
    {% if group_type == 1 %}
        {% include "cosinnus/group/leftnav_all_groups.html"  with current_page="grouplist__society" %}
    {% else %}
        {% include "cosinnus/group/leftnav_all_groups.html"  with current_page="grouplist" %}
    {% endif %}
{% endblock leftnav %}


{% block breadcrumb %}
    {{ block.super }}
    {% if filter_group %}
        <li class="active">{% trans "Related to" %} {{ filter_group.name }}</li>
    {% else %}
        <li class="active">{% trans "Overview" %}</li>
    {% endif %}
{% endblock %}

{% block override_breadcrumb %}
    {{ block.super }}
{% endblock override_breadcrumb %}


{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
        <div id="map"></div>
        <script type="application/javascript">
            var mapData = [
                {% for group in map_groups %}
                    {% comment %} TODO: OPTIMIZE: ``group.locations.all`` causes an SQL hit each! {% endcomment %}
                    {% for group_location in group.get_locations %}
                        {% if group_location.location and group_location.location_lat and group_location.location_lon %}
                            {
                                lat: {{ group_location.location_lat|stringformat:"f" }}, 
                                lon: {{ group_location.location_lon|stringformat:"f" }}, 
                                title: '<img src="{% include 'cosinnus/group/group_avatar_image_url.html' %}" width="40px" class="pull-left"><div style="margin-left: 50px; min-height: 40px;"><a href="{{ group.get_absolute_url }}"><div>{{ group.name }}</a><br/><span>{% block group_map_popup_details %}{{ group_location.location }}{% endblock %}</span></div>',
                                {% if group.get_map_marker_image_url %}
                                    avatar: "{{ group.get_map_marker_image_url }}",
                                {% endif %}
                            },
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            ];
        </script>
        {% include 'cosinnus/common/map_expand_button.html' %}
        <div class="clearfix"></div>
    </div>
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
        
        {% comment %}    hidden as long as create link is in the leftnav
        {% if user|is_superuser %}
	        <div type="button" class="btn btn-default w100 large-space">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body media-body-form-control">
                            <input class="form-control next-button-is-for-sending"
                                placeholder="Gib den Titel für eine neue Gruppe ein."
                                value="" />
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-emphasized large-space" style="display: none;">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <div class="media-body">
                            Erstellen
                        </div>
                    </li>
                </ul>
            </button>
        {% endif %}
        {% endcomment %}
    	
    	{% include 'cosinnus/group/group_list_items.html' %}
        
    </div>

{% endblock %}

