{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags cosinnus_map_tags static %}

{% block page_title %}
  {% blocktrans with team_name=object.name %}{{ team_name }} - Assigned organizations{% endblocktrans %}
{% endblock %}

{% block js_app_dependencies %}
	{% include 'cosinnus/map/static_dependencies.html' %}
{% endblock js_app_dependencies %}

{% block og_meta_attributes %}
	{% include 'cosinnus/group/group_og_meta_attributes.html' with group=object %}
{% endblock og_meta_attributes %}

{% block override_leftnav %}
<div class="x-v3-leftnav col-lg-3 col-md-3"><!-- left column -->
	{% block leftnav %}
		{% include "cosinnus/group/leftnav_group.html" with current_page="organizations" %}
	{% endblock leftnav %}
	<div class="clearfix regular-space"></div>
</div><!-- left column -->
{% endblock override_leftnav %}


{% block breadcrumb %}
        <li><a href="{% group_url 'cosinnus:group-edit' group=object.slug %}">{{ object.name }}</a></li>
        <li class="active">{% trans "Assigned organizations" %}</li>
{% endblock %}


{% block content %}

    <!-- a box with semi transparent background -->
    <div class="content-box">

        {% comment %}  leave this here, the jump is what we want always  {% endcomment %}
        <a class="anchor" id="request"></a>


        {% if user|has_write_access:object or user in requested %}
	        <div class="panel panel-default large-space">
	            <div class="panel-heading">
	                <h4 class="panel-title {% if not request.GET.request %}collapsed{% endif %}" data-toggle="collapse" data-target="#collapseOne">
	                    <i class="fa fa-chevron-down panel-collapsed"></i>
	                    <i class="fa fa-chevron-up panel-open"></i>
	                    {% trans "Request organizations..." %} {% if requested|length > 0 %}({{ requested|length }}){% endif %}
	                </h4>
	            </div>
		        <div id="collapseOne" class="panel-collapse {% if not request.GET.request %}collapse{% else %}in{% endif %}">
		            <div class="panel-body">

			            {% if user|has_write_access:object %}
				            <legend>{% trans "Request organization" %}</legend>

				            <form action="{% group_url 'cosinnus:group-organization-request' group=object.slug %}" method="post" class="cosinnus-form">
				                {% csrf_token %}
                                {{ request_form.non_field_errors }}

				                {{ request_form.organizations.errors }}
				                {% trans "Enter a name to find organizations to request..." as req_placeholder %}
                                {% include 'cosinnus/fields/default_field.html' with field=request_form.organizations placeholder=req_placeholder first=True %}

				                <button type="submit" class="btn btn-emphasized btn-autosize large-space">
				                    <ul class="media-list">
				                        <li class="media">
				                            <span class="pull-left">
				                                <i class="fa fa-check"></i>
				                            </span>
				                            <div class="media-body">
				                                {% trans "Request organizations" %}
				                            </div>
				                        </li>
				                    </ul>
				                </button>
				            </form>
				        {% endif %}


				        {% if user|has_write_access:object or user in requested %}

				            <legend>{% trans "Requested organizations" %}</legend>

				            {% for member in requested %}
				               {% comment %} In public organizations, we enable the logged in user to see himself as invited user {% endcomment %}
				               {% if user|has_write_access:object or user == member %}
				                    <div class="regular-space">
				                        <div class="btn btn-default w100">
				                            <ul class="media-list">
				                                <li class="media">
				                                    <a class="pull-left" href="{{ member|profile_url }}">
				                                        {% include "cosinnus/user/user_avatar_image.html" with user=member %}
				                                    </a>


			                                        {% if user|has_write_access:object %}
			                                                {% captureas modal_revoke_id %}memberModal_revoke_{{member.pk}}{% endcaptureas %}

			                                                <button type="button" class="btn btn-emphasized btn-icon-only pull-right"
			                                                         data-toggle="modal" data-target="#{{modal_revoke_id}}" title="{% trans "Revoke request" %}">
			                                                    <ul class="media-list">
			                                                        <li class="media">
			                                                            <span class="pull-left">
			                                                                <i class="fa fa-close"></i>
			                                                            </span>
			                                                        </li>
			                                                    </ul>
			                                                </button>
			                                        {% endif %}

			                                        {% if user|is_group_admin:member.organization %}
			                                            <div>
			                                                {% captureas modal_decline_request_id %}organizationModal_decline_invitation_{{member.pk}}{% endcaptureas %}
			                                                <button type="button" class="btn btn-emphasized btn-icon-only pull-right"
			                                                         data-toggle="modal" data-target="#{{modal_decline_request_id}}" title="{% trans "Decline request" %}">
			                                                    <ul class="media-list">
			                                                        <li class="media">
			                                                            <span class="pull-left">
			                                                                <i class="fa fa-close"></i>
			                                                            </span>
			                                                        </li>
			                                                    </ul>
			                                                </button>

			                                                <form action="{% url 'cosinnus:organization-group-accept' organization=member.organization.slug group=object.slug %}" method="post">{% csrf_token %}
			                                                    <button type="submit" class="btn btn-emphasized">
			                                                        <ul class="media-list">
			                                                            <li class="media">
			                                                                <span class="pull-left">
			                                                                    <i class="fa fa-sign-in"></i>
			                                                                </span>
			                                                                <div class="media-body">
			                                                                    {% trans "Accept request" %}
			                                                                </div>
			                                                            </li>
			                                                        </ul>
			                                                    </button>
			                                                </form>
			                                            </div>
			                                        {% endif %}


				                                    <div class="media-body">
				                                        <span class="annotation mobile-hidden">
				                                            {% trans "Requested" %}
				                                            &nbsp;
				                                            <span class="moment-data-date" data-date="{{ member.membership_status_date|date:'c' }}"></span>
				                                        </span>
				                                        <a href="{% url 'cosinnus:organization-detail' organization=member.organization.slug %}">
				                                            {{ member.organization.name }}
				                                        </a>
				                                    </div>
				                                </li>
				                            </ul>
				                        </div>
				                    </div>

				                    {% if user|has_write_access:object %}
				                        {% captureas label %}{% blocktrans with name=member.organization.name %}Do you really want to revoke the request for „{{ name }}“?{% endblocktrans %}{% endcaptureas %}
				                        {% captureas title %}{% trans "Revoke request for organization" %}{% endcaptureas %}
				                        {% captureas action %}{% url 'cosinnus:organization-group-withdraw' organization=member.organization.slug group=object.slug %}{% endcaptureas %}
				                        {% include "cosinnus/modal_box.html" with id=modal_revoke_id label=label title=title form_action=action %}
				                    {% endif %}
				                    {% if user|is_group_admin:member.organization %}
				                        {% captureas label %}{% blocktrans %}Do you really want to decline the request?{% endblocktrans %}{% endcaptureas %}
				                        {% captureas title %}{% trans "Decline request" %}{% endcaptureas %}
				                        {% captureas action %}{% url 'cosinnus:organization-group-decline' organization=member.organization.slug group=object.slug %}{% endcaptureas %}
				                        {% include "cosinnus/modal_box.html" with id=modal_decline_request_id label=label title=title form_action=action %}
				                    {% endif %}

				                {% endif %}

				            {% empty %}
				                {% trans "There are no pending organization requests." as empty_message %}
				                {% include 'cosinnus/common/empty_button.html' with message=empty_message %}
				            {% endfor %}

				        {% endif %}



	                </div> {% comment %} panel-body {% endcomment %}
	            </div> {% comment %} panel-collapse {% endcomment %}
	        </div> {% comment %} panel {% endcomment %}
        {% endif %}


        {% if user|has_write_access:object or user in invited %}

	        <div class="panel panel-default large-space">
	            <div class="panel-heading">
	                <h4 class="panel-title {% if not invited|length > 0 and not request.GET.requests %}collapsed{% endif %}" data-toggle="collapse" data-target="#collapseFour">
	                    <i class="fa fa-chevron-down panel-collapsed"></i>
	                    <i class="fa fa-chevron-up panel-open"></i>
	                    {% trans "Organization invitations" %} {% if invited|length > 0 %}({{ invited|length }}){% endif %}
	                </h4>
	            </div>
	            <div id="collapseFour" class="panel-collapse {% if not invited|length > 0 and not request.GET.requests %}collapse{% else %}in{% endif %}">
	                <div class="panel-body">
                        {% for member in invited %}

							<div class="regular-space">
								<div class="btn btn-default w100">
									<ul class="media-list">
										<li class="media">
											<a class="pull-left" href="{{ member|profile_url }}">
												{% include "cosinnus/user/user_avatar_image.html" with user=member %}
											</a>

												{% if user|is_group_admin:member.group %}
													<div>
														{% captureas modal_decline_invitation_id %}organizationModal_decline_invitation_{{member.pk}}{% endcaptureas %}
														<button type="button" class="btn btn-emphasized btn-icon-only pull-right"
																 data-toggle="modal" data-target="#{{modal_decline_invitation_id}}" title="{% trans "Decline invitation" %}">
															<ul class="media-list">
																<li class="media">
																	<span class="pull-left">
																		<i class="fa fa-close"></i>
																	</span>
																</li>
															</ul>
														</button>

														<form action="{% url 'cosinnus:organization-group-accept' organization=member.organization.slug group=object.slug %}" method="post">{% csrf_token %}
															<button type="submit" class="btn btn-emphasized">
																<ul class="media-list">
																	<li class="media">
																		<span class="pull-left">
																			<i class="fa fa-sign-in"></i>
																		</span>
																		<div class="media-body">
																			{% trans "Accept invitation" %}
																		</div>
																	</li>
																</ul>
															</button>
														</form>
													</div>
												{% endif %}

											<div class="media-body">
												<span class="annotation mobile-hidden">
													{% trans "Invited" %}
													&nbsp;
													<span class="moment-data-date" data-date="{{ member.membership_status_date|date:'c' }}"></span>
												</span>
												<a href="{% url 'cosinnus:organization-detail' organization=member.organization.slug %}">
													{{ member.organization.name }}
												</a>
											</div>

										</li>
									</ul>
								</div>
							</div>

							{% if user|is_group_admin:member.group %}
								{% captureas label %}{% blocktrans %}Do you really want to decline the request?{% endblocktrans %}{% endcaptureas %}
								{% captureas title %}{% trans "Decline request" %}{% endcaptureas %}
								{% captureas action %}{% url 'cosinnus:organization-group-decline' organization=member.organization.slug group=object.slug %}{% endcaptureas %}
								{% include "cosinnus/modal_box.html" with id=modal_decline_invitation_id label=label title=title form_action=action %}
							{% endif %}

						{% empty %}
							{% trans "There are no organization invitations." as empty_message %}
							{% include 'cosinnus/common/empty_button.html' with message=empty_message %}
						{% endfor %}

						<div class="clearfix"></div>


                    </div> {% comment %} panel-body {% endcomment %}
                </div> {% comment %} panel-collapse {% endcomment %}
            </div> {% comment %} panel {% endcomment %}

        {% endif %}


        <div class="panel panel-default large-space">
            <div class="panel-heading">
                <h4 class="panel-title {% if request.GET.request %}collapsed{% endif %}" data-toggle="collapse" data-target="#collapseThree">
                    <i class="fa fa-chevron-down panel-collapsed"></i>
                    <i class="fa fa-chevron-up panel-open"></i>
                    {% trans "Assigned organizations" %} ({{ members|length }})
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse {% if request.GET.request %}collapse{% else %}in{% endif %}">
                <div class="panel-body">

			        {% for member in members %}
			            <div class="fadedown {% if not forloop.last %}regular-space{% endif %}">
			                <div class="btn btn-emphasized w100">
			                    <ul class="media-list">
			                        <li class="media">
			                            <a class="pull-left" href="{{ member|profile_url }}">
			                                {% include "cosinnus/user/user_avatar_image.html" with user=member %}
			                            </a>
			                            {% if user|has_write_access:object %}
			                            <a class="pull-right fadedown-clickarea" href="#">
			                                <i class="fa fa-chevron-down"></i>
			                            </a>
			                            {% endif %}
			                            <div class="media-body">
			                                <a href="{% url 'cosinnus:organization-detail' organization=member.organization.slug %}">
			                                    {{ member.organization.name }}
			                                </a>
			                            </div>
			                        </li>
			                    </ul>
			                </div>

			                <div>
				                {% if user|has_write_access:object %}
				                    {% captureas modal_kick_id %}memberModal_kick_{{member.pk}}{% endcaptureas %}
				                    <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_kick_id}}">
				                        <ul class="media-list">
				                            <li class="media">
				                                <span class="pull-left">
				                                    <i class="fa fa-eraser"></i>
				                                </span>
				                                <div class="media-body">
				                                    {% trans "Kick" %}
				                                </div>
				                            </li>
				                        </ul>
				                    </button>
				                {% endif %}

				                {% include 'cosinnus/feedback/report_button_btn.html' with object=member %}
			                </div>

			            </div><!-- fadedown -->

			            {% if user|has_write_access:object %}
			                {% captureas label %}{% blocktrans with name=member.organization.name %}Do you really want to remove „{{ name }}“ from the organization?{% endblocktrans %}{% endcaptureas %}
			                {% captureas title %}{% trans "Remove organization" %}{% endcaptureas %}
			                {% captureas action %}{% url 'cosinnus:organization-group-delete' organization=member.organization.slug group=object.slug %}{% endcaptureas %}
			                {% include "cosinnus/modal_box.html" with id=modal_kick_id label=label title=title form_action=action %}

			            {% endif %}

					{% empty %}
						{% trans "There are no assigned organizations." as empty_message %}
						{% include 'cosinnus/common/empty_button.html' with message=empty_message %}
			        {% endfor %}

                </div> {% comment %} panel-body {% endcomment %}
            </div> {% comment %} panel-collapse {% endcomment %}
        </div> {% comment %} panel {% endcomment %}

    </div>




{% endblock %}
