{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags cosinnus_map_tags static thumbnail %}

{% block page_title %}{{ group.name }} {{ block.super }}{% endblock page_title %}

{% block leftnav %}
    {% include "cosinnus/group/leftnav_group.html"  with current_page="groupdetails" %}
    {% include 'cosinnus/common/help_button_leftnav_for_popup.html' with help_text_id="helptext_13_groupadministration" %}
{% endblock leftnav %}

{% block breadcrumb %}
        {{ block.super }}
        {% group_url 'cosinnus:conference-management' group=group as conference_management_page %}
        <li><a href="{{ conference_management_page }}">{% trans "Conference Management" %}</a></li>
        <li class="active">{% trans "Workshop Participant File Upload" %}</li>
{% endblock %}

{% block content %}
<div class="content-box">
	<form action="" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
        {% for field in form %}
        <div class="cosinnus-field">
            {% include 'cosinnus/fields/default_field.html' with field=field field_value=name_val %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-emphasized">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-check"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Save" %}
                    </div>
                </li>
            </ul>
        </button>
	</form>
</div>
{% endblock content %}