{% extends "cosinnus/base.html" %}
{% load i18n thumbnail cosinnus_tags %}

{% block html_attributes %}style="overflow: hidden;"{% endblock html_attributes %}

{% block page_title %}{% trans "Home" %}{% endblock %}

{% block og_url %}{{ block.super }}{% endblock og_url %}
{% block og_title %}{{ block.super }}{% endblock %}
{% block og_image %}{{ block.super }}{% endblock %}
{% block og_description %}{{ block.super }}{% endblock %}

{% block og_meta_attributes %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
	{% include 'cosinnus/map/static_dependencies.html' %}
{% endblock extrahead %}


{% block main_page %}
    <div class="row">
    	{% include 'cosinnus/common/internet_explorer_not_supported.html' %}
    
        {% comment %} Some settings for this map are initialized in the extraheader, and passed in a router.js, and uses a lot of
                       the default settings defined in map.js.  
                      We don't pass a `settings param here because we use all the default ones.`      
        {% endcomment %}
        <div id="user-dashboard-root" class="user-dashboard-root"></div>
        <script>
		    $('html').on('init:client', function () {
		        console.log('got init client, now init:module-full-routed');
		        Backbone.mediator.publish('init:module-user-dashboard', {{ user_dashboard_options_json|safe }});
		    });
		</script>
    </div>

{% endblock main_page %}
