<div id="community">
<h1>Nutzungsbedingungen</h1>

<h2>§ 1 Geltungsbereich</h2>
<p>Für die Nutzung dieser Website gelten im Verhältnis zwischen den Nutzer_innen und dem Betreiber der Seite, dem Förderverein Wachstumswende e.V. (im Folgenden: Anbieter), die folgenden Nutzungsbedingungen. Die Nutzung der Webseite und insbesondere der Communityfunktionen ist nur zulässig, wenn die Nutzer_innen diese Nutzungsbedingungen akzeptieren.</p>

<h2>§ 2 Registrierung, Teilnahme, Mitgliedschaft in der Community </h2>
<p>(1) Voraussetzung für die Nutzung der Webseite und der Community ist eine vorherige Registrierung. Mit der erfolgreichen Registrierung werden die Nutzer_innen Mitglied der Community. </p>
<p>(2) Es besteht kein Anspruch auf eine Mitgliedschaft. </p>
<p>(3) Die Nutzer_innen dürfen ihren Zugang nicht Dritten zur Nutzung überlassen. Die Nutzer_innen sind verpflichtet, ihre Zugangsdaten geheim zu halten und vor dem Zugriff Dritter zu schützen.</p>
<p>(4) Die Profilinformationen der Nutzer_innen können innerhalb der Community von allen registrierten Nutzer_innen jederzeit gegenseitig eingesehen werden. </p>
<p>(5) Die Profilinformationen können optional von den Nutzer_innen auch gegenüber nicht registrierten Besucher_innen öffentlich gemacht werden. Diese Option ist standardmäßig zum Schutz der Privatsphäre deaktiviert und kann nur von den Nutzer_innen selbst aktiviert werden.</p>
<p>(6) Die Nutzer_innen sind selbst voll verantwortlich für die von ihnen veröffentlichten Inhalte.</p>

<h2>§ 3 Leistungen des Anbieters </h2>
<p>(1) Der Anbieter gestattet den Nutzer_innen, im Rahmen dieser Nutzungsbedingungen Beiträge auf seiner Webseite zu veröffentlichen. Der Anbieter stellt den Nutzer_innen dazu im Rahmen seiner technischen und wirtschaftlichen Möglichkeiten unentgeltlich eine Onlineplattform mit Communityfunktionen zur Verfügung. Der Anbieter ist bemüht, seinen Dienst verfügbar zu halten. Der Anbieter übernimmt keine darüber hinausgehenden Leistungspflichten. Insbesondere besteht kein Anspruch der Nutzer_innen auf eine ständige Verfügbarkeit des Dienstes. </p>
<p>(2) Der Anbieter übernimmt keine Gewähr für die Richtigkeit, Vollständigkeit, Verlässlichkeit, Aktualität und Brauchbarkeit der bereit gestellten Inhalte.</p>

<h2>§ 4 Haftungsausschluss </h2>
<p>(1) Schadensersatzansprüche der Nutzer_innen sind ausgeschlossen, soweit nachfolgend nichts anderes bestimmt ist. Der vorstehende Haftungsausschluss gilt auch zugunsten der gesetzlichen Vertreter und Erfüllungsgehilfen des Anbieters, sofern die Nutzer_innen Ansprüche gegen diese geltend machen.</p>
<p>(2) Von dem in Absatz 1 bestimmten Haftungsausschluss ausgenommen sind Schadensersatzansprüche aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit und Schadensersatzansprüche aus der Verletzung wesentlicher Vertragspflichten. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist. Von dem Haftungsausschluss ebenfalls ausgenommen ist die Haftung für Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen.</p>


<h2>§ 5 Pflichten der Nutzer_innen</h2>
<p>(1) Die Nutzer_innen verpflichten sich gegenüber dem Anbieter, keine Beiträge zu veröffentlichen, die gegen die guten Sitten oder geltendes Recht verstoßen. Die Nutzer_innen verpflichten sich insbesondere dazu, keine Beiträge zu veröffentlichen,</p>
<ul>
<li>deren Veröffentlichung einen Straftatbestand erfüllt oder eine Ordnungswidrigkeit darstellt,</li>
<li>die gegen das Urheberrecht, Markenrecht oder Wettbewerbsrecht verstoßen,</li>
<li>die gegen das Rechtsdienstleistungsgesetz verstoßen,</li>
<li>die beleidigenden, rassistischen, diskriminierenden oder pornographischen Inhalt haben,</li>
<li>die Werbung enthalten.</li>
</ul>
<p>(2) Bei einem Verstoß gegen die Verpflichtung aus Absatz 1 ist der Anbieter berechtigt, die entsprechenden Beiträge abzuändern oder zu löschen und den Zugang der Nutzer_innen zu sperren. Die Nutzer_innen sind verpflichtet, dem Anbieter den durch die Pflichtverletzung entstandenen Schaden zu ersetzen. </p>
<p>(3) Der Anbieter hat das Recht, Beiträge und Inhalte zu löschen, wenn diese einen Rechtsverstoß enthalten könnten. </p>
<p>(4) Der Anbieter hat gegen die Nutzer_innen einen Anspruch auf Freistellung von Ansprüchen Dritter, die diese wegen der Verletzung eines Rechts durch die Nutzer_innen geltend machen. Die Nutzer_innen verpflichten sich, den Anbieter bei der Abwehr derartiger Ansprüche zu unterstützen. Die Nutzer_innen sind außerdem verpflichtet, die Kosten einer angemessenen Rechtsverteidigung des Anbieters zu tragen.</p>

<h2>§ 6 Übertragung von Nutzungsrechten </h2>
<p>(1) Das Urheberrecht für die eingestellten Beiträge verbleibt beim jeweiligen Nutzer bzw. der jeweiligen Nutzerin. Die Nutzer_innen räumen dem Anbieter mit dem Einstellen ihrer Beiträge jedoch das Recht ein, diese dauerhaft auf seiner Webseite zum Abruf bereitzuhalten und öffentlich zugänglich zu machen. Der Anbieter hat das Recht, Beiträge innerhalb seiner Webseite zu verschieben und mit anderen Inhalten zu verbinden. </p>
<p>(2) Die Nutzer_innen haben gegen den Anbieter keinen Anspruch auf Löschung oder Berichtigung der von ihnen erstellten Beiträge.</p>


<h2>§ 7 Beendigung der Mitgliedschaft </h2>
<p>(1) Die Nutzer-innen können ihre Mitgliedschaft durch eine entsprechende Erklärung gegenüber dem Anbieter ohne Einhaltung <p>einer Frist beenden. Auf Verlangen wird der Anbieter daraufhin den Zugang der Nutzer_innen sperren. </p>
<p>(2) Der Anbieter ist berechtigt, die Mitgliedschaft unter Einhaltung einer Frist von 2 Wochen zum Monatsende zu kündigen. </p>
<p>(3) Bei Vorliegen eines wichtigen Grundes ist der Anbieter berechtigt, den Zugang der Nutzer_innen sofort zu sperren und <p>die Mitgliedschaft ohne Einhaltung einer Frist zu kündigen. </p>
<p>(4) Der Anbieter ist nach Beendigung der Mitgliedschaft berechtigt, den Zugang der Nutzer_innen zu sperren. Der Anbieter ist berechtigt aber nicht verpflichtet, im Falle der Beendigung der Mitgliedschaft die von den Nutzer_innen erstellten Inhalte zu löschen. Ein Anspruch der Nutzer_innen auf Überlassung der erstellten Inhalte wird ausgeschlossen.</p></p>

<h2>§ 8 Änderung oder Einstellung des Angebots </h2>
<p>(1) Der Anbieter ist berechtigt, Änderungen an seinem Dienst vorzunehmen.</p>
<p>(2) Der Anbieter ist berechtigt, seinen Dienst unter Einhaltung einer Ankündigungsfrist von 2 Wochen zu beenden. Im Falle der Beendigung seines Dienstes ist der Anbieter berechtigt aber nicht verpflichtet, die von den Nutzer_innen erstellten Inhalte zu löschen.</p>


<h2>§ 9 Rechtswahl </h2>
<p>Auf die vertraglichen Beziehungen zwischen dem Anbieter und den Nutzer_innen findet das Recht der Bundesrepublik Deutschland Anwendung. Von dieser Rechtswahl ausgenommen sind die zwingenden Verbraucherschutzvorschriften des Landes, in dem der Nutzer bzw. die Nutzerin ihren gewöhnlichen Aufenthalt haben.</p>
</div>