{% load i18n cosinnus_tags %}

{% with etherpad=object %}
	<div class="app-etherpad">
	    <div class="btn btn-emphasized w100" href="{{ etherpad.get_absolute_url }}">
	        <ul class="media-list {% if no_space %}fine-space{% else %}large-space{% endif %}">
	            <li class="media">
	                <span class="pull-left">
	                    <i class="fa {% if etherpad.type == 1 %}fa-table{% else %}fa-file-text{% endif %}"></i>
	                </span>
	                <div class="media-body {% if not hide_group_name %}no-vertical-padding{% endif %}">
	                    <span class="annotation mobile-hidden">
                            {% with creator=etherpad.creator %}
                                {# {% trans "by" %} #} <strong><a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a></strong> 
                            {% endwith %}
                            <span class="moment-data-date" data-date="{{ etherpad.created|date:'c' }}"></span>
                        </span>
                        <strong>{{ etherpad.title }}</strong>
	                    {% if not hide_group_name %}
			                <div class="group-annotation">
		                        {% include 'cosinnus/group/group_label.html' with group=etherpad.group %}
		                        {% include 'cosinnus/common/hierarchical_object_folder_label.html' with object=etherpad %}
                            </div>
		                {% endif %}
	                </div>
	            </li>
	        </ul>
	    </div><!-- btn -->
	</div>
{% endwith %}
