{% load i18n cosinnus_tags %}

{% if SETTINGS.COSINNUS_CONFERENCES_ENABLED and not SETTINGS.COSINNUS_CONFERENCES_USE_COMPACT_MODE %}
	<div type="button" class="btn w100 btn-emphasized fine-space" href="{% url "cosinnus:conference-administration-overview" %}">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    <i class="fa fa-television"></i>
                </span>
                <div class="media-body">
                    {% trans "Conference Overview" %}
                </div>
            </li>
        </ul>
    </div>
    
    <div type="button" class="btn w100 btn-emphasized fine-space" href="{% url "cosinnus:conference-administration-overview-premium" %}">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    <i class="fa fa-television"></i>
                </span>
                <div class="media-body">
                    {% trans "Premium Conferences Only" %}
                </div>
            </li>
        </ul>
    </div>
    
    <div type="button" class="btn w100 btn-emphasized regular-space" href="{% url "cosinnus:conference-administration-overview-nonstandard" %}">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    <i class="fa fa-television"></i>
                </span>
                <div class="media-body">
                    {% trans "Conferences with Custom Settings" %}
                </div>
            </li>
        </ul>
    </div>

    <div type="button" class="btn w100 btn-emphasized regular-space" href="{% url "cosinnus:simple-statistics" %}">
        <ul class="media-list">
            <li class="media">
                <span class="pull-left">
                    <i class="fa fa-table"></i>
                </span>
                <div class="media-body">
                    {% trans "Simple Statistics" %}
                </div>
            </li>
        </ul>
    </div>

{% endif %}

