{% load i18n static cosinnus_tags %}

<script src="{% static 'js/facebook-integration.js' %}"></script>


<ol class="input-area" id="facebook-integration">
    <li class="w100">
    	<div style="white-space: normal; line-height: 1.3em;">
        
        {% with fb_userID=request.user.cosinnus_profile.get_facebook_user_id %}
        	{% if fb_userID %}
        		<script type="text/javascript">var cosinnus_fb_userID = "{{ fb_userID }}";</script>
        	{% else %}	
        		

				<!-- Modal -->
				<div class="modal fade" id="facebook-login-modal" tabindex="1" role="dialog" aria-labelledby="facebook-login-modal-Label" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				                    <i class="fa fa-times"></i>
				                </button>
				                <h4 class="modal-title" id="facebook-login-modal-Label">
				                    <i class="fa fa-facebook-official"></i>
				                    {% trans "Connect Facebook Account" %}
				                </h4>
				            </div>
				            <div class="modal-body">
				                
				                <p>{% blocktrans %}(Description of why login and what data){% endblocktrans %}</p>
				                - was passiert:
				                	Du kannst dich mit Facebook verbinden um in Zukunft ganz einfach deine Posts auf Facebook veröffentlichen.
				                	
				                	Dazu brauchen wir einmalig deine Erlaubnis um unter deinen Namen Posts zu veröffentlichen.
				                	
				                	Wir garantieren:
				                		- wir posten nur exakt das, was du auch geschrieben hast
				                		- wir posten nie automatisch, sondern nur mit deiner Zustimmung für jeden Post
				                		- deine daten behandeln wir vertraulich
				                		- du kannst die Erlaubnis in deinem Benutzerprofil jederzeit wieder zurückziehen
				                
				                
				                <hr>
				                
				                <button type="button" id="loginFacebookIntegrationButton" style="border: 0; background: transparent;">
					    			<img src="{% static 'images/facebook-login-button.png' %}" height="30" alt="{% trans "Log in with Facebook" %}" />
								</button>
				                
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-emphasized" data-dismiss="modal">
				                    <ul class="media-list">
				                        <li class="media">
				                            <a class="pull-left" href="#">
				                                <i class="fa fa-times"></i>
				                            </a>
				                            <div class="media-body">
				                                {% trans "Cancel" %}
				                            </div>
				                        </li>
				                    </ul>
				                </button>
				            </div>
				        </div>
				    </div>
				</div><!-- modal -->
		
				<a class id="loadFacebookIntegrationButton">{% trans "Also post on Facebook" %}</a>
				<span class="facebook-loading-spinner" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>
        	
        	{% endif %}
        
			<div id="facebookIntegrationPanel" style="display: none;">
				
				<label for="facebookIntegrationPostCheckbox" class="noselect" style="cursor: pointer;">
					<img class="title-fb-username src-fb-avatar pull-left" src="{{ request.user.cosinnus_profile.get_facebook_avatar_url }}" 
						title="{{ request.user.cosinnus_profile.get_facebook_username }}" style="margin-right: 10px;" height=40></img>
					<input type="checkbox" checked="false" autocomplete="off" name="facebook_integration_post_to_timeline" id="facebookIntegrationPostCheckbox" class="toggle-switch" data-toggle-target="fb-post-explanation">
					{% trans "Also post this to my Facebook timeline" %}
				</label>
				
				<span id="fb-post-explanation" style="display: none;" class="small noselect">{% trans "When you submit this post, it will be posted on your Facebook timeline exactly as seen." %}</span>
			</div>
        {% endwith %}
        
        </div>
    </li>
</ol>