{% extends 'cosinnus/widgets/base_widget_form.html' %}
{% load i18n cosinnus_tags widget_tweaks %}

{% block extra_fields %}
	<label>{% trans "Events" %}</label>
	<div type="button" class="btn btn-default w100 regular-space">
	    <ul class="media-list">
	        <li class="media">
	            <a class="pull-left" href="#">
	                <i class="fa fa-pencil"></i>
	            </a>
	            <div class="media-body media-body-form-control">
	                <select  class="form-control">
	                    <option default selected>{% trans "Upcoming events" %}</option>
	                </select>
	            </div>
	        </li>
	    </ul>
	</div>
{% endblock extra_fields %}


