{% load i18n cosinnus_tags %}{% autoescape off %}{% blocktrans with comment_text=object.text|safe event_title=object.event.title|safe %}Hi, {{ receiver_name }}!

{{ sender_name }} has posted a comment on an event you are attending in {{ team_name }}:

"{{ comment_text }}"


on the event:

"{{ event_title }}"


Follow this link to see the comment: 
{{ object_url }}


(Follow this link to edit your notification preferences: {{ notification_settings_url }} )

Your {{ site_name }} team.

{% endblocktrans %}{% endautoescape %}