.profile dt, .profile dd {
    margin-bottom: 10px;
}
.profile .geoposition {
    display: none;
}
.profile dl .geoposition-search {
    display: none;
}
.profile dl .geoposition-address {
    width: 100%;
}
.required label {
  font-weight: bold;
}