@charset "UTF-8";
/*
		$abcde : blue;
$currentcolorscheme: neww;
body {
  @if $currentcolorscheme == ocean {
    color: blue;
  } @else if $currentcolorscheme == matador {
    color: red;
  } @else if $currentcolorscheme == neww {
		$abcde : green;
  } @else {
    color: black;
  }
}

body {
	background-color: $abcde !important;
background-image: none;
}
*/
body {
  font-family: Verdana, Geneva, sans-serif;
  background-image: url("../images/background.jpg");
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Navbar at top of page */
.navbar-fixed-top {
  background-color: rgba(255, 255, 255, 0.65);
  border-bottom-width: 2px;
}
.navbar-fixed-top .fa {
  font-size: 17px;
  font-weight: normal;
}
.navbar-fixed-top .navbar-brand {
  height: 53px;
}
.navbar-fixed-top .navbar-brand .fa {
  font-size: 20px;
}
.navbar-fixed-top .navbar-nav > li > a {
  line-height: 20px;
}
.navbar-fixed-top #messageCounter {
  position: absolute;
  right: 5px;
  top: 10px;
  background-color: white;
  border-radius: 1em;
  padding: 0 0.5em;
  font-size: 0.8em;
}

.breadcrumb a {
  text-decoration: underline;
  color: #dbdbdb;
}

.breadcrumb a:hover {
  color: white;
}

.form-control {
  border-width: 0;
  padding: 0;
  text-align: left;
  line-height: inherit;
  min-height: 40px;
  background-color: inherit;
  color: #333333;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  text-align: center;
}

.form-control:-moz-placeholder {
  text-align: center;
}

.form-control::-moz-placeholder {
  text-align: center;
}

.form-control:-ms-input-placeholder {
  text-align: center;
}

.content-box .form-control {
  text-align: left;
}

.content-box .form-control::-webkit-input-placeholder {
  text-align: left;
}

.content-box .form-control:-moz-placeholder {
  text-align: left;
}

.content-box .form-control::-moz-placeholder {
  text-align: left;
}

.content-box .form-control:-ms-input-placeholder {
  text-align: left;
}

p {
  padding: 8px;
  background-color: white;
  color: #333333;
}

textarea {
  width: 100%;
  border-width: 0;
  padding: 8px;
  margin: 0;
  background-color: white;
  color: #333333;
  resize: vertical;
  height: 10em;
}

.alert.alert-success {
  color: #333333;
  background-color: rgba(219, 219, 219, 0.3);
  border-width: 0;
}
.alert .close {
  color: #333333;
  opacity: 1;
  font-size: 16px;
}

ul.pagination li {
  background-color: white;
  border-width: 0;
  margin-right: 5px;
  display: inline-block;
}
ul.pagination li a {
  color: #333333;
  border-width: 0;
}
ul.pagination li a:hover {
  color: white;
  background-color: #333333;
}
ul.pagination li.active > a {
  background-color: white;
  color: #333333;
  font-weight: bold;
  border-width: 0;
}
ul.pagination li.active > a:hover {
  color: white;
  background-color: #333333;
}

.well {
  border-width: 0;
  background-color: white;
  margin: 8px 0 8px 0;
  font-size: 14px;
  padding: 0;
}

/* The Bootstrap buttons already have the classes btn-default, btn-info, btn-warning and so on.
	This file adds btn-emphasized, btn-extra-emphasized and btn-appnavi for coloring in the apps's colors.
*/
.btn {
  padding: 0;
  border-width: 0;
  width: 14em;
  float: right;
  margin: 0 0 0 5px;
}

.btn .form-control, .select2-container {
  font-size: 1.2em;
}

.btn-default {
  background-color: transparent;
  border-width: 0;
}

.btn-default:hover {
  background-color: transparent;
}

/* media-lists */
.media-list {
  margin: 0;
}

.btn-default .media {
  background-color: transparent;
}

.btn-default .media > .media-body {
  background-color: white;
}

.btn-default .media > .media-body a {
  color: #333333;
}

.media-body {
  line-height: 37px;
  padding: 0 10px;
  min-height: 40px;
  text-overflow: ellipsis;
}

.media > .pull-left,
.media > .pull-right {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.btn-default .media > .pull-left,
.btn-default .media > .pull-right {
  background-color: #949494;
  color: white;
}

.btn-default .media > .pull-left:empty,
.btn-default .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}

/* Quadratic images at side of buttons */
.pull-left img, .pull-right img {
  width: 40px;
  vertical-align: top;
}

.pull-left input, .pull-right input {
  border-width: 0;
}

/* put a class like .app-documents, .app-todos on areas that contain content in app colors.
	On usual pages it has to be set only once in a global element.

	Whereever the .clickarea-emphasized and .clickarea-extra-emphasized classes occur
	all buttons will have strong colors then.
*/
.btn-appnavi .media a:first-child {
  width: 10px;
}

ul.appnavi-dropdown-menu {
  padding: 0;
  margin-top: 5px;
}

.app-main {
  /* spaces below element */
}
.app-main .btn-emphasized .media,
.app-main .btn-appnavi .media,
.app-main .btn-emphasized .media > .media-body,
.app-main .btn-appnavi .media > .media-body,
.app-main .btn-emphasized .media > .pull-right,
.app-main .btn-appnavi .media > .pull-left,
.app-main .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #16778d;
}
.app-main .btn-extra-emphasized .media,
.app-main .btn-emphasized:hover .media,
.app-main .fadedown.open .btn-emphasized.w100 .media,
.app-main .btn-appnavi:hover .media,
.app-main .btn-emphasized:hover .media > .media-body,
.app-main .fadedown.open .btn-emphasized.w100 .media > .media-body,
.app-main .btn-appnavi:hover .media > .media-body,
.app-main .btn-extra-emphasized .media > .media-body,
.app-main .btn-emphasized .media > .pull-left,
.app-main .media > .pull-left.btn-emphasized,
.app-main .btn-appnavi .media > .pull-left:first-child,
.app-main .btn-appnavi:hover .media > .pull-left,
.app-main .btn-extra-emphasized .media > .pull-left,
.app-main .media-list > .media > .pull-left.btn-extra-emphasized,
.app-main .media-list > .media > .pull-left.btn-extra-emphasized:empty,
.app-main .btn-extra-emphasized .media > .pull-right,
.app-main .media-list > .media > .btn-extra-emphasized.pull-right,
.app-main .fadedown.open .btn-extra-emphasized.w100 .media > .pull-right,
.app-main .fadedown .btn-extra-emphasized .media > .pull-right,
.app-main .btn-emphasized:hover .media > .pull-right,
.app-main .fadedown.open .btn-emphasized.w100 .media > .pull-right,
.app-main .fadedown .btn-emphasized:hover .media > .pull-right,
.app-main .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #104a59;
}
.app-main .btn-emphasized .media > .pull-left:empty,
.app-main .btn-emphasized .media > .pull-right:empty,
.app-main .btn-appnavi .media > .pull-left:empty,
.app-main .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-main .btn-emphasized .media > .pull-left.btn-default:empty,
.app-main .btn-emphasized .media > .pull-right.btn-default:empty {
  background-color: #dbdbdb;
}
.app-main.appnavi-listelement a {
  background-color: #16778d;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.app-main.appnavi-listelement a i {
  font-size: 17px;
  margin-right: 7px;
}
.app-main.appnavi-listelement:hover a, .app-main.appnavi-listelement.active a {
  background-color: #104a59;
}

.app-calendar {
  /* spaces below element */
}
.app-calendar .btn-emphasized .media,
.app-calendar .btn-appnavi .media,
.app-calendar .btn-emphasized .media > .media-body,
.app-calendar .btn-appnavi .media > .media-body,
.app-calendar .btn-emphasized .media > .pull-right,
.app-calendar .btn-appnavi .media > .pull-left,
.app-calendar .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #779b48;
}
.app-calendar .btn-extra-emphasized .media,
.app-calendar .btn-emphasized:hover .media,
.app-calendar .fadedown.open .btn-emphasized.w100 .media,
.app-calendar .btn-appnavi:hover .media,
.app-calendar .btn-emphasized:hover .media > .media-body,
.app-calendar .fadedown.open .btn-emphasized.w100 .media > .media-body,
.app-calendar .btn-appnavi:hover .media > .media-body,
.app-calendar .btn-extra-emphasized .media > .media-body,
.app-calendar .btn-emphasized .media > .pull-left,
.app-calendar .media > .pull-left.btn-emphasized,
.app-calendar .btn-appnavi .media > .pull-left:first-child,
.app-calendar .btn-appnavi:hover .media > .pull-left,
.app-calendar .btn-extra-emphasized .media > .pull-left,
.app-calendar .media-list > .media > .pull-left.btn-extra-emphasized,
.app-calendar .media-list > .media > .pull-left.btn-extra-emphasized:empty,
.app-calendar .btn-extra-emphasized .media > .pull-right,
.app-calendar .media-list > .media > .btn-extra-emphasized.pull-right,
.app-calendar .fadedown.open .btn-extra-emphasized.w100 .media > .pull-right,
.app-calendar .fadedown .btn-extra-emphasized .media > .pull-right,
.app-calendar .btn-emphasized:hover .media > .pull-right,
.app-calendar .fadedown.open .btn-emphasized.w100 .media > .pull-right,
.app-calendar .fadedown .btn-emphasized:hover .media > .pull-right,
.app-calendar .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #4c622f;
}
.app-calendar .btn-emphasized .media > .pull-left:empty,
.app-calendar .btn-emphasized .media > .pull-right:empty,
.app-calendar .btn-appnavi .media > .pull-left:empty,
.app-calendar .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-calendar .btn-emphasized .media > .pull-left.btn-default:empty,
.app-calendar .btn-emphasized .media > .pull-right.btn-default:empty {
  background-color: #dbdbdb;
}
.app-calendar.appnavi-listelement a {
  background-color: #779b48;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.app-calendar.appnavi-listelement a i {
  font-size: 17px;
  margin-right: 7px;
}
.app-calendar.appnavi-listelement:hover a, .app-calendar.appnavi-listelement.active a {
  background-color: #4c622f;
}

.app-files {
  /* spaces below element */
}
.app-files .btn-emphasized .media,
.app-files .btn-appnavi .media,
.app-files .btn-emphasized .media > .media-body,
.app-files .btn-appnavi .media > .media-body,
.app-files .btn-emphasized .media > .pull-right,
.app-files .btn-appnavi .media > .pull-left,
.app-files .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #14a085;
}
.app-files .btn-extra-emphasized .media,
.app-files .btn-emphasized:hover .media,
.app-files .fadedown.open .btn-emphasized.w100 .media,
.app-files .btn-appnavi:hover .media,
.app-files .btn-emphasized:hover .media > .media-body,
.app-files .fadedown.open .btn-emphasized.w100 .media > .media-body,
.app-files .btn-appnavi:hover .media > .media-body,
.app-files .btn-extra-emphasized .media > .media-body,
.app-files .btn-emphasized .media > .pull-left,
.app-files .media > .pull-left.btn-emphasized,
.app-files .btn-appnavi .media > .pull-left:first-child,
.app-files .btn-appnavi:hover .media > .pull-left,
.app-files .btn-extra-emphasized .media > .pull-left,
.app-files .media-list > .media > .pull-left.btn-extra-emphasized,
.app-files .media-list > .media > .pull-left.btn-extra-emphasized:empty,
.app-files .btn-extra-emphasized .media > .pull-right,
.app-files .media-list > .media > .btn-extra-emphasized.pull-right,
.app-files .fadedown.open .btn-extra-emphasized.w100 .media > .pull-right,
.app-files .fadedown .btn-extra-emphasized .media > .pull-right,
.app-files .btn-emphasized:hover .media > .pull-right,
.app-files .fadedown.open .btn-emphasized.w100 .media > .pull-right,
.app-files .fadedown .btn-emphasized:hover .media > .pull-right,
.app-files .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #0a5d4e;
}
.app-files .btn-emphasized .media > .pull-left:empty,
.app-files .btn-emphasized .media > .pull-right:empty,
.app-files .btn-appnavi .media > .pull-left:empty,
.app-files .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-files .btn-emphasized .media > .pull-left.btn-default:empty,
.app-files .btn-emphasized .media > .pull-right.btn-default:empty {
  background-color: #dbdbdb;
}
.app-files.appnavi-listelement a {
  background-color: #14a085;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.app-files.appnavi-listelement a i {
  font-size: 17px;
  margin-right: 7px;
}
.app-files.appnavi-listelement:hover a, .app-files.appnavi-listelement.active a {
  background-color: #0a5d4e;
}

.app-documents {
  /* spaces below element */
}
.app-documents .btn-emphasized .media,
.app-documents .btn-appnavi .media,
.app-documents .btn-emphasized .media > .media-body,
.app-documents .btn-appnavi .media > .media-body,
.app-documents .btn-emphasized .media > .pull-right,
.app-documents .btn-appnavi .media > .pull-left,
.app-documents .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #009ee3;
}
.app-documents .btn-extra-emphasized .media,
.app-documents .btn-emphasized:hover .media,
.app-documents .fadedown.open .btn-emphasized.w100 .media,
.app-documents .btn-appnavi:hover .media,
.app-documents .btn-emphasized:hover .media > .media-body,
.app-documents .fadedown.open .btn-emphasized.w100 .media > .media-body,
.app-documents .btn-appnavi:hover .media > .media-body,
.app-documents .btn-extra-emphasized .media > .media-body,
.app-documents .btn-emphasized .media > .pull-left,
.app-documents .media > .pull-left.btn-emphasized,
.app-documents .btn-appnavi .media > .pull-left:first-child,
.app-documents .btn-appnavi:hover .media > .pull-left,
.app-documents .btn-extra-emphasized .media > .pull-left,
.app-documents .media-list > .media > .pull-left.btn-extra-emphasized,
.app-documents .media-list > .media > .pull-left.btn-extra-emphasized:empty,
.app-documents .btn-extra-emphasized .media > .pull-right,
.app-documents .media-list > .media > .btn-extra-emphasized.pull-right,
.app-documents .fadedown.open .btn-extra-emphasized.w100 .media > .pull-right,
.app-documents .fadedown .btn-extra-emphasized .media > .pull-right,
.app-documents .btn-emphasized:hover .media > .pull-right,
.app-documents .fadedown.open .btn-emphasized.w100 .media > .pull-right,
.app-documents .fadedown .btn-emphasized:hover .media > .pull-right,
.app-documents .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #007999;
}
.app-documents .btn-emphasized .media > .pull-left:empty,
.app-documents .btn-emphasized .media > .pull-right:empty,
.app-documents .btn-appnavi .media > .pull-left:empty,
.app-documents .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-documents .btn-emphasized .media > .pull-left.btn-default:empty,
.app-documents .btn-emphasized .media > .pull-right.btn-default:empty {
  background-color: #dbdbdb;
}
.app-documents.appnavi-listelement a {
  background-color: #009ee3;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.app-documents.appnavi-listelement a i {
  font-size: 17px;
  margin-right: 7px;
}
.app-documents.appnavi-listelement:hover a, .app-documents.appnavi-listelement.active a {
  background-color: #007999;
}

.app-todos {
  /* spaces below element */
}
.app-todos .btn-emphasized .media,
.app-todos .btn-appnavi .media,
.app-todos .btn-emphasized .media > .media-body,
.app-todos .btn-appnavi .media > .media-body,
.app-todos .btn-emphasized .media > .pull-right,
.app-todos .btn-appnavi .media > .pull-left,
.app-todos .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #efa02d;
}
.app-todos .btn-extra-emphasized .media,
.app-todos .btn-emphasized:hover .media,
.app-todos .fadedown.open .btn-emphasized.w100 .media,
.app-todos .btn-appnavi:hover .media,
.app-todos .btn-emphasized:hover .media > .media-body,
.app-todos .fadedown.open .btn-emphasized.w100 .media > .media-body,
.app-todos .btn-appnavi:hover .media > .media-body,
.app-todos .btn-extra-emphasized .media > .media-body,
.app-todos .btn-emphasized .media > .pull-left,
.app-todos .media > .pull-left.btn-emphasized,
.app-todos .btn-appnavi .media > .pull-left:first-child,
.app-todos .btn-appnavi:hover .media > .pull-left,
.app-todos .btn-extra-emphasized .media > .pull-left,
.app-todos .media-list > .media > .pull-left.btn-extra-emphasized,
.app-todos .media-list > .media > .pull-left.btn-extra-emphasized:empty,
.app-todos .btn-extra-emphasized .media > .pull-right,
.app-todos .media-list > .media > .btn-extra-emphasized.pull-right,
.app-todos .fadedown.open .btn-extra-emphasized.w100 .media > .pull-right,
.app-todos .fadedown .btn-extra-emphasized .media > .pull-right,
.app-todos .btn-emphasized:hover .media > .pull-right,
.app-todos .fadedown.open .btn-emphasized.w100 .media > .pull-right,
.app-todos .fadedown .btn-emphasized:hover .media > .pull-right,
.app-todos .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #ad7e2c;
}
.app-todos .btn-emphasized .media > .pull-left:empty,
.app-todos .btn-emphasized .media > .pull-right:empty,
.app-todos .btn-appnavi .media > .pull-left:empty,
.app-todos .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-todos .btn-emphasized .media > .pull-left.btn-default:empty,
.app-todos .btn-emphasized .media > .pull-right.btn-default:empty {
  background-color: #dbdbdb;
}
.app-todos.appnavi-listelement a {
  background-color: #efa02d;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.app-todos.appnavi-listelement a i {
  font-size: 17px;
  margin-right: 7px;
}
.app-todos.appnavi-listelement:hover a, .app-todos.appnavi-listelement.active a {
  background-color: #ad7e2c;
}

.app-etherpad {
  /* spaces below element */
}
.app-etherpad .btn-emphasized .media,
.app-etherpad .btn-appnavi .media,
.app-etherpad .btn-emphasized .media > .media-body,
.app-etherpad .btn-appnavi .media > .media-body,
.app-etherpad .btn-emphasized .media > .pull-right,
.app-etherpad .btn-appnavi .media > .pull-left,
.app-etherpad .btn-appnavi .media > .pull-right {
  color: white;
  background-color: #e55c55;
}
.app-etherpad .btn-extra-emphasized .media,
.app-etherpad .btn-emphasized:hover .media,
.app-etherpad .fadedown.open .btn-emphasized.w100 .media,
.app-etherpad .btn-appnavi:hover .media,
.app-etherpad .btn-emphasized:hover .media > .media-body,
.app-etherpad .fadedown.open .btn-emphasized.w100 .media > .media-body,
.app-etherpad .btn-appnavi:hover .media > .media-body,
.app-etherpad .btn-extra-emphasized .media > .media-body,
.app-etherpad .btn-emphasized .media > .pull-left,
.app-etherpad .media > .pull-left.btn-emphasized,
.app-etherpad .btn-appnavi .media > .pull-left:first-child,
.app-etherpad .btn-appnavi:hover .media > .pull-left,
.app-etherpad .btn-extra-emphasized .media > .pull-left,
.app-etherpad .media-list > .media > .pull-left.btn-extra-emphasized,
.app-etherpad .media-list > .media > .pull-left.btn-extra-emphasized:empty,
.app-etherpad .btn-extra-emphasized .media > .pull-right,
.app-etherpad .media-list > .media > .btn-extra-emphasized.pull-right,
.app-etherpad .fadedown.open .btn-extra-emphasized.w100 .media > .pull-right,
.app-etherpad .fadedown .btn-extra-emphasized .media > .pull-right,
.app-etherpad .btn-emphasized:hover .media > .pull-right,
.app-etherpad .fadedown.open .btn-emphasized.w100 .media > .pull-right,
.app-etherpad .fadedown .btn-emphasized:hover .media > .pull-right,
.app-etherpad .btn-appnavi:hover .media > .pull-right {
  color: white;
  background-color: #933d39;
}
.app-etherpad .btn-emphasized .media > .pull-left:empty,
.app-etherpad .btn-emphasized .media > .pull-right:empty,
.app-etherpad .btn-appnavi .media > .pull-left:empty,
.app-etherpad .btn-appnavi .media > .pull-right:empty {
  background-color: transparent;
  color: inherit;
}
.app-etherpad .btn-emphasized .media > .pull-left.btn-default:empty,
.app-etherpad .btn-emphasized .media > .pull-right.btn-default:empty {
  background-color: #dbdbdb;
}
.app-etherpad.appnavi-listelement a {
  background-color: #e55c55;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.app-etherpad.appnavi-listelement a i {
  font-size: 17px;
  margin-right: 7px;
}
.app-etherpad.appnavi-listelement:hover a, .app-etherpad.appnavi-listelement.active a {
  background-color: #933d39;
}

.media-body {
  position: relative;
}
.media-body .annotation {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 0.9em;
}
.media-body a + a {
  margin-left: 15px;
}
.media-body > a {
  padding-right: 12em;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.media-body p {
  line-height: 1.2em;
  white-space: normal;
  padding: 0;
}

.btn-emphasized .form-control, .btn-extra-emphasized .form-control {
  color: white;
}

a.pull-left {
  cursor: default;
}

.content-box .btn {
  cursor: default;
}

.content-box button.btn {
  cursor: pointer;
}

/* Square icon with date. Something like:
	<a class="pull-left square-date-icon" href="#">
		<div>19</div>
		<div>Dez</div>
	</a> */
.square-date-icon div {
  line-height: 1.6em;
  font-size: 0.9em;
}
.square-date-icon div + div {
  font-size: 0.65em;
  line-height: 0.5em;
}

.button-with-title-image {
  position: relative;
}
.button-with-title-image > img {
  width: 100%;
  min-height: 70px;
}
.button-with-title-image > img + div {
  background: -moz-linear-gradient(top, transparent 0%, transparent 57%, rgba(0, 0, 0, 0.34) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(57%, transparent), color-stop(100%, rgba(0, 0, 0, 0.34)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 57%, rgba(0, 0, 0, 0.34) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, transparent 57%, rgba(0, 0, 0, 0.34) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, transparent 57%, rgba(0, 0, 0, 0.34) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, transparent 57%, rgba(0, 0, 0, 0.34) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#57000000',GradientType=0 );
  /* IE6-9 */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.button-with-title-image > ul.media-list {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}
.button-with-title-image > ul.media-list > li.media {
  background-color: transparent;
}
.button-with-title-image > ul.media-list > li.media > a.pull-right {
  background-color: transparent;
}
.button-with-title-image > ul.media-list > li.media > div.media-body {
  background-color: transparent;
}

.btn.btn-white .media,
.btn.btn-white .media > .media-body,
.btn.btn-white .media > .media-body > p,
.btn.btn-white .media > .pull-right,
.btn.btn-white .media > .pull-left {
  background-color: white;
  color: #333333;
}
.btn.btn-white a {
  color: #333333;
}

/* Classes that can be found in many pages and are not part of Twitter Bootstrap */
.w100 {
  width: 100%;
  margin: 0;
  float: none;
}

html {
  overflow-y: scroll;
}

body .fine-space,
body .fine-space.form-control {
  border-bottom: 1px solid #dbdbdb;
}

body .regular-space {
  margin-bottom: 7px;
}

body .large-space {
  margin-bottom: 12px;
}

.navbar-fixed-top {
  font-size: 1.2em;
}

.navbar-fixed-top img {
  width: 35px;
  margin: -10px 5px -10px 0;
}

.content-box {
  padding: 15px;
  background-color: rgba(219, 219, 219, 0.3);
}
.content-box:before, .content-box:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.content-box:after {
  clear: both;
}

.content-box .btn.w100 {
  text-align: left;
}

/* input-area is an OL of input elements.
	It looks like a white box full of inputs with gray vertical and horizontal separators.
*/
.input-area {
  margin: 0;
  background-color: white;
  color: #333333;
  list-style: none;
  padding: 0;
}
.input-area:before, .input-area:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.input-area:after {
  clear: both;
}
.input-area + .input-area {
  border-top: 1px solid #dbdbdb;
}
.input-area > li {
  min-height: 40px;
  line-height: 25px;
  padding: 4px 7px;
  display: inline-block;
  float: left;
  color: #333333;
}
.input-area > li + li {
  border-left: 1px solid #dbdbdb;
}
.input-area > li > a > i {
  color: #333333;
  font-size: 17px;
  line-height: 25px;
}
.input-area.input-area-left-column li {
  border-width: 0;
}

/* The serachbar in the fixed top navigation */
#searchbar {
  padding: 15px 15px 6px 10px;
  white-space: nowrap;
  color: #333333;
  font-size: 1.1em;
}

#searchbar.expanded {
  background-color: white;
}

#searchbar input {
  width: 0px;
  display: inline;
  margin-top: -10px;
  color: transparent;
  border-width: 0;
}

#searchbar.expanded input {
  width: 250px;
  transition: all 500ms linear;
  color: #333333;
  box-shadow: none;
}

#searchbar i.fa-search {
  cursor: pointer;
}

.fadedown:before, .fadedown:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.fadedown:after {
  clear: both;
}

p.navi-explanation {
  background-color: transparent;
  color: white;
  margin: 0;
  padding: 0 0 8px 0;
}

.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  border-width: 0;
  background-image: none;
  min-width: 8em;
  background-color: transparent;
}

.select2-container .select2-choice .select2-arrow {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}

.select2-container .select2-choice .select2-arrow b {
  background-position: 0 -2px;
}

.select2-container .select2-choice {
  line-height: inherit;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-container-multi.select2-container-active .select2-choices,
.select2-container-multi.select2-container-active .select2-choice,
.select2-drop.select2-drop-above.select2-drop-active,
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-drop-active {
  border-width: 0;
  background-color: white;
}

.select2-results .select2-highlighted {
  background-color: #949494;
  color: white;
}

.select2-container-multi .select2-choices .select2-search-choice {
  border-width: 0;
  background-image: none;
  background-color: #dbdbdb;
  color: #333333;
}

.select2-container-multi.select2-container-active .select2-choices {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container.select2-container-multi.w100 {
  width: 100%;
}

.attachments-selector {
  min-width: 15em;
}

.app-main-attachment {
  background-color: #16778d;
  color: white;
  padding: 0 4px;
}

.app-calendar-attachment {
  background-color: #779b48;
  color: white;
  padding: 0 4px;
}

.app-files-attachment {
  background-color: #14a085;
  color: white;
  padding: 0 4px;
}

.app-documents-attachment {
  background-color: #009ee3;
  color: white;
  padding: 0 4px;
}

.app-todos-attachment {
  background-color: #efa02d;
  color: white;
  padding: 0 4px;
}

.app-etherpad-attachment {
  background-color: #e55c55;
  color: white;
  padding: 0 4px;
}

.app-main {
  /* ##### Small calendar ####### */
}
.app-main .fc-header-title h2 {
  font-size: 1.5em;
  color: #333333;
  cursor: default;
}
.app-main .fc-button {
  background-color: #16778d;
  border-width: 0;
  background-image: none;
  padding: 0 0.5em;
  color: white;
}
.app-main .fc-text-arrow {
  margin: 0;
}
.app-main .fc-button.fc-state-disabled {
  opacity: 1;
  background-color: transparent;
  color: #333333;
}
.app-main .fc-button.fc-state-default {
  border-radius: 0;
  text-shadow: none;
}
.app-main .fc-button + .fc-button {
  border-left: 1px solid #cbe7ed;
}
.app-main .fc-content {
  background-color: white;
  color: #333333;
  font-size: 0.8em;
}
.app-main .fc-state-highlight {
  background-color: #cbe7ed;
}
.app-main .fc-ltr .fc-event-hori.fc-event-end,
.app-main .fc-rtl .fc-event-hori.fc-event-start,
.app-main .fc-ltr .fc-event-hori.fc-event-start,
.app-main .fc-rtl .fc-event-hori.fc-event-end {
  border-radius: 0;
  background-color: #16778d;
  border-color: #16778d;
  cursor: pointer;
}
.app-main .fc-cell-overlay {
  background-color: #16778d;
}
.app-main .small-calendar {
  width: 225px;
}
.app-main .small-calendar .fc-header {
  background-color: #16778d;
  margin-bottom: 5px;
}
.app-main .small-calendar .fc-header .fc-button {
  background-color: #104a59;
}
.app-main .small-calendar .fc-header > * {
  line-height: 0;
}
.app-main .small-calendar .fc-header .fc-header-title h2 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0;
  color: white;
}
.app-main .small-calendar .fc-day,
.app-main .small-calendar .fc-day-header {
  border-spacing: 10px;
  border-collapse: separate;
  height: 20px;
}
.app-main .small-calendar .fc-day-number,
.app-main .small-calendar .fc-day-header {
  line-height: 1.8em;
}
.app-main .small-calendar .fc-day:hover {
  background-color: #cbe7ed;
}
.app-main .small-calendar .fc-day-header,
.app-main .small-calendar .fc-border-separate tr.fc-last th,
.app-main .small-calendar .fc-border-separate tr.fc-last td,
.app-main .small-calendar .fc-border-separate tr.fc-last th,
.app-main .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 0;
}
.app-main .small-calendar .fc-day {
  border: 1px solid #dbdbdb;
}
.app-main .small-calendar .fc-day.selected {
  background-color: #16778d;
  color: white;
}
.app-main .small-calendar .fc-border-separate tbody tr.fc-first td,
.app-main .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 1px;
}
.app-main .small-calendar .fc-day.fc-other-month:hover {
  border-color: transparent;
}
.app-main .small-calendar .fc-other-month .fc-day-number {
  color: transparent;
}
.app-main .small-calendar .fc-border-separate tbody .fc-day.fc-other-month {
  border-width: 0;
}
.app-main .modal .modal-sm .small-calendar {
  width: 100%;
}
.app-main .pickDateButton .pickDateBox {
  width: 200px;
  height: 200px;
  background-color: red;
}

.app-calendar {
  /* ##### Small calendar ####### */
}
.app-calendar .fc-header-title h2 {
  font-size: 1.5em;
  color: #333333;
  cursor: default;
}
.app-calendar .fc-button {
  background-color: #779b48;
  border-width: 0;
  background-image: none;
  padding: 0 0.5em;
  color: white;
}
.app-calendar .fc-text-arrow {
  margin: 0;
}
.app-calendar .fc-button.fc-state-disabled {
  opacity: 1;
  background-color: transparent;
  color: #333333;
}
.app-calendar .fc-button.fc-state-default {
  border-radius: 0;
  text-shadow: none;
}
.app-calendar .fc-button + .fc-button {
  border-left: 1px solid #e1edd2;
}
.app-calendar .fc-content {
  background-color: white;
  color: #333333;
  font-size: 0.8em;
}
.app-calendar .fc-state-highlight {
  background-color: #e1edd2;
}
.app-calendar .fc-ltr .fc-event-hori.fc-event-end,
.app-calendar .fc-rtl .fc-event-hori.fc-event-start,
.app-calendar .fc-ltr .fc-event-hori.fc-event-start,
.app-calendar .fc-rtl .fc-event-hori.fc-event-end {
  border-radius: 0;
  background-color: #779b48;
  border-color: #779b48;
  cursor: pointer;
}
.app-calendar .fc-cell-overlay {
  background-color: #779b48;
}
.app-calendar .small-calendar {
  width: 225px;
}
.app-calendar .small-calendar .fc-header {
  background-color: #779b48;
  margin-bottom: 5px;
}
.app-calendar .small-calendar .fc-header .fc-button {
  background-color: #4c622f;
}
.app-calendar .small-calendar .fc-header > * {
  line-height: 0;
}
.app-calendar .small-calendar .fc-header .fc-header-title h2 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0;
  color: white;
}
.app-calendar .small-calendar .fc-day,
.app-calendar .small-calendar .fc-day-header {
  border-spacing: 10px;
  border-collapse: separate;
  height: 20px;
}
.app-calendar .small-calendar .fc-day-number,
.app-calendar .small-calendar .fc-day-header {
  line-height: 1.8em;
}
.app-calendar .small-calendar .fc-day:hover {
  background-color: #e1edd2;
}
.app-calendar .small-calendar .fc-day-header,
.app-calendar .small-calendar .fc-border-separate tr.fc-last th,
.app-calendar .small-calendar .fc-border-separate tr.fc-last td,
.app-calendar .small-calendar .fc-border-separate tr.fc-last th,
.app-calendar .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 0;
}
.app-calendar .small-calendar .fc-day {
  border: 1px solid #dbdbdb;
}
.app-calendar .small-calendar .fc-day.selected {
  background-color: #779b48;
  color: white;
}
.app-calendar .small-calendar .fc-border-separate tbody tr.fc-first td,
.app-calendar .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 1px;
}
.app-calendar .small-calendar .fc-day.fc-other-month:hover {
  border-color: transparent;
}
.app-calendar .small-calendar .fc-other-month .fc-day-number {
  color: transparent;
}
.app-calendar .small-calendar .fc-border-separate tbody .fc-day.fc-other-month {
  border-width: 0;
}
.app-calendar .modal .modal-sm .small-calendar {
  width: 100%;
}
.app-calendar .pickDateButton .pickDateBox {
  width: 200px;
  height: 200px;
  background-color: red;
}

.app-files {
  /* ##### Small calendar ####### */
}
.app-files .fc-header-title h2 {
  font-size: 1.5em;
  color: #333333;
  cursor: default;
}
.app-files .fc-button {
  background-color: #14a085;
  border-width: 0;
  background-image: none;
  padding: 0 0.5em;
  color: white;
}
.app-files .fc-text-arrow {
  margin: 0;
}
.app-files .fc-button.fc-state-disabled {
  opacity: 1;
  background-color: transparent;
  color: #333333;
}
.app-files .fc-button.fc-state-default {
  border-radius: 0;
  text-shadow: none;
}
.app-files .fc-button + .fc-button {
  border-left: 1px solid #92ffea;
}
.app-files .fc-content {
  background-color: white;
  color: #333333;
  font-size: 0.8em;
}
.app-files .fc-state-highlight {
  background-color: #92ffea;
}
.app-files .fc-ltr .fc-event-hori.fc-event-end,
.app-files .fc-rtl .fc-event-hori.fc-event-start,
.app-files .fc-ltr .fc-event-hori.fc-event-start,
.app-files .fc-rtl .fc-event-hori.fc-event-end {
  border-radius: 0;
  background-color: #14a085;
  border-color: #14a085;
  cursor: pointer;
}
.app-files .fc-cell-overlay {
  background-color: #14a085;
}
.app-files .small-calendar {
  width: 225px;
}
.app-files .small-calendar .fc-header {
  background-color: #14a085;
  margin-bottom: 5px;
}
.app-files .small-calendar .fc-header .fc-button {
  background-color: #0a5d4e;
}
.app-files .small-calendar .fc-header > * {
  line-height: 0;
}
.app-files .small-calendar .fc-header .fc-header-title h2 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0;
  color: white;
}
.app-files .small-calendar .fc-day,
.app-files .small-calendar .fc-day-header {
  border-spacing: 10px;
  border-collapse: separate;
  height: 20px;
}
.app-files .small-calendar .fc-day-number,
.app-files .small-calendar .fc-day-header {
  line-height: 1.8em;
}
.app-files .small-calendar .fc-day:hover {
  background-color: #92ffea;
}
.app-files .small-calendar .fc-day-header,
.app-files .small-calendar .fc-border-separate tr.fc-last th,
.app-files .small-calendar .fc-border-separate tr.fc-last td,
.app-files .small-calendar .fc-border-separate tr.fc-last th,
.app-files .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 0;
}
.app-files .small-calendar .fc-day {
  border: 1px solid #dbdbdb;
}
.app-files .small-calendar .fc-day.selected {
  background-color: #14a085;
  color: white;
}
.app-files .small-calendar .fc-border-separate tbody tr.fc-first td,
.app-files .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 1px;
}
.app-files .small-calendar .fc-day.fc-other-month:hover {
  border-color: transparent;
}
.app-files .small-calendar .fc-other-month .fc-day-number {
  color: transparent;
}
.app-files .small-calendar .fc-border-separate tbody .fc-day.fc-other-month {
  border-width: 0;
}
.app-files .modal .modal-sm .small-calendar {
  width: 100%;
}
.app-files .pickDateButton .pickDateBox {
  width: 200px;
  height: 200px;
  background-color: red;
}

.app-documents {
  /* ##### Small calendar ####### */
}
.app-documents .fc-header-title h2 {
  font-size: 1.5em;
  color: #333333;
  cursor: default;
}
.app-documents .fc-button {
  background-color: #009ee3;
  border-width: 0;
  background-image: none;
  padding: 0 0.5em;
  color: white;
}
.app-documents .fc-text-arrow {
  margin: 0;
}
.app-documents .fc-button.fc-state-disabled {
  opacity: 1;
  background-color: transparent;
  color: #333333;
}
.app-documents .fc-button.fc-state-default {
  border-radius: 0;
  text-shadow: none;
}
.app-documents .fc-button + .fc-button {
  border-left: 1px solid #d5f3ff;
}
.app-documents .fc-content {
  background-color: white;
  color: #333333;
  font-size: 0.8em;
}
.app-documents .fc-state-highlight {
  background-color: #d5f3ff;
}
.app-documents .fc-ltr .fc-event-hori.fc-event-end,
.app-documents .fc-rtl .fc-event-hori.fc-event-start,
.app-documents .fc-ltr .fc-event-hori.fc-event-start,
.app-documents .fc-rtl .fc-event-hori.fc-event-end {
  border-radius: 0;
  background-color: #009ee3;
  border-color: #009ee3;
  cursor: pointer;
}
.app-documents .fc-cell-overlay {
  background-color: #009ee3;
}
.app-documents .small-calendar {
  width: 225px;
}
.app-documents .small-calendar .fc-header {
  background-color: #009ee3;
  margin-bottom: 5px;
}
.app-documents .small-calendar .fc-header .fc-button {
  background-color: #007999;
}
.app-documents .small-calendar .fc-header > * {
  line-height: 0;
}
.app-documents .small-calendar .fc-header .fc-header-title h2 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0;
  color: white;
}
.app-documents .small-calendar .fc-day,
.app-documents .small-calendar .fc-day-header {
  border-spacing: 10px;
  border-collapse: separate;
  height: 20px;
}
.app-documents .small-calendar .fc-day-number,
.app-documents .small-calendar .fc-day-header {
  line-height: 1.8em;
}
.app-documents .small-calendar .fc-day:hover {
  background-color: #d5f3ff;
}
.app-documents .small-calendar .fc-day-header,
.app-documents .small-calendar .fc-border-separate tr.fc-last th,
.app-documents .small-calendar .fc-border-separate tr.fc-last td,
.app-documents .small-calendar .fc-border-separate tr.fc-last th,
.app-documents .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 0;
}
.app-documents .small-calendar .fc-day {
  border: 1px solid #dbdbdb;
}
.app-documents .small-calendar .fc-day.selected {
  background-color: #009ee3;
  color: white;
}
.app-documents .small-calendar .fc-border-separate tbody tr.fc-first td,
.app-documents .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 1px;
}
.app-documents .small-calendar .fc-day.fc-other-month:hover {
  border-color: transparent;
}
.app-documents .small-calendar .fc-other-month .fc-day-number {
  color: transparent;
}
.app-documents .small-calendar .fc-border-separate tbody .fc-day.fc-other-month {
  border-width: 0;
}
.app-documents .modal .modal-sm .small-calendar {
  width: 100%;
}
.app-documents .pickDateButton .pickDateBox {
  width: 200px;
  height: 200px;
  background-color: red;
}

.app-todos {
  /* ##### Small calendar ####### */
}
.app-todos .fc-header-title h2 {
  font-size: 1.5em;
  color: #333333;
  cursor: default;
}
.app-todos .fc-button {
  background-color: #efa02d;
  border-width: 0;
  background-image: none;
  padding: 0 0.5em;
  color: white;
}
.app-todos .fc-text-arrow {
  margin: 0;
}
.app-todos .fc-button.fc-state-disabled {
  opacity: 1;
  background-color: transparent;
  color: #333333;
}
.app-todos .fc-button.fc-state-default {
  border-radius: 0;
  text-shadow: none;
}
.app-todos .fc-button + .fc-button {
  border-left: 1px solid #faebcd;
}
.app-todos .fc-content {
  background-color: white;
  color: #333333;
  font-size: 0.8em;
}
.app-todos .fc-state-highlight {
  background-color: #faebcd;
}
.app-todos .fc-ltr .fc-event-hori.fc-event-end,
.app-todos .fc-rtl .fc-event-hori.fc-event-start,
.app-todos .fc-ltr .fc-event-hori.fc-event-start,
.app-todos .fc-rtl .fc-event-hori.fc-event-end {
  border-radius: 0;
  background-color: #efa02d;
  border-color: #efa02d;
  cursor: pointer;
}
.app-todos .fc-cell-overlay {
  background-color: #efa02d;
}
.app-todos .small-calendar {
  width: 225px;
}
.app-todos .small-calendar .fc-header {
  background-color: #efa02d;
  margin-bottom: 5px;
}
.app-todos .small-calendar .fc-header .fc-button {
  background-color: #ad7e2c;
}
.app-todos .small-calendar .fc-header > * {
  line-height: 0;
}
.app-todos .small-calendar .fc-header .fc-header-title h2 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0;
  color: white;
}
.app-todos .small-calendar .fc-day,
.app-todos .small-calendar .fc-day-header {
  border-spacing: 10px;
  border-collapse: separate;
  height: 20px;
}
.app-todos .small-calendar .fc-day-number,
.app-todos .small-calendar .fc-day-header {
  line-height: 1.8em;
}
.app-todos .small-calendar .fc-day:hover {
  background-color: #faebcd;
}
.app-todos .small-calendar .fc-day-header,
.app-todos .small-calendar .fc-border-separate tr.fc-last th,
.app-todos .small-calendar .fc-border-separate tr.fc-last td,
.app-todos .small-calendar .fc-border-separate tr.fc-last th,
.app-todos .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 0;
}
.app-todos .small-calendar .fc-day {
  border: 1px solid #dbdbdb;
}
.app-todos .small-calendar .fc-day.selected {
  background-color: #efa02d;
  color: white;
}
.app-todos .small-calendar .fc-border-separate tbody tr.fc-first td,
.app-todos .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 1px;
}
.app-todos .small-calendar .fc-day.fc-other-month:hover {
  border-color: transparent;
}
.app-todos .small-calendar .fc-other-month .fc-day-number {
  color: transparent;
}
.app-todos .small-calendar .fc-border-separate tbody .fc-day.fc-other-month {
  border-width: 0;
}
.app-todos .modal .modal-sm .small-calendar {
  width: 100%;
}
.app-todos .pickDateButton .pickDateBox {
  width: 200px;
  height: 200px;
  background-color: red;
}

.app-etherpad {
  /* ##### Small calendar ####### */
}
.app-etherpad .fc-header-title h2 {
  font-size: 1.5em;
  color: #333333;
  cursor: default;
}
.app-etherpad .fc-button {
  background-color: #e55c55;
  border-width: 0;
  background-image: none;
  padding: 0 0.5em;
  color: white;
}
.app-etherpad .fc-text-arrow {
  margin: 0;
}
.app-etherpad .fc-button.fc-state-disabled {
  opacity: 1;
  background-color: transparent;
  color: #333333;
}
.app-etherpad .fc-button.fc-state-default {
  border-radius: 0;
  text-shadow: none;
}
.app-etherpad .fc-button + .fc-button {
  border-left: 1px solid #ede2e1;
}
.app-etherpad .fc-content {
  background-color: white;
  color: #333333;
  font-size: 0.8em;
}
.app-etherpad .fc-state-highlight {
  background-color: #ede2e1;
}
.app-etherpad .fc-ltr .fc-event-hori.fc-event-end,
.app-etherpad .fc-rtl .fc-event-hori.fc-event-start,
.app-etherpad .fc-ltr .fc-event-hori.fc-event-start,
.app-etherpad .fc-rtl .fc-event-hori.fc-event-end {
  border-radius: 0;
  background-color: #e55c55;
  border-color: #e55c55;
  cursor: pointer;
}
.app-etherpad .fc-cell-overlay {
  background-color: #e55c55;
}
.app-etherpad .small-calendar {
  width: 225px;
}
.app-etherpad .small-calendar .fc-header {
  background-color: #e55c55;
  margin-bottom: 5px;
}
.app-etherpad .small-calendar .fc-header .fc-button {
  background-color: #933d39;
}
.app-etherpad .small-calendar .fc-header > * {
  line-height: 0;
}
.app-etherpad .small-calendar .fc-header .fc-header-title h2 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0;
  color: white;
}
.app-etherpad .small-calendar .fc-day,
.app-etherpad .small-calendar .fc-day-header {
  border-spacing: 10px;
  border-collapse: separate;
  height: 20px;
}
.app-etherpad .small-calendar .fc-day-number,
.app-etherpad .small-calendar .fc-day-header {
  line-height: 1.8em;
}
.app-etherpad .small-calendar .fc-day:hover {
  background-color: #ede2e1;
}
.app-etherpad .small-calendar .fc-day-header,
.app-etherpad .small-calendar .fc-border-separate tr.fc-last th,
.app-etherpad .small-calendar .fc-border-separate tr.fc-last td,
.app-etherpad .small-calendar .fc-border-separate tr.fc-last th,
.app-etherpad .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 0;
}
.app-etherpad .small-calendar .fc-day {
  border: 1px solid #dbdbdb;
}
.app-etherpad .small-calendar .fc-day.selected {
  background-color: #e55c55;
  color: white;
}
.app-etherpad .small-calendar .fc-border-separate tbody tr.fc-first td,
.app-etherpad .small-calendar .fc-border-separate tr.fc-last td {
  border-width: 1px;
}
.app-etherpad .small-calendar .fc-day.fc-other-month:hover {
  border-color: transparent;
}
.app-etherpad .small-calendar .fc-other-month .fc-day-number {
  color: transparent;
}
.app-etherpad .small-calendar .fc-border-separate tbody .fc-day.fc-other-month {
  border-width: 0;
}
.app-etherpad .modal .modal-sm .small-calendar {
  width: 100%;
}
.app-etherpad .pickDateButton .pickDateBox {
  width: 200px;
  height: 200px;
  background-color: red;
}

#calendar-doodle-days-selector {
  width: 100%;
}
#calendar-doodle-days-selector .small-calendar {
  float: left;
  margin: 10px;
}
#calendar-doodle-days-selector #calendar-doodle-days-selector-list {
  float: left;
  margin: 10px;
}
#calendar-doodle-days-selector #calendar-doodle-days-selector-list td, #calendar-doodle-days-selector #calendar-doodle-days-selector-list th {
  padding: 3px 5px;
  line-height: 1.1em;
}
#calendar-doodle-days-selector #calendar-doodle-days-selector-list table {
  margin-bottom: 2em;
}
#calendar-doodle-days-selector #calendar-doodle-days-selector-list input {
  width: 6em;
}
#calendar-doodle-days-selector #calendar-doodle-days-selector-list p {
  margin: 8px 0;
  line-height: 1.1em;
}

.doodle-vote-table {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 0 20px 0;
  color: #333333;
}
.doodle-vote-table > div {
  display: table;
  border-spacing: 8px 2px;
}
.doodle-vote-table > div > div {
  display: table-cell;
  text-align: center;
  max-width: 40px;
  min-width: 40px;
  min-height: 5px;
}
.doodle-vote-table > div > div img {
  width: 40px;
  height: 40px;
}
.doodle-vote-table > div .doodle-vote-cell + .doodle-vote-cell {
  margin-left: 8px;
}
.doodle-vote-table > div .doodle-vote-date {
  max-width: 88px;
  min-width: 88px;
  color: white;
  background-color: #779b48;
  line-height: 1em;
  padding: 3px 0;
}
.doodle-vote-table > div .doodle-vote-time {
  background-color: transparent;
  line-height: 1em;
  padding: 3px 0;
  height: 30px;
}
.doodle-vote-table > div .doodle-vote-yes {
  background-color: rgba(119, 155, 72, 0.65);
  min-height: 40px;
  line-height: 1.3em;
  font-size: 1.2em;
  padding: 10px 0;
}
.doodle-vote-table > div .doodle-vote-maybe {
  background-color: rgba(239, 160, 45, 0.65);
  min-height: 40px;
  line-height: 1.3em;
  font-size: 1.2em;
  padding: 10px 0;
}
.doodle-vote-table > div .doodle-vote-no {
  background-color: rgba(229, 92, 85, 0.65);
  min-height: 40px;
  line-height: 1.3em;
  font-size: 1.2em;
  padding: 10px 0;
}
.doodle-vote-table > div .doodle-vote-eventbutton {
  background-color: white;
  min-height: 40px;
  line-height: 1.3em;
  font-size: 1.2em;
  padding: 10px 0;
  cursor: pointer;
}
.doodle-vote-table h2 {
  font-size: 1em;
  font-weight: bold;
}
.doodle-vote-table .doodle-vote-inputarea a {
  color: inherit;
  display: block;
}

.calendar-date-time-chooser {
  line-height: 30px;
}
.calendar-date-time-chooser input {
  border-radius: 0;
  border: 1px solid #dbdbdb;
}
.calendar-date-time-chooser input.calendar-date-time-chooser-date {
  width: 10em;
}
.calendar-date-time-chooser input.calendar-date-time-chooser-time {
  width: 5em;
}
.calendar-date-time-chooser .small-calendar {
  padding: 5px;
  border-top-width: 0;
}

.input-area.input-area-left-column .calendar-date-time-chooser .small-calendar {
  background-color: white;
}

div.dashboard-appwidget {
  margin-bottom: 40px;
  background-color: red;
  background-color: rgba(219, 219, 219, 0.3);
}
div.dashboard-appwidget:before, div.dashboard-appwidget:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
div.dashboard-appwidget:after {
  clear: both;
}

div.dashboard-appwidget:last-child {
  margin-bottom: 0;
}

.btn.dashboard-appwidget-headline {
  width: 100%;
  float: none;
  margin: 0;
}
.btn.dashboard-appwidget-headline .media > a.pull-left:first-child:empty {
  width: 10px;
}
.btn.dashboard-appwidget-headline .media > a.pull-left:not(:first-child) {
  background-color: transparent;
}
.btn.dashboard-appwidget-headline .media > a.pull-left {
  height: 50px;
  width: 50px;
  font-size: 28px;
}
.btn.dashboard-appwidget-headline .media > a.pull-left img {
  width: 50px;
}
.btn.dashboard-appwidget-headline .media {
  height: 50px;
}
.btn.dashboard-appwidget-headline .media-body {
  text-align: left;
  font-size: 15px;
  line-height: 1em;
  min-height: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -mou-transform: translateY(-50%);
}
.btn.dashboard-appwidget-headline .media-body .group-annotation {
  line-height: 1.5em;
}
.btn.dashboard-appwidget-headline .media-body .annotation {
  font-size: 12px;
}

.btn.dashboard-appwidget-contentline,
.btn.dashboard-appwidget-contentline-indented,
.btn.dashboard-appwidget-contentline-extra-indented {
  cursor: default;
  width: 100%;
  float: none;
  margin-left: 0;
  margin-right: 0;
}
.btn.dashboard-appwidget-contentline .media-body,
.btn.dashboard-appwidget-contentline-indented .media-body,
.btn.dashboard-appwidget-contentline-extra-indented .media-body {
  text-align: left;
  line-height: 1.3em;
  padding-top: 3px;
  padding-bottom: 3px;
}
.btn.dashboard-appwidget-contentline .media-body a,
.btn.dashboard-appwidget-contentline-indented .media-body a,
.btn.dashboard-appwidget-contentline-extra-indented .media-body a {
  padding-right: 0;
  font-weight: bold;
  white-space: normal;
}
.btn.dashboard-appwidget-contentline .media-body img,
.btn.dashboard-appwidget-contentline-indented .media-body img,
.btn.dashboard-appwidget-contentline-extra-indented .media-body img {
  width: 100%;
  margin: 8px 0;
}
.btn.dashboard-appwidget-contentline .media-body.dashboard-appwidget-networkicons,
.btn.dashboard-appwidget-contentline-indented .media-body.dashboard-appwidget-networkicons,
.btn.dashboard-appwidget-contentline-extra-indented .media-body.dashboard-appwidget-networkicons {
  padding: 0;
}
.btn.dashboard-appwidget-contentline .media-body.dashboard-appwidget-networkicons:before, .btn.dashboard-appwidget-contentline .media-body.dashboard-appwidget-networkicons:after,
.btn.dashboard-appwidget-contentline-indented .media-body.dashboard-appwidget-networkicons:before,
.btn.dashboard-appwidget-contentline-indented .media-body.dashboard-appwidget-networkicons:after,
.btn.dashboard-appwidget-contentline-extra-indented .media-body.dashboard-appwidget-networkicons:before,
.btn.dashboard-appwidget-contentline-extra-indented .media-body.dashboard-appwidget-networkicons:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.btn.dashboard-appwidget-contentline .media-body.dashboard-appwidget-networkicons:after,
.btn.dashboard-appwidget-contentline-indented .media-body.dashboard-appwidget-networkicons:after,
.btn.dashboard-appwidget-contentline-extra-indented .media-body.dashboard-appwidget-networkicons:after {
  clear: both;
}
.btn.dashboard-appwidget-contentline .media-body.dashboard-appwidget-networkicons a,
.btn.dashboard-appwidget-contentline-indented .media-body.dashboard-appwidget-networkicons a,
.btn.dashboard-appwidget-contentline-extra-indented .media-body.dashboard-appwidget-networkicons a {
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
}
.btn.dashboard-appwidget-contentline .media-body.dashboard-appwidget-networkicons a img,
.btn.dashboard-appwidget-contentline-indented .media-body.dashboard-appwidget-networkicons a img,
.btn.dashboard-appwidget-contentline-extra-indented .media-body.dashboard-appwidget-networkicons a img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.btn.dashboard-appwidget-contentline .media-body .group-annotation,
.btn.dashboard-appwidget-contentline-indented .media-body .group-annotation,
.btn.dashboard-appwidget-contentline-extra-indented .media-body .group-annotation,
.btn.dashboard-appwidget-headline .media-body .group-annotation {
  font-size: 12px;
  color: #dbdbdb;
  font-weight: normal;
}

.btn.dashboard-appwidget-contentline-indented {
  padding-left: 40px;
}

.btn.dashboard-appwidget-contentline-extra-indented {
  padding-left: 50px;
}

.btn.dashboard-appwidget-morebutton {
  width: 10em;
}
