div.osmfield-wrapper {
    position: relative;
    display: inline;
}

div.osmfield-map {
    height: 250px;
    border: 1px solid black;
    z-index: 1000;
}
input.osmfield.osmfield-input {
    border-width: 0;
    width: auto;
    margin-bottom: 5px;
}