{% load i18n %}
<h3>{% trans "Projects" %}</h3>
<div class="row large-space">
	{% for project in projects %}
	    <div class="col-sm-3 col-xs-6">
	    	{% include 'cosinnus/group/group_gallery_item.html' with group=project %}
	        <br/>
	    </div>
	    {% if forloop.counter|divisibleby:4 %}
           <div class="clearfix hidden-xs-down"></div>
        {% elif forloop.counter|divisibleby:2 %}
           <div class="clearfix visible-xs"></div>
        {% endif %}
    {% endfor %}
    
</div><!-- row -->

<p class="text-right"><a href="{% url 'cosinnus:group-list' %}">{% trans "Show more Projects" %}</a></p>
	