@import 'variables';
@import 'extra_variables';
@import 'settings';
@import 'foundation-emails';
@import 'wechange_variables';
@import 'mixins';

// Components
// ----------

@import 'general';
@import 'footer';
@import 'header';
@import 'notification';
@import 'summary_group';
@import 'summary_item';
@import 'extra_scss';

// Global Styles
// -------------

.content {
    border-radius: 1px;
}

img {
    width: auto;
}

.body {
    &.body-inner {
        background-color: transparent;
    }
}

/* Hide linebreaks in sublists (those linebreaks are some markdown glitch) */
ul br, ol br, ul br {
    display: none;
}

p {
    margin: invalid; /* changed for outlook-p margin hack, was "0" */
    margin-top: 0; 
    margin-right: 0; 
    margin-bottom: 0; 
    margin-left: 0; 
    
    & + p {
        padding: 16px 0 0 0; 
        Margin: 0 0 0 0; /* added for outlook-p margin hack */
    }
}


a {
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;    
}

    