{% extends 'userdashboard/base-widget' %}
{% import "include/macros.html" as macros %}

{% block title %}
    {# Translators: __INCLUDE_JS_PO__ #}
	{% trans "Groups and Projects" %}
{% endblock %}

{% block content %}
	
	<ul class="item-list">
		{% if group_clusters|length > 0 %}
			{% for cluster in group_clusters %}
				{% for item in cluster %}
					{% if item.hasmorelink %}
						<li>
							<a class="list-item list-item-link" href="#" role="button" titledby=".item-text"> 
								<div id="more-link1" class="item-text">
					                {# Translators: __INCLUDE_JS_PO__ #}
									{% trans "Show more Projects of this Group" %}
								</div>
							<a>
						</li>
					{% else %}
						{{ macros.listItem(item.text, item.url, item.icon, is_emphasized=item.is_emphasized) }}
					{% endif %}
				{% endfor %}
			
				{% if not loop.last %}
					<li>
						<hr>
					</li>
				{% endif %}
			{% endfor %}
		{% else %}
			<li>
				<span class="list-item list-item-link list-item-center no-select" href="#" role="button" titledby=".item-text"> 
		    		<div class="item-text">
		                {# Translators: __INCLUDE_JS_PO__ #}
						{% trans "You are not in any groups or projects yet" %}
		    		</div>
				</span>
			</li>
		{% endif %}
	</ul>
{% endblock %}