{% if not forceOnlyMine %}
	<div class="timeline-controls">
	
	    <h2 class="headline inlayed-headline">
	        {# Translators: __INCLUDE_JS_PO__ #}
	        {% trans "Filter" %}
	    </h2>
	    
        <table class="onoffswitch-frame">
            <tr>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch-only-forum"
                             class="onoffswitch-checkbox toggle-only-forum" id="check-only-forum" 
                             {% if onlyForum %}checked{% endif %}>
                        <label class="onoffswitch-label" for="check-only-forum" aria-label="{% trans 'Content from the Forum' %}">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="onoffswitch-text-label text-bold text-small">
                    {# Translators: __INCLUDE_JS_PO__ #}
                    {% trans "Content from the Forum" %}
                </td>
            </tr>
        </table>
	
		<table class="onoffswitch-frame">
            <tr>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch-only-mine"
                             class="onoffswitch-checkbox toggle-only-mine" id="check-only-mine" 
                             {% if onlyMine %}checked{% endif %}>
                        <label class="onoffswitch-label" for="check-only-mine" aria-label="{% trans 'Content from my Groups and Projects' %}">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="onoffswitch-text-label text-bold text-small">
                    {# Translators: __INCLUDE_JS_PO__ #}
                    {% trans "Content from my Groups and Projects" %}
                </td>
            </tr>
        </table>
        
        <table class="onoffswitch-frame">
            <tr>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch-only-public"
                             class="onoffswitch-checkbox toggle-only-public" id="check-only-public" 
                             {% if onlyPublic %}checked{% endif %}>
                        <label class="onoffswitch-label" for="check-only-public" aria-label='{% if COSINNUS_USER_EXTERNAL_USERS_FORBIDDEN %}{% trans "Platform content" %}{% else %}{% trans "Public content" %}{% endif %}'>
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td class="onoffswitch-text-label text-bold text-small">
                    {% if COSINNUS_USER_EXTERNAL_USERS_FORBIDDEN %}
                        {# Translators: __INCLUDE_JS_PO__ #}
                        {% trans "Platform content" %}
                    {% else %}
                        {# Translators: __INCLUDE_JS_PO__ #}
                        {% trans "Public content" %}
                    {% endif %}
                </td>
            </tr>
        </table>
	</div>
{% endif %}

<div class="timeline">
	{# Timeline items get appended here #}
	<div data-target="ajax-form-result-anchor" data-ajax-form-id="note-create-form"></div>
</div>


<div class="timeline-error-message" style="display: none;">
	<div>
		{# Translators: __INCLUDE_JS_PO__ #}
        {% trans "We could not load more data at this time." %}
		<a href="#" class="retry-load">
	        {# Translators: __INCLUDE_JS_PO__ #}
	        {% trans "Retry" %}
	    </a>
    </div>
</div>

<div class="timeline-final-dot" style="display: none;">
	<div>
		<i class="fas fa-fw fa-circle"></i>
	</div>
</div>

<div class="timeline-placeholder-frame" style="display: none;">
	{% include 'userdashboard/timeline-item-placeholder' %}
	{% include 'userdashboard/timeline-item-placeholder' %}
	{% include 'userdashboard/timeline-item-placeholder' %}
</div>
