{% extends "accounts/base.html" %}
{% load i18n l10n static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'geoposition/geoposition.css' %}">
<script src="{% static 'geoposition/geoposition.js' %}"></script>
{% endblock %}

{% block subnav_add_right %}
<a href="{% url 'cosinnus:profile-update' %}" class="btn">
  {% trans "Edit" %}
</a>
{% endblock %}

{% block content %}
<div class="row profile">
  <div class="span9">
    <dl class="dl-horizontal">
      <dt>{% trans "Username" %}:</dt>
      <dd>{{ user.username }}</dd>
      <dt>{% trans "First name" %}:</dt>
      <dd class="clearfix">{{ user.first_name }}</dd>
      <dt>{% trans "Last name" %}:</dt>
      <dd class="clearfix">{{ user.last_name }}</dd>
      <dt>{% trans "E-mail address" %}:</dt>
      <dd>{{ user.email }}</dd>
      <dt>{% trans "Avatar" %}:</dt>
      <dd>
        {% if userprofile.avatar %}
        <img src="{{ userprofile.avatar.url }}" width="128" height="128">
        {% else %}
        <img src="http://placehold.it/128x128" width="128" height="128">
        {% endif %}
      </dd>
      <dt>{% trans "Location" %}:</dt>
      <dd>
        <p class="geoposition-widget">
          <input class="geoposition" value="{{ userprofile.location.latitude|unlocalize }}">
          <input class="geoposition" value="{{ userprofile.location.longitude|unlocalize }}">
        </p>
      </dd>
      <div style="clear: both; margin-top: 35px"></div>
      {% for field in optional_fields %}
      <dt>{% trans field.name %}:</dt>
      <dd>{{ field.value }}</dd>
      {% endfor %}
    </dl>
  </div>
</div>
{% endblock %}
