{% load i18n %}

<button type="button" class="btn w100 btn-emphasized large-space" href="{% url 'cosinnus:administration' %}">
    <ul class="media-list">
        <li class="media">
           <span class="pull-left">
                <i class="fa fa-reply"></i>
            </span>
            <div class="media-body">
                  {% trans "Administration" %}
            </div>
        </li>
    </ul>
</button>

{% url 'cosinnus:administration-user-import' as url_user_import %}
<button type="button" class="btn w100 btn-{% if current_page == "import" %}extra-{% endif %}emphasized regular-space" href="{{ url_user_import }}">
    <ul class="media-list">
        <li class="media">
           <a class="pull-left">
                <i class="fa fa-upload"></i>
            </a>
            <span class="pull-right">
                {% if request.path == url_user_import %}
                  <i class="fa fa-caret-right"></i>
                {% endif %}
            </span>
            <div class="media-body">
                {% trans "User Import" %}
            </div>
        </li>
    </ul>
</button>


{% url 'cosinnus:administration-archived-user-import-list' as url_user_import_archive %}
<button type="button" class="btn w100 btn-{% if current_page == "archive" %}extra-{% endif %}emphasized regular-space" href="{{ url_user_import_archive }}">
    <ul class="media-list">
        <li class="media">
           <a class="pull-left">
                <i class="fa fa-archive"></i>
            </a>
            <span class="pull-right">
                {% if request.path == url_user_import_archive %}
                  <i class="fa fa-caret-right"></i>
                {% endif %}
            </span>
            <div class="media-body">
                {% trans "User Import Archive" %}
            </div>
        </li>
    </ul>
</button>
