{% extends "cosinnus/base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
        <li><a href="{% if SETTINGS.COSINNUS_ROCKET_ENABLED %}{% url 'cosinnus:message-global' %}{% else %}{% url 'postman:inbox' %}{% endif %}">{% trans "Messages" %}</a></li>
{% endblock %}


{% block leftnav %}
    {% block postman_menu %}{% endblock %}
{% endblock %}


{% block content %}
    {% if SETTINGS.COSINNUS_POSTMAN_ARCHIVE_MODE %}
        <div class="alert alert-warning alert-dismissable large-space">
            <i class="fa fa-history fa-3x"></i>
            <h4>{% trans "Legacy Messages Archive" %}</h4>
            <p>
                {% trans "The legacy messaging app is no longer in use. You can view all of your old messages, but you cannot write new ones. Please use the new messaging app in the navigation from now on!" %}
            </p>
        </div>
    {% endif %}    

    {% block postman_content %}{% endblock %}
{% endblock %}

