{% extends "cosinnus_deck/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks thumbnail djajax_tags %}

{% block page_title %}
    {% trans "Migrate NextCloud Deck Boards" %} - {{ block.super }}
{% endblock page_title %}

{% block content %}
    <h2>{% trans "Migrate NextCloud Deck Boards to Task-Board" %}</h2>
    {% if user_admin_groups %}
        {# show at the start of the migration #}
        <div id="start-frame" style="display: {% if migration_in_progress %}none{% else %}block{% endif %}">
            <div class="textfield transparent">
                <p class="textfield transparent">
                    {% trans "Select the groups/projects for boards you want to migrate:" %}
                </p>
                {# populated by the addDeckSelection js function #}
                <ul id="deck-group-selection"></ul>
            </div>
            <button class="btn btn-emphasized btn-autosize" onclick="startMigration()">
                <ul class="media-list">
                    <li class="media">
                                <span class="pull-left">
                                    <i class="fa fa-clock"></i>
                                </span>
                        <div class="media-body">
                            {% trans "Start migration" %}
                        </div>
                    </li>
                </ul>
            </button>
        </div>
    {% else %}
        {# shown if the user does not have admin permission in any group #}
        <div class="textfield transparent">
            <p class="textfield transparent">
                {% trans "You must have admin permissions in a group/project to migrate NextCloud Deck boards." %}
            </p>
        </div>
    {% endif %}
    <div id="status-frame" class="textfield transparent"  style="display: {% if migration_in_progress %}block{% else %}none{% endif %}">
        {# shown when the migration is in progress #}
        <div id="status-in-progress">
            <p class="textfield transparent">
                {% trans "Migration is in progress..." %}
            </p>
        </div>
        {# shown when the migration has successfully finished #}
        <div id="status-success" style="display: none">
            <p class="textfield transparent">
                {% trans "Migration successfully finished. You can access the migrated boards in the Task-Board of the selected groups/projects." %}
            </p>
            <p class="textfield transparent">
                {% trans "Note: You have to add users to a group/project to allow them access to the board." %}
            </p>
        </div>
        {# shown when the migration has failed. #}
        <div id="status-failed" style="display: none">
            <p class="textfield transparent">
                {% trans "An error occurred during the migration. Some boards might not have been fully migrated." %}
            </p>
            <p class="textfield transparent">
                {% captureas retry_link %}<a href="" class="transparent">{% trans "retry" %}</a>{% endcaptureas %}
                {% blocktrans %}Please, {{ retry_link }} the migration. If the errors persist, please contact the support!{% endblocktrans %}
            </p>
        </div>
    </div>
    <script>
        const doNotMigrateLabel = '{% trans "Do not migrate" %}'
        const migrationInProgress = '{{ migration_in_progress }}' === 'True'
        const csrftoken = Cosinnus.getCookie('csrftoken')
        const userGroups = {{ user_admin_groups|safe }}
        const ncAdmin = '{{ SETTINGS.COSINNUS_CLOUD_NEXTCLOUD_ADMIN_USERNAME }}'
        const ncUrl = '{{ SETTINGS.COSINNUS_CLOUD_NEXTCLOUD_URL }}'
        let userBoards = null
        let ncToken = null
        let selectedUserBoards = []
        let statusUpdateInterval = null
        function isUserBoard(board) {
            /* Filter for user boards where the user has manage and share permissions. */
            return board.owner.uid !== ncAdmin && board.permissions.PERMISSION_MANAGE && board.permissions.PERMISSION_SHARE
        }
        async function getUserBoards() {
            /* Get the user boards. */
            try {
                await fetch(`${ncUrl}/login`, { credentials: "include", mode: "no-cors" })
                ncToken = await fetch(
                    `${ncUrl}/csrftoken`, {credentials: "include"}
                ).then(r => r.json()).then(r => r.token);
                let boards = await fetch(`${ncUrl}/apps/deck/boards?requesttoken=${encodeURIComponent(ncToken)}`, { credentials: "include" }).then(r => r.json())
                return boards.filter(isUserBoard)
            } catch (error) {
                console.error(error.message)
                statusFailed()
            }
        }
        async function addDeckSelection() {
            /* Add group selection for user boards. */
            console.debug('adding deck group selection...')
            try {
                userBoards = await getUserBoards()
                let group_select_options = `<option value="">${doNotMigrateLabel}</option>`
                userGroups.forEach((group) => {
                    group_select_options += `<option value="${group[0]}">${group[1]}</option>`
                });
                var deck_group_ul = document.getElementById("deck-group-selection");
                userBoards.forEach((board) => {
                    var li = document.createElement('li');
                    li.style.marginBottom = "2px"
                    li.innerHTML =`${board.title} → <select id="group-select-${board.id}">${group_select_options}</select>`
                    deck_group_ul.appendChild(li);
                })
            } catch (error) {
                console.error(error.message)
                statusFailed()
            }
        }
        async function shareBoardWithAdmin(boardID) {
            /* Share board with admin user such that the migration can continue in the backend. */
            await fetch(`${ncUrl}/apps/deck/boards/${boardID}/acl?requesttoken=${encodeURIComponent(ncToken)}`, {
                method: "POST",
                credentials: "include",
                 headers: {
                    "Content-Type": "application/json",
                 },
                body: JSON.stringify({
                    "type": 0,
                    "participant": ncAdmin,
                    "permissionEdit": false,
                    "permissionShare": false,
                    "permissionManage": false,
                    "boardId": `${boardID}`,
                }),
            })
        }
        function statusSuccess() {
            /* Migration successful */
            clearInterval(statusUpdateInterval)
            document.getElementById('status-in-progress').style.display = "none"
            document.getElementById('status-success').style.display = "block"
        }
        function statusFailed() {
            /* Migration failed */
            if (statusUpdateInterval) {
                clearInterval(statusUpdateInterval)
            }
            document.getElementById('status-in-progress').style.display = "none"
            document.getElementById('status-failed').style.display = "block"
        }
        async function updateStatus() {
            /* Check the migration task status. */
            let response = await fetch('/migrate/user_decks/api/',{
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                mode: 'same-origin',
            }).then(r => r.json())
            let migrationStatus = response.status
            if (migrationStatus === 'success') {
                statusSuccess()
            } else if (migrationStatus === 'failed') {
                statusFailed()
            }
        }
        async function startMigration() {
            /* Start the migration for the selected boards/groups. */
            try {
                for (const board of userBoards)  {
                    var deck_group_select = document.getElementById(`group-select-${board.id}`);
                    if (deck_group_select.value) {
                        selectedUserBoards.push({"board": board, "group": deck_group_select.value})
                    }
                }
                var migrationData = []
                for (selectedBoard of selectedUserBoards) {
                    if (!selectedBoard.board.acl.some((acl) => acl.participant.uid === ncAdmin)) {
                        await shareBoardWithAdmin(selectedBoard.board.id)
                    }
                    migrationData.push({"board": Number(selectedBoard.board.id), "group": Number(selectedBoard.group)})
                }
                await fetch('/migrate/user_decks/api/',{
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify(migrationData),
                    mode: 'same-origin',
                })
                document.getElementById('start-frame').style.display = "none"
                document.getElementById('status-frame').style.display = "block"
                statusUpdateInterval = setInterval(updateStatus, 1000);
            } catch (error) {
                console.error(error.message)
                statusFailed()
            }
        }
        if (!migrationInProgress) {
            addDeckSelection()
        } else {
            statusUpdateInterval = setInterval(updateStatus, 1000);
        }
    </script>
{% endblock content %}
