{% load i18n static cosinnus_tags thumbnail %}

<nav id="v2-navbar" class="v2-navbar" role="navigation">
    <div class="nav-content">
    	<div class="nav-section nav-brand">
    		{% if request.user.is_authenticated %}
	            <a class="nav-button" href="#" rel="toggle" role="button" title="{% trans "Menu" %}" 
			    		aria-expanded="false" aria-controls="main-collapse"
			    		data-toggle="collapse" data-target="#main-collapse"> 
		    		<i class="fa fa-fw fa-bars"></i>
	    		</a>
    		{% endif %}
            <a class="nav-button" href="{% url "cosinnus:user-dashboard" %}" title="{% trans "Home" %}">
            	{% comment %} {% include 'cosinnus/brand.html' %} {% endcomment %}
            	<img src="{% static 'img/mokwi_logo.svg' %}">
            </a>
            {% if not SETTINGS.COSINNUS_USE_V2_NAVBAR and SETTINGS.COSINNUS_USE_V2_NAVBAR_ADMIN_ONLY and user.is_superuser %}
	            <a class="nav-button nav-header-textlink" href="#">
	            	***ADMIN-ONLY TEST PHASE***
	            </a>
        	{% endif %}
            <a class="nav-button nav-header-textlink" href="{% url "cosinnus:map" %}" title="{% trans "Discover" %}">
            	{% trans "Discover" %}
            </a>
    	</div>
    </div>
    
    
    <div class="nav-section nav-search" id="nav-quicksearch">
    	<div class="">
			<a class="nav-button nav-button-search show-active" href="#" title="{% trans "Search" %}"> 
				<i class="fa fa-fw fa-search"></i>
			</a>
		</div>
		<input id="search" class="nav-search-box" name="search" title="{% trans "Quick Search" %}" autocomplete="off">
		<div class="">
			<a class="nav-button nav-button-search show-inactive" href="#" title="{% trans "Search" %}"> 
				<i class="fa fa-fw fa-search"></i>
			</a>
		</div>
		<div class="nav-quicksearch-results nav-dropdown" id="nav-quicksearch-results">
	    	{% comment %} This is the backbone App 'module-navbar-quicksearch! {% endcomment %}
		</div>
		<div class="dropdown-underdrop show-active"></div>
		<div class="nav-search-backdrop"></div>
    </div>
	<script>
	    $('html').on('init:client', function () {
	        Backbone.mediator.publish('init:module-navbar-quicksearch', {
            	el: '#nav-quicksearch-results',
	        });
	    });
	</script>
	
    
    <div class="nav-section nav-buttons">
		<a class="nav-button" href="#" rel="toggle" role="button" title="{% trans "Create content" %}" 
		    		aria-expanded="false" aria-controls="create-menu-collapse"
		    		data-toggle="collapse" data-target="#create-menu-collapse"> 
    		<i class="fa fa-fw fa-plus"></i>
		</a>
		<a class="nav-button" href="{% group_url "cosinnus:event:list" group=SETTINGS.NEWW_EVENTS_GROUP_SLUG %}" role="button" title="{% trans "Events" %}"> 
    		<i class="fa fa-fw fa-calendar"></i>
		</a>
		{% if request.user.is_authenticated %}
			<a class="nav-button" href="{% url 'postman:inbox' %}" rel="toggle" role="button" title="{% trans "Button-Title" %}"> 
	    		<i class="fa fa-fw fa-envelope"></i>
			</a>
			<a class="nav-button" href="#" rel="toggle" role="button" title="{% trans "Menu" %}" 
			    		aria-expanded="false" aria-controls="user-menu-collapse"
			    		data-toggle="collapse" data-target="#user-menu-collapse"> 
	    		<i class="fa fa-fw fa-user"></i>
			</a>
		{% else %}
			<a class="nav-button nav-header-textlink" href="#" rel="toggle" role="button" title="{% trans "Change language" %}" 
		    		aria-expanded="false" aria-controls="language-menu-collapse"
		    		data-toggle="collapse" data-target="#language-menu-collapse"> 
            	{{ request.LANGUAGE_CODE|upper }}
            </a>
            <a class="nav-button nav-header-textlink" href="{% url 'login' %}" title="{% trans "Log in" %}">
            	{% trans "Log in" %}
            </a>
            <a class="nav-button nav-header-textlink" href="{% url "cosinnus:user-add" %}" title="{% trans "Register a new account" %}">
            	{% trans "Register" %}
            </a>
		{% endif %}
    </div>
    
	<div class="collapse nav-flyout" id="main-collapse">
		<div class="nav-flyout-section padded">
			<div class="row narrow-row">
				<div class="nav-column col-xs-12 col-md-4">
				
					<h2 class="headline">{% trans "My Groups and Projects" %}</h2>
					
					<ul class="item-list">
						<li>
							<a class="list-item" href="#" role="button" titledby=".item-text"> 
								<div>
					    			<i class="fa fa-fw fa-sitemap"></i>
					    		</div>
					    		<div class="item-text">
					    			Group Item text Item text Item text Item text Item text Item text Item text Item text Item text Item text Item text Item text 
					    		</div>
							</a>
						</li>
						<li>
							<a class="list-item" href="#" role="button" titledby=".item-text"> 
								<div>
					    			<i class="fa fa-fw fa-group"></i>
					    		</div>
					    		<div class="item-text">
					    			Project Item text Item text Item text Item text Item text Item text Item text Item text Item text Item text Item text Item text 
					    		</div>
							</a>
						</li>
						<li>
							<hr>
						</li>
						<li>
							<a class="list-item" href="#" role="button" titledby=".item-text"> 
								<div>
					    			<i class="fa fa-fw fa-calendar"></i>
					    		</div>
					    		<div class="item-text">
					    			Item text Item text Item text Item text Item text Item text Item text Item text Item text Item text Item text Item text 
						    		<span class="item-subtext">
						    			Subtitle subtitle 
						    			TODO: navbar. make this push the item-text up and make a new line in gray under the title.
						    		</span>
					    		</div>
							</a>
						</li>
					</ul>
					
					<div class="nav-column-footer">
						TODO: navbar. continue here with the footer.
					</div>
				</div>	
			</div>
		</div>
		<div class="nav-flyout-backdrop"></div>
	</div>
	
	<div class="collapse nav-flyout create-menu" id="create-menu-collapse">
	
		<div class="nav-flyout-section padded flex-row">
			<a href="{% if not user.is_authenticated %}{% url 'cosinnus:user-add' %}?acc_req_msg=1&next={% endif %}{% url 'cosinnus:group__group-add' %}"
					class="create-menu-link flex-grow">
				<h2 class="headline">{% trans "Group" %}</h2>
				<div class="description">
					TODO: Beschreibung des Erstellitems, was es tut, und warum es toll ist das zu machen.
				</div>
				<div class="action text-bold">
					{% trans "Create new Group" %} 
				</div>
			</a>
			<a href="{% if not user.is_authenticated %}{% url 'cosinnus:user-add' %}?acc_req_msg=1&next={% endif %}{% url 'cosinnus:group-add' %}" 
					class="create-menu-link flex-grow">
				<h2 class="headline margin-regular">{% trans "Project" %}</h2>
				<div class="description">
					TODO: Beschreibung des Erstellitems, was es tut, und warum es toll ist das zu machen.
				</div>
				<div class="action text-bold">
					{% trans "Create new Project" %} 
				</div>
			</a>
			{% if SETTINGS.COSINNUS_IDEAS_ENABLED %}
			<a href="{% if not user.is_authenticated %}{% url 'cosinnus:user-add' %}?acc_req_msg=1&next={% endif %}{% url "cosinnus:idea-create" %}" 
					class="create-menu-link flex-grow">
				<h2 class="headline margin-regular">{% trans "Idea" %}</h2>
				<div class="description">
					TODO: Beschreibung des Erstellitems, was es tut, und warum es toll ist das zu machen.
				</div>
				<div class="action text-bold">
					{% trans "Post new Idea" %} 
				</div>
			</a>
			{% endif %}
			<a href="{% if not user.is_authenticated %}{% url 'cosinnus:user-add' %}?acc_req_msg=1&next={% endif %}{% group_url "cosinnus:event:event-add" group=SETTINGS.NEWW_EVENTS_GROUP_SLUG %}" 
					class="create-menu-link flex-grow">
				<h2 class="headline margin-regular">{% trans "Event" %}</h2>
				<div class="description">
					TODO: Beschreibung des Erstellitems, was es tut, und warum es toll ist das zu machen.
				</div>
				<div class="action text-bold">
					{% trans "Add Event" %} 
				</div>
			</a>
			
		</div>
		<div class="nav-flyout-backdrop"></div>
	</div>
	
	
	
	
	
	<div class="collapse nav-flyout text-right" id="language-menu-collapse">
	
		<div class="nav-flyout-section padded">
			<h2 class="headline margin-regular">{% trans "Change language" %}</h2>
			
			<ul class="item-list">
				{% for code, language in SETTINGS.LANGUAGES %}
					<li>
						<a href="{% url 'cosinnus:switch-language' language=code %}?next={{ request.path }}" 
								class="list-item {% if request.LANGUAGE_CODE == code %}text-bold{% endif %}" role="button" titledby=".item-text"> 
				    		<div class="item-text">
				    			{{ language }}
				    		</div>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="nav-flyout-backdrop"></div>
	</div>
	
	
	<div class="collapse nav-flyout text-right" id="user-menu-collapse">
	
		<div class="nav-flyout-section padded">
			<h2 class="headline margin-regular">{% trans "Switch Portal" %} (soll das rein?)</h2>
			
			{% include 'cosinnus/v2/navbar/portal_list.html' %}
		</div>
		
		<div class="nav-flyout-section padded">
			<ul class="item-list">
				<li>
					<a href="{% url 'cosinnus:profile-detail' %}" class="list-item" role="button" titledby=".item-text"> 
			    		<div class="item-text">
			    			{% trans "My Profile" %} 
			    		</div>
					</a>
				</li>
				<li>
					<a href="{% url 'cosinnus:profile-edit' %}" class="list-item" role="button" titledby=".item-text"> 
			    		<div class="item-text">
			    			{% trans "Edit My Profile" %} 
			    		</div>
					</a>
				</li>
				<li>
					<a href="{% url 'cosinnus:notifications' %}" class="list-item" role="button" titledby=".item-text"> 
			    		<div class="item-text">
			    			{% trans "Notification Preferences" %} 
			    		</div>
					</a>
				</li>
				<li>
					<a href="#" rel="toggle" class="list-item" role="button" titledby=".item-text" title="{% trans "Change language" %}
							aria-expanded="false" aria-controls="language-menu-collapse"
		    				data-toggle="collapse" data-target="#language-menu-collapse"
		    				onclick="$('#user-menu-collapse').removeClass('in').addClass('collapse');"> 
			    		<div class="item-text">
			    			{% trans "Change language" %}
			    		</div>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="nav-flyout-section padded">
			<ul class="item-list">
				<li>
					<a href="{% url 'logout' %}" class="list-item" role="button" titledby=".item-text"> 
			    		<div class="item-text">
			    			{% trans "Logout" %} 
			    		</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="nav-flyout-backdrop"></div>
	</div>
	
    
</nav>

