<container class="footer">
    <row>
        <columns large="1"></columns>

        <columns large="10">
            <row class="opt-out">
                <columns>
                    <p>
                        You're receiving this email because you are an administrator of
                        this team. You can edit your notification preferences
                        <a href="/prefs">here</a>
                    </p>
                </columns>
            </row>
        </columns>

        <columns large="1"></columns>
    </row>
</container>
