<container class="footer">
    <row>
        <columns large="1"></columns>

        <columns large="10">
            <row class="opt-out">
                <columns>
                	{{#rwif notification_reason raw_if="notification_reason"}}
                    <p>
                    	{{#rw this}}notification_reason{{/rw}}

						{{#if raw}}
                            {{{{raw}}}}{% trans "Click the following link to change which emails you receive:" %}{{{{/raw}}}}
                        {{else}}
                            Click the following link to change which emails you receive:
                        {{/if}}

                        <a href="{{#rw this}}prefs_url{{/rw}}" target="_blank">
                            {{#if raw}}
                                {{{{raw}}}}{% trans "Notification Preferences" %}{{{{/raw}}}}
                            {{else}}
                                Notification Preferences
                            {{/if}}
                        </a>
                    </p>
                    {{/rwif}}
                    
                    <p>
                        {{#if raw}}
                            {{{{raw}}}}{% trans "Click the following link to never receive any more emails from us:" %}{{{{/raw}}}}
                        {{else}}
                            Click the following link to never receive any more emails from us:
                        {{/if}}

                        <a href="{{#rw this}}unsubscribe_url{{/rw}}" target="_blank">
                            {{#if raw}}
                                {{{{raw}}}}{% trans "Unsubscribe" %}{{{{/raw}}}}
                            {{else}}
                                Unsubscribe
                            {{/if}}
                        </a>
                    </p>
                </columns>
            </row>
        </columns>

        <columns large="1"></columns>
    </row>
</container>
