{{#if raw}}{{{{raw}}}}{% load i18n %}{{{{/raw}}}}{{/if}}

<container class="header">
    <row class="special-padded-row header-row">
        <columns class="logo" large="12" small="12" valign="middle">
            <a href="{{#rw this}}portal_url{{/rw}}" target="_blank">
                <!-- always include the width="nn" attribute in <img> for Outlook! -->
                <img class="logo-img" height="40" src="{{#rw this}}portal_image_url{{/rw}}" alt="" />
            </a>
        </columns>
    </row>
</container>
