<row class="page-header">
    <columns>
        <row class="address">
            <columns>
                <h2>
                    {{#if raw}}
                        {{{{raw}}}}{% trans "Hi," %}{{{{/raw}}}}
                    {{else}}
                        Hi
                    {{/if}}
                    
					{{#rwif addressee raw_if="addressee"}}
                    	{{#rw this}}addressee{{/rw}},
                    {{/rwif}}
                </h2>
            </columns>
        </row>

        <row class="intro">
            <columns>
                <h2>{{#rw this}}topic{{/rw}}</h2>
            </columns>
        </row>
    </columns>
</row>
