<row class="summary-item">
    <columns>
	    <row class="main-row main-item">
            <columns class="spacer" large="1" small="1">&nbsp;</columns>
            
            <columns class="image" large="1" small="1" valign="middle">
                <a href="{{#rw this}}object_url{{/rw}}">
                    <!-- always include the width="nn" attribute in <img> for Outlook! -->
                    <img class="regular-img" width="40" src="{{#rw this}}image_url{{/rw}}" alt="" />
                </a>
            </columns>
        
            <columns class="small-text" large="5" small="5" valign="middle">
                <row class="event-text colored-text">
                    <columns class="unpadded">
                        <a href="{{#rw this}}object_url{{/rw}}" target="_blank">
                            <span class="bold-text">{{#rw this}}action_user_name{{/rw}}</span>
                            <span class="non-bold-text">{{#rw this}}event_text{{/rw}}</span>
                        </a>
                    </columns>
                </row>
                <row class="event-time">
                    <columns class="unpadded">
                        {{#rw this}}event_meta{{/rw}}
                    </columns>
                </row>
            </columns>
            
            <columns class="group-label smaller-text grey-text bold-text" large="4" small="4" valign="top">
                <row class="">
                    <columns class="unpadded" large="2" small="2" valign="middle">
                        <!-- always include the width="nn" attribute in <img> for Outlook! -->
	                    <img class="small-img inline-img" width="30" src="{{#rw this}}origin_icon_url{{/rw}}" />
                    </columns>
                    <columns class="unpadded smaller-text" valign="middle">
                        {{#rw this}}origin_name{{/rw}}
                    </columns>
                </row>
                
                <!--
                     Eventuell einfach sowas hier benutzen für die kleinen Einpassungen, vor allem damit das alignment rechts passt!
                <table role=”presentation” cellspacing=”0″ cellpadding=”0″ border=”0″>
				   <tr>
					   <td>Column 1</td>
					   <td>Column 2</td>
				   </tr>
				</table>
				-->
                
            </columns>
            
            <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
        </row>
		
		{{#rwif sub_object_name raw_if="sub_object_name" }}
            <row class="main-row sub-item">
                <columns class="spacer" large="1" small="1">&nbsp;</columns>
                
                <columns class="border-inlay" large="1" small="1" valign="middle">
                    <a href="{{#rw this}}object_url{{/rw}}">
                        <!-- always include the width="nn" attribute in <img> for Outlook! -->
                        <img class="regular-img" width="40" src="{{#rw this}}sub_object_icon_url{{/rw}}" alt="" />
                    </a>
                </columns>
            
                <columns class="border-inlay" large="9" small="9" valign="middle">
                    <row class="bold-text">
                        <columns class="unpadded">
                            <span class="bold-text">{{#rw this}}sub_object_name{{/rw}}</span>
                        </columns>
                    </row>
                    {{#rwif sub_object_text raw_if="sub_object_text" }}
	                    <row>
	                        <columns class="unpadded">
	                            {{#rw this}}sub_object_text{{/rw}}
	                        </columns>
	                    </row>
                    {{/rwif}}
                </columns>
                
                <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
            </row>
        {{/rwif}}
        
        {{#rwif object_text raw_if="object_text" }}
            <row class="main-row item-content">
                <columns class="image" large="1" small="1" valign="top">
                    <a href="{{#rw this}}object_url{{/rw}}">
                        <!-- always include the width="nn" attribute in <img> for Outlook! -->
                        <img class="regular-img" width="40" src="{{#rw this}}sub_object_icon_url{{/rw}}" alt="" />
                    </a>
                </columns>
            
                <columns class="text" large="10" small="10" valign="middle">
                    {{#rwif object_name raw_if="object_name" }}
                        <p class="bold-text">
                            {{#rw this}}object_name{{/rw}}
                        </p>
	                {{/rwif}}
	                <p>
	                   {{#rw this}}object_text{{/rw}}
                    </p>
                </columns>
                
                <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
            </row>
        {{/rwif}}
        
        {{#rwif show_action_buttons raw_if="show_action_buttons"}}
            <row class="main-row action_buttons">
                <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
            
                <columns class="text" large="1" small="10" valign="middle">
                    {{#rwif action_button_1_text raw_if="action_button_1_text"}}
                        <a class="action-button {{#rwif action_button_1_alternate raw_if="action_button_1_alternate"}}action-button-alternate{{/rwif}}" href="{{#rw this}}action_button_1_url{{/rw}}" target="_blank">
                            {{#rw this}}action_button_1_text{{/rw}}
                        </a>
                    {{/rwif}}
                    {{#rwif action_button_2_text raw_if="action_button_2_text"}}
                        <a class="action-button {{#rwif action_button_2_alternate raw_if="action_button_2_alternate"}}action-button-alternate{{/rwif}}" href="{{#rw this}}action_button_2_url{{/rw}}" target="_blank">
                            {{#rw this}}action_button_2_text{{/rw}}
                        </a>
                    {{/rwif}}
                    {{#rwif action_button_alternate_text raw_if="action_button_alternate_text"}}
                        <a class="action-button action-button-alternate" href="{{#rw this}}action_button_alternate_url{{/rw}}" target="_blank">
                            {{#rw this}}action_button_alternate_text{{/rw}}
                        </a>
                    {{/rwif}}
                    
                </columns>
                
                <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
            </row>
        {{/rwif}}
		        
    </columns>
</row>