<row class="special-padded-row spacer-row">
    <columns large="12" small="12" valign="top">&nbsp;</columns>
</row>

<row class="special-padded-row group-header-row group-header bordered-container">

    <columns class="image image-column" large="1" small="1" valign="middle">
        <a href="{{#rw this}}group_url{{/rw}}" target="_blank">
            <img class="small-img padded-img" width="30" src="{{#rw this}}group_image_url{{/rw}}" alt="" />
        </a>
    </columns>
    
    <columns class="" large="10" small="10" valign="middle">
        <span class="large-text bold-text">
            <a href="{{#rw this}}group_url{{/rw}}" target="_blank">
                {{#rw this}}group_name{{/rw}}
            </a>
        </span>
    </columns>
    
    <columns class="spacer" large="1" small="1" valign="top">&nbsp;</columns>
</row>
        
{{#if raw}}
    {{{{raw}}}}
        {{ group_body_html }}
    {{{{/raw}}}}
{{else}}
    {{#each items}}
        {{> summary_item}}
    {{/each}}
{{/if}}


