<row class="body body-inner">
    <columns class="tight">
        <row class="summary-group{{#if @last}} last{{/if}}">
            <columns class="items" small="10" large="10" valign="top">
                <h3>
                    <a href="{{#rw this}}group_url{{/rw}}" target="_blank">
                        {{#rw this}}group_name{{/rw}}
                    </a>
                </h3>

                {{#if raw}}
                    {{{{raw}}}}
                        {{ group_body_html }}
                    {{{{/raw}}}}
                {{else}}
                    {{#each items}}
                        {{> summary_item}}
                    {{/each}}
                {{/if}}
            </columns>

            <columns small="2" large="2" valign="top">
                <a href="{{#rw this}}group_url{{/rw}}" target="_blank">
                    <img src="{{#rw this}}image_url{{/rw}}" alt="" />
                </a>
            </columns>
        </row>
    </columns>
</row>
