<row class="summary-item">
    <columns large="1" valign="middle">
        <a href="/doc">
            <img class="level-2" src="{{image_url}}" />
        </a>
    </columns>

    <columns class="text" large="10" valign="middle">
        <row>
            <columns>
                <span>
                    {{event_text}}
                </span>
            </columns>
        </row>

        <row class="object-name {{type}}">
            <columns>
                <h3>
                    {{object_name}}
                </h3>
            </columns>
        </row>
    </columns>
</row>
