{% load i18n static cosinnus_tags %}

{% if user|has_read_access:group %}
	{% captureas cosinnus_app_list_url %}cosinnus:{{ COSINNUS_CURRENT_APP }}:list{% endcaptureas %}
	
	{% if object.path == '/' %}
	    {% captureas href %}{% group_url cosinnus_app_list_url group=group %}{% endcaptureas %}
	    {% captureas label %}{% trans "Back" %}{% endcaptureas %}
	{% else %}
	    {% captureas href %}{% group_url cosinnus_app_list_url group=group slug=object.container.slug %}{% endcaptureas %}
	    {% captureas label %}{% trans "Back to" %} „{{ object.container.title }}“ {% endcaptureas %}
	{% endif %}
	{% include "cosinnus/leftnav_button.html" with extra_classes="regular-space" icon="fa-reply" label=label href=href  %}
{% endif %}
