{% load i18n cosinnus_tags widget_tweaks %}

{{ form.forms.media_tag.media }}

{# Regular field with custom HTML #}
{% trans "Where would your idea be realized?" as location_label %}
{% captureas location_html %}
    {% trans "Enter a place or address and then choose a point on the map." as location_placeholder %}
    {% render_field form.forms.media_tag.location placeholder=location_placeholder %}
    {{ form.forms.media_tag.location_lat }}
    {{ form.forms.media_tag.location_lon }}
    <div id="id_media_tag-location-map"></div>
{% endcaptureas %}
{% include 'cosinnus/fields/default_field.html' with field=form.forms.media_tag.location field_html=location_html label=location_label placeholder=location_placeholder large_field=True required=True %}


{# Large Field #}
{% trans "Which topics fit your idea?" as topics_label %}
{% trans "Select topics" as topics_placeholder %}
{% include 'cosinnus/fields/default_field.html' with field=form.forms.media_tag.topics label=topics_label placeholder=topics_placeholder large_field=True %}




