{% load i18n static cosinnus_tags widget_tweaks sekizai_tags thumbnail %}

{# this template expects an {{ event }} object to be passed to it. Also accepts hide_control_buttons to hide edit/delete buttons #}
{% addtoblock "js" %}
	{% if event.state == 1 and user.is_authenticated and user|has_read_access:event %}
		<script src="{% static 'js/cosinnus_event/event_attendance.js' %}?v={{ SETTINGS.COSINNUS_STATICFILES_VERSION }}"></script>
	{% endif %}
{% endaddtoblock %}


<div class="fadedown">
    <div class="btn btn-emphasized w100 {% if event.attached_image %}button-with-title-image{% endif %}">
        {% if event.attached_image %}
	        <img src="{% thumbnail event.attached_image.file SETTINGS.COSINNUS_GROUP_WALLPAPER_MAXIMUM_SIZE_SCALE crop='smart' upscale='smart' %}" />
	        <div></div> <!-- Gradient overlay -->
        {% endif %}
        <ul class="media-list">
            <li class="media">
                <span class="pull-left square-date-icon">
                    {% if event.from_date %}
	                    <div>{{ event.from_date|date:"d" }}</div>
	                    <div>{{ event.from_date|date:"M" }}</div>
                    {% else %}
                    	{% if event.state == 4 or event.state == 2 %}
                    		<i class="fa fa-calendar-check-o"></i>
                    	{% else %}
                        	<i class="fa fa-calendar"></i>
                        {% endif %}
	                {% endif %}
                </span>
                <span class="pull-right fadedown-clickarea">
                    <i class="fa fa-chevron-down"></i>
                </span>
                <div class="media-body">
                	{% with creator=event.creator %}
                        <span class="annotation">
                            {% trans "by" %} <a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a>
                            
                        </span>
                    {% endwith %}
                    <a href="{{ event.get_absolute_url }}">
                        {{ event.title }}
					</a>
                </div>
            </li>
        </ul>
    </div>
    
    {% if user|has_write_access:event and not hide_control_buttons %}
        {% captureas modal_id %}deleteModal_{{object.slug}}{% endcaptureas %}
        <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_id}}">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-eraser"></i>
                    </span>
                    <div class="media-body">
                        {% trans "Delete" %}
                    </div>
                </li>
            </ul>
        </button>
        {% if event.state != 4 %}
	        <button type="button" class="btn btn-emphasized" href="{% group_url "cosinnus:event:event-edit" group=group slug=event.slug %}">
	            <ul class="media-list">
	                <li class="media">
	                    <span class="pull-left">
	                        <i class="fa fa-pencil"></i>
	                    </span>
	                    <div class="media-body">
	                        {% trans "Edit" %}
	                    </div>
	                </li>
	            </ul>
	        </button> 
	    {% endif %}
    {% endif %}
    
    {% include 'cosinnus/feedback/report_button_btn.html' with object=event %}
    
</div><!-- fadedown -->


{% if user|has_write_access:event and not hide_control_buttons %}    
    {% captureas label %}{% blocktrans with title=object.title %}Do you really want to delete event „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
    {% captureas title %}{% trans "Delete Event" %}{% endcaptureas %}
    {% captureas action %}{% group_url 'cosinnus:event:event-delete' group=group slug=object.slug%}{% endcaptureas %}
    {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
{% endif %}


{% block event_time_display %}
	{% if event.state != 2 %}
	<div class="btn btn-white w100">
	    <ul class="media-list">
	        <li class="media">
	            <span class="pull-left">
	                <i class="fa fa-clock-o"></i>
	            </span>
	            <div class="media-body">
	                {% if event.state == 3 %}
	                    {% trans "(Canceled!)" %}
	                {% endif %}
	                
	                {% if event.from_date %}
	                	{% include 'cosinnus_event/common/humanized_event_time.html' with event=event %}
	                {% else %}
	                	{% if event.state == 4 %}
	                		<p>
	                			<em>
		                			{% trans "This is an archived event poll." %}
		                			<br/>
		                			{% trans "The event that was created after the poll can be viewed here:" %}
		                		</em> 
		                		<b><a href="{{ event.scheduled_event.get_absolute_url }}">{{ event.scheduled_event.title }}</a></b>
		                	</p>
	                	{% else %}
	                    	-
	                    {% endif %}
	                {% endif %}
	            </div>
	        </li>
	    </ul>
	</div>
	{% endif %}
{% endblock event_time_display %}

{% if event.media_tag_object.location %}
<div class="btn btn-white w100">
    <ul class="media-list">
        <li class="media">
            <span class="pull-left">
                <i class="fa fa-map-marker"></i>
            </span>
            <div class="media-body">
			      <a href="{{ event.media_tag_object.location_url }}" target="_blank">{{ event.media_tag_object.location }}</a>
            </div>
        </li>
    </ul>
</div>
{% endif %}
<div class="btn btn-white w100">
    <ul class="media-list">
        <li class="media">
            <span class="pull-left">
                <i class="fa fa-pencil"></i>
            </span>
            <div class="media-body">
                <div class="textfield">
                {% if event.note and event.note|length > 0 %}
                    {{ event.note|textfield }}
                {% else %}
                    {% trans "(No description set)" %}
                {% endif %}
                </div>
            </div>
        </li>
    </ul>
</div>
{% if event.url %}
<div class="btn btn-white w100">
    <ul class="media-list">
        <li class="media">
            <div class="media-body">
                <a href="{{ event.url }}">{{ event.url }}</a>
            </div>
        </li>
    </ul>
</div>
{% endif %}



{% if event.state == 1 and user.is_authenticated and user|has_read_access:event %}
    
    {#  #########  Event attendance  ########## #}   
    {% if not event.conferenceevent %}
	
		<div class="btn btn-white w100">
		    <ul class="media-list">
		        <li class="media">
		            <span class="pull-left">
		                <i class="fa fa-group"></i>
		            </span>
		            <div class="media-body">
		            	{% captureas i18n_going %}{% trans "Going" context "someone else is going" %}{% endcaptureas %}
		            	{% captureas i18n_maybe_going %}{% trans "Maybe going" context "someone else is maybe going" %}{% endcaptureas %}
		            	{% captureas i18n_not_going %}{% trans "Can't go" context "someone else can't go" %}{% endcaptureas %}
		            	
		                <div class="attendance-avatar-list">
		                	{% if attendants_going %}
			             		{% for attendance in attendants_going %}
			             			{% include 'cosinnus_event/common/event_attendance_avatar.html' with attendance=attendance extra_title=i18n_going %}
			             		{% endfor %}
		             		{% endif %}
		             		{% if attendants_maybe %}
			             		{% for attendance in attendants_maybe %}
			             			{% include 'cosinnus_event/common/event_attendance_avatar.html' with attendance=attendance maybe_going=True extra_title=i18n_maybe_going %}
			             		{% endfor %}
		             		{% endif %}
		             		{% if attendants_going or attendants_maybe %}
		             			<br/>	
		             		{% endif %}
		             		<div>
			                	<b>{{ attendants_going|length }}</b> 
			                	{% blocktrans context "one or many people are going" count counter=attendants_going|length %}Going{% plural %}Going{% endblocktrans %}
			                	{% if attendants_maybe %}
			                		(
			                		<b>{{ attendants_maybe|length }}</b> 
		                			{% blocktrans context "one or many people are maybe going" count counter=attendants_maybe|length %}Maybe going{% plural %}Maybe going{% endblocktrans %}
		                			)
			                	{% endif %}
		                	</div>
		                </div>
		                {% if attendants_not_going %}
			                <div class="fadedown">
			                	<div class="btn" style="float:none; width: auto; margin: 0 0 6px 0;" >
					                <a class="fadedown-clickarea">
					                	<em>
						                	<b>{{ attendants_not_going|length }}</b> 
						                	{% blocktrans context "one or many people are not going" count counter=attendants_not_going|length %}Can't go{% plural %}Can't go{% endblocktrans %}
						                    <i class="fa fa-chevron-down"></i>
					                    </em>
					                </a>
			                	</div>
			                	<div>
			                		{% for attendance in attendants_not_going %}
				             			{% include 'cosinnus_event/common/event_attendance_avatar.html' with attendance=attendance extra_title=i18n_not_going %}
				             		{% endfor %}
			                	</div>
			                </div>
			            {% endif %}
			            
		            </div>
		        </li>
		    </ul>
		</div>
		
		{#  #########  Event attendance button  ########## #}	            
	
	
		<div class="white-content">
			<div class="btn-group regular-space event-attendance 
			{% if user_attendance and user_attendance.state == 0 %}event-attendance-not-going app-etherpad
			{% elif user_attendance and user_attendance.state == 1 %}event-attendance-maybe app-todos
			{% elif user_attendance and user_attendance.state == 2 %}event-attendance-going app-calendar
			{% else %}event-attendance-no-choice app-calendar{% endif %}">
				{# This hacky invisible button fixes all kinds of CSS incongruencies because the first button has different style rules #}
				<button style="display: none;" class="btn btn-emphasized w100 dropdown-toggle"></button>
			    <button type="button" class="btn btn-small btn-emphasized w100 dropdown-toggle event-attendance-choice-going" data-toggle="dropdown">
			        <ul class="media-list">
			            <li class="media">
			                <span class="pull-left">
			                    <i class="fa fa-fw  fa-check"></i>
			                </span>
			                <span class="pull-right">
			                    <i class="fa fa-caret-down"></i>
			                </span>
			                <div class="media-body">
			                    {% trans "Going" %}
			                </div>
			            </li>
			        </ul>
			    </button>
			    <button type="button" class="btn btn-small btn-emphasized w100 dropdown-toggle event-attendance-choice-maybe" data-toggle="dropdown">
			        <ul class="media-list">
			            <li class="media">
			                <span class="pull-left">
			                    <i class="fa fa-fw  fa-question"></i>
			                </span>
			                <span class="pull-right">
			                    <i class="fa fa-caret-down"></i>
			                </span>
			                <div class="media-body">
			                    {% trans "Maybe going" %}
			                </div>
			            </li>
			        </ul>
			    </button>
			    <button type="button" class="btn btn-small btn-emphasized w100 dropdown-toggle event-attendance-choice-not-going" data-toggle="dropdown">
			        <ul class="media-list">
			            <li class="media">
			                <span class="pull-left">
			                    <i class="fa fa-fw  fa-close"></i>
			                </span>
			                <span class="pull-right">
			                    <i class="fa fa-caret-down"></i>
			                </span>
			                <div class="media-body">
			                    {% trans "Can't go" %}
			                </div>
			            </li>
			        </ul>
			    </button>
			    <button type="button" class="btn btn-small btn-emphasized w100 dropdown-toggle event-attendance-choice-no-choice" data-toggle="dropdown">
			        <ul class="media-list">
			            <li class="media">
			                <span class="pull-left">
			                    <i class="fa fa-fw fa-calendar"></i>
			                </span>
			                <span class="pull-right">
			                    <i class="fa fa-caret-down"></i>
			                </span>
			                <div class="media-body">
			                    {% trans "Are you going?" %}
			                </div>
			            </li>
			        </ul>
			    </button>
			    
			    <ul class="dropdown-menu appnavi-dropdown-menu w100" role="menu">
			        <li class="app-calendar appnavi-listelement fine-space event-attendance-button" data-event-attendance-toggle="event-attendance-going">
			            <a>
			                <i class="fa fa-fw  fa-check"></i>
			                {% trans "Going" %}
			            </a>
			        </li>
			        <li class="app-todos appnavi-listelement fine-space event-attendance-button" data-event-attendance-toggle="event-attendance-maybe">
			            <a>
			                <i class="fa fa-fw  fa-question"></i>
			                {% trans "Maybe going" %}
			            </a>
			        </li>
			        <li class="app-etherpad appnavi-listelement fine-space event-attendance-button" data-event-attendance-toggle="event-attendance-not-going">
			            <a>
			                <i class="fa fa-fw  fa-close"></i>
			                {% trans "Can't go" %}
			            </a>
			        </li>
			        <li class="app-main appnavi-listelement fine-space event-attendance-button" data-event-attendance-toggle="event-attendance-no-choice">
			            <a>
			                <i class="fa fa-fw  fa-trash-o"></i>
			                {% trans "No Choice" %}
			            </a>
			        </li>
			    </ul>
			</div><!-- btn-group -->
			<div class="attendance-status-frame">
				<span class="attendance-status attendance-status-working" style="display: none;">
					<i class="fa fa-fw fa-2x fa-spin fa-cog"></i>
				</span>
				<span class="attendance-status attendance-status-success" style="display: none;">
					<i class="fa fa-fw  fa-2x fa-check"></i>
				</span>
				<span class="attendance-status attendance-status-error" style="display: none;">
					<i class="fa fa-fw  fa-2x fa-close"></i>
				</span>
			</div>
		</div>
		
	{% endif %}
	{% comment %} End Event attendance {% endcomment %}
	
	
	{% comment %} Additional actions {% endcomment %}
	
	<div class="btn btn-white w100">
	    <ul class="media-list">
	        <li class="media">
	            <span class="pull-left">
	                <i class="fa fa-blank"></i>
	            </span>
	            <div class="media-body">
	                {# ***********  Reflect event in projects *************** #}
	                <a href="#" data-toggle="modal" data-target="#feedModal">
	                    <i class="fa fa-calendar"></i>
	                    {% trans "Add event to your calendar" %}
	                </a>
	                {% if may_reflect and reflectable_groups %}
	                    {% include 'cosinnus/common/reflect/reflected_object_select_link.html' with select_icon="fa-calendar-plus-o" %}
	                {% endif %}
	            </div>
	        </li>
	    </ul>
	</div>
	{% captureas feed_modal_content %}
	    <div type="button" class="btn btn-default w100 regular-space">
	        <ul class="media-list">
	            <li class="media">
	                <div class="media-body">
	                    <span>{% trans "Copy this iCal-link into your calendar application to import this event:" %}</span>
	                </div>
	                <div class="media-body media-body-form-control large-space">
	                    <input id="feedInputBox" class="form-control" onclick="this.focus();this.select()" readonly="readonly" 
	                       value="{{ event.get_feed_url }}{% if user.is_authenticated %}?{% cosinnus_user_token SETTINGS.COSINNUS_EVENT_TOKEN_EVENT_FEED %}{% endif %}">
	                </div>
	            </li>
	        </ul>
	    </div>
	    <div class="clearfix large-space"></div>
	{% endcaptureas %}
	{% captureas feed_modal_title %}{% trans "iCal Feed" %}{% endcaptureas %}
	{% include "cosinnus/modal_box.html" with id="feedModal" label=feed_modal_content title=feed_modal_title title_icon="fa-calendar" %}
		
		
    {% if event.attached_images %}
		<div class="white-content">
            {% include 'cosinnus/common/attached_images_gallery.html' with object=event max_images=12 %}
        </div>
    {% endif %}
    
    {% include 'cosinnus/media_tags_readonly.html' with object=event hide_attached=True hide_location=True list_view="noindent"  %}
    
{% endif %}


{#  #########  Event video conference / BBB video conference  ########## #}   

{% if SETTINGS.COSINNUS_BBB_ENABLE_GROUP_AND_EVENT_BBB_ROOMS and event.video_conference_type == 1 or COSINNUS_CURRENT_PORTAL.video_conference_server and event.video_conference_type == 2 %}
    <div class="white-content">
        <button type="button" {% if not user.is_authenticated and event.video_conference_type == 1 %}disabled{% endif %} class="btn btn-emphasized w100 pull-left start-video-conference">
            <ul class="media-list">
                <li class="media">
                    <span class="pull-left">
                        <i class="fa fa-fw fa-eye"></i>
                    </span>
                    <div class="media-body">
						{% if not user.is_authenticated and event.video_conference_type == 1 %}
							{% trans "Please register or login to join the video conference for this event" %}
						{% else %}
							{% trans "Start/join video conference for this event" %}
						{% endif %}
                    </div>
                </li>
            </ul>
        </button>
        <div class="clearfix"></div>
    </div>

	<div class="video-conference-container" style="display: none;">
	    <div class="btn btn-emphasized w100">
	        <ul class="media-list">
	            <li class="media">
	                <span class="pull-left">
                        <i class="fa fa-eye"></i>
	                </span>
	                <div class="media-body">
	                    <span class="annotation">
	                        {% comment %} Popout href is being added dynamically! {% endcomment %}
	                        <a class="fullscreen-button fullscreen-popout" title="{% trans "Popout" %}" href="#" target="_blank">
                                <span>{% trans "Popout" %}</span>
                                <i class="fa fa-external-link"></i>
                            </a>
	                        <span class="fullscreen-button fullscreen-toggle" title="{% trans "Fullscreen" %}">
	                            <span>{% trans "Fullscreen" %}</span>
	                            <i class="fa fa-expand"></i>
	                        </span>
	                    </span>
	                    {% trans "Video conference" %}
	                </div>
	            </li>
	        </ul>
	    </div>
	    
	    <div class="white-content">
	        <div class="video-conference-iframe">
	            {# iframe will be added by JS, see below #}
	        </div>
	        
	        <button type="button" class="btn btn-small w100 btn-emphasized btn-autosize fullscreen-leave-button fullscreen-toggle mobile-hidden">
	            <ul class="media-list">
	                <li class="media">
	                    <span class="pull-left">
	                        <i class="fa fa-compress"></i>
	                    </span>
	                    <div class="media-body">
	                        {% trans "Leave Fullscreen" %}
	                    </div>
	                </li>
	            </ul>
	        </button>
	        <button type="button" class="btn btn-small w100 btn-emphasized btn-autosize fullscreen-leave-button mobile-only" href="{{ object.get_absolute_url }}">
	            <ul class="media-list">
	                <li class="media">
	                    <span class="pull-left">
	                        <i class="fa fa-reply"></i>
	                    </span>
	                    <div class="media-body">
	                        {% trans "Back" %}
	                    </div>
	                </li>
	            </ul>
	        </button>
	        
	        <button type="button" class="btn btn-emphasized btn-autosize stop-video-conference mobile-hidden">
                <ul class="media-list">
                    <li class="media">
                        <span class="pull-left">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <div class="media-body">
                            {% trans "Leave video conference" %}
                        </div>
                    </li>
                </ul>
            </button>
            <div class="clearfix"></div>
	    </div>
	</div>
    
	{% if COSINNUS_CURRENT_PORTAL.video_conference_server and event.video_conference_type == 2 %}
		<script type="text/javascript">
			$(function() {
				/** Video conference fullscreen toggle */
				$('.fullscreen-toggle').click(function() {
					$('.video-conference-iframe').toggleClass('fullscreen');
				});
				var src_url = "{{ COSINNUS_CURRENT_PORTAL.video_conference_server_url }}-{{ event.slug }}-{{ event.group.id }}-{{ event.secret_from_created }}";
				var embed_video_conf = '<iframe src="' + src_url + '" allow="{% include "cosinnus/common/iframe_allow_attribute.html" with url=COSINNUS_CURRENT_PORTAL.video_conference_server_url|filter_domain %}" width="100%" height="100%"></iframe>';
				$('.fullscreen-popout').attr('href', src_url);
				$('.fullscreen-popout').click(function() {
                    $('.video-conference-iframe').html('<p class="textfield">{% trans "The video conference has been opened in a new tab. To rejoin the video conference, please reload the page." %}</p>');
                });
				$('.start-video-conference').click(function(){
					$('.start-video-conference').hide();
					$('.video-conference-container').show();
					$('.video-conference-iframe').html(embed_video_conf);
				});
				$('.stop-video-conference').click(function(){
					$('.start-video-conference').show();
					$('.video-conference-iframe').html('');
					$('.video-conference-container').hide();
				});
			});
		</script>
	{% elif SETTINGS.COSINNUS_BBB_ENABLE_GROUP_AND_EVENT_BBB_ROOMS and event.video_conference_type == 1 %}
		<script type="text/javascript">
			var recordingConsentText = '{% trans "This session may be recorded by the organizers. By continuing, you consent to be recorded. This includes audio, video, chat, shared notes and whiteboard activities. The recording may be shared according to the organizers." %}';
			var recordingRequiresConsent = {% if recording_prompt_required %}true{% else %}false{% endif %};
			$(function() {
				/** Video conference fullscreen toggle */
				$('.fullscreen-toggle').click(function() {
					$('.video-conference-iframe').toggleClass('fullscreen');
				});
				$('.fullscreen-popout').click(function() {
                    $('.video-conference-iframe').html('<p class="textfield">{% trans "The video conference has been opened in a new tab. To rejoin the video conference, please reload the page." %}</p>');
                });
                function startVideoConference(src_url) {
				    if (recordingRequiresConsent == false || confirm(recordingConsentText)) {
				        {% comment %} Adjusts the allow attribute to the specific BBB server {% endcomment %}
				        var src_domain = 'https://' + src_url.split('/')[2];
				        var allowAttribute = '{% include "cosinnus/common/iframe_allow_attribute.html" with url="{0}" %}';
				        allowAttribute = allowAttribute.format(src_domain);
						var embed_video_conf = '<iframe src="' + src_url + '" allow="' + allowAttribute + '" width="100%" height="100%"></iframe>';
						$('.start-video-conference').hide();
						$('.video-conference-container').show();
						$('.fullscreen-popout').attr('href', src_url);
						$('.video-conference-iframe').html(embed_video_conf);
				    }
                };
                function showLoading() {
                    $('.start-video-conference').hide();
                    $('.video-conference-container').show();
                    $('.video-conference-iframe').html('<div><span class="fa fa-fw fa-spin fa-cog fa-3x"></span></div>');
                }
                function showError() {
                    $('.start-video-conference').show();
                    $('.video-conference-container').show();
                    $('.video-conference-iframe').html('<div>{% trans "Sorry! Something went wrong..." %}</div>');
                }
                function loadBBBUrl() {
	                $.ajax(bbb_queue_url, {
                        type: 'GET',
                        success: function (response, textStatus, xhr) {
                            if (response && response.url) {
                                startVideoConference(response.url);
                            } else if (response && response.status && response.status == 'WAITING') {
                                setTimeout(loadBBBUrl, 2000);
                            } else {
                                showError();
                            }
                        },
                        error: showError
                    });
                }
				var bbb_queue_url = '{{ event.get_bbb_room_queue_api_url }}';
				$('.start-video-conference').click(function(){
				    showLoading();
				    loadBBBUrl();
				});
				$('.stop-video-conference').click(function(){
					$('.start-video-conference').show();
					$('.video-conference-iframe').html('');
					$('.video-conference-container').hide();
				});
			});
		</script>
	{% endif %}
{% endif %}



{# ***********  Like/follow buttons *************** #}

{% if SETTINGS.COSINNUS_SHOW_LIKES_BOOKMARKS_FOLLOWS_BUTTONS %}
	{% if not hide_follow_button %}
		<div class="white-content">
			{% trans "You will now receive notifications for comments or when this event is updated or its details change." as follow_success_message %}
			{% include 'cosinnus/common/likefollowstar/like_button.html' with object=event %}
			{% include 'cosinnus/common/likefollowstar/star_button.html' with object=event %}
			{% include 'cosinnus/common/likefollowstar/follow_button.html' with object=event success_message=follow_success_message %}
			{% include 'cosinnus/common/likefollowstar/confirm_likefollowstar_modal.html' with object=event %}
		</div>
	{% endif %}
{% endif %}


{% if event.attached_objects.exists %}
    {% cosinnus_render_attached_objects event %}
{% endif %}
