{% load i18n static cosinnus_tags thumbnail %}

<nav id="v2-navbar" class="v2-navbar" role="navigation">
    <div class="nav-content">
    	<div class="nav-section nav-brand">
            <a class="nav-button" href="#" rel="toggle" role="button" title="{% trans "Menu" %}" 
		    		aria-expanded="false" aria-controls="main-collapse"
		    		data-toggle="collapse" data-target="#main-collapse"> 
	    		<i class="fa fa-fw fa-bars"></i>
    		</a>
            <a class="nav-button" href="#">
            	{% include 'cosinnus/brand.html' %}
            </a>
             <a class="nav-button nav-header-textlink" href="#" title="{% trans "Discover" %}">
            	{% trans "Discover" %}
            </a>
    	</div>
    </div>
    
    {# TODO: consolidate this, should be loaded exactly once in every template! #}
	{% include 'cosinnus/map/static_dependencies.html' %}
	<script>
	    $('html').on('init:client', function () {
	        Backbone.mediator.publish('init:module-navbar-quicksearch', {
            	el: '#nav-quicksearch',
	        });
	    });
	</script>
    <div class="nav-section nav-search seperator-left" id="nav-quicksearch">
		{# This is the backbone App 'module-navbar-quicksearch!' #}
    </div>
    <div class="nav-section nav-buttons seperator-left">
		<a class="nav-button" href="#" rel="toggle" role="button" title="{% trans "Button-Title" %}"> 
    		<i class="fa fa-fw fa-plus"></i>
		</a>
		<a class="nav-button" href="#" rel="toggle" role="button" title="{% trans "Button-Title" %}"> 
    		<i class="fa fa-fw fa-envelope"></i>
		</a>
		<a class="nav-button" href="#" rel="toggle" role="button" title="{% trans "Button-Title" %}"> 
    		<i class="fa fa-fw fa-user"></i>
		</a>
		
    </div>
    
	<div class="collapseXXXX nav-flyout" id="main-collapse">
		projects and groups
	</div>
	
    
</nav>

