{% extends "intern/base.html" %}
{% load i18n authentication_tags %}

{% block topnav %}
<div class="accordion" id="group-nav">
    {% for ugroup in user.groups.all %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#group-nav" href="#group-{{ ugroup.name|slugify }}">
                {{ ugroup.name }}
            </a>
        </div>
        <div id="group-{{ ugroup.name|slugify }}" class="accordion-body collapse{% if forloop.first or group.id == ugroup.id %} in{% endif %}">
            <div class="accordion-inner">    
                <ul class="unstyled">
                    {% if request.user|is_group_admin:ugroup %}
                    <li><a target="_blank" href="{% url 'sinn_auth-user-list' group=ugroup.pk %}"><i class="icon icon-user"></i> {% trans "Members" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'sinn_todo-entry-list' group=ugroup.pk %}"><i class="icon icon-exclamation-sign"></i> {% trans "Todo" context "top menu" %}</a></li>
                    <li><a href="{% url 'sinn_event-entry-list' group=ugroup.pk %}"><i class="icon icon-calendar"></i> {% trans "Event" context "top menu" %}</a></li>
                    <li><a href="{% url 'sinn_file-entry-list' group=ugroup.pk %}"><i class="icon icon-file"></i> {% trans "Files" context "top menu" %}</a></li>
                    <li><a href="{% url 'page-list' group=ugroup.pk %}"><i class="icon icon-info-sign"></i> {% trans "Wiki" context "top menu" %}</a></li>
                    <li><a href="{% url 'etherpad-list' group=ugroup.pk %}"><i class="icon icon-list-alt"></i> {% trans "Etherpad" context "top menu" %}</a></li>
                    <li><a href="{% url 'note-list' group=ugroup.pk %}"><i class="icon icon-comment"></i> {% trans "Notes" context "top menu" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="accordion-heading">
    <a class="accordion-toggle" href="{% url "sinn_auth-group-all" %}">
        {% trans "All Groups" %}
    </a>
</div>
{% endblock %}
